<template>
  <g>
    <radialGradient id="gradient-chat" cx="-324.826" cy="529.732" r=".634" gradientTransform="matrix(0 57.8912 57.8912 0 -30632.867 18822.88)"
      gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#ff5a63" />
      <stop offset="1" stop-color="#d9094f" />
    </radialGradient>
    <path d="M33.9 12.7s.1 0 0 0c1.3 0 2.3.8 2.7 2.2 1.4 4.5 2.7 9 4.1 13.5.7 2.3 2.6 2.9 4.6 1.5 4-2.9 8.1-5.8 12.1-8.7 1.1-.8 2.2-1.1 3.3-.4 1.2.7 1.6 1.9 1.1 3.3l-9.6 31.2c-.2.8-.5 1.6-.8 2.4-.5 1.6-1.4 2.3-3 2.3H19.6c-2.1 0-2.8-.5-3.4-2.5L6 24.5c-.5-1.7-.2-2.9.9-3.6 1.1-.8 2.2-.6 3.7.4 3.9 2.8 7.9 5.7 11.8 8.5 2.1 1.5 4 .9 4.7-1.6 1.4-4.5 2.7-8.9 4-13.4.6-1.3 1.6-2.1 2.8-2.1zm0-12.7h.1c3 0 5.5 2.5 5.4 5.6 0 3-2.5 5.5-5.5 5.5-3.1 0-5.5-2.5-5.5-5.6.1-3 2.5-5.5 5.5-5.5zM60 16.6c0-2.2 1.7-3.9 3.9-3.9h.1c2.1 0 3.9 1.8 3.9 3.9v.1c0 2.1-1.8 3.9-4 3.9-2.1-.1-3.9-1.8-3.9-4zm-60 0c0-2.2 1.8-4 4-4s3.9 1.8 3.9 4-1.8 3.9-4 3.9c-2.1 0-3.9-1.8-3.9-3.9z"
      fill="url(#gradient-chat)" />
  </g>
</template>
