<template>
<svg xmlns="http://www.w3.org/2000/svg" width="128" height="94" viewBox="0 0 128 94">
  <g transform="translate(.25 .384)">
    <path d="M8.6 74L-.3 93.6H2l2.2-5.1h10.5l2.3 5.1h2.3L10.8 74H8.6zM5.3 86.5l4.3-9.9 4.5 9.8-8.8.1zM30.7 74h-7.3l.1 19.5h2.2v-6.9h4.7c4.1 0 7.6-2.2 7.6-6.4-.1-3.9-3-6.2-7.3-6.2zm-.3 10.5h-4.8V76h4.9c3 0 5.3 1.4 5.3 4.2-.1 2.6-2.2 4.3-5.4 4.3zM58.3 73.9l-7 10.6L44.1 74h-2.2l.1 19.3h2.1L44 77.7l7.2 10.2h.1l7-10.4.1 15.7h2.2l-.1-19.3zM72.4 92c-3 0-5.5-2.6-5.5-5.7s2.5-5.7 5.4-5.7c2 0 3.3.9 4.5 2.2l.8-.9c-1.2-1.3-2.8-2.4-5.3-2.4-3.9 0-6.8 3.1-6.8 7 0 3.8 3 6.9 6.8 6.9 2.5 0 4.1-1.2 5.4-2.7l-.9-.8c-1.2 1.2-2.6 2.1-4.4 2.1zM87.3 79.5c-2.5 0-4 1.3-4.8 2.8v-8.2h-1.3l.2 18.9h1.3v-7.7c0-2.7 2-4.8 4.6-4.8 2.7 0 4.2 1.7 4.2 4.5v7.8h1.3v-8.2c-.2-2.9-2.2-5.1-5.5-5.1zM106.2 81c-.9-.9-2.5-1.4-4.2-1.4-1.8 0-3.3.5-4.7 1.2l.5 1.2c1.3-.6 2.6-1 4.2-1 2.7 0 4.3 1.3 4.3 4v.5c-1.3-.3-2.6-.6-4.3-.6-3.4 0-5.7 1.6-5.7 4.3 0 2.8 2.7 4.2 5.3 4.2 2.6 0 4.1-1.3 5-2.6V93h1.3v-8.3c-.3-1.6-.9-2.8-1.7-3.7zm.2 7c0 2.4-2.3 4.1-5 4.2-2 0-3.9-1.2-3.9-3 0-1.9 1.5-3.1 4.3-3.1 1.9 0 3.4.3 4.6.6V88zM114.2 89.3v-8.5h4.7v-1.2h-4.7v-4.2h-1.3v4.2H111v1.2h1.9v8.7c0 2.6 1.8 3.6 3.7 3.6.8 0 1.5-.1 2.2-.5v-1.2c-.8.3-1.3.5-2 .5-1.5 0-2.6-.6-2.6-2.6zM123.8 66.6c-2.2 0-4 1.7-4 3.8 0 2.2 1.8 3.8 4 3.8s4-1.7 4-3.8c-.1-2.1-1.8-3.8-4-3.8zm0 6.9c-1.8 0-3-1.4-3-3s1.3-3 3-3c1.8 0 2.9 1.4 2.9 3 0 1.7-1.2 3-2.9 3z"/>
    <path d="M124.7 70.6c.5-.1.8-.5.8-.9 0-.3-.1-.7-.4-.8-.4-.1-.6-.2-1.3-.2s-1.2 0-1.5.1v3.8h.8V71h.5c.5 0 .7.2.8.6.1.5.2.8.4.9h.9c0-.1-.1-.5-.2-.9-.2-.7-.4-.9-.8-1zm-1-.4h-.5v-1h.5c.6 0 .8.2.8.6 0 .3-.4.4-.8.4z"/>
    <radialGradient id="land-chat" cx="51.563" cy="27.164" r="34.901" gradientTransform="matrix(1.0108 0 0 1 .003 0)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#ff5a63"/>
      <stop offset="1" stop-color="#d9094f"/>
    </radialGradient>
    <path fill="url(#land-chat)" d="M64.2 11.3c.1 0 .1 0 0 0 1.3 0 2.1.7 2.5 2.1 1.3 4.1 2.5 8.3 3.7 12.3.6 2.1 2.5 2.7 4.2 1.4 3.7-2.7 7.5-5.4 11.1-8 .9-.7 2-.9 3-.3 1.1.6 1.4 1.7 1.1 3-2.9 9.5-5.8 19.1-8.8 28.6-.2.7-.5 1.5-.7 2.2-.5 1.5-1.3 2.1-2.8 2.1H51c-1.9 0-2.6-.5-3.2-2.3-3.2-10.1-6.3-20.2-9.4-30.3-.5-1.5-.2-2.7.8-3.4s2-.6 3.4.3c3.6 2.6 7.3 5.2 10.9 7.8 1.9 1.4 3.6.8 4.3-1.4 1.3-4.1 2.5-8.2 3.7-12.3.7-1 1.5-1.8 2.7-1.8zm0-11.7h.1c2.8 0 5 2.3 5 5.1s-2.2 5.1-5 5.1-5.2-2.3-5-5.1c-.2-2.8 2.2-5 4.9-5.1zm24.1 15.3c0-2 1.6-3.6 3.6-3.6s3.6 1.6 3.6 3.6-1.6 3.6-3.6 3.6-3.6-1.5-3.6-3.6zm-55.4 0c0-2 1.6-3.6 3.6-3.6s3.6 1.6 3.6 3.6-1.6 3.6-3.6 3.6-3.6-1.6-3.6-3.6z"/>
  </g>
</svg>
</template>
