<template>
<path d="M15 3.5C8.6 3.5 3.5 8.6 3.5 15S8.6 26.5 15 26.5 26.5 21.4 26.5 15 21.4 3.5 15 3.5zm0 24C8.1 27.5 2.5 21.9 2.5 15S8.1 2.5 15 2.5 27.5 8.1 27.5 15 21.9 27.5 15 27.5zM17.5 12c.4.3.6.6.6.6L16.8 14h3.6v-3.6l-1.2 1.2-.5-.5c-1-.9-2.1-1.4-3.6-1.4-.8 0-1.5.2-2.2.5-2.3 1-3.6 3.4-3.1 5.9.5 2.8 3.3 4.7 6.2 4.2 1.9-.3 3.4-1.6 4-3.2 0-.1.1-.3 0-.4 0-.3-.3-.6-.7-.6-.3 0-.6.2-.7.4-.7 1.8-2.6 2.8-4.5 2.3-1.9-.4-3.1-2.2-2.9-4.1.2-1.8 1.7-3.2 3.5-3.4 1-.2 1.9.1 2.8.7z"/>
</template>
