<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="129" height="94" viewBox="0 0 115 80">
    <path d="M6.8 64.8L0 80h1.8l1.8-4h8.2l1.8 3.9h1.9l-7-15.1H6.8zm-2.6 9.7l3.4-7.7 3.4 7.6-6.8.1zM23.7 64.8h-5.6l.1 15h1.7v-5.3h3.6c3.2 0 5.9-1.7 5.9-4.9-.1-3-2.3-4.8-5.7-4.8zm-.2 8.2h-3.7v-6.5h3.7c2.4 0 4 1.1 4 3.2.1 2-1.5 3.3-4 3.3zM44.9 64.7l-5.3 8.2-5.5-8.1h-1.7l.1 14.9h1.6V67.6l5.4 8h.1l5.4-8 .1 12.1h1.6v-15zM56.3 69c-2 0-3.4 1.2-4.2 2.6v-6.7h-1l.1 14.7h1v-2.2c.9 1.3 2.2 2.5 4.2 2.5 2.5 0 5-2.1 5-5.5-.1-3.5-2.7-5.4-5.1-5.4zm0 9.7c-2.1 0-4.2-1.8-4.2-4.4s2-4.5 4.2-4.5c2.1 0 4.1 1.7 4.1 4.5-.1 2.8-1.9 4.4-4.1 4.4zM69 68.8c-3 0-5.3 2.6-5.3 5.5s2.2 5.4 5.3 5.4 5.3-2.6 5.3-5.5c-.1-3-2.3-5.4-5.3-5.4zm0 9.9c-2.4 0-4.3-2-4.3-4.5 0-2.4 1.9-4.5 4.2-4.5s4.3 2 4.3 4.5-1.9 4.5-4.2 4.5zM84.2 70c-.7-.7-1.9-1.2-3.3-1.2s-2.5.4-3.6.9l.4.9c1-.4 2-.8 3.2-.8 2.1 0 3.4 1.1 3.4 3.1v.4c-1-.3-2-.4-3.4-.4-2.6 0-4.5 1.3-4.5 3.4 0 2.1 2 3.2 4 3.3 2 0 3.2-1 3.9-2v1.7h1v-6.4c0-1.2-.5-2.2-1.1-2.9zm.1 5.4c0 1.9-1.8 3.1-3.9 3.2-1.5 0-2.9-.9-2.9-2.3s1.2-2.5 3.4-2.5c1.5 0 2.6.3 3.5.4v1.2zM89.7 72v-3h-1v10.3h1v-4.2c0-3.3 2-5.2 4.5-5.2h.1v-1.1c-2.1-.1-3.8 1.3-4.6 3.2zM104.8 64.4v6.7c-.8-1.3-2.1-2.4-4.2-2.4-2.5 0-5 2.1-5 5.5s2.6 5.4 5 5.3c2 0 3.4-1.2 4.2-2.6v2.3h1l-.1-14.7h-.9zm-4 14.2c-2.1 0-4.1-1.7-4.1-4.5 0-2.9 1.8-4.5 4-4.5 2.1 0 4.2 1.8 4.2 4.4 0 2.7-2 4.5-4.1 4.6zM112 59c-1.7 0-3 1.3-3 2.9 0 1.7 1.3 2.9 3 2.9s3-1.3 3-2.9c0-1.6-1.3-2.9-3-2.9zm0 5.4c-1.3 0-2.3-1.1-2.3-2.4s1-2.3 2.3-2.3c1.3 0 2.2 1.1 2.2 2.4s-1 2.3-2.2 2.3z"
    />
    <path d="M112.7 62c.4-.1.6-.4.6-.7 0-.3-.1-.5-.3-.6-.3-.1-.4-.2-1.1-.2-.5 0-.9 0-1.2.1v2.9h.7v-1.3h.4c.4 0 .5.2.6.4.1.4.2.6.3.7h.7c0-.1-.1-.4-.2-.7-.1-.3-.2-.5-.5-.6zm-.9-.1h-.4v-.8h.4c.4 0 .6.2.6.4 0 .3-.2.4-.6.4z"
    />
    <radialGradient id="a" cx="55.721" cy="14.869" r="25.08" gradientTransform="scale(.9936 1)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#2eafe6" />
      <stop offset=".308" stop-color="#23a4e0" />
      <stop offset="1" stop-color="#0477ba" />
    </radialGradient>
    <path fill="url(#a)" d="M55.4 49.2c-13.5 0-24.5-11-24.5-24.6S41.8 0 55.4 0s24.5 11 24.5 24.6-11 24.6-24.5 24.6zm9.2-33.7l-.2-.2C62 13 59.3 11.7 56 11.5c-2-.1-4 .3-6 1.1-5.6 2.5-8.6 8.3-7.5 14.3 1.3 6.6 7.7 11.5 15 10.4 1.9-.4 3.7-1.1 5.3-2.2 2-1.4 3.5-3.3 4.5-5.5.2-.4.3-1 .2-1.5-.2-1.2-1.2-2.1-2.4-2.2-1.1-.1-2.3.5-2.7 1.6-1.4 3.6-5.3 5.5-9 4.6-3.7-.9-6.1-4.5-5.8-8.2.4-3.6 3.4-6.4 6.9-6.7 2.1-.2 4 .4 5.7 1.8l.5.5-3.9 3.9h11.3V11.9c-1.1 1.2-3.5 3.6-3.5 3.6z"
    />
  </svg>
</template>
