<template>
<path d="M24.5 6.3l-19-.1c-.2 0-.4.2-.4.4v16.9c0 .2.2.4.4.4l19 .1h.1s.1 0 .1-.1l.1-.1V6.6c.1-.2-.1-.3-.3-.3zM5.9 23v-4.2l7.3-5.7 10.3 10L5.9 23zm18.2-.4l-6.9-6.8 2.7-2.5 4.2 3.9v5.4zm0-6.4l-3.9-3.6c-.1-.1-.4-.1-.5 0l-3 2.8-3.1-3c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3.1l-7.1 5.5v-11L24 7v9.2h.1zm-7.6-4.7c.8 0 1.4-.6 1.4-1.3s-.6-1.3-1.4-1.3-1.4.6-1.4 1.3.7 1.3 1.4 1.3zm0-1.9c.3 0 .6.3.6.6s-.3.6-.6.6-.6-.3-.6-.6.3-.6.6-.6z"/>
</template>
