<template>
<path d="M14.969 1.14c-7.6 0-13.8 6.2-13.8 13.8s6.2 13.9 13.8 13.9c7.6 0 13.8-6.2 13.8-13.8s-6.1-13.9-13.8-13.9m0 28.9c-8.3 0-15-6.7-15-15s6.7-15 15-15 15 6.7 15 15-6.7 15-15 15zm3.3-18.9c.5.4.8.8.8.8l-1.8 1.8h4.7v-4.7c-.4.4-.8.8-1.2 1.1l-.4.4-.6-.6c-1.3-1.2-2.8-1.8-4.5-1.9h-.3c-1.1 0-2 .2-2.9.6-3.1 1.4-4.7 4.5-4.1 7.7.7 3.7 4.4 6.2 8.1 5.6 1.1-.2 2.1-.6 2.9-1.2 1.1-.8 1.9-1.8 2.4-3 .1-.2.1-.4.1-.6-.1-.4-.4-.8-.9-.8-.4 0-.8.2-1 .6-1 2.4-3.5 3.7-6 3.1-2.4-.6-4.1-2.9-3.8-5.5.3-2.3 2.2-4.3 4.6-4.5 1.5-.2 2.8.2 3.9 1.1z"/>
</template>
