<template>
<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
  <g fill="#5B5B58">
    <path d="M22.509961 17.739806c3.7 0 6.8-3.1 6.8-6.7 0-3.7-3.1-6.7-6.8-6.7s-6.8 3.1-6.8 6.7c0 3.8 2.9 6.7 6.8 6.7zm0-12.4c3.2 0 5.8 2.6 5.8 5.8s-2.6 5.8-5.8 5.8-5.8-2.6-5.8-5.8c-.1-3.2 2.5-5.8 5.8-5.8zm10 24.6c-.4-1.9-2-7.3-3.1-8.7-1.7-2.9-5.5-2.5-5.6-2.5h-3.1c-.1 0-3.1-.1-4.8 2.4-1 1.4-2.4 6.7-2.8 8.8-.1.2.1.5.3.5.2.1.5-.1.5-.3.5-2.3 2-7.3 2.7-8.5 1.4-2.1 4-2 4-2h3.1s3.3-.3 4.7 2.1c.9 1.1 2.4 6 2.8 8.4 0 .2.2.3.4.3h.1c.7.1.8-.1.8-.5z"/>
    <text font-family="'ClearSans'" font-size="17.3324" transform="matrix(1.0115 0 0 1 2.499961 22.749106)">
      +
    </text>
  </g>
</svg>
</template>
