<template>
<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
  <path fill="#FFF" d="M11 1C5.5 1 1 5.5 1 11s4.5 10 10 10 10-4.5 10-10S16.5 1 11 1zm-.2 15.1h.1c.6 0 1.2-.1 1.2-.1.1 0 .2 0 .2.1 0 0 0 .1-.1.2-1.1.8-1.9 1.3-2.6 1.3-.4 0-.8-.2-1.1-.5-.4-.4-.4-1.1-.3-1.4.1-.2.5-1.1 1.2-2.3.5-1.2 1.2-2.4 1.4-2.8-.3.1-.8.4-1.3.7-.1.1-.2.1-.3 0 0-.1-.1-.2 0-.3.8-1.2 1.7-2.1 2.5-2.1.3 0 .5.1.8.3 1.1.8 0 2.9-.8 4.8-1 1.6-.9 2-.9 2.1zm2.4-7.6c-1.1 0-1.8-.8-1.8-1.8 0-1.1.8-1.8 1.8-1.8.9 0 1.7.8 1.8 1.8 0 1-.8 1.8-1.8 1.8z"/>
</svg>
</template>
