<template>
<path d="M17.1 5.7l5.2 5.3H8c-.3 0-.5.2-.5.5s.2.5.5.5h14.3l-5.2 5.3c-.1.1-.2.2-.2.4 0 .1.1.3.2.4.2.2.5.2.7 0l6-6.2c.2-.2.2-.5 0-.7l-6-6.2c-.2-.2-.5-.2-.7 0-.2.1-.2.4 0 .7zm-5.3 17c0-.2-.2-.4-.5-.4H1V.9h10.2c.3 0 .5-.2.5-.5 0-.2-.2-.4-.5-.4H.5C.2 0 0 .2 0 .4v22.2c0 .2.2.4.5.4h10.8c.3.1.5-.1.5-.3z"/>
</template>