<template>
<path d="M10.4 10c-.8-.5-1.3-.8-2-.8-2 0-4 2.2-6 5-.2.3 0 .5 0 .8.2.3.5.3.8 0 1-.8 2.3-1.5 3-1.7-.5 1-2 4-3.3 6.7-1.5 3-2.5 5-2.7 5.5-.2.8-.2 2.2.8 3.3.4.7 1.4 1.2 2.4 1.2 1.7 0 3.8-1 6.3-3 .2-.3.2-.5.2-.5 0-.3-.2-.3-.5-.3 0 0-1.3.3-2.7.3h-.3c0-.3-.2-1 2-5 2-4.5 4.5-9.5 2-11.5zm1.7-10C9.9 0 7.9 1.7 7.9 4.2c0 2.2 1.7 4.2 4.2 4.2 2.3 0 4.2-1.7 4.2-4.2C16.1 2 14.4 0 12.1 0z"/>
</template>
