<template>
<path d="M28.1 7.9h-5.3V6.1c0-.8-.7-1.5-1.6-1.5h-6.8c-.9 0-1.6.7-1.6 1.5V8H7c-.2 0-.4.2-.4.4s.2.4.4.4h1.6l.7 18.5c0 1.8 1.5 3.2 3.2 3.2h10c1.8 0 3.2-1.4 3.2-3.2l.7-18.5H28c.2 0 .4-.2.4-.4 0-.3-.1-.5-.3-.5zm-14.5-2c0-.4.3-.7.7-.7h6.8c.4 0 .7.3.7.7v1.9h-8.2V5.9zm11.3 21.3c0 1.3-1 2.3-2.3 2.3h-10c-1.3 0-2.3-1-2.3-2.3L9.6 8.7h15.9l-.6 18.5zm-4.4-2.9c.3 0 .5-.2.5-.5v-9.1c0-.3-.2-.5-.5-.5s-.5.2-.5.5v9.1c0 .3.2.5.5.5zm-6 0c.3 0 .5-.2.5-.5v-9.1c0-.3-.2-.5-.5-.5s-.5.2-.5.5v9.1c0 .3.2.5.5.5zm3 1.8c.3 0 .5-.2.5-.4V12.9c0-.2-.2-.4-.5-.4s-.5.2-.5.4v12.8c0 .1.3.4.5.4z"/>
</template>
