<template>
<path d="M11 6v6H5V6h6m.5-1h-7c-.3 0-.5.2-.5.5v6.9c0 .4.2.6.5.6h6.9c.3 0 .5-.2.5-.5v-7c.1-.3-.1-.5-.4-.5zM21 6v8h-6V6h6m.5-1h-6.9c-.4 0-.6.2-.6.5v8.9c0 .3.2.5.5.5h6.9c.3 0 .5-.2.5-.5V5.5c.1-.3-.1-.5-.4-.5zM31 6v9h-6V6h6m.5-1h-6.9c-.4 0-.6.2-.6.5v9.9c0 .3.2.5.5.5h6.9c.3 0 .5-.2.5-.5V5.5c.1-.3-.1-.5-.4-.5zM11 16v9H5v-9h6m.5-1h-7c-.3 0-.5.2-.5.5v9.9c0 .4.2.6.5.6h6.9c.3 0 .5-.2.5-.5v-9.9c.1-.4-.1-.6-.4-.6zM21 18v11h-6V18h6m.5-1h-6.9c-.3 0-.5.2-.5.5v11.9c0 .3.2.5.5.5h6.9c.3 0 .5-.2.5-.5V17.5c0-.3-.2-.5-.5-.5zM31 19v6h-6v-6h6m.5-1h-6.9c-.3 0-.5.2-.5.5v6.9c0 .3.2.5.5.5h6.9c.3 0 .5-.2.5-.5v-6.9c0-.3-.2-.5-.5-.5z"/>
</template>
