<template>
<path d="M50.4 47c-2.6-1.1-8.9-3.3-12.8-4.4-.3-.1-.4-.1-.4-1.5 0-1.1.5-2.3.9-3.3.5-1.1 1.1-2.8 1.3-4.4.6-.7 1.4-2 1.9-4.6.5-2.3.2-3.1-.1-3.9 0-.1-.1-.2-.1-.2-.1-.5 0-3.3.4-5.4.3-1.5-.1-4.6-2.1-7.2-1.3-1.6-3.7-3.6-8.2-3.9H29c-4.4.3-6.8 2.3-8.1 3.9-2 2.6-2.4 5.7-2.1 7.2.4 2.1.5 4.9.4 5.4 0 .1-.1.2-.1.3-.3.8-.5 1.6-.1 3.9.5 2.6 1.3 3.9 1.9 4.6.2 1.6.8 3.3 1.3 4.4.4.8.5 1.8.5 3.3 0 1.4-.1 1.4-.4 1.5-4 1.2-10.4 3.5-12.8 4.5C5.8 42.5 3.4 36.5 3.4 30 3.4 15.3 15.3 3.4 30 3.4S56.6 15.3 56.6 30c0 6.4-2.3 12.4-6.2 17 0 0 3.9-4.6 0 0zM30 1C14 1 1 14 1 30s13 29 29 29 29-13 29-29S46 1 30 1z"/>
</template>
