<template>
<g>
  <path d="M7.3.2L7 .1c-.1-.1-.3-.1-.4 0C3.5 2.2 0 5.5 0 9.7c0 3.6 2.5 6.3 6.6 9.8.1.1.3.1.4 0l.3-.2c3.3-2.8 6.3-5.2 6.3-9.4-.1-4.4-3.8-7.6-6.3-9.7zM3.5 5.1c.4 0 .7.2 1 .5.3.3.4.8.4 1.3s-.2 1-.4 1.3c-.3.3-.6.5-1 .5-.8 0-1.4-.8-1.4-1.8.1-1.1.6-1.8 1.4-1.8zM1.3 8.3c0 .3.2.5.4.7.5.6 1.2.8 1.8.8.7 0 1.4-.3 1.8-.9.5-.5.7-1.3.7-2 0-1.6-1-2.8-2.4-2.8.9-1 2.1-1.9 3.1-2.7 1 .8 2.2 1.8 3.2 3l-7 9.9c-1.2-1.5-1.8-2.9-1.8-4.6 0-.5.1-1 .2-1.4zm5.5 9.8c-1.3-1-2.4-2-3.3-2.9l7.2-9.8c1 1.3 1.7 2.8 1.7 4.5 0 .5-.1.9-.1 1.3-.1-.3-.2-.4-.4-.6-.5-.6-1.2-.8-1.8-.8-.7 0-1.4.3-1.8.9-.4.5-.7 1.3-.7 2 0 1.6 1 2.7 2.3 2.8-1 .8-2 1.6-3.1 2.6zm3.3-3.7c-.3 0-.8-.2-1-.5s-.4-.8-.4-1.3c0-1.1.6-1.8 1.3-1.8.8 0 1.4.8 1.4 1.8 0 .5-.2 1-.3 1.3-.3.2-.6.5-1 .5z"/>
</g>
</template>
