<template>
<g>
	<path d="M14.7 8c-2.5 0-4.6 2.1-4.6 4.6s2.1 4.6 4.6 4.6 4.6-2.1 4.6-4.6S17.2 8 14.7 8zm0 8.2c-2 0-3.6-1.6-3.6-3.6S12.7 9 14.7 9s3.6 1.6 3.6 3.6-1.6 3.6-3.6 3.6z"/>
  <path d="M15 2.5C8.1 2.5 2.5 8.1 2.5 15S8.1 27.5 15 27.5 27.5 21.9 27.5 15 21.8 2.5 15 2.5zM9.4 25.2c.4-1.6 1.2-4.7 1.7-5.5.9-1.2 2.3-1.2 2.5-1.2h2s2-.2 2.9 1.3v.1c.5.7 1.5 3.8 1.8 5.4-1.6.9-3.5 1.4-5.5 1.4-1.9-.1-3.7-.6-5.4-1.5zm12-.6c-.4-1.5-1.2-4.5-1.9-5.4-1.2-2-3.8-1.8-3.8-1.8h-2c-.5 0-2.2.1-3.3 1.7-.6.9-1.4 3.9-1.8 5.5C5.5 22.5 3.4 19 3.4 15 3.4 8.6 8.6 3.4 15 3.4S26.5 8.6 26.5 15c0 4-2 7.6-5.1 9.6z"/>
</g>
</template>
