<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
    <path d="M10 10h80v80H10z"/>
    <path d="M12.7 87.3l74.6-74.6M12.7 12.7l74.6 74.6"/>
  </svg>
</template>