<template>
<g>
  <path d="M15 15.2c2.4 0 4.4-2 4.4-4.4 0-2.4-2-4.4-4.4-4.4-2.4 0-4.4 2-4.4 4.4 0 2.4 2 4.4 4.4 4.4zm0-8.1c2.1 0 3.8 1.7 3.8 3.7 0 2.1-1.7 3.7-3.8 3.7-2.1 0-3.8-1.7-3.8-3.7 0-2.1 1.7-3.7 3.8-3.7zm6.7 6.6c-.6 0-1.2-.2-1.6-.6-.1-.1-.3-.1-.4 0-.1.1-.1.3 0 .4.6.5 1.3.7 2 .7 1.8 0 3.2-1.4 3.2-3.2 0-1.8-1.4-3.2-3.2-3.2-.7 0-1.5.3-2 .7-.1.1-.2.3 0 .4.1.1.3.2.4 0 .5-.4 1-.6 1.6-.6 1.4 0 2.6 1.2 2.6 2.6 0 1.7-1.2 2.8-2.6 2.8zm-2.1 3.8c-1.1-1.9-3.6-1.7-3.6-1.6h-2c-.1 0-2-.1-3.2 1.6-.6.9-1.6 4.3-1.9 5.8 0 .2.1.3.2.4.2 0 .3-.1.4-.2.3-1.5 1.2-4.8 1.8-5.6.9-1.3 2.6-1.3 2.6-1.3h2S18 16.4 19 18c.6.7 1.5 3.9 1.9 5.5 0 .1.2.2.3.2h.1c.2 0 .3-.2.2-.4-.2-1.3-1.2-4.9-1.9-5.8zM8.3 14.3c.7 0 1.5-.3 2-.7.1-.1.2-.3 0-.4-.1-.1-.3-.2-.4 0-.5.4-1 .6-1.6.6-1.4 0-2.6-1.2-2.6-2.6 0-1.4 1.2-2.6 2.6-2.6.6 0 1.2.2 1.6.6.1.1.3.1.4 0 .1-.1.1-.3 0-.4-.6-.5-1.3-.7-2-.7-1.8 0-3.2 1.4-3.2 3.2 0 1.6 1.5 3 3.2 3zm17.4 4.5c-.3-1.5-.7-2.5-1-3-.8-1.2-2.3-1.2-2.3-1.2H21c-.1 0-1.7-.2-2.6 1.1-.1.1-.1.3.1.4.1.1.3.1.4-.1.7-.9 2-.8 2-.8h1.4s1.1 0 1.8.9c.2.3.5 1 .9 2.8 0 .1.2.2.3.2h.1c.3 0 .4-.2.3-.3zm-14.6-2.6c.1.2.3.2.4.1.2-.1.2-.3.1-.4-.8-1.5-2.6-1.3-2.6-1.3H7.6c-.1 0-1.5 0-2.3 1.2-.3.5-.7 1.5-1 3 0 .2.1.3.2.4h.1c.1 0 .3-.1.3-.2.3-1.4.6-2.4.9-2.8.6-.9 1.7-.9 1.8-.9H9c.1-.1 1.5-.2 2.1.9z"/>
</g>
</template>
