<template>
<path d="M24 0c3.4 0 6 2.8 6 6v3.8h-1.3v-4c0-2.5-2-4.5-4.5-4.5h-4V0H24zM1.3 24.3c0 2.5 2 4.5 4.5 4.5h3.9V30H6c-3.4 0-6-2.8-6-5.9v-3.8h1.3v4zM0 6c0-3.4 2.8-6 6-6h3.6v1.3H5.7c-2.5 0-4.5 2-4.5 4.5v4H0V6zm28.8 18.3v-4h1.3V24c0 3.4-2.8 6-6 6h-3.8v-1.3h4c2.5.1 4.5-1.9 4.5-4.4zm-9.2-8.7V14h-2.3v3.4H14v2.1h3.4v5.8h-1.3v-4.4h-3.5v-4.8h3.5v-3.5h4.8v3h-1.3zM4.8 10.4V4.9h5.6v5.5H4.8zm1.3-4.3V9H9V6.1H6.1zm13.5 4.3V4.8h5.6v5.6h-5.6zm1.3-4.3V9h2.9V6.1h-2.9zM10.4 19.6v5.6H4.8v-5.6h5.6zM9 23.9v-3H6.1v3H9zm-2.9-10v3.5H4.7v-4.8h7.9V8.2h1.3v5.6H6.1zm13.5 11.4v-3.9h5.6v3.8H24v-2.5h-3.1v2.6h-1.3zm0-6.2v-1.3h4.3v-5.3h1.3V19h-5.6zm-3.5-8.7V6.1h-3.5V4.7h4.8v5.6h-1.3zm-7.8 5.7h2.1v1.3H8.3v-1.3zm4.3 6.9h1.3v2.1h-1.3V23z" fill="#5b5c59"/>
</template>
