<template>
<path d="M14.9 41.9C7.2 41.9 1 33.8 1 23.7c0-10 6.2-18.2 13.9-18.2 2.1 0 4.1.6 5.9 1.7C22.9 3.4 26.3 1 30 1c6.4 0 11.6 7.1 11.6 15.9 0 8.3-4.6 15-10.4 15.8v16.7c0 .2-.2.4-.4.4h-.4c-.2 0-.4-.2-.4-.4V32.7c-1 0-1.9-.2-2.8-.5-2.2 5.3-6.3 9-11.1 9.5v16.7c0 .2-.2.4-.4.4h-.4c-.2 0-.4-.2-.4-.4V41.9zm7.7-33.3c3.7 3.3 6.2 8.8 6.2 15.1 0 2.3-.3 4.5-.9 6.5.7.2 1.4.3 2.1.3 5.1 0 9.3-6.1 9.3-13.6S35.1 3.3 30 3.3c-3 0-5.7 2.1-7.4 5.3zm-7.7 31.1c6.4 0 11.6-7.1 11.6-15.9S21.3 7.9 14.9 7.9C8.5 7.9 3.3 15 3.3 23.8c0 8.7 5.2 15.9 11.6 15.9zm20.3-23.9s1.2-2.3.2-5.3-3.1-3.8-3.1-3.8 1.7 1.9 2.4 4c.6 2.1.5 5.1.5 5.1zm-13.1 9.1s1.9-3.4.3-7.9-5.2-5.8-5.2-5.8 2.8 2.9 3.9 6c1.2 3.2 1 7.7 1 7.7z"/>
</template>
