<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
    <path d="M21.3 19.8c-1.1-.5-3.9-1.4-5.5-1.9-.1 0-.1 0-.1-.6 0-.5.2-1 .4-1.4.2-.5.5-1.3.5-1.9.2-.2.6-.9.9-2 .2-1 .1-1.4 0-1.6v-.1c0-.2 0-1.4.1-2.4.1-.6 0-2-.9-3.1-.6-.8-1.7-1.7-3.6-1.7h-1c-1.9.1-3 1-3.5 1.6-.9 1.1-1 2.5-.9 3.1.2 1 .3 2.2.2 2.5v.1c-.1.4-.2.6 0 1.6.2 1.1.6 1.6.9 2 .1.6.4 1.5.5 1.9s.2.7.2 1.4 0 .6-.1.6c-1.8.5-4.5 1.5-5.5 2-1.6-2-2.7-4.6-2.7-7.4C1.1 6.1 6.2 1 12.6 1s11.5 5.1 11.5 11.5c-.1 2.7-1.1 5.4-2.8 7.3 0 .1 1.7-1.9 0 0zM12.5 0C5.6 0 0 5.6 0 12.5S5.6 25 12.5 25 25 19.4 25 12.5 19.4 0 12.5 0z"
    />
  </svg>
</template>
