<template>
<path d="M32.3 9H2.6c-.3 0-.6.3-.6.6v20.7c0 .3.3.7.6.7h29.8c.3 0 .5-.4.5-.7V9.6c.1-.3-.1-.6-.6-.6zM32 30H3V10h29v20zM4.5 8h26c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-26c-.3 0-.5.2-.5.5s.2.5.5.5zM6.4 6h22.2c.2 0 .4-.2.4-.5s-.2-.5-.4-.5H6.4c-.2 0-.4.2-.4.5s.2.5.4.5z"/>
</template>
