<template>
<g>
  <path d="M10 11.3c1.9 0 3.5-1.6 3.5-3.5S11.9 4.3 10 4.3 6.5 5.9 6.5 7.8 8 11.3 10 11.3zm0-6.5c1.7 0 3 1.3 3 3s-1.3 3-3 3-3-1.3-3-3 1.3-3 3-3zm5.2 12.9c-.2-1-1-3.8-1.6-4.6-.9-1.5-2.8-1.3-2.9-1.3H9.2c-.1 0-1.6 0-2.5 1.3-.5.7-1.2 3.5-1.5 4.6 0 .1.1.3.2.3s.3-.1.3-.2c.3-1.2 1-3.8 1.4-4.5.7-1.1 2.1-1 2.1-1h1.6s1.7-.2 2.4 1.1c.5.6 1.2 3.2 1.5 4.4 0 .1.1.2.2.2h.1c.1 0 .2-.1.2-.3z"/><path d="M15 18.2h-.1c-.2 0-.4-.2-.4-.4-.5-1.7-1.1-3.8-1.5-4.2-.5-.9-1.5-1-2-1H9.1c-.3 0-1.3.1-1.8.9-.4.6-1.1 3.2-1.4 4.4 0 .2-.3.4-.5.4-.3 0-.4-.4-.4-.5v-.1l.1-.5c.4-1.4.9-3.6 1.4-4.2.9-1.3 2.4-1.4 2.7-1.4H11c.7 0 2.1.2 2.8 1.4.6.8 1.4 3.7 1.6 4.7 0 .4-.2.5-.4.5zm-4-6.1c.5 0 1.8.1 2.4 1.2.5.6 1.2 3.3 1.5 4.5v-.1c-.2-1-1-3.7-1.6-4.5-.5-1-1.7-1.2-2.3-1.1H9.2c-.1 0-.2 0-.5.1h2.1c0-.1.1-.1.2-.1zm-5.6 5.6c.1 0 .1 0 0 0 .2-.6.8-3 1.3-4.2-.4.8-.9 2.7-1.2 3.7l-.1.5zm4.6-6.2c-2.1 0-3.7-1.6-3.7-3.7 0-2 1.7-3.7 3.7-3.7s3.7 1.7 3.7 3.7-1.7 3.7-3.7 3.7zm-3-5c-.2.4-.3.9-.3 1.3 0 1.8 1.4 3.3 3.3 3.3.4 0 .9-.1 1.3-.3-.4.2-.9.2-1.3.2-1.8 0-3.2-1.4-3.2-3.2 0-.4 0-.9.2-1.3zM10 5C8.4 5 7.2 6.2 7.2 7.8s1.2 2.8 2.8 2.8 2.8-1.2 2.8-2.8S11.6 5 10 5zm3 1.5c.2.4.2.8.2 1.3s0 .9-.2 1.3c.2-.4.3-.8.3-1.3s-.1-.9-.3-1.3zm-3-1.9c.4 0 .9.1 1.3.2-.8-.3-1.7-.3-2.5 0 .3-.2.8-.2 1.2-.2z"/><path d="M10 20C4.5 20 0 15.5 0 10S4.5 0 10 0s10 4.5 10 10-4.5 10-10 10zm0-19c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9z"/>
</g>
</template>
