<template>
<g>
  <path d="M16.6 10.2c0-.8-.7-1.5-1.6-1.5s-1.6.7-1.6 1.5.7 1.5 1.6 1.5 1.6-.6 1.6-1.5zm-1.6.9c-.5 0-.9-.4-.9-.8 0-.5.4-.8.9-.8s.9.4.9.8-.4.8-.9.8zm4.4 3.7c-.2 0-.4.1-.4.3 0 .2.1.4.3.4 4.4.6 7.5 2 7.5 3.4 0 1.8-4.7 3.7-11.8 3.7-7.1 0-11.8-1.9-11.8-3.7 0-1.4 3.1-2.8 7.5-3.4.2 0 .3-.2.3-.4s-.2-.3-.4-.3c-5 .6-8.2 2.2-8.2 4.1 0 2.4 5.5 4.4 12.6 4.4 7 0 12.6-1.9 12.6-4.4 0-1.8-3.2-3.4-8.2-4.1zm-7.1 3.3c.2 0 .4-.2.3-.4 0-.2-.2-.3-.4-.3-1.7.2-3.8.6-3.8 1.5 0 1.3 4.1 1.7 6.5 1.7 2.4 0 6.5-.3 6.5-1.7 0-.9-2-1.3-3.7-1.5-.2 0-.4.1-.4.3 0 .2.1.4.3.4 2.4.3 3 .7 3.1.8-.1.3-2.2 1-5.8 1-3.6 0-5.7-.6-5.8-1 .2-.1.8-.6 3.2-.8zm2.7.8c.1 0 .2 0 .3-.1.2-.2 4.2-3.8 4.2-7.7 0-2.4-2-4.4-4.4-4.4s-4.4 2-4.4 4.4c0 3.8 4 7.5 4.2 7.7-.1.1 0 .1.1.1zm0-11.5c2 0 3.7 1.7 3.7 3.7 0 3-2.8 6-3.7 6.9-.9-.9-3.7-3.9-3.7-6.9 0-2 1.7-3.7 3.7-3.7z"/>
</g>
</template>
