<template>
<g>
  <path d="M16.3 16.9h6.6c.2 0 .4-.2.4-.4s-.2-.4-.4-.4h-6.6c-.2 0-.4.2-.4.4s.2.4.4.4zM16.3 14.9h6.6c.2 0 .4-.2.4-.4s-.2-.4-.4-.4h-6.6c-.2 0-.4.2-.4.4s.2.4.4.4zM16.3 12.9h6.6c.2 0 .4-.2.4-.4s-.2-.4-.4-.4h-6.6c-.2 0-.4.2-.4.4s.2.4.4.4z"/>
  <path d="M25.6 7.2H4.4c-.2 0-.4.2-.4.4v15c0 .2.2.4.4.4h21.2c.2 0 .4-.2.4-.4v-15c0-.2-.2-.4-.4-.4zm-.4 15H4.8V7.9h20.4v14.3z"/>
  <path d="M6.8 19.8c.3 0 .4-.1.5-.3.2-1 .7-2.6 1-3 .4-.5 1.2-.5 1.3-.5h1.2s1.1-.1 1.6.6c.3.3.8 2 1.1 2.9 0 .2.3.3.5.3s.3-.2.3-.4c-.1-.5-.7-2.6-1.2-3.2-.7-1.1-2.2-1-2.3-1h-.2C12 15 13 14 13 12.7c0-1.4-1.2-2.6-2.8-2.6s-2.8 1.2-2.8 2.6c0 1.3 1 2.4 2.4 2.5h-.2c-.1 0-1.3 0-2 .9-.4.6-1 2.7-1.1 3.2-.1.3 0 .5.3.5zm1.4-7.1c0-1 .9-1.8 2-1.8s2 .8 2 1.8-.9 1.8-2 1.8c-1.1.1-2-.8-2-1.8z"/>
</g>
</template>
