<template>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="182" height="54" viewBox="0 0 182 54">
<path d="M175.3 54H6.7C3 54 0 51 0 47.3V6.8C0 3 3 0 6.7 0h168.5c3.7 0 6.7 3 6.7 6.8v40.5c.1 3.7-2.9 6.7-6.6 6.7z"/>
  <g fill="#FFF" stroke="#FFF" stroke-width=".364" stroke-miterlimit="10">
    <path d="M63.9 13.8c0 1.1-.3 2-1 2.7-.8.8-1.8 1.2-3 1.2s-2.2-.4-3-1.2c-.8-.8-1.2-1.8-1.2-3s.4-2.2 1.2-3c.8-.8 1.8-1.2 3-1.2.6 0 1.1.1 1.7.3.5.2.9.5 1.3.9l-.7.7c-.5-.6-1.3-1-2.2-1-.9 0-1.6.3-2.2.9-.6.6-.9 1.4-.9 2.3s.3 1.7.9 2.3c.6.6 1.4.9 2.2.9.9 0 1.7-.3 2.3-.9.4-.4.6-.9.7-1.6h-3v-1h3.9v.7zM70.1 10.4h-3.7V13h3.3v1h-3.3v2.6h3.7v1h-4.7V9.5h4.7v.9zM74.5 17.6h-1v-7.1h-2.3v-1h5.6v1h-2.3v7.1zM80.8 17.6V9.5h1v8.1h-1zM86.5 17.6h-1v-7.1h-2.3v-1h5.6v1h-2.3v7.1zM99.2 16.5c-.8.8-1.8 1.2-3 1.2s-2.2-.4-3-1.2c-.8-.8-1.2-1.8-1.2-3s.4-2.2 1.2-3c.8-.8 1.8-1.2 3-1.2s2.2.4 3 1.2c.8.8 1.2 1.8 1.2 3s-.4 2.2-1.2 3zm-5.1-.7c.6.6 1.3.9 2.2.9s1.6-.3 2.2-.9c.6-.6.9-1.4.9-2.3 0-.9-.3-1.7-.9-2.3-.6-.6-1.3-.9-2.2-.9s-1.6.3-2.2.9c-.6.6-.9 1.4-.9 2.3 0 .9.3 1.7.9 2.3zM101.9 17.6V9.5h1.3l3.9 6.3V9.5h1v8.1H107l-4.1-6.6v6.6h-1z"/>
  </g>
  <path fill="#FFF" d="M91.9 29.4c-3.2 0-5.8 2.4-5.8 5.7 0 3.3 2.6 5.7 5.8 5.7 3.2 0 5.8-2.4 5.8-5.7-.1-3.3-2.7-5.7-5.8-5.7zm0 9.2c-1.7 0-3.2-1.4-3.2-3.5s1.5-3.5 3.2-3.5 3.2 1.4 3.2 3.5-1.5 3.5-3.2 3.5zm-12.6-9.2c-3.2 0-5.8 2.4-5.8 5.7 0 3.3 2.6 5.7 5.8 5.7 3.2 0 5.8-2.4 5.8-5.7 0-3.3-2.6-5.7-5.8-5.7zm0 9.2c-1.7 0-3.2-1.4-3.2-3.5s1.5-3.5 3.2-3.5c1.7 0 3.2 1.4 3.2 3.5s-1.5 3.5-3.2 3.5zm-14.9-7.5v2.4h5.8c-.2 1.4-.6 2.4-1.3 3.1-.8.8-2.2 1.8-4.5 1.8-3.6 0-6.4-2.9-6.4-6.5s2.8-6.5 6.4-6.5c1.9 0 3.3.8 4.4 1.7l1.7-1.7C69 24.1 67.1 23 64.4 23c-4.9 0-9 4-9 8.9s4.1 8.9 9 8.9c2.6 0 4.6-.9 6.2-2.5 1.6-1.6 2.1-3.9 2.1-5.7 0-.6 0-1.1-.1-1.5h-8.2zm61 1.9c-.5-1.3-1.9-3.7-4.9-3.7-3 0-5.4 2.3-5.4 5.7 0 3.2 2.4 5.7 5.7 5.7 2.6 0 4.1-1.6 4.8-2.5l-2-1.3c-.7 1-1.5 1.6-2.8 1.6-1.3 0-2.2-.6-2.8-1.7l7.7-3.2-.3-.6zm-7.8 1.9c-.1-2.2 1.7-3.3 3-3.3 1 0 1.8.5 2.1 1.2l-5.1 2.1zm-6.2 5.6h2.5V23.6h-2.5v16.9zm-4.1-9.9c-.7-.7-1.7-1.3-3.1-1.3-2.9 0-5.5 2.5-5.5 5.8 0 3.2 2.6 5.7 5.5 5.7 1.4 0 2.5-.6 3-1.3h.1v.8c0 2.2-1.2 3.4-3.1 3.4-1.5 0-2.5-1.1-2.9-2l-2.2.9c.6 1.5 2.3 3.4 5.1 3.4 3 0 5.5-1.7 5.5-6V29.7h-2.4v.9zm-2.9 8c-1.7 0-3.2-1.5-3.2-3.5s1.5-3.5 3.2-3.5c1.7 0 3.1 1.5 3.1 3.5-.1 2-1.4 3.5-3.1 3.5zm32.8-15h-6v16.9h2.5v-6.4h3.5c2.8 0 5.5-2 5.5-5.2s-2.7-5.3-5.5-5.3zm.1 8.2h-3.6V26h3.6c1.9 0 2.9 1.6 2.9 2.9.1 1.3-1 2.9-2.9 2.9zm15.6-2.5c-1.8 0-3.7.8-4.5 2.6l2.2.9c.5-.9 1.4-1.2 2.3-1.2 1.3 0 2.6.8 2.6 2.2v.2c-.5-.3-1.4-.7-2.6-.7-2.4 0-4.9 1.3-4.9 3.8 0 2.3 2 3.7 4.2 3.7 1.7 0 2.6-.8 3.2-1.7h.1v1.3h2.4V34c.1-3-2.2-4.7-5-4.7zm-.3 9.3c-.8 0-2-.4-2-1.4 0-1.3 1.4-1.8 2.7-1.8 1.1 0 1.6.2 2.3.6-.2 1.5-1.6 2.6-3 2.6zm14.2-8.9l-2.9 7.3h-.1l-3-7.3h-2.7l4.5 10.2-2.6 5.7h2.6l6.9-15.9h-2.7zm-22.6 10.8h2.5V23.6h-2.5v16.9z"/>
  <path fill="#5BC9F4" d="M14.1 10.2c-.4.4-.6 1.1-.6 1.9v29.8c0 .8.2 1.5.6 1.9l.1.1 16.7-16.7v-.4L14.1 10.2z"/>
  <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="41.912" y1="27" x2="9.318" y2="27">
    <stop offset="0" stop-color="#fee000"/>
    <stop offset=".194" stop-color="#fccf0b"/>
    <stop offset=".547" stop-color="#fab318"/>
    <stop offset=".828" stop-color="#f9a21b"/>
    <stop offset="1" stop-color="#f99b1c"/>
  </linearGradient>
  <path fill="url(#a)" d="M36.4 32.8l-5.6-5.6v-.4l5.6-5.6.1.1 6.6 3.8c1.9 1.1 1.9 2.8 0 3.9l-6.6 3.8h-.1z"/>
  <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="33.455" y1="30.094" x2="2.778" y2="60.771">
    <stop offset="0" stop-color="#ef4547"/>
    <stop offset="1" stop-color="#c6186d"/>
  </linearGradient>
  <path fill="url(#b)" d="M36.5 32.7L30.9 27 14.1 43.8c.6.7 1.6.7 2.8.1l19.6-11.2"/>
  <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="2.641" y1="-6.908" x2="27.689" y2="18.14">
    <stop offset="0" stop-color="#279e6f"/>
    <stop offset=".317" stop-color="#4dab6d"/>
    <stop offset=".74" stop-color="#6aba6a"/>
    <stop offset="1" stop-color="#74c169"/>
  </linearGradient>
  <path fill="url(#c)" d="M36.5 21.3L16.9 10.1c-1.2-.7-2.2-.6-2.8.1L30.9 27l5.6-5.7z"/>
</svg>
</template>