<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38">
    <path d="M3.57 21.972v15.2c0 .4.4.8.8.8s.8-.4.8-.8v-15.2c0-.4-.4-.8-.8-.8s-.8.4-.8.8zm1.6-11.4v-9.8c0-.4-.4-.8-.8-.8s-.8.4-.8.8v9.8c0 .4.4.8.8.8s.8-.3.8-.8zm31.3-4.6v-5.2c0-.4-.4-.8-.8-.8s-.8.4-.8.8v5.2c0 .4.4.8.8.8.5 0 .8-.3.8-.8zm-15.6 13.7V.772c0-.4-.4-.8-.8-.8s-.8.4-.8.8v18.9c0 .4.4.8.8.8s.8-.3.8-.8zm14.1-2.6v20.1c0 .4.4.8.8.8s.8-.4.8-.8v-20.1c0-.4-.4-.8-.8-.8-.5 0-.8.4-.8.8zm-3.5-5.5c0 2.3 1.9 4.3 4.3 4.3 2.3 0 4.3-1.9 4.3-4.3s-1.9-4.3-4.3-4.3-4.3 1.9-4.3 4.3zm1.6 0c0-1.5 1.2-2.7 2.7-2.7 1.5 0 2.7 1.2 2.7 2.7s-1.3 2.6-2.7 2.6c-1.5 0-2.7-1.1-2.7-2.6zm-17.3 13.7c0 2.3 1.9 4.3 4.3 4.3 2.3 0 4.3-1.9 4.3-4.3s-1.9-4.3-4.3-4.3c-2.3.1-4.3 2-4.3 4.3zm1.6 0c0-1.5 1.2-2.7 2.7-2.7 1.5 0 2.7 1.2 2.7 2.7 0 1.5-1.2 2.7-2.7 2.7-1.5 0-2.7-1.2-2.7-2.7zm1.9 5.6v6.3c0 .4.4.8.8.8s.8-.4.8-.8v-6.3c0-.4-.4-.8-.8-.8-.5 0-.8.4-.8.8zm-19.3-14.6c0 2.4 2 4.4 4.4 4.4 2.4 0 4.4-2 4.4-4.4s-2-4.4-4.4-4.4c-2.4 0-4.4 2-4.4 4.4zm1.6 0c0-1.5 1.3-2.8 2.8-2.8 1.5 0 2.8 1.3 2.8 2.8 0 1.5-1.3 2.8-2.8 2.8-1.5 0-2.8-1.2-2.8-2.8z"/>
  </svg>
</template>