<template>
<path d="M45.6 59c-11.6 0-12.7-5.9-12.7-9.1s1.2-5.8 6.5-5.8 8.7 5.8 12.9 5.8 9.4-5.8 9.4-5.8S61.7 59 45.6 59zm-.3-1.6c11.9 0 14-9 14-9s-3.4 3.2-7.6 3.2c-4.3 0-7.7-5.8-12.2-5.8s-4.7 2.1-4.7 4.4 1 7.2 10.5 7.2zm-25 1.2c11.5 0 12.6-5.7 12.6-8.9S31.7 44 26.5 44s-8.7 5.7-12.8 5.7S4.3 44 4.3 44s0 14.6 16 14.6zm-.1-1.8c-10.7 0-13.4-8.3-13.4-8.3s1.8 2.9 7.1 2.9c5.4 0 8.2-5.5 12.5-5.5s4.3 1.9 4.3 4.3c.1 2.4-1 6.6-10.5 6.6zM19 1h27.2c4.1 0 7.4 3.3 7.4 7.3V24s3-1.8 5.5-1.9c3.5-.2 6.7 1.5 5.5 3.5-2.1 3.4-13.3 7.3-32 7.3-17.8 0-28.5-3.9-31.1-7.3C.3 24 1.4 22.1 4 22.1c3-.1 7.6 1.9 7.6 1.9V8.3c0-4 3.3-7.3 7.4-7.3zm.8 2.2c-3.1 0-5.6 2.4-5.6 5.5v14.4c0 .8 7.7 2 18.5 2s18.5-1.1 18.5-2V8.7c0-3-2.5-5.5-5.6-5.5H19.8zm12.9 24.6c-13.6 0-24.4-3.1-26.5-3.7-2.1-.6-2.1-.1-2.2 0-2.8 2 14.1 6.5 28.7 6.5S61.6 26.9 62 25c.3-1.3-2.9-1.6-4.3-1s-11.3 3.8-25 3.8z"/>
</template>
