<template>
<path d="M5.5,0C2.4,0,0,2.6,0,5.8c0,5,5.1,9.9,5.3,10.1c0,0,0.1,0.1,0.2,0.1s0.1,0,0.2-0.1c0.2-0.2,5.3-5,5.3-10.1 C11,2.6,8.6,0,5.5,0z M5.5,8.5c-1.8,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1c1.8,0,3.1,1.4,3.1,3.1S7.3,8.5,5.5,8.5L5.5,8.5z"></path>
</template>
