<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55">
    <g>
      <linearGradient id="arrow-color" x1="0%" x2="0%" y1="0%" y2="100%">
        <stop offset="0" stop-color="#8ff" />
        <stop offset=".526" stop-color="#65f2fe" />
        <stop offset="1" stop-color="#2fddfe" />
      </linearGradient>
      <path fill="currentColor" d="M55 .5v24.1H30.8l8.4-8.4c-.4-.5-.7-.8-1.2-1.2-3.5-2.7-7.6-4.1-12.1-3.8-7.6.7-14 6.7-14.8 14.3-.8 8.1 4.3 15.7 12.2 17.6 8.1 2 16.2-2.2 19.2-9.7.8-2.2 3.3-3.6 5.8-3.3 2.7.3 4.8 2.2 5.1 4.8.2 1.2 0 2.2-.3 3.2-2 4.8-5.3 8.7-9.4 11.8-3.5 2.5-7.4 4.1-11.4 4.8C16.8 57.2 3.2 46.8.5 32.8c-2.3-12.7 4-25 16-30.3C20.5.7 24.7 0 29.1.2c7.1.3 12.9 3 18 7.9l.3.3L55 .5z"
      />
    </g>
  </svg>
</template>
