<template>
<path d="M26.5 12h-.8V9c0-2.2-1.2-3.4-3.4-3.4H6.1c-.7 0-1.2.1-1.4.2-1.4.4-2.2 1.5-2.2 3v12.6c0 1.3.6 2.3 1.8 2.8.5.2 1.2.3 1.8.3h16.5c1.8-.1 3.1-1.4 3.1-3.2v-2.8-.4h.6c.7 0 1.2-.4 1.2-1.1v-3.9c0-.6-.4-1.1-1-1.1zm.4 4.9c0 .4-.3.5-.6.5H20c-1.2 0-2.1-1-2.2-2.3-.1-1.1.8-2.2 1.9-2.5.2 0 .4-.1.7-.1h5.9c.5 0 .7.1.7.6-.1 1.3-.1 2.6-.1 3.8zm-6.6-3.1c-.6 0-1.2.5-1.2 1.2 0 .6.5 1.2 1.2 1.2.6 0 1.2-.5 1.2-1.1 0-.7-.5-1.2-1.2-1.3zm0 1.8c-.3 0-.6-.3-.6-.6s.3-.5.6-.6c.3 0 .5.2.5.6 0 .4-.2.6-.5.6zm2.1 8.3H5.9c-.9 0-1.7-.3-2.3-1.1-.4-.5-.5-1.1-.5-1.7V8.9c0-1.8 1-2.8 2.8-2.8h16.6c1.4 0 2.5.9 2.6 2.4.1 1.1 0 2.1 0 3.2v.2h-.5c-1.6 0-3.2 0-4.8.1-1.5.1-2.7 1.6-2.6 3.1.1 1.6 1.4 2.9 2.9 2.9h5.1v3.2c0 1.6-1.3 2.7-2.8 2.7zM6.6 11.7c-.3 0-.3.2-.3.4v5.7c0 .2 0 .4.3.4s.3-.2.3-.4V15v-2.8c-.1-.2-.1-.5-.3-.5z"/>
</template>
