<template>
  <g>
    <linearGradient id="gradient-eco" gradientUnits="userSpaceOnUse" x1="-303.05" y1="534.2" x2="-303.282" y2="533.388" gradientTransform="matrix(47.8652 0 0 -69.3855 14533.139 37060.8)">
      <stop offset="0" stop-color="#36f800" />
      <stop offset="1" stop-color="#00b961" />
    </linearGradient>
    <path d="M27.9 42.6c-.8-1.1-1.3-2.5-1.3-4.1 0-3.2 1.8-5.7 4.1-5.7 2.4 0 4.3 2.5 4.3 5.7 0 1.6-.4 3-1.1 4.1-.8 1.1-1.8 1.6-3 1.6s-2.2-.6-3-1.6zm-7.2 13.1c-3.9-3.3-7.2-6.3-9.8-9.2L33 16.3c3 4 5.1 8.6 5.1 13.7 0 1.4-.1 2.8-.4 4.1-.3-.7-.7-1.3-1.2-1.8-1.4-1.7-3.5-2.6-5.7-2.6s-4.2 1-5.7 2.7c-1.4 1.7-2.1 3.8-2.1 6.2 0 4.8 3 8.4 7.1 8.8-2.6 2.7-5.7 5.3-9 8.1l-.4.2zM5.2 27.6c1.4 1.7 3.5 2.6 5.7 2.6 2.3 0 4.3-1 5.7-2.7 1.4-1.7 2.1-3.8 2.1-6.2 0-4.8-3.1-8.5-7.3-8.8 2.9-3.1 6.3-5.9 9.5-8.3l.1.2c3.1 2.6 6.7 5.6 9.7 9.1l-22 30.3C5.2 39.4 3.4 35 3.4 30c0-1.5.2-3 .5-4.4.3.7.8 1.4 1.3 2zm8.6-10.3c.8 1.1 1.3 2.5 1.3 4.1 0 1.6-.4 3-1.1 4.1-.8 1.1-1.8 1.6-3 1.6-2.4 0-4.3-2.5-4.3-5.7 0-3.3 1.7-5.7 4.1-5.7 1.1 0 2.2.6 3 1.6zM21.6.2c-.4-.3-.9-.3-1.3 0C10.9 7.2 0 16.9 0 30c0 10.9 7.7 19.5 20 29.8.4.3.9.3 1.3 0l1-.9c10.2-8.5 19-15.9 19-28.9C41.3 17 29.8 7.3 22.2.9l-.6-.7z"
      fill="url(#gradient-eco)" />
  </g>
</template>

