<template>
<path d="M0.8,16.1c0,1.7,1.4,3.1,3.1,3.1h12.3c1.7,0,3.1-1.4,3.1-3.1V3.9c0-1.7-1.4-3.1-3.1-3.1H3.9
	c-1.7,0-3.1,1.4-3.1,3.1C0.8,3.9,0.8,16.1,0.8,16.1z M4,0h12c2.2,0,4,1.8,4,4v12c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4
	C0,1.8,1.8,0,4,0L4,0z M16.2,11.3H3.8c-0.2,0-0.4,0.2-0.4,0.5s0.2,0.5,0.4,0.5h12.4c0.2,0,0.4-0.2,0.4-0.5
	C16.6,11.5,16.4,11.3,16.2,11.3L16.2,11.3z M16.2,14.8H3.8c-0.2,0-0.4,0.2-0.4,0.5s0.2,0.5,0.4,0.5h12.4c0.2,0,0.4-0.2,0.4-0.5
	C16.6,15,16.4,14.8,16.2,14.8L16.2,14.8z M16.2,4.1H3.8c-0.2,0-0.4,0.2-0.4,0.5s0.2,0.5,0.4,0.5h12.4c0.2,0,0.4-0.2,0.4-0.5
	S16.4,4.1,16.2,4.1L16.2,4.1z M16.2,7.7H3.8c-0.2,0-0.4,0.2-0.4,0.5s0.2,0.5,0.4,0.5h12.4c0.2,0,0.4-0.2,0.4-0.5
	C16.6,7.9,16.4,7.7,16.2,7.7L16.2,7.7z"/>
</template>