<template>
 <path d="M19.1 20.2H3.4c-.3 0-.6.3-.6.6s.3.6.6.6h15.7c.3 0 .6-.3.6-.6s-.2-.6-.6-.6zM16.3 9.4H22c.3 0 .6-.3.6-.6 0-.2-.1-.4-.2-.5L14.3.1c-.2-.2-.4-.2-.6-.1-.2.1-.4.3-.4.5v5.9c0 1.7 1.4 3 3 3zm-1.8-7.5l6.2 6.3h-4.4c-1 0-1.8-.8-1.8-1.8V1.9zm4.6 22.2H3.4c-.3 0-.6.3-.6.6s.3.6.6.6h15.7c.3 0 .6-.3.6-.6 0-.4-.2-.6-.6-.6zM3.5 5.9h7.2c.3 0 .6-.3.6-.6s-.3-.6-.6-.6H3.5c-.3 0-.6.3-.6.6s.3.6.6.6zM22 9.7c-.3 0-.6.3-.6.6v16.6c0 1.1-.9 2-2 2H3.1c-1.1 0-2-.9-2-2V3.1c0-1.1.9-2 2-2h9.4c.3 0 .6-.3.6-.6s-.3-.6-.6-.6H3.1C1.4-.1 0 1.2 0 3v23.8c0 1.7 1.4 3.1 3.1 3.1h16.3c1.7 0 3.1-1.4 3.1-3.1V10.2c.1-.3-.1-.5-.5-.5zm-18.5.1h7.2c.3 0 .6-.3.6-.6s-.3-.6-.6-.6H3.5c-.3 0-.6.3-.6.6s.3.6.6.6zm15.6 2.7H3.4c-.3 0-.6.3-.6.6s.3.6.6.6h15.7c.3 0 .6-.3.6-.6s-.2-.6-.6-.6zm0 3.9H3.4c-.3 0-.6.3-.6.6s.3.6.6.6h15.7c.3 0 .6-.3.6-.6 0-.4-.2-.6-.6-.6z"/>
</template>
