<template>
<svg xmlns="http://www.w3.org/2000/svg" width="26" height="13" viewBox="0 0 26 13">
  <path fill="#5B5B58" d="M24.5 12.1c-.3 0-.5-.2-.5-.5V9.1c0-1.2-.9-2.1-2.1-2.1H2.6l4.6 4.7c.2.2.2.5 0 .7-.1.1-.2.1-.3.1-.1 0-.2 0-.3-.1L1.1 6.8c-.1-.2-.1-.5 0-.6L6.5.7c.2-.2.5-.2.7-.1.2.1.2.5 0 .7L2.6 6H22c1.7 0 3 1.4 3 3v2.6c0 .3-.2.5-.5.5z"/>
</svg>
</template>
