<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="149" height="94" viewBox="0 0 135 80">
    <path d="M6.6 65.3L0 80h1.7l1.7-3.8h8l1.7 3.8h1.7L8.1 65.3H6.6zm-2.5 9.4l3.2-7.4 3.3 7.4H4.1zM23.1 65.3h-5.4l.1 14.6h1.7v-5.2H23c3.1 0 5.7-1.7 5.7-4.8-.1-2.9-2.3-4.6-5.6-4.6zm-.2 8h-3.6v-6.4H23c2.4 0 3.9 1 3.9 3.1 0 2-1.6 3.3-4 3.3zM43.8 65.2l-5.3 8-5.3-8h-1.7l.1 14.6h1.6L33.1 68l5.3 7.8h.1l5.4-7.8.1 11.7h1.5l-.1-14.5zM53.9 69.2c-2.8 0-4.9 2.4-4.9 5.3 0 3.2 2.4 5.4 5.1 5.4 2 0 3.2-.8 4.3-1.9l-.7-.6c-.9.9-1.9 1.6-3.5 1.6-2 0-3.8-1.5-4-4h8.6v-.4c-.2-3.1-2-5.4-4.9-5.4zm-3.8 4.9c.2-2.3 1.7-4 3.8-4 2.4 0 3.6 1.9 3.7 4h-7.5zM66.1 79c-2.4 0-4.3-2-4.3-4.5S63.7 70 66 70c1.6 0 2.5.8 3.4 1.7l.7-.7c-.9-1-2.2-1.9-4.1-1.9-3 0-5.2 2.4-5.2 5.4 0 3 2.3 5.4 5.2 5.4 1.9 0 3.1-.9 4.2-2l-.7-.7c-.8 1.1-1.9 1.8-3.4 1.8zM77.4 69.2c-3.1 0-5.3 2.5-5.3 5.4 0 3 2.2 5.4 5.2 5.4s5.3-2.5 5.3-5.4c.1-3-2.1-5.4-5.2-5.4zm0 9.8c-2.4 0-4.3-2-4.3-4.5s1.8-4.5 4.2-4.5c2.4 0 4.3 2 4.3 4.5S79.7 79 77.4 79zM89.6 79c-2.4 0-4.3-2-4.3-4.5s1.9-4.5 4.2-4.5c1.6 0 2.5.8 3.4 1.7l.7-.7c-.9-1-2.2-1.9-4.1-1.9-3 0-5.2 2.4-5.2 5.4 0 3 2.3 5.4 5.2 5.4 1.9 0 3.1-.9 4.2-2l-.7-.5c-.9.9-2 1.6-3.4 1.6zM100.2 69.3c-1.4 0-2.5.3-3.7.9l.3.9c1-.5 2-.8 3.2-.8 2.1 0 3.4 1 3.4 3.1v.4c-1-.3-2-.4-3.4-.4-2.7 0-4.5 1.2-4.5 3.3 0 2.2 2.1 3.2 4 3.2s3.2-1 3.9-1.9v1.7h1v-6.5c0-1.3-.3-2.2-1-2.9-.7-.7-1.8-1-3.2-1zm3.3 6.5c0 1.9-1.8 3.1-3.9 3.1-1.6 0-3-.9-3-2.4s1.2-2.4 3.4-2.4c1.5 0 2.6.3 3.5.4v1.3zM109 72.3v-3h-1v10.3h1v-4.2c0-3.3 2.1-5.2 4.5-5.2h.1v-1c-2 0-3.8 1.3-4.6 3.1zM124.3 71.6c-.9-1.3-2.2-2.4-4.3-2.4-2.4 0-5 2-5 5.4 0 3.4 2.5 5.4 5 5.4 2 0 3.3-1.2 4.3-2.5v2.3h1V65h-1v6.6zm-4.2 7.4c-2.2 0-4-1.7-4-4.5s1.8-4.5 4-4.5 4.2 1.7 4.2 4.5c0 2.7-2.1 4.5-4.2 4.5zM132 58.8c-1.7 0-3 1.3-3 2.9 0 1.7 1.3 2.9 3 2.9s3-1.3 3-2.9c0-1.6-1.3-2.9-3-2.9zm0 5.1c-1.3 0-2.3-1-2.3-2.4 0-1.3 1-2.3 2.3-2.3s2.2 1 2.2 2.4-.9 2.3-2.2 2.3z"
    />
    <path d="M132.7 61.7c.3-.1.6-.3.6-.7 0-.3-.1-.5-.3-.6-.3-.1-.4-.2-1-.2-.5 0-.9 0-1.1.1v2.9h.7V62h.3c.3 0 .5.2.6.4.1.3.2.6.3.7h.7c0-.1-.1-.3-.2-.7-.1-.4-.3-.6-.6-.7zm-.8-.1h-.3v-.8h.3c.4 0 .6.2.6.4.1.2-.2.4-.6.4z"
    />
    <path fill="#07D447" d="M73.9 40.1c-.8-1-1.2-2.4-1.2-3.8 0-3.1 1.7-5.3 3.8-5.4 2.3 0 4 2.4 4 5.3 0 1.5-.3 2.9-1 3.8-.7 1-1.7 1.6-2.8 1.6-1 0-2.1-.5-2.8-1.5zm-6.8 12.3c-3.7-3.1-6.8-5.9-9.3-8.6l20.8-28.5c2.8 3.8 4.8 8 4.8 12.9 0 1.4-.1 2.6-.3 3.8-.3-.6-.7-1.2-1.1-1.7-1.4-1.6-3.2-2.4-5.3-2.4-2.1 0-4 .9-5.3 2.5-1.3 1.6-2 3.7-2 5.8 0 4.5 2.9 7.9 6.7 8.3-2.4 2.5-5.4 5-8.5 7.6l-.5.3zM52.5 26c1.4 1.6 3.2 2.4 5.3 2.4s4-.9 5.4-2.5c1.3-1.6 2-3.7 2-5.8 0-4.5-3-8-6.9-8.3 2.7-3 5.9-5.5 8.9-7.8h.2c2.9 2.4 6.3 5.3 9.2 8.6L55.8 41.3c-3.2-4.2-5-8.4-5-13.1 0-1.5.2-2.9.5-4.2.3.7.7 1.3 1.2 2zm8.1-9.7c.8 1 1.2 2.4 1.2 3.8 0 1.5-.3 2.9-1 3.8-.7 1-1.7 1.6-2.8 1.6-2.3 0-4-2.4-4-5.3 0-3.1 1.6-5.3 3.8-5.4 1.1 0 2.1.5 2.8 1.5zM68 .2c-.3-.3-.8-.3-1.2 0-8.9 6.5-19.1 15.7-19.1 28 0 10.3 7.3 18.3 18.9 28 .3.3.9.3 1.2 0l1-.8c9.6-8 17.9-15 17.9-27.2S75.8 6.8 68.6.8L68 .2z"
    />
  </svg>
</template>
