<template>
  <g>
    <path d="M22.2 3H7.8C5.2 3 3 5.1 3 7.8v14.4C3 24.8 5.1 27 7.8 27h14.4c2.6 0 4.8-2.1 4.8-4.8V7.8C27 5.2 24.9 3 22.2 3zM26 22.4c0 2-1.6 3.6-3.6 3.6H7.6c-2 0-3.6-1.6-3.6-3.6V7.6C4 5.6 5.6 4 7.6 4h14.8c2 0 3.6 1.6 3.6 3.6v14.8z"/>
  <path d="M22.4 16.6H7.6c-.3 0-.5.2-.5.5s.2.5.5.5h14.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM22.4 20.9H7.6c-.3 0-.5.2-.5.5s.2.5.5.5h14.8c.3 0 .5-.2.5-.5 0-.4-.2-.5-.5-.5zM22.4 8H7.6c-.3 0-.5.2-.5.5s.2.5.5.5h14.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM22.4 12.3H7.6c-.3 0-.5.2-.5.5s.2.5.5.5h14.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5z"/>
  </g>
</template>