<template>
<path d="M 204.1 0 H 11.9 C 5.3 0 0 5.3 0 11.9 v 192.2 c 0 6.6 5.3 11.9 11.9 11.9 h 103.5 v -83.6 H 87.2 V 99.8 h 28.1 v -24 c 0 -27.9 17 -43.1 41.9 -43.1 c 11.9 0 22.2 0.9 25.2 1.3 v 29.2 h -17.3 c -13.5 0 -16.2 6.4 -16.2 15.9 v 20.8 h 32.3 l -4.2 32.6 h -28 V 216 h 55 c 6.6 0 11.9 -5.3 11.9 -11.9 V 11.9 C 216 5.3 210.7 0 204.1 0 Z">

</path>
</template>
