<template>
    <g>
      <radialGradient id="gradient-board" cx="-290.704" cy="454.967" r=".485" gradientTransform="matrix(63.0781 0 0 -63.0781 18367.035 28711.57)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#2eafe6"/>
        <stop offset=".308" stop-color="#23a4e0"/>
        <stop offset="1" stop-color="#0477ba"/>
      </radialGradient>
      <path d="M30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30zm11.3-41c-.1-.1-.1-.1-.1-.3-2.9-2.8-6.3-4.4-10.4-4.5-2.5-.1-4.9.3-7.3 1.4C16.6 18.7 13 25.8 14.3 33c1.5 8 9.4 14 18.3 12.6 2.3-.4 4.5-1.3 6.6-2.7 2.4-1.7 4.3-4.1 5.4-6.8.2-.6.3-1.2.2-1.8-.2-1.5-1.4-2.5-2.9-2.7-1.4-.1-2.8.7-3.3 1.9-1.7 4.4-6.4 6.8-11 5.6-4.5-1.1-7.5-5.4-7.1-10.1.5-4.4 4.2-7.8 8.5-8.2 2.6-.2 4.9.6 7 2.1.2.2.4.5.7.7l-4.8 4.8h13.9V14.5L41.3 19z" fill="url(#gradient-board)"/>
    </g>
</template>