<template>
<g>
  <path d="M15.3 1.3c-.1 0-.1-.1-.2 0C10.6 4.6 5.6 9 5.6 15c0 5 3.5 8.9 9.2 13.7.1.1.2.1.3 0 5.4-4.5 9.3-7.8 9.3-13.7 0-5.9-5.3-10.5-9.1-13.7zm-4.9 6.8c.6 0 1.2.3 1.6.8s.7 1.3.7 2.1-.2 1.5-.6 2c-.4.6-1 .9-1.6.9-.5 0-1-.2-1.3-.6-.6-.5-.9-1.4-.9-2.3-.1-1.7.8-2.9 2.1-2.9zm-3.3 4l.3.7c.2.3.3.6.6.9.6.7 1.5 1.1 2.4 1.1 1 0 1.8-.4 2.5-1.2.6-.7.9-1.7.9-2.7 0-2.1-1.3-3.7-3.2-3.8h-.5c1.5-1.6 3.1-3 5-4.4 2 1.6 3.6 3.1 4.9 4.6L9.4 21.9c-2.6-3.2-3.3-6.3-2.3-9.8zm12.6 9.8c-.9.1-2.2-1-2.2-2.9 0-1.7.9-2.9 2.2-2.9s2.2 1.3 2.2 2.9c0 1.5-.8 2.9-2.2 2.9zm3-4.9c-.1-.3-.3-.6-.5-.8-.6-.7-1.5-1.1-2.4-1.1-2 0-3.4 1.8-3.4 3.9 0 2.1 1.3 3.7 3.1 3.8h.5c-1.2 1.3-3 2.8-5 4.5-1.9-1.5-3.5-3.1-4.9-4.6L20.7 8.2c2.4 3.1 3.1 6.2 2.3 9.5l-.3-.7z"/>
</g>
</template>
