<template>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <path d="M10 30h80v40H10z"/>
  <path d="M12.7 67.6l74.6-35.3M12.7 32.3l74.6 35.3" />
</svg>
</template>