<template>
<path d="M31.5 31.068918l-10.2-10.1c1.8-1.9 2.9-4.4 2.9-7.2 0-5.8-4.8-10.6-10.6-10.6-5.9 0-10.7 4.7-10.7 10.6 0 5.8 4.8 10.6 10.6 10.6 2.7 0 5.1-1 7-2.7l10.2 10.2c.1.1.2.1.4.1.1 0 .3 0 .4-.1.2-.2.2-.6 0-.8zm-18-7.8c-5.3 0-9.6-4.3-9.6-9.6.1-5.2 4.4-9.5 9.6-9.5 5.3 0 9.6 4.3 9.6 9.6 0 5.2-4.3 9.5-9.6 9.5z"/>
</template>
