@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(208, 1, 27, 0.4)
  70%
      box-shadow: 0 0 0 5px rgba(208, 1, 27, 0)
  100%
      box-shadow: 0 0 0 0 rgba(208, 1, 27, 0)

@keyframes pulse-big
  0%
    box-shadow: 0 0 0 0 rgba(208, 1, 27, 0.4)
  70%
      box-shadow: 0 0 0 10px rgba(208, 1, 27, 0)
  100%
      box-shadow: 0 0 0 0 rgba(208, 1, 27, 0)

@keyframes btn-rotate
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%, -50%)  rotate(360deg)

@keyframes btn-glow
  0%
    box-shadow: inset 0 0 0 #23a4e0
  50%
    box-shadow: inset 0 0 40px #23a4e0
  100%
    box-shadow: inset 0 0 0 #23a4e0