body
  font-family: $open-sans
  font-weight: $normal
  color: $color-black
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

b
  font-weight: $semi-bold

.link
  font: $light 16px $open-sans
  color: $color-blue-bright
  text-decoration: underline
  &:hover
    text-decoration: none

.table__link
  font: $normal 14px $open-sans
  color: $color-blue-bright
  text-decoration: underline
  &:hover
    text-decoration: none


.color-red
  color: $color-red

.color-green
  color: $color-green

.landing-title
  font: $light 30px $open-sans
  color: #244a7c
  margin-bottom: 65px

.auth-title
  font: $normal 28px $open-sans
  color: $color-black
  margin-bottom: 60px
  &.auth-title--name
    font: $semi-bold 20px $open-sans
    color: $color-black
    letter-spacing: -0.48px
    margin-bottom: 30px

.info-title
  font: $semi-bold 28px $open-sans
  color: $color-black
  margin: 0 0 35px

.personal-subtitle
  font: $bold 18px $open-sans
  color: $color-black
  letter-spacing: -0.45px

.brand-title
  font: $semi-bold 16px $open-sans
  color: $color-black
  margin: 20px 0 5px

.info-paragraph
  font: $normal 16px $open-sans
  color: $color-grey-dark
  margin: 20px 0
  &.info-paragraph--warning
    font-weight: $bold
    color: $color-red
  &.info-paragraph--black
    color: $color-black

.brand-title + .info-paragraph
  margin-top: 0
  
.faq-category__title
  font: $semi-bold 20px $open-sans
  color: $color-black
  text-transform: uppercase
  margin: 0 0 10px

.question__title
  display: block
  font: $normal 16px $open-sans
  color: $color-blue-bright
  text-decoration: none
  margin: 0 0 10px
  &:hover
    text-decoration: underline

.ecocards-list__title,
.ecocard__title
  font: $semi-bold 24px $open-sans
  color: $color-black
  letter-spacing: -0.58px

.ecocard__title
  margin-top: 0
  
.ecocards-list__subtitle
  font: $normal 14px $open-sans
  color: $color-grey-dark
  letter-spacing: 0
  cursor: pointer

.ecocard-search__title
  font: $normal 18px/29px $open-sans
  color: $color-black
  margin: 40px 0

@media (max-width: 1023px)
  .landing-title
    margin-bottom: 40px
    text-align: left

  .auth-title
    margin-bottom: 30px
    &.auth-title--name
      margin-bottom: 15px

  .ecocard__title
    margin-top: 30px

  .ecocard-search__title
    margin: 25px 0
  