<template>
  <div class="tech">
    <h1 class="tech__title">Tech page</h1>
    <span class="tech-form__item">
      <base-select-category v-if="categories" :select="categories"></base-select-category>
    </span>
    <span class="tech-form__item">
      <a href="#" @click.prevent="showModalBanner" class="bttn bttn--transparent-blue">Показать qr-code</a>
    </span>
    <router-link class="bttn bttn--blue" to="/tech/icons">Icons</router-link>
    <router-link class="bttn bttn--blue" to="/tech/notification">Notifications</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
  import hljs from 'highlight.js'
  import Highlight from 'vue-highlight-component'
  import axios from 'axios'

  import BaseSelectCategory from '../BaseSelectCategory.vue'
  export default {
    name: 'Tech',
    component: {
      'base-select-category': BaseSelectCategory
    },
    created() {
      axios.get('/api/site/data/categories')
        .then(response => {
          this.categories = response.data
        })
    },
    data() {
      return {
        categories: '',
        img: '/img/apm-logo.png'
      }
    },
    components: {
      Highlight,
    },
    methods: {
      showModalBanner() {
        this.$modal.show({
  template: `

      <img :src="img">



  `,
  props: ['img']
}, {
  img: this.img
}, {
  
  classes: 'simple-modal'
}, {
  'before-close': (event) => { console.log('this will be called before the modal closes'); }
})
      }
    },
    computed: {

    }
  }
</script>
<style src="highlight.js/styles/github-gist.css"></style>