<template>
  <div class="tech">
    <h1 class="tech__title">Tech page - Notifications</h1>
      <a @click.prevent="error" href="#" class="bttn bttn--small bttn--red">Call error</a>
      <a @click.prevent="warning" href="#" class="bttn bttn--small bttn--green">Call success</a>
      <a @click.prevent="pushErrors" href="#" class="bttn bttn--small bttn--red">Push errors</a>
      <a @click.prevent="pushMessages" href="#" class="bttn bttn--small bttn--green">Push messages</a>
  </div>
</template>

<script>
  import hljs from 'highlight.js'
  import Highlight from 'vue-highlight-component'
  export default {
    name: 'TechNotification',
    data() {
      return {
        errors: '<p>Please enter a valid email. Please enter a password.</p><p>fsdfsdf</p><p>fsdfsdf</p><p>fsdfsdf</p>',
        success: '<p>Please enter a valid email. Please enter a password.</p><p>deserunt sint libero</p><p>Армения Ремень protocol</p><p>fsdfsdf</p>'
      }
    },
    components: {
      Highlight,
    },
    methods: {
      pushErrors () {
        this.$root.errors = '<p>Please enter a valid email. Please enter a password.</p><p>fsdfsdf</p><p>fsdfsdf</p><p>fsdfsdf</p>'
      },
      pushMessages () {
        this.$root.messages = '<p>HTML строка</p><p>Постоянная скидка 5% на весь ассортимент, кроме акционных товаров. Дополнительные сезонные скидки до 20%. Индивидуальные скидки и подарки</p>'
      },
      error() {
        this.$notify({
          group: 'notification-success',
          clean: true
        })
        this.$notify({
          group: 'notification-error',
          text: this.errors,
          type: 'error',
          duration: -1,
        });
      },
      warning() {
        this.$notify({
          group: 'notification-error',
          clean: true
        })
        this.$notify({
          group: 'notification-success',
          text: this.success,
          type: 'apm-success',
          duration: -1
        });
      }
    }
  }
</script>
<style src="highlight.js/styles/github-gist.css"></style>