<template>
  <div class="tech">
    <h1 class="tech__title">Tech page - Icons</h1>
    <span class="tech__item">
      <icon-apple-badge></icon-apple-badge>
      <span class="tech-item__name">IconAppleBadge</span>
      <span class="tech-item__code">
        <highlight :code="code.IconAppleBadge"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-google-badge></icon-google-badge>
      <span class="tech-item__name">IconGoogleBadge</span>
      <span class="tech-item__code">
        <highlight :code="code.IconGoogleBadge"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <span class="white-svg">
        <icon-base width="153" height="29" viewBox="0 0 153 29">
          <icon-board-logo></icon-board-logo>
        </icon-base>
      </span>
      <span class="tech-item__name">IconBoardLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconBoardLogo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <span class="white-svg">
        <icon-base width="189" height="31" viewBox="0 0 189 31">
          <icon-ecocard-logo></icon-ecocard-logo>
        </icon-base>
      </span>
      <span class="tech-item__name">IconEcocardLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconEcocardLogo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-board-button-arrow></icon-board-button-arrow>
      <span class="tech-item__name">IconBoardButtonArrow</span>
      <span class="tech-item__code">
        <highlight :code="code.IconBoardButtonArrow"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-header-logo></icon-header-logo>
      <span class="tech-item__name">IconHeaderLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconHeaderLogo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <button class="bttn bttn--with-icon bttn--facebook">
        <icon-base iconColor="#fff" width="22" height="22" viewBox="0 0 216 216" class="bttn__icon">
          <icon-facebook-logo></icon-facebook-logo>
        </icon-base>Continue with Facebook</button>
      <span class="tech-item__name">IconFacebookLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconFacebookLogo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <button class="bttn bttn--with-icon bttn--google">
        <icon-base width="22" height="22" viewBox="0 0 48 48" class="bttn__icon">
          <icon-google-logo></icon-google-logo>
        </icon-base>Continue with Google</button>
      <span class="tech-item__name">IconGoogleLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconGoogleLogo"></highlight>
      </span>
    </span>
    <p class="icons-group__name">
      Header icons
    </p>
    <div class="icons-group">
      <span class="tech__item">
        <icon-base viewBox="0 0 20 20" width="25" height="25">
          <icon-menu></icon-menu>
        </icon-base>
        <span class="tech-item__name">IconMenu</span>
        <span class="tech-item__code">
          <highlight :code="code.IconMenu"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base width="25" height="25" viewBox="0 0 20 20">
          <icon-profile></icon-profile>
        </icon-base>
        <span class="tech-item__name">IconProfile</span>
        <span class="tech-item__code">
          <highlight :code="code.IconProfile"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 14 20" width="20" height="25">
          <icon-ecocard></icon-ecocard>
        </icon-base>
        <span class="tech-item__name">IconEcocard</span>
        <span class="tech-item__code">
          <highlight :code="code.IconEcocard"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="25" height="25">
          <icon-board></icon-board>
        </icon-base>
        <span class="tech-item__name">IconBoard</span>
        <span class="tech-item__code">
          <highlight :code="code.IconBoard"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base width="25" height="25" viewBox="0 0 20 20">
          <icon-language></icon-language>
        </icon-base>
        <span class="tech-item__name">IconLanguage</span>
        <span class="tech-item__code">
          <highlight :code="code.IconLanguage"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-menu-new></icon-menu-new>
        </icon-base>
        <span class="tech-item__name">IconMenuNew</span>
        <span class="tech-item__code">
          <highlight :code="code.IconMenu"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-profile-new></icon-profile-new>
        </icon-base>
        <span class="tech-item__name">IconProfileNew</span>
        <span class="tech-item__code">
          <highlight :code="code.IconProfile"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-ecocard-new></icon-ecocard-new>
        </icon-base>
        <span class="tech-item__name">IconEcocardNew</span>
        <span class="tech-item__code">
          <highlight :code="code.IconEcocard"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-board-new></icon-board-new>
        </icon-base>
        <span class="tech-item__name">IconBoardNew</span>
        <span class="tech-item__code">
          <highlight :code="code.IconBoard"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-language-new></icon-language-new>
        </icon-base>
        <span class="tech-item__name">IconLanguageNew</span>
        <span class="tech-item__code">
          <highlight :code="code.IconLanguage"></highlight>
        </span>
      </span>
    </div>
    <span class="tech__item">
      <icon-header-personal></icon-header-personal>
      <span class="tech-item__name">IconHeaderPersonal</span>
      <span class="tech-item__code">
        <highlight :code="code.IconHeaderPersonal"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 42 60" width="21" height="30">
        <icon-product-ecocard></icon-product-ecocard>
      </icon-base>
      <span class="tech-item__name">IconProductEcocard</span>
      <span class="tech-item__code">
        <highlight :code="code.IconProductEcocard"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 60 60" width="30" height="30">
        <icon-product-board></icon-product-board>
      </icon-base>
      <span class="tech-item__name">IconProductBoard</span>
      <span class="tech-item__code">
        <highlight :code="code.IconProductBoard"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 68 60" width="34" height="30">
        <icon-product-chat></icon-product-chat>
      </icon-base>
      <span class="tech-item__name">IconProductChat</span>
      <span class="tech-item__code">
        <highlight :code="code.IconProductChat"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-landing-ecocard></icon-landing-ecocard>
      <span class="tech-item__name">IconLandingEcocard</span>
      <span class="tech-item__code">
        <highlight :code="code.IconLandingEcocard"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-landing-board></icon-landing-board>
      <span class="tech-item__name">IconLandingBoard</span>
      <span class="tech-item__code">
        <highlight :code="code.IconLandingBoard"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-landing-chat></icon-landing-chat>
      <span class="tech-item__name">IconLandingChat</span>
      <span class="tech-item__code">
        <highlight :code="code.IconLandingChat"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-profile-navigation-settings></icon-profile-navigation-settings>
      <span class="tech-item__name">IconProfileNavigationSettings</span>
      <span class="tech-item__code">
        <highlight :code="code.IconProfileNavigationSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 25 23" width="25" height="23">
        <icon-logout></icon-logout>
      </icon-base>
      <span class="tech-item__name">IconLogout</span>
      <span class="tech-item__code">
        <highlight :code="code.IconLogout"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 35 35" width="35" height="35">
        <icon-cards></icon-cards>
      </icon-base>
      <span class="tech-item__name">IconCards</span>
      <span class="tech-item__code">
        <highlight :code="code.IconCards"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 35 35" width="35" height="35">
        <icon-catalog></icon-catalog>
      </icon-base>
      <span class="tech-item__name">IconCatalog</span>
      <span class="tech-item__code">
        <highlight :code="code.IconCatalog"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 35 35" width="35" height="35">
        <icon-search></icon-search>
      </icon-base>
      <span class="tech-item__name">IconSearch</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSearch"></highlight>
      </span>
    </span>
    <p class="icons-group__name">Ecocard icons</p>
    <div class="icons-group">
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-ecocard-branches></icon-ecocard-branches>
        </icon-base>
        <span class="tech-item__name">IconEcocardBranches</span>
        <span class="tech-item__code">
          <highlight :code="code.IconSearch"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-ecocard-subscribers></icon-ecocard-subscribers>
        </icon-base>
        <span class="tech-item__name">IconEcocardSubscribers</span>
        <span class="tech-item__code">
          <highlight :code="code.IconSearch"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-ecocard-employees></icon-ecocard-employees>
        </icon-base>
        <span class="tech-item__name">IconEcocardEmployees</span>
        <span class="tech-item__code">
          <highlight :code="code.IconSearch"></highlight>
        </span>
      </span>
      <span class="tech__item">
        <icon-base viewBox="0 0 30 30" width="30" height="30">
          <icon-ecocard-banners></icon-ecocard-banners>
        </icon-base>
        <span class="tech-item__name">IconEcocardBanners</span>
        <span class="tech-item__code">
          <highlight :code="code.IconSearch"></highlight>
        </span>
      </span>
    </div>
    <span class="tech__item">
      <icon-base viewBox="0 0 30 30" width="30" height="30">
        <icon-banner-price></icon-banner-price>
      </icon-base>
      <span class="tech-item__name">IconBannerPrice</span>
      <span class="tech-item__code">
        <highlight :code="code.IconMapMarker"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 11 16" width="11" height="16">
        <icon-map-marker></icon-map-marker>
      </icon-base>
      <span class="tech-item__name">IconMapMarker</span>
      <span class="tech-item__code">
        <highlight :code="code.IconMapMarker"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 17 17" width="17" height="17">
        <icon-globe></icon-globe>
      </icon-base>
      <span class="tech-item__name">IconGlobe</span>
      <span class="tech-item__code">
        <highlight :code="code.IconGlobe"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 17 30" width="12" height="25">
        <icon-info></icon-info>
      </icon-base>
      <span class="tech-item__name">IconInfo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconInfo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <span class="white-svg">
        <icon-notification-info></icon-notification-info>
      </span>
      <span class="tech-item__name">IconNotificationInfo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconBoardLogo"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 23 30" width="18" height="25">
        <icon-paper></icon-paper>
      </icon-base>
      <span class="tech-item__name">IconPaper</span>
      <span class="tech-item__code">
        <highlight :code="code.IconPaper"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 30 30" width="25" height="25">
        <icon-settings></icon-settings>
      </icon-base>
      <span class="tech-item__name">IconSettings</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-canva-logo></icon-canva-logo>
      <span class="tech-item__name">IconCanvaLogo</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 60 60" width="60" height="60">
        <icon-banner-private></icon-banner-private>
      </icon-base>
      <span class="tech-item__name">IconBannerPrivate</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 60 60" width="60" height="60">
        <icon-banner-corp></icon-banner-corp>
      </icon-base>
      <span class="tech-item__name">IconBannerCorp</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 66 60" width="66" height="60">
        <icon-banner-adult></icon-banner-adult>
      </icon-base>
      <span class="tech-item__name">IconBannerAdult</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 43 60" width="43" height="60">
        <icon-banner-kids></icon-banner-kids>
      </icon-base>
      <span class="tech-item__name">IconBannerKids</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-profile-avatar></icon-profile-avatar>
      <span class="tech-item__name">IconProfileAvatar</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <p class="icons-group__name">
      Banners
    </p>
    <div class="icons-group">
    <span class="tech__item">
      <icon-banner-stand fill="transparent" stroke="#4a4a4a"></icon-banner-stand>
      <span class="tech-item__name">IconBannerStand</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-banner-stand fill="#0076ff" stroke="#fff"></icon-banner-stand>
      <span class="tech-item__name">IconBannerStand hover</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-banner-prem fill="transparent" stroke="#4a4a4a"></icon-banner-prem>
      <span class="tech-item__name">IconBannerPrem</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-banner-prem fill="#0076ff" stroke="#fff"></icon-banner-prem>
      <span class="tech-item__name">IconBannerPrem hover</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    </div>
    <span class="tech__item">
      <icon-arrow-left></icon-arrow-left>
      <span class="tech-item__name">IconArrowLeft</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-employee-add></icon-employee-add>
      <span class="tech-item__name">IconEmployeeAdd</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
    <span class="tech__item">
      <icon-base viewBox="0 0 35 35" width="35" height="35">
        <icon-delete></icon-delete>
      </icon-base>
      <span class="tech-item__name">IconDelete</span>
      <span class="tech-item__code">
        <highlight :code="code.IconSettings"></highlight>
      </span>
    </span>
  </div>
</template>

<script>
  import hljs from 'highlight.js'
  import Highlight from 'vue-highlight-component'
  export default {
    name: 'TechIcons',
    data() {
      return {
        code: {
          IconAppleBadge: '<icon-apple-badge></icon-apple-badge>',
          IconGoogleBadge: '<icon-google-badge></icon-google-badge>',
          IconBoardLogo: '\t<icon-base width="153" height="29" viewBox="0 0 153 29">\n<icon-board-logo></icon-board-logo>\n</icon-base>',
          IconEcocardLogo: '<a>',
          IconBoardButtonArrow: '<a>',
          IconHeaderLogo: '<a>',
          IconFacebookLogo: '<a>',
          IconGoogleLogo: '<a>',
          IconMenu: '<a>',
          IconProfile: '<a>',
          IconEcocard: '<a>',
          IconBoard: '<a>',
          IconLanguage: '<a>',
          IconHeaderPersonal: '<a>',
          IconProductEcocard: '<a>',
          IconProductBoard: '<a>',
          IconProductChat: '<a>',
          IconLandingEcocard: '<a>',
          IconLandingBoard: '<a>',
          IconLandingChat: '<a>',
          IconProfileNavigationSettings: '<a>',
          IconLogout: '<a>',
          IconCards: '<a>',
          IconCatalog: '<a>',
          IconSearch: '<a>',
          IconMapMarker: '<a>',
          IconGlobe: '<a>',
          IconInfo: '<a>',
          IconPaper: '<a>',
          IconSettings: '<a>',
        }
      }
    },
    components: {
      Highlight,
    }
  }
</script>
<style src="highlight.js/styles/github-gist.css"></style>