// Fonts
$open-sans: 'Open Sans', sans-serif;

//Font weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;


//Colors
$color-black: #000;
$color-grey-dark: #4a4a4a;
$color-grey-medium: #727272;
$color-grey-light: #9b9b9b;
$color-blue: #4990e2;
$color-blue-bright: #0076ff;
$color-red: #d0021b;
$color-yellow: #f6a623;
$color-green: #00a270;