.not-found
  display: flex
  position: relative
  justify-content: center
  align-items: center
  flex-direction: column
  min-height: calc(100vh - 55px)
  height: calc(100vh - 55px)
  margin-top: 55px
  text-align: center

.not-found__title
  font: $normal 28px $open-sans
  color: $color-black

.not-found__paragraph
  font: $normal 16px $open-sans
  color: $color-grey-dark
  margin-top: 20px