.advertizer-page
  position: relative
  min-height: 100%
  padding-top: 100px
  max-width: 2600px
  background: #fff url("~/img/adv/top-bg.svg") no-repeat 50% 0
  transition: background-image 0.2s ease-in-out
  text-align: center

.advertizer-page--board
  background: #fff url("~/img/adv/top-bg.svg") no-repeat 50% 0

.advertizer-page--eco
  background: #fff url("~/img/adv/top-bg.svg") no-repeat 50% 0

.advertizer__title
  font: $normal 24px $open-sans
  color: #000
  letter-spacing: -0.6px
  margin-bottom: 40px

.advertizer__subtitle
  font: $semi-bold 36px $open-sans
  color: #000
  margin-bottom: 25px

.advertizer-switcher
  font-size: 0
  padding: 0
  margin-bottom: 45px

.switcher__item
  font: $semi-bold 16px $open-sans
  color: #4a4a4a
  cursor: pointer
  display: inline-block
  text-decoration: none
  max-width: 167px
  width: 100%
  line-height: 30px
  height: 33px
  background: rgba(255,255,255,0.32)
  border: 1px solid #fff
  vertical-align: middle
  user-select: none

.switcher__item--eco
  border-radius: 4px 0 0 4px
  border-right: none

.switcher__item--board
  border-radius: 0 4px 4px 0

.switcher__item--active
  background: #fff
  color: #000
  font-weight: $bold

.splash
  position: relative
  min-height: 1125px
  &:after
    position: absolute
    bottom: -57px
    content: ''
    background: url(~/img/adv/board-bg.png) no-repeat 50% 0
    height: 964px
    left: 0
    width: 100%

.splash__inner
  max-width: 1366px
  margin: 0 auto
  padding: 0 50px 950px

.splash-content
  max-width: 700px
  text-align: center
  margin: 0 auto
  font: $normal 20px $open-sans
  color: #000
  letter-spacing: -0.5px
  & b
    font-weight: $bold

.splash-screen
  position: absolute
  z-index: 2
  width: 734px
  height: 460px
  background: url(~/img/adv/board-screen.jpg) no-repeat 50%/cover
  left: 50%
  margin-left: -367px
  bottom: 407px
  border: 1px solid #bcb8b8
  &.splash-screen--eco
    background: url(~/img/adv/ecocard-screen.jpg) no-repeat 50%/cover

.eco-relations
  position: relative

.eco-relations__inner
  max-width: 740px
  margin: 0 auto
  padding: 0 50px 100px

.eco-relations-content
  max-width: 700px
  text-align: center
  margin: 0 auto 90px
  font: $normal 20px/1.4 $open-sans
  color: #4a4a4a

.eco-relations-faq
  list-style-type: none
  padding: 0
  margin: 0 -50px
  text-align: left

.eco-relations-faq__list-item
  position: relative
  padding: 0
  &:before
    position: absolute
    content: ""
    display: block
    background-color: #e7e7e7
    height: 1px
    top: 0
    left: 0
    right: 0
  &:last-child:after
    position: absolute
    content: ""
    display: block
    background-color: #e7e7e7
    height: 1px
    bottom: 0
    left: 0
    right: 0

.eco-relations-faq__title
  position: relative
  cursor: pointer
  & h3
    font: $normal 24px $open-sans
    color: #00a270
    margin: 0
    padding: 23px 45px 23px 0
    text-transform: uppercase
  &:after
    position: absolute
    right: 20px
    top: 50%
    margin-top: -10px
    content: ""
    border: solid #979797
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 6px
    transform: rotate(45deg)
  &.__active:after
    transform: rotate(225deg)

.eco-relations-faq__content
  max-width: 700px
  padding: 25px 0

.eco-relations-faq-item__title h4
  font: $semi-bold 18px $open-sans
  color: #000
  margin: 0

.eco-relations-faq-item__text p
  font: $normal 18px $open-sans
  margin: 5px 0 25px
  color: #4a4a4a

.eco-relations-splash
  position: relative
  min-height: 555px
  margin-top: 100px

.eco-relations-splash__hand
  position: absolute
  top: 100px
  opacity: 0
  content: ''
  background: url(~/img/adv/hand.png) no-repeat 50% 0
  background-size: 854px 745px
  height: 745px
  left: 0
  width: 100%
  transition: all 0.4s ease-out
  &._active
    opacity: 1
    top: 75px

.eco-relations-splash__phone
  position: absolute
  top: 0
  content: ''
  background: url(~/img/adv/mobile-mockup.png) no-repeat 50% 0
  background-size: 250px 495px
  height: 495px
  left: 0
  width: 100%
  z-index: 2

.eco-rates 
  position: relative
  z-index: 2

.eco-rates__inner
  max-width: 1366px
  margin: 0 auto
  padding: 0 50px 120px

.eco-rates-content
  max-width: 700px
  text-align: center
  margin: 0 auto 45px
  font: $normal 24px $open-sans
  color: #4a4a4a

.eco-rates-content p
  margin-top: 0
  margin-bottom: 15px

.eco-table-container
  display: block
  max-width: 775px
  margin: 85px auto 0
  border: 1px solid #cecece
  border-radius: 6px

.eco-table
  position: relative
  width: 100%
  border-collapse: collapse
  border-spacing: 0
  display: table
  table-layout: fixed
  text-align: center
  color: #4a4a4a
  & tr
    border-bottom: 1px solid #cecece
    &:last-of-type
      border: none
  & td
    font: $normal 16px/1.25 $open-sans
    padding: 15px
    border-left: 1px solid #cecece
    vertical-align: middle
    &:first-of-type
      border: none
      width: 250px
      text-align: left
  & h3
    font: $semi-bold 30px/1 $open-sans
    color: #000
    margin: 20px auto
  & .eco-table__black-text
    color: #000
  & .eco-table__no-border
    border: none
  & .eco-table__divider:first-of-type
    background-color: #9b9b9b
    color: #fff
    font: $semi-bold 14px/2 $open-sans
    padding: 0
    text-align: center
    &.eco-table__divider_free-period:first-of-type
      background-color: #00a270
      color: #fff
      font: $light 24px/1 $open-sans
      padding: 20px
      text-align: center
      text-transform: uppercase
  & .eco-table__period,
  & .eco-table__txt-price
    font: $bold 20px/25px $open-sans
    color: #000
  & .eco-table__period
    color: #4a4a4a
    padding: 25px 15px
    text-transform: uppercase
  & .eco-table__txt-price_red
    color: #d0011b
  & .eco-table__text-price
    font: $bold 24px/1 $open-sans
    color: #000

.eco-table-container__big
  max-width: 950px

.eco-table .eco-table__nobtn
  padding-bottom: 60px

.eco-table__btn
  display: inline-block
  font: $normal 15px/17px $open-sans
  max-width: 215px
  width: 100%
  padding: 5px 9px 6px
  background-color: #00a270
  color: #fff
  border-radius: 6px
  text-decoration: none
  text-transform: uppercase
  transition: color 0.2s linear, background-color 0.2s linear
  &:hover
    color: #fff
    background-color: #00825a

.eco-table__inddev 
  position: relative
  &:after
    content: attr(data-indev)
    font: $semi-bold 14px/1 $open-sans
    text-transform: uppercase
    color: #000
    position: absolute
    right: 0
    top: 100px
    width: 175px
    text-align: center
    z-index: 3

.eco-table__coming-soon:after
  content: ""
  position: absolute
  top: -1px
  bottom: -1px
  right: -1px
  background: rgba(206,206,206,0.81)
  width: 175px
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px
  z-index: 2

.eco-rates-mob
  display: none

.eco-prom-materials__inner
  max-width: 700px
  margin: 0 auto
  padding: 0 50px 100px

.eco-prom-materials__content
  max-width: 600px
  text-align: center
  margin: 0 auto 90px
  font: $normal 20px $open-sans
  color: #4a4a4a
  & p
    margin: 30px 0

.eco-prom__slider
  padding-bottom: 30px

.eco-prom-slider__img
  display: block
  max-width: 100%
  outline: none
  margin: 0 auto

.eco-prom-slider__text
  & h4
    font: italic $bold 18px $open-sans
    color: #000
    margin: 30px auto 10px
  & p
    font: italic $normal 16px $open-sans
    color: #4a4a4a
    margin: 10px auto 30px

.eco-prom-slider__pagination
  bottom: -25px
  & .swiper-pagination-bullet
    width: 12px
    height: 12px
    margin: 0 5px
  
.apm-letsgo
  position: relative
  z-index: 2
  background: url(~/img/adv/footer-hands.png) no-repeat 50% 100%
  & p
    font-size: 22px
    margin: 0 auto
    max-width: 800px

.apm-letsgo__inner
  max-width: 965px
  margin: 0 auto
  padding: 105px 50px 583px
  text-align: center
  min-height: 1000px
  font: $normal 20px $open-sans


.apm-letsgo__btn
  position: absolute
  cursor: pointer
  width: 269px
  left: 50%
  bottom: 379px
  margin-left: -134.5px
  background-color: #fff
  border-radius: 3px
  padding: 17px 10px
  color: #000
  font: $bold 21px $open-sans
  text-transform: uppercase
  line-height: 24px
  text-decoration: none

.footer__eco,
.footer__board
  & p
    font-size: 14px
    font-weight: $normal
    opacity: 0.5
    margin-top: 0
    margin-bottom: 0
  &:after
    background: url(~/img/adv/footer-bg.svg) no-repeat 50%
    height: 1200px
    position: absolute
    content: ''
    bottom: 0
    left: 0
    right: 0

.footer-eco__inner,
.footer-board__inner
  position: relative
  z-index: 3
  max-width: 1366px
  margin: 0 auto
  padding: 0 50px 22px
  text-align: center

.footer-eco__socials,
.footer-board__socials
  text-align: center
  font-size: 0
  margin-bottom: 25px
  top: -15px

.footer-eco-socials__ico,
.footer-board-socials__ico
  position: relative
  display: inline-block
  cursor: pointer
  width: 38px
  height: 38px
  background-image: url(~/img/adv/socials.svg)
  vertical-align: top
  opacity: 0.29
  margin: 0 6px
  transition: opacity 0.2s
  &:hover
    opacity: 0.8
  &.__type-fb
    background-position: -1px 0
  &.__type-vk
    background-position: -42px 0
  &.__type-tw
    background-position: -82px 0
  &.__type-yt
    background-position: -124px 0
  &.__type-tb
    background-position: -167px 0
  &.__type-in
    background-position: -207px 0
  &.__type-md
    background-position: -249px 0

.apm-terms__inner
  max-width: 1366px
  margin: 0 auto
  padding: 0 50px 100px

.apm-terms-content
  max-width: 780px
  text-align: center
  margin: 0 auto 45px
  font: $normal 20px $open-sans

.apm-terms-content p
  margin-top: 0
  margin-bottom: 15px

.apm-terms-list
  list-style-type: none
  padding: 0
  margin: 0 -40px
  display: flex
  flex-wrap: wrap
  text-align: left

.apm-terms-list__list-item
  flex: 1 1 auto
  min-width: 0
  width: 50%
  padding: 0 40px 40px

.apm-terms-list__title
  font: $bold 18px $open-sans
  margin-top: 0
  margin-bottom: 17px

.apm-terms-list p
  margin-top: 0
  margin-bottom: 15px

.apm-terms-list-figure
  position: relative
  width: 175px
  height: 183px
  margin: 0 auto 25px

.apm-terms-list-figure__pas
  position: absolute
  left: 50%
  background-size: contain
  background-position: 50%
  transition: opacity 0.2s linear

.apm-terms-list-figure__act
  position: absolute
  left: 50%
  background-size: contain
  background-position: 50%
  opacity: 0
  z-index: 2
  transition: opacity 0.2s linear

.apm-terms-list-figure.in-viewport .apm-terms-list-figure__pas
  opacity: 0

.apm-terms-list-figure.in-viewport .apm-terms-list-figure__act
  opacity: 1

.apm-terms-list-figure.__type-1 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-1-pas.png")
  width: 154px
  height: 170px
  margin-left: -77px
  bottom: 6px

.apm-terms-list-figure.__type-1 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-1-act.png")
  width: 154px
  height: 170px
  margin-left: -77px
  bottom: 6px

.apm-terms-list-figure.__type-2 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-2-pas.png")
  width: 142px
  height: 182px
  margin-left: -71px
  bottom: 6px

.apm-terms-list-figure.__type-2 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-2-act.png")
  width: 142px
  height: 182px
  margin-left: -71px
  bottom: 6px

.apm-terms-list-figure.__type-3 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-3-pas.png")
  width: 153px
  height: 159px
  margin-left: -77px
  bottom: 6px

.apm-terms-list-figure.__type-3 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-3-act.png")
  width: 153px
  height: 159px
  margin-left: -77px
  bottom: 6px

.apm-terms-list-figure.__type-4 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-4-pas.png")
  width: 160px
  height: 172px
  margin-left: -80px
  bottom: 0

.apm-terms-list-figure.__type-4 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-4-act.png")
  width: 160px
  height: 172px
  margin-left: -80px
  bottom: 0

.apm-terms-list-figure.__type-5 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-5-pas.png")
  width: 174px
  height: 162px
  margin-left: -87px
  bottom: 18px

.apm-terms-list-figure.__type-5 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-5-act.png")
  width: 174px
  height: 162px
  margin-left: -87px
  bottom: 18px

.apm-terms-list-figure.__type-6 .apm-terms-list-figure__pas
  background-image: url("~/img/adv/terms/terms-6-pas.png")
  width: 175px
  height: 147px
  margin-left: -87.5px
  bottom: 6px

.apm-terms-list-figure.__type-6 .apm-terms-list-figure__act
  background-image: url("~/img/adv/terms/terms-6-act.png")
  width: 175px
  height: 147px
  margin-left: -87.5px
  bottom: 6px

.apm-adv-capabilities__inner
  max-width: 960px
  margin: 0 auto
  padding: 0 50px

.apm-adv-capabilities-content
  max-width: 700px
  font: $normal 20px $open-sans
  text-align: center
  margin: 30px auto 50px
  color: #4a4a4a
  & .apm-adv-capabilities-content__green
    color: $color-green
    text-decoration: underline

.apm-adv-types
  margin-bottom: 85px

.apm-adv-types__item
  margin-bottom: 50px
  &:last-of-type
    margin-bottom: 0

.apm-adv-types-list
  max-width: 800px
  border: 1px solid #cecece
  border-radius: 6px
  background: #f7f7f7
  margin: 0 auto
  padding: 0 25px 40px

.adv-types-list__header
  display: flex
  padding: 25px 0
  border-bottom: 1px solid #cecece

.apm-adv-types-table__name
  flex-basis: 30%
  font: $semi-bold 24px $open-sans
  color: #000
  text-align: left

.apm-adv-types-table__price
  flex-basis: 40%
  font: $semi-bold 24px $open-sans
  color: #000
  text-align: center

.apm-adv-types-table__red
  color: $color-red

.apm-adv-types-table__example
  flex-basis: 30%
  text-align: right

.example__btn
  display: inline-block
  font: normal 16px 'Clear Sans', Helvetica, Arial, sans-serif
  text-decoration: none
  text-align: center
  max-width: 167px
  width: 100%
  height: 33px
  line-height: 33px
  background: #4990e2
  color: #fff
  border-radius: 4px
  transition: all 0.2s ease
  &:hover
    background: #3177c9
    color: #fff

.board-example
  display: none

.adv-types-list__item
  margin: 20px
  text-align: left
  & h3
    font: $bold 16px $open-sans
    color: #000
  & p
    font: $normal 16px $open-sans
    color: #000
  &:last-of-type
    margin-bottom: 0

.apm-simple
  position: relative
  background-color: #f3f2e9

.apm-simple__inner
  max-width: 1366px
  margin: 0 auto
  padding: 85px 50px 604px
  min-height: 951px

.apm-simple:after
  position: absolute
  content: ''
  bottom: 0
  left: 0
  right: 0
  height: 851px
  background: url(~/img/adv/simple-bg.png) no-repeat 50% 0

.apm-simple-content
  max-width: 780px
  text-align: center
  margin: 0 auto 45px
  font: $normal 20px $open-sans

.apm-simple-content p
  margin-top: 0
  margin-bottom: 15px

.apm-simple-list
  position: absolute
  z-index: 2
  left: 50%
  margin-left: 95px
  width: 383px
  bottom: 190px
  height: 380px
  display: flex
  align-items: center

.apm-simple-list__list
  list-style-type: none
  padding: 0
  margin: 0
  width: 100%
  padding: 0 15px 0 65px
  font: $normal 17px $open-sans
  text-align: left

.apm-simple-list__list-item
  padding: 11px 0

.apm-simple-list__list-item:before
  position: absolute
  content: ''
  background: url("~/img/adv/simple-li.png") no-repeat
  width: 16px
  height: 16px
  transform-origin: 50%
  margin: 2px 0 0 -32px
  animation-name: simpleli
  animation-duration: 3s
  animation-timing-function: linear
  animation-iteration-count: infinite

.apm-simple-list__list-item:nth-child(1):before
  animation-delay: 1.1s

.apm-simple-list__list-item:nth-child(2):before
  animation-delay: 2.2s

.apm-simple-list__list-item:nth-child(3):before
  animation-delay: 3.3s

.apm-simple-list__list-item:nth-child(4):before
  animation-delay: 4.4s

.apm-simple-list__list-item:nth-child(5):before
  animation-delay: 5.5s

@keyframes simpleli
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.apm-users
  position: relative
  z-index: 2

.apm-users__inner
  max-width: 1366px
  margin: 0 auto
  padding: 100px 50px

.apm-users-content
  max-width: 780px
  text-align: center
  margin: 0 auto 45px
  font-size: 22px

.apm-users-content p
  margin-top: 0
  margin-bottom: 15px

.apm-users-list
  display: table
  max-width: 960px
  width: 100%
  margin: 0 auto 55px
  border: 1px solid #d1d1d1
  border-radius: 5px

.apm-users-list__list-item
  display: table-cell
  width: 33%
  vertical-align: top
  padding: 34px 30px

.apm-users-list__list-item + .apm-users-list__list-item
  border-left: 1px solid #e4e4e4

.apm-users-table
  display: table
  width: 100%
  padding: 0
  margin: 0
  list-style-type: none

.apm-users-table__list-item
  display: table-row
  &.show_c
    display: none

.apm-users-table__value
  display: table-cell
  white-space: nowrap
  vertical-align: top
  padding-right: 20px
  min-width: 90px
  padding-bottom: 10px

.apm-users-table__name
  display: table-cell
  width: 100%
  vertical-align: top
  font: $light 18px $open-sans
  padding-bottom: 10px

#second_table
  display: none

.apm-users-all 
  text-align: center
  font: $normal 16px $open-sans

.apm-users-all a
  color: #000
  display: none
  &.show
    display: block

.footer__board
  &:after
    background: url(~/img/adv/footer-bg.svg) no-repeat 50%


.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s ease

.fade-enter,
.fade-leave-to
  opacity: 0


@media (max-width: 1024px)
  .apm-simple:after
    left: -100px
  .apm-simple-list
    margin-left: 35px

@media (max-width: 980px)
  .splash__inner
    padding-left: 20px
    padding-right: 20px

  .eco-relations__inner
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 50px

  .eco-relations-faq
    margin: 0

  .eco-rates__inner
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 50px

  .eco-table-container
    margin-top: 60px

  .eco-prom-materials__inner
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 50px

  #first_table
    display: none

  #second_table
    display: block

  .apm-terms__inner
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 20px

  .apm-terms-list
    margin-left: -20px
    margin-right: -20px

  .apm-terms-list__list-item
    padding-left: 20px
    padding-right: 20px

  .apm-adv-capabilities__inner
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 50px

  .apm-simple:after
    left: -300px

  .apm-simple-list
    margin-left: -55px

  .apm-users-list
    display: block

  .apm-users-list__list-item
    display: block
    width: auto
    text-align: left

  .apm-users-list__list-item+.apm-users-list__list-item
    border-left-width: 0
    border-top: 1px solid #e4e4e4

@media (max-width: 767px)
  .advertizer-page
    background-position: 50% -200px
    font-size: 14px

  .splash
    min-height: 1px
    &:after
      height: 482px
      bottom: -10px
      background-size: auto 100%

  .splash__inner
    position: relative
    overflow: hidden
    padding-bottom: 500px

  .splash-content
    font-size: 18px

  .splash-screen
    height: 230px
    bottom: 222px
    width: 367px
    margin-left: -184px

  .advertizer__title
    font-size: 28px
  
  .advertizer__subtitle
    font-size: 30px

  .eco-table-container
    display: none

  .eco-rates-mob
    display: block
    margin-top: 60px

  .rate-mob
    max-width: 300px
    border: 1px solid #cecece
    border-radius: 6px
    padding: 10px
    margin-bottom: 40px
    margin-left: auto
    margin-right: auto
    text-align: center
    & h3
      font-size: 30px
      margin: 20px auto

  .rate-mob__empl,
  .rate-mob__branches
    margin: 0
    font-size: 18px
    
  .rate-mob__branches
    margin-top: 20px

  .rate-mob__price
    margin: 20px auto

  .rate-mob__price_period
    font: $bold 14px $open-sans
    color: #9b9b9b
    text-transform: uppercase
    margin: 0

  .rate-mob__price_text
    font: $bold 24px $open-sans
    color: #000
    margin: 0

  .rate-mob__details
    margin: 20px auto

  .rate-mob__details_title
    cursor: pointer
    font: $normal 16px $open-sans
    color: #9b9b9b
    text-decoration: underline

  .rate-mob__details_list
    font: $normal 16px $open-sans
    list-style-type: disc
    color: #4a4a4a
    text-align: left
    margin: 0
    padding: 20px 15px 0 45px

  .rate-mob__details_item
    padding-left: 15px
    margin-bottom: 20px

  .apm-letsgo__eco
    background: #7ae99c

  .apm-letsgo__inner
    padding: 30px 20px 150px
    min-height: 1px

  .apm-letsgo p
    font-size: 18px

  .apm-letsgo__btn
    bottom: 60px

  .footer__eco
    background: #7ae99c

  .footer__eco:after
    background: none
    height: inherit

  .footer-eco__inner
    padding-left: 20px
    padding-right: 20px

  .apm-terms-content
    font-size: 18px

  .apm-terms-list__list-item
    width: 100%

  .apm-terms-list__title
    font: $bold 15px $open-sans
    margin-bottom: 10px

  .apm-adv-capabilities__inner
    padding-bottom: 0

  .apm-adv-capabilities-content
    font-size: 18px

  .adv-types-list__header
    flex-direction: column

  .apm-adv-types-table__name
    text-align: left
    margin-bottom: 5px

  .apm-adv-types-table__price
    text-align: left
    margin-bottom: 10px

  .apm-adv-types-table__example
    text-align: left

  .example__btn
    max-width: none
    width: 100%

  .apm-simple-content
    font-size: 18px

  .apm-simple__inner
    position: relative
    z-index: 3
    min-height: 1px
    padding: 40px 20px 320px

  .apm-simple:after
    background: url("~/img/adv/simple-bg-small.jpg")
    left: 0
    width: 388px
    height: 301px

  .apm-simple-list
    position: static
    width: auto
    display: block
    height: auto
    margin: 0

  .apm-simple-list__list
    padding-left: 32px
    padding-right: 0
    font-size: 14px

  .apm-users__inner
    padding-left: 20px
    padding-right: 20px

  .apm-users-content
    font-size: 18px

  .apm-users-table__name
    font-size: 14px

  .apm-letsgo__board
    background: #ffd65a

  .apm-letsgo__inner
    padding: 30px 20px 150px
    min-height: 1px

  .footer__board
    background-color: #ffd65a
    &:after
      background: none
      height: inherit

  .footer__inner
    padding-left: 20px
    padding-right: 20px

@media (max-width: 420px)
  .advertizer__subtitle
    font-size: 25px
    
  .switcher__item
    max-width: 150px

  .splash:after
    height: 382px
    bottom: -10px
    background-size: auto 100%
  
  .splash__inner
    position: relative
    overflow: hidden
    padding-bottom: 400px

  .splash-screen
    height: 183px
    bottom: 174px
    width: 292px
    margin-left: -146px


  .apm-simple__inner
    padding-bottom: 300px

  .apm-simple:after
    background: url("~/img/adv/simple-bg-small.jpg")
    left: 50%
    margin-left: -234px
    width: 388px
    height: 301px
