.auth
  position: relative
  background: #fafafa
  margin-top: 55px
  padding-top: 70px
  min-height: calc(100vh - 55px)
  height: calc(100% - 55px)

.auth__paragraph
  font: $normal 16px $open-sans
  color: $color-black
  
.auth__inner
  margin: 0 auto
  padding-bottom: 60px
  text-align: center

.auth-block
  max-width: 320px
  margin: 0 auto 90px
  &.auth-block--small
    margin-bottom: 60px

.auth-item
  margin-bottom: 15px

.auth-link
  color: $color-blue
  text-decoration: underline
  &:hover 
    text-decoration: none

.reg-block
  max-width: 300px
  margin: 0 auto 60px
  &.reg-block--small
    margin-bottom: 60px
  &.reg-block--button
    margin-top: 90px

.reg-item
  margin-bottom: 15px
  &.reg-item--checkbox
    display: flex
    & input[type="checkbox"]
      flex-shrink: 0

.auth__paragraph
  max-width: 700px
  margin: 0 auto 40px

.auth__paragraph--small
  max-width: 500px

.auth__tip
  display: inline-block
  background: #ffecec
  border-radius: 4px
  padding: 15px 30px
  margin: 0 auto 60px
  font: $normal 20px $open-sans
  color: $color-red
  letter-spacing: -0.48px
  &.auth__tip--fixed
    max-width: 630px

.tip__title
  font: $semi-bold 14px $open-sans
  color: $color-red
  letter-spacing: 0
  text-transform: uppercase

.tip__text
  font: $normal 14px $open-sans
  color: $color-black
  letter-spacing: 0

.user-id__block
  margin: 0 auto 60px
  text-align: center

.user-id
  max-width: 200px
  margin: auto
  font-size: 0
  line-height: 33px
  background-color: #fff
  border: 1px solid #979797
  border-radius: 3px
  overflow: hidden

.user-id__label
  float: left
  user-select: none
  width: 40px
  font-size: 24px
  font-weight: 500
  color: #fff
  background-color: #9b9b9b

.user-id__number
  float: right
  width: 158px
  font-size: 24px
  font-weight: 500
  color: #000

.action__block
  margin: 40px auto 70px
  padding: 40px 50px
  max-width: 500px
  text-align: center
  background-color: #fff
  border: 1px solid #d8d8d8
  border-radius: 3px

.action__text
  font: $normal 18px $open-sans
  color: #000
  letter-spacing: -0.43px
  margin: 35px auto

@media (max-width: 1023px)
  .auth
    padding-top: 30px

  .auth__inner
    padding: 0 10px