.board
  position: relative
  padding-top: 55px
  height: 100vh
  

.board__inner
  position: absolute
  top: 0 
  left: 0
  bottom: 0
  right: 0
  background-image: linear-gradient(-180deg, #008ad2 0%, #53a0fe 31%, #1bced4 100%)

.board__inner--welcome
  filter: blur(25px)
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='25')

.welcome__overlay
  position: fixed
  top: 55px
  left: 0
  bottom: 0
  right: 0
  overflow-y: auto
  background: rgba(0, 79, 129, 0.5)

.welcome__inner
  max-width: 760px
  margin: 0 auto
  text-align: center

.welcome__logo
  margin-top: 65px
  color: #fff

.welcome__title
  font: $semi-bold 36px $open-sans
  color: #fff
  text-transform: uppercase
  margin: 50px 0 0

.welcome__paragraph
  font: $normal 24px $open-sans
  color: #fff
  margin-top: 30px

.welcome__link
  color: #F7E941
  font-weight: $semi-bold
  &:hover
    text-decoration: none

.welcome__bttn
  margin: 60px 0

@media (max-width: 1023px)
  .board
    padding-top: 20px

  .welcome__inner
    padding: 0 15px

  .welcome__logo
    margin-top: 40px

  .welcome__title
    font-size: 24px
    margin: 25px 0 0

  .welcome__paragraph
    font-size: 14px
    color: #fff
    margin-top: 25px
    padding: 0 15px

  .welcome__link
    color: #F7E941
    font-weight: $semi-bold
    &:hover
      text-decoration: none

  .welcome__bttn
    margin: 60px 0
