.block-scroll
  overflow: hidden
  width: 100vw

.ecocard
  position: relative
  padding-top: 55px
  min-height: calc(100vh - 55px)
  height: calc(100% - 55px)
  // background-attachment: fixed
  &:before
    z-index: -1
    content: ''
    background-image: linear-gradient(-180deg, #62e7a0 0%, #00d3ff 100%)
    position: fixed
    width: 100%
    height: 100%
  
.ecocard__inner
  min-height: calc(100vh - 55px)
  height: calc(100% - 55px)
  padding-top: 85px
  margin: 0 auto

.ecocard__inner--welcome
  filter: blur(25px)
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='25')

.welcome__overlay--ecocard
  background: rgba(0,127,63,0.70)

.ecocard-header
  position: fixed
  top: 55px
  left: 0
  right: 0
  height: 85px
  background: rgba(192,245,218,0.96)

@media (max-width: 1023px)
  .board
    padding-top: 20px

  .welcom__inner
    padding: 0 15px

  .welcom__logo
    margin-top: 40px

  .welcom__title
    font-size: 24px
    margin: 25px 0 0

  .welcom__paragraph
    font-size: 14px
    color: #fff
    margin-top: 25px
    padding: 0 15px

  .welcom__link
    color: #F7E941
    font-weight: $semi-bold
    &:hover
      text-decoration: none

  .welcom__bttn
    margin: 60px 0
