.info
  display: flex
  position: relative
  background: #fff
  padding-top: 55px
  min-height: 100vh

.info-content
  flex-basis: 75%
  padding: 20px 35px

.info-content__inner
  max-width: 750px

.info-list
  margin: 0
  padding: 0
  list-style-type: decimal
  list-style-position: inside

.info-list__item
  font-weight: $semi-bold
  color: $color-black

.info-video
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

.info-video iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.brand-images
  margin: 60px auto
  text-align: center

.brand-image
  display: block
  max-width: 100%
  height: auto
  margin: 25px auto
  &:last-of-type
    margin-bottom: 40px

@media (max-width: 1023px)
  .info-content
    flex-basis: 100%
    padding: 20px

  .info-content__inner
    max-width: 100%