.landing
  position: relative
  padding-top: 155px
  padding-bottom: 55px
  min-height: calc(100% - 40px)
  background-color: #d1ecff
  background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, #ffffff 100%)
  transition: background-color 1s ease-in

.landing__inner
  max-width: 1024px
  margin: 0 auto
  text-align: center

.landing__links
  margin-bottom: 80px

.landing__links--mobile
  display: none

.landing__bottom-nav
  display: flex
  max-width: 900px
  justify-content: space-around
  margin: 0 auto 70px

.bottom-nav__link
  font: $normal 16px $open-sans
  flex-basis: calc(100% / 3)
  color: #3b6087
  text-decoration: underline
  &:hover
    text-decoration: none

.landing__copy
  font: $normal 10px/15px $open-sans
  color: $color-grey-dark
  opacity: 0.8

.landing__apps
  display: flex
  margin: auto
  align-items: center
  justify-content: center

@media (max-width: 1023px)
  .landing
    padding-top: 55px

  .landing__inner
    padding: 20px 20px 0

  .landing__links--desktop
    display: none

  .landing__links--mobile
    display: block
    max-width: 300px
    margin: 0 auto 55px
    & .bttn:not(:last-of-type)
      margin-bottom: 20px

  .landing__bottom-nav
    flex-direction: column
    margin-bottom: 60px

  .bottom-nav__link
    flex-basis: auto
    font-size: 18px

  .bottom-nav__link:not(:last-of-type)
    margin-bottom: 15px

  .landing__apps
    flex-direction: column