.personal-banners-list
  max-width: 700px

.banners-list__header
  display: flex
  height: 35px
  align-items: center
  position: relative
  padding: 0 15px 0 30px
  background: #d1d1d1
  border-radius: 3px 3px 0 0

.banners-header__text
  font: $normal 14px $open-sans
  color: #4a4a4a
  letter-spacing: -0.35px

.banners-list__name
  flex-basis: 300px
  padding-right: 20px

.banners-list__period
  flex-basis: 110px
  padding-right: 10px

.banners-list__balance
  flex-basis: 110px
  padding-right: 10px

.banners-list__status
  flex-basis: 135px
  padding-right: 20px

.banners-list__items

.banners-list__item
  position: relative
  background: #fff
  border: 1px solid #e7e7e7
  border-radius: 0 0 3px 3px
  &:first-of-type
    border-top: 0
  &:not(:last-of-type)
    border-bottom: 0
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  &.banners-list__item--active
    background: #f5f7fb
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.28)
    z-index: 1
    & + .banners-list__item
      border-top-color: #fff

.banner-item__header
  display: flex
  position: relative
  padding: 15px 15px 15px 30px
  cursor: pointer
  &:before
    content: ''
    position: absolute
    left: 12px
    top: 20px
    width: 0
    height: 0
    border-top: 6px solid transparent
    border-bottom: 6px solid transparent
    border-left: 6px solid #9b9b9b

.banners-list__item--active
  & .banner-item__header:before
    border-top-color: #9b9b9b
    border-left-color: transparent
    border-right: 6px solid transparent
    border-bottom: 0
    left: 9px
    top: 23px

.banner-item__title
  position: relative
  font: $semi-bold 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px
  text-decoration: underline
  margin-bottom: 10px

.banner-item__indicator
  border: 1px solid #9b9b9b
  background: $color-green
  border-radius: 6px
  width: 99px
  height: 5px

.banner-item__date
  font: $normal 15px $open-sans
  color: $color-black
  letter-spacing: -0.38px

.banner-item__amount
  font: $semi-bold 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px

.banner-status
  font: $semi-bold 16px $open-sans
  letter-spacing: -0.4px
  &.banner-status--active
    color: $color-green
  &.banner-status--deactivated
    color: $color-red

.banner-list__delete
  position: absolute
  cursor: pointer
  top: 10px
  right: 10px
  width: 30px
  height: 30px
  border-radius: 3px
  &:active
    background: $color-grey-light
  &:before,
  &:after
    content: ''
    position: absolute
    height: 1px
    width: 20px
    top: 15px
    right: 5px
    background: $color-grey-dark
    transition: background 0.3s ease
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
  &:hover
    &:before,
    &:after
      background: $color-black

.banner-item__body
  margin: 0 15px 0 30px
  padding: 15px 0
  border-top: 1px solid #e4e4e4

.banner-body__info
  display: flex
  width: 100%


.banner-info__left
  flex-basis: 300px
  & .bttn
    margin-bottom: 10px

.banner-info__logo
  margin-bottom: 15px

.banner-logo
  display: block
  max-width: 130px
  height: auto

.banner-info__actions
  list-style-type: none
  padding: 0
  margin-bottom: 15px

.banner-info__action
  display: inline-block
  & + .banner-info__action
    margin-left: 10px
    &:before
      content: '|'
      margin-right: 10px
      color: $color-black

.banner-info__link
  font: $normal 14px $open-sans
  color: $color-blue-bright
  text-decoration: underline
  &:hover
    text-decoration: none

.banner-info__right
  flex-basis: 350px
  font: $normal 14px $open-sans
  color: $color-black

.banner-info__line
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 5px



.banner-body__properties
  margin-bottom: 15px

.banner-properties__title
  font: $normal 16px $open-sans
  color: $color-grey-light
  letter-spacing: -0.4px
  margin-bottom: 10px

.banner-properties__table
  background: #fff
  font: $normal 15px/25px $open-sans
  color: $color-black
  letter-spacing: -0.36px
  border: 1px solid #e7e7e7
  border-radius: 3px
  padding: 5px 0

.properties-table__line
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 0 10px
  &:nth-child(2n)
    background: #f4f4f4
    border-radius: 3px
    margin: 0 5px
    padding: 0 5px

.properties-table__title
  flex-basis: 300px

.properties-table__value
  flex-basis: 350px

.properties-value__plus,
.properties-value__minus
  position: relative

.properties-plus__icon,
.properties-minus__icon
  display: inline-block
  position: absolute
  left: -25px
  top: 5px
  width: 15px
  height: 15px
  background: $color-blue-bright
  border-radius: 50%
  &:before,
  &:after
    content: ''
    position: absolute
    background: #fff
  &:before
    top: 4px
    left: 7px
    width: 1px
    height: 7px
  &:after
    top: 7px
    left: 4px
    width: 7px
    height: 1px

.properties-minus__icon
  background: $color-red
  &:before
    display: none