.personal-eco-detail
  margin: 30px 0 60px

.personal-eco-detail__header
  display: flex
  background: #fff
  border: 1px solid #e7e7e7
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
  border-radius: 3px
  margin-bottom: 20px
  padding: 25px

.p-eco-detail-header__left
  flex-basis: 528px
  padding-right: 10px
  overflow: hidden


.eco-header__label
  font: $normal 14px $open-sans
  color: #9b9b9b
  letter-spacing: -0.35px

.eco-header__title
  font: $semi-bold 24px $open-sans
  color: $color-black
  letter-spacing: -0.6px
  margin-bottom: 20px
  overflow: hidden
  text-overflow: ellipsis

.eco-header__buttons
  & .bttn:not(:last-of-type)
    margin-right: 30px


.p-eco-detail-header__logo
  flex-basis: 120px  

.eco-header-logo__img
  display: block
  max-width: 100%
  height: auto

.personal-eco-detail__info
  background: #fff
  border: 1px solid #e7e7e7
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
  border-radius: 3px
  padding: 0 25px

.eco-detail-info__line
  display: flex
  align-items: center
  height: 45px
  &:not(:last-of-type)
    border-bottom: 1px solid #d8d8d8

.info-line__icon
  display: flex
  color: #9b9b9b
  flex-basis: 40px

.info-line__name
  flex-basis: 170px
  font: $light 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px

.info-line__qnt
  flex-basis: 340px
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px
  &.info-line__qnt--link
    cursor: pointer
    text-decoration: underline
  
.info-line__action
  flex-basis: 170px
  text-align: right

.info-line__link
  font: $normal 14px $open-sans
  color: $color-blue-bright
  letter-spacing: -0.35px
  text-decoration: underline
  &:hover
    text-decoration: none
  
.p-eco-branches__title
  font: $semi-bold 18px $open-sans
  color: #9b9b9b
  letter-spacing: -0.45px
  text-transform: uppercase
  margin-bottom: 20px

.p-eco-branch__preview
  display: flex
  align-items: center
  justify-content: space-between
  background: #fff
  border: 1px solid #e7e7e7
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
  border-radius: 3px
  margin-bottom: 15px
  padding: 0 30px 0 40px
  height: 60px

.p-eco-branch__icon 
  flex-basis: 40px
  display: flex
  &.p-eco-branch__icon--offline
    color: $color-red
  &.p-eco-branch__icon--online
    color: $color-blue-bright
  

.p-eco-branch__name 
  flex-basis: 300px
  font: $semi-bold 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


.p-eco-branch__button 
  flex-basis: 250px


.p-eco-branch__edit 
  color: #5b5b58
  flex-basis: 38px
  text-align: right

@media (max-width: 1023px)
  .p-eco-branch__preview
    position: relative
    flex-direction: column
    height: auto
    align-items: flex-start

  .p-eco-branch__icon
    position: absolute
    left: 15px
    top: 15px

  .p-eco-branch__name
    margin: 12px 0
    flex-basis: auto

  .p-eco-branch__button
    flex-basis: auto
    margin-bottom: 12px

