.empl-table_wrapper
	border: 1px solid #e7e7e7
	border-radius: 4px
	margin-bottom: 50px

.empl-table
	width: 100%
	background: #fff
	border-radius: 3px
	border-spacing: 0
	border-collapse: collapse
	overflow: hidden

.empl-table th
	padding: 5px 0
	line-height: 20px
	background: #d1d1d1
	font: $normal 16px $open-sans
	color: #7a797b
	text-align: left

.empl-table td
	padding: 20px 10px 25px 0
	line-height: 20px
	text-align: left
	border-bottom: 1px solid #e7e7e7
	vertical-align: top

.empl-table tr:last-of-type td
	border-bottom: none

.empl-table .blank-cell
	width: 18px
	border: none

.empl-table_id
  overflow: hidden
  text-overflow: ellipsis
  max-width: 100px
  white-space: nowrap
  font: $light 16px $open-sans
  color: #4a4a4a

.empl-table_branches
	max-width: 150px

.empl-table_check-del
	display: inline-block
	vertical-align: middle
	margin-right: 5px

.empl-table_check-del__hide
	display: none

.empl-table_name
	font: $normal 16px $open-sans
	color: #000

.empl-table_e-mail
	font: $light 16px $open-sans
	color: #4a4a4a

.empl-table_rights
	margin-top: 15px
	max-width: 170px

.checkbox-select-single-branch
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  margin: 0 0 10px 0

.checkbox-select-single-branch_icon
  display: flex
  justify-content: center
  align-items: center
  width: 15px
  margin-right: 10px
  &.checkbox-select-single-branch_icon--online
    color: $color-blue-bright
  &.checkbox-select-single-branch_icon--offline
    color: $color-red

.checkbox-select-single-branch__hide
	display: none

.checkbox-select-single-branch_text
	max-width: 160px

.show-all-branches
	display: inline-block
	margin-top: 5px
	font: $light 16px $open-sans  
	color: $color-blue-bright
	border-bottom: 1px dashed
	cursor: pointer

.assign-branches
	font: $light 16px $open-sans  
	color: $color-blue-bright
	text-decoration: underline

.assign-branches:hover
	text-decoration: none

.assign-branches:visited
	color: $color-blue-bright

// RED CHECKBOX INPUT SELECT
.red-selectbox input
	display: none

.red-selectbox_checkbox
	position: relative
	display: inline-block
	cursor: pointer
	width: 20px
	height: 20px
	border: 1px solid #cecece
	border-radius: 3px
	background-color: #fff
	transition: background-color .4s, border .4s

input:checked + .red-selectbox_checkbox 
	background-color: #cf0021
	border: 1px solid #cf0021

input:checked + .red-selectbox_checkbox:before 
	content: ''
	position: absolute
	top: 1px
	left: 6px
	width: 7px
	height: 14px
	border: solid #fff
	border-width: 0 2px 2px 0
	transform: rotate(45deg)

//SELECT ALL BRANCHES CHECKBOX
.checkbox-select-all-branches_text
	float: left
	margin-left: 5px
	font: $normal 16px $open-sans
	color: $color-black

.checkbox-select-all-branches input
	display: none

.checkbox-select-all-branches_square
	margin-right: 16px
	position: relative
	float: right
	cursor: pointer
	width: 20px
	height: 20px
	border: 1px solid #cecece
	border-radius: 3px
	background-color: #fff
	transition: .4s

input:checked + .checkbox-select-all-branches_square 
	background-color: $color-blue-bright
	border: 1px solid $color-blue-bright

input:checked + .checkbox-select-all-branches_square:before 
	content: ''
	position: absolute
	top: 1px
	left: 6px
	width: 7px
	height: 14px
	border: solid #fff
	border-width: 0 2px 2px 0
	transform: rotate(45deg)

//SELECT SINGLE BRANCH CHECKBOX
.checkbox-select-single-branch_text
	float: left
	font: $light 16px $open-sans
	color: $color-black
	max-width: 165px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

.checkbox-select-single-branch input
	display: none

.checkbox-select-single-branch_square
  position: absolute
  right: 0
  float: right
  cursor: pointer
  width: 20px
  height: 20px
  border: 1px solid #cecece
  border-radius: 3px
  background-color: #fff
  transition: .4s

input:checked + .checkbox-select-single-branch_square:before 
	content: ''
	position: absolute
	top: 1px
	left: 6px
	width: 7px
	height: 14px
	border: solid $color-blue-bright
	border-width: 0 2px 2px 0
	transform: rotate(45deg)