.personal
  display: flex
  position: relative
  background: #fafafa
  padding-top: 55px
  min-height: 100vh

.personal-content
  flex-basis: 75%
  padding: 20px 35px

.personal-content__inner
  max-width: 700px
  padding-bottom: 40px
  &.personal-content__inner--centered
    margin: 0 auto
    text-align: center

.personal-section
  margin: 30px 0
  & .bttn + .bttn
    margin-left: 20px

.personal-section__item
  margin-bottom: 30px

.personal-subtitle--paysera
  position: relative
  &:after
    content: ''
    position: absolute
    background-image: url(/img/paysera-logo.png)
    background-size: 140px 30px
    width: 140px
    height: 30px
    right: 0

.person-status
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 50%
  vertical-align: middle
  &.person-status--register
    border: 1px solid #979797
  &.person-status--activated
    background: $color-yellow
  &.person-status--paysera
    background: $color-green

.personal-info__block
  display: inline-flex
  max-width: 520px
  justify-content: space-around
  align-items: flex-end
  flex-wrap: wrap
  text-align: center
  background: #fff
  border: 1px solid #e7e7e7
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
  border-radius: 3px
  padding: 20px 20px
  &.personal-info__block--bill
    & .personal-info__item
      min-width: 180px
      & .info-item__title
        color: $color-grey-dark
      & .info-item__value
        font-size: 30px
        font-weight: $semi-bold
      & + .personal-info__item:before
        position: absolute
        content: ''
        background: #e7e7e7
        width: 2px
        top: 0
        bottom: 0
        left: -1px


.personal-info__item
  display: flex
  position: relative
  flex-flow: column
  align-items: center
  justify-content: space-around
  padding: 20px

.info-item__img

.info-item__title
  font: $normal 16px $open-sans
  color: $color-grey-light

.info-item__value
  font: $bold 36px $open-sans
  color: $color-black
  letter-spacing: -0.9px

.personal-form

.personal-form__section
  margin: 30px 0
  max-width: 600px
  column-count: 2
  column-gap: 80px
  column-width: 260px
  &.personal-form__section--buttons
    column-count: auto
    column-gap: 0
    column-width: auto
    & .bttn:not(:last-of-type)
      margin-right: 30px
      margin-top: 30px
    & .info-paragraph
      margin: 5px 0

.personal-form__item
  position: relative
  break-inside: avoid
  padding-bottom: 15px
  &.personal-form__item--checkbox
    display: flex
    padding-bottom: 25px
    & .checkbox
      flex-shrink: 0

.personal__block-img
  display: block
  margin-top: 10px

.interests-form

.interests-form__section
  margin: 45px 0

.interests-form__item
  max-width: 260px
  padding-bottom: 15px

.personal-nav
  display: flex
  justify-content: space-between
  align-items: center
  margin: 25px 0

.personal-nav__left
  display: flex
  align-items: center

.personal-nav__link
  display: flex
  align-items: center
  text-decoration: none
  & + .personal-nav__link
    margin-left: 20px
  &:hover .personal-nav-link__text
    text-decoration: none


.personal-nav-link__text
  font: $normal 16px $open-sans
  color: $color-black
  text-decoration: underline

.personal-nav-link__icon
  display: flex
  color: #5b5b58
  & + .personal-nav-link__text
    margin-left: 10px

.personal-nav-link__icon--delete
  &.personal-nav-link__icon--active
    color: $color-red

.personal-nav__right
  display: flex
  align-items: center
  & .bttn:not(:last-of-type)
    margin-right: 20px

.nav-filter
  list-style-type: none
  margin: 0
  padding: 0

.nav-filter__item
  display: inline-block

.nav-filter__link
  display: block
  font: $normal 16px $open-sans
  color: $color-black
  padding: 5px 10px 7px
  border-radius: 3px
  &:hover
    text-decoration: none
  &.nav-filter__link--active
    background: #e7e7e7
    text-decoration: none

.avatar-edit
  margin: 20px 0

.avatar-upload

.avatar-upload__label
  display: block
  position: relative
  border-radius: 50%
  &:after
    display: none
    content: attr(data-placeholder)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0,0,0,0.61)
    font: $semi-bold 15px $open-sans
    color: #fff
    justify-content: center
    align-items: center
  &:hover:after
    display: flex

.avatar-upload__img
  width: 116px
  height: 116px 
  display: block

.avatar-edit__img
  max-width: 100%


@media (max-width: 1023px)
  .personal
    display: block
    
  .personal-content
    flex-basis: 100%
    padding: 20px

  .personal-content__inner
    max-width: 100%
  
  .personal-form__section
    &.personal-form__section--buttons
      max-width: initial
      & .bttn:first-of-type
        margin-bottom: 30px
        margin-right: 0



@media (max-width: 767px)
  .personal-form__section
    max-width: initial
    column-count: 1
    column-gap: 0

  .personal-info__block
    display: flex
    max-width: initial
    flex-direction: column
    justify-content: center
    align-items: center
    &.personal-info__block--bill
      & .personal-info__item
        width: 100%
        & + .personal-info__item:before
          width: 100%
          height: 2px
          top: 0

  .personal-subtitle--paysera
    margin-bottom: 80px
    &:after
      content: ''
      position: absolute
      background-image: url(/img/paysera-logo.png)
      background-size: 178px 38px
      width: 178px
      height: 38px
      left: 0
      top: 40px