.banner-archive__list

.banner-archive__item
  margin-bottom: 10px

.banner-archive__header
  margin-bottom: 15px

.banner-archive__date
  font: $semi-bold 16px $open-sans
  color: $color-grey-dark
  margin-right: 10px

.banner-archive__views
  font: $normal 16px $open-sans
  color: $color-grey-dark
  cursor: pointer
  border-bottom: 1px dashed $color-grey-dark

.banner-archive__banners
  margin-bottom: 15px
  &:last-of-type
    margin-bottom: 35px

.banner-archive__link
  display: block

.banner-archive__image
  display: block
  width: 100%