.add-banner
  text-align: center
  padding: 60px 0 60px

.add-banner__title
  font: $semi-bold 28px $open-sans
  color: $color-black
  letter-spacing: -0.68px
  margin-bottom: 20px

.add-banner__paragraph
  font: $light 16px $open-sans
  letter-spacing: -0.39px
  margin-bottom: 50px

.input--add-banner
  max-width: 390px
  margin: 0 auto 50px
  text-align: center
  height: 43px
  line-height: 43px

.bttn--banner
  box-shadow: none
  min-width: 200px
  margin-bottom: 70px

.add-banner__canva
  background: #fff
  border: 1px solid #e7e7e7
  border-radius: 3px
  max-width: 500px
  margin: 0 auto
  padding: 30px 10px 50px

.canva__title
  font: $normal 20px $open-sans
  color: $color-black
  letter-spacing: -0.48px
  margin-bottom: 30px

.canva__paragraph
  font: $light 16px $open-sans
  color: $color-grey-dark
  max-width: 400px
  letter-spacing: -0.39px
  margin: 0 auto 20px
  &:last-of-type
    margin-bottom: 40px

.canva__bttns
  max-width: 300px
  margin: 0 auto 20px
  & .bttn--canva
    margin-bottom: 20px

.bttn--canva
  font-size: 16px
  letter-spacing: -0.33px
  width: 100%

.canva-btn__text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 276px

.canva__logo
  display: block
  max-width: 65px
  height: auto
  margin: 0 auto

.banner-options
  margin: 40px auto 110px
  width: 640px
  &.banner-options--upload
    margin-bottom: 60px
  &.banner-options--payment

.banner-options__group
  display: flex
  justify-content: space-between
  & + &
    margin-top: 40px
    margin-bottom: 40px

.banner-options__item
  display: flex
  width: 300px
  & input[type=radio]
    display: none

.banner-options__label
  display: inline-block
  position: relative
  width: 100%
  height: 370px
  padding: 20px 55px 0
  background: #ffffff
  border: 1px solid #e7e7e7
  border-radius: 3px
  text-align: center
  cursor: pointer
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.07)

.banner-options__label--banner
  height: 300px

.banner-options__label--payment
  height: 340px
  padding: 20px 40px
  
input[type=radio] + .banner-options__label:hover,
input[type=radio]:checked + .banner-options__label
  border-color: $color-blue-bright

.banner-label__check
  display: inline-block
  position: relative
  width: 22px
  height: 22px
  border: 1px solid #c7c7c7
  border-radius: 50%
  background: transparent
  margin-bottom: 15px

.banner-options__label--banner .banner-label__check
  margin-bottom: 0

input[type=radio] + .banner-options__label:hover .banner-label__check
  border-color: $color-blue-bright

input[type=radio]:checked + .banner-options__label .banner-label__check
  background: $color-blue-bright
  border-color: $color-blue-bright
  &:after
    content: ''
    position: absolute
    top: 3px
    left: 8px
    width: 5px
    height: 11px
    border: solid #fff
    border-width: 0 1px 1px 0
    transform: rotate(45deg)

.banner-label__logo
  margin: 0 auto

.banner-label__logo--apm
  display: block
  width: 120px
  
.banner-label__logo--paysera
  display: block
  width: 190px
  height: 40px
  margin: 40px auto

.banner-label__title
  font: $light 24px/120% $open-sans
  color: #7a797b
  margin-bottom: 30px
.banner-options__label--banner .banner-label__title
  margin-bottom: 0
  margin-top: 15px

.banner-label__icon
  display: inline-block
  color: #4a4a4a
  margin-bottom: 20px
.banner-options__label--banner .banner-label__icon
  margin-bottom: 0

input[type=radio] + .banner-options__label:hover,
input[type=radio]:checked + .banner-options__label
  & .banner-label__icon
    color: $color-blue-bright

.banner-stand__icon,
.banner-prem__icon
  display: inline-block
  fill: transparent
  stroke: #4a4a4a
  margin-top: 10px
input[type=radio] + .banner-options__label:hover .banner-stand__icon,
input[type=radio]:checked + .banner-options__label .banner-stand__icon,
input[type=radio] + .banner-options__label:hover .banner-prem__icon,
input[type=radio]:checked + .banner-options__label .banner-prem__icon
  fill: $color-blue-bright
  stroke: #fff

.banner-label__size
  font: $bold 24px $open-sans
  color: $color-grey-dark
  margin-top: 10px

.banner-label__description
  font: $light 16px $open-sans
  color: #7a797b

.banner-label__price
  font: $normal 36px $open-sans
  color: $color-black
  margin-top: 25px

.banner-upload
  margin: 0 auto 70px

.banner-upload__img
  font-size: 0
  position: relative
  margin-bottom: 20px

.banner-upload__label
  position: relative
  display: inline-block

.banner-img__stand
  &.banner-img__stand--uploaded
    width: 425px
    height: 200px
    margin-bottom: 5px

.banner-img__prem
  &.banner-img__prem--uploaded
    width: 425px
    height: 425px
    margin-bottom: 5px


.upload-banner__bttn
  display: inline-block
  max-width: 280px
  font: $normal 16px $open-sans
  border-radius: 3px
  cursor: pointer
  white-space: nowrap
  text-decoration: none
  text-align: center
  transition: background 0.3s ease
  background: #7a797b
  color: #fff
  width: 100%
  line-height: 32px
  height: 34px
  &:hover
    background: darken(#7a797b, 5%)

.banner-card
  margin: 0 auto
  padding: 30px 74px 60px 72px
  max-width: 450px
  border: 1px solid #e7e7e7
  border-radius: 3px
  background-color: #fff
  margin-bottom: 60px
  &.banner-card--functions
    padding: 35px

.banner-card__title
  text-align: center
  font: $semi-bold 20px $open-sans
  color: #000
  margin-bottom: 40px

.banner-card__item
  margin-bottom: 15px

.banner-card__item--params + .banner-card__item--params
  margin-top: 40px

.cust-select-list__item--banner
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 30px

.checkbox-banner__text
  font: $normal 14px/20px $open-sans
  color: $color-grey-dark
  text-align: left

.checkbox-banner__buttons
  display: flex
  align-items: center


.banner-button__plus
  display: inline-block
  position: relative
  cursor: pointer
  width: 20px
  height: 20px
  border: 1px solid $color-grey-light
  border-radius: 50%
  margin-right: 10px
  &:before,
  &:after
    content: ''
    position: absolute
    background: $color-grey-dark
  &:before
    top: 3px
    left: 50%
    width: 2px
    height: 12px
    transform: translateX(-50%)
  &:after
    top: 50%
    left: 3px
    width: 12px
    height: 2px
    transform: translateY(-50%)
  &:hover
    border-color: $color-blue-bright
    &:before,
    &:after
      background: $color-blue-bright
  
.banner-button__minus
  display: inline-block
  position: relative
  cursor: pointer
  width: 20px
  height: 20px
  border: 1px solid $color-grey-light
  border-radius: 50%
  &:after
    content: ''
    position: absolute
    background: $color-grey-dark
    top: 50%
    left: 3px
    width: 12px
    height: 2px
    transform: translateY(-50%)
  &:hover
    border-color: $color-red
    &:after
      background: $color-red

.banner-tags__block
  position: relative
  text-align: left
  background: #fff
  border: 1px solid #c8c7cc
  border-radius: 3px 3px 0 0
  border-bottom: none
  padding: 7px 0 7px 7px
  padding-bottom: 2px

.banner-tags__list
  list-style-type: none
  padding: 0
  margin: 0

.banner-tag
  cursor: default
  position: relative
  font: $normal 14px/15px $open-sans
  display: inline-block
  border-radius: 3px
  margin-bottom: 4px
  margin-right: 7px
  padding: 5px 30px 5px 7px

.banner-tag--plus
  background: #d9eafd

.banner-tag--minus
  background: #ffd8dd

.banner-tag__delete
  position: absolute
  cursor: pointer
  top: 0
  border: none
  background: none
  padding: 0
  margin: 0
  right: 9px
  color: #7a797b
  font: 20px/25px Times New Roman, serif

.banner-functions

.banner-functions__item
  margin-bottom: 20px

.banner-function__head
  position: relative
  display: flex
  cursor: pointer
  user-select: none
  align-items: center
  justify-content: space-between
  padding-left: 42px
  margin-bottom: 10px
  min-height: 25px


.banner-func__name
  font: $light 20px $open-sans
  color: $color-grey-medium

.banner-func__price
  font: $bold 20px $open-sans
  color: $color-black
  transition: all 0.3s ease
  &.banner-func__price--checked
    color: $color-blue-bright

.banner-func__check
  display: inline-block
  position: absolute
  left: 0
  width: 22px
  height: 22px
  border: 1px solid #c7c7c7
  border-radius: 50%
  background: transparent
  transition: all 0.3s ease

.banner-function__body
  margin: 0 50px 0 42px
  text-align: left

.banner-func__text
  font: $normal 16px $open-sans
  color: $color-black
  line-height: 1.4
  margin: 16px 0

.input--banner
  height: auto
  resize: none

.input--centered
  text-align: center

.banner-options__label--banner .banner-func__check
  margin-bottom: 0

.banner-function__head:hover .banner-func__check
  border-color: $color-blue-bright
.banner-func__check.banner-func__check--checked
  background: $color-blue-bright
  border-color: $color-blue-bright
  &:after
    content: ''
    position: absolute
    top: 3px
    left: 8px
    width: 5px
    height: 11px
    border: solid #fff
    border-width: 0 1px 1px 0
    transform: rotate(45deg)

.set-period__block
  display: flex
  align-items: center
  justify-content: space-between

.mx-input-append
  display: none !important

.banner-checkbox__block
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 30px
  & .label--checkbox
    font-size: 16px
    line-height: 1
    margin-bottom: 0

.add-banner__warning
  color: red
  margin-bottom: 60px

.add-banner__complete
  margin: 60px auto

.banner-complete__img
  display: block
  max-width: 200px
  height: auto
  margin: 0 auto 60px