.ecocard-subscribe__block
  width: 650px
  background: #fff
  border: 1px solid #e7e7e7
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.07)
  border-radius: 3px
  padding: 55px 95px

.subscribe-block__paragraph
  font: $light 16px $open-sans
  color: $color-grey-dark
  letter-spacing: -0.41px
  margin-bottom: 20px

.subscribe-block__inner
  border: 1px solid #cecece
  border-radius: 4px
  padding: 20px 60px 40px
  & + .subscribe-block__inner
    margin-top: 45px

.subcribe-inner__title
  font: $semi-bold 18px $open-sans
  color: $color-black
  margin-bottom: 20px

.subscribe-inner__paragraph
  font: $light 16px $open-sans
  color: $color-grey-dark
  letter-spacing: -0.41px
  margin-bottom: 40px

.subscribe-inner__buttons
  display: flex
  align-items: center
  justify-content: space-between
  & .bttn
    min-width: 140px
.subscribe-buttons__item
  max-width: 180px

.subscribe-buttons__price
  font: $semi-bold 36px $open-sans
  line-height: 35px
  color: $color-grey-dark
  margin-bottom: 0

.subscribe-buttons__term
  font: $semi-bold 13px $open-sans
  color: $color-grey-dark
  margin-bottom: 20px