.create-prog__tabs
  display: block
  margin: 35px auto
  padding: 0
  text-align: center

.create-prog__item
  list-style-type: none
  display: inline-block
  margin: 0 20px

.create-prog__btn
  display: inline-block
  cursor: pointer
  user-select: none
  width: 130px
  height: 40px
  font: $semi-bold 24px $open-sans
  line-height: 38px
  border-radius: 6px
  border: 1px solid #4a4a4a
  background: #fff
  color: #000
  transition: all 0.3s ease
  &:hover
    border-color: $color-blue-bright

.is-active .create-prog__btn
  background: $color-blue-bright
  border-color: $color-blue-bright
  color: #fff

.tabs-details

.prog-detail-card__block
	display: inline-block
	margin: 0
	min-width: 280px
	text-align: center

.prog-detail-card
	margin-bottom: 10px
	padding: 20px
	width: 100%
	border: 1px solid #cecece
	border-radius: 6px

.prog-detail-card__detail
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 10px

.prog-detail-card__detail_last
	margin-bottom: 15px

.prog-detail-card__detail_last:after
	content: ''
	position: absolute
	background: #d8d8d8
	height: 1px
	bottom: -15px
	left: -20px
	right: -20px

.prog-detail-card__detail span
	font: $normal 16px $open-sans
	color: #000

.prog-detail-card__detail b
	font: $semi-bold 16px $open-sans
	color: #000
	margin-left: 15px

.prog-detail-card__price
	font-size: 0
	display: flex
	justify-content: space-evenly

.prog-detail-card__price_l,
.prog-detail-card__price_r
	display: inline-block
	width: 109px

.prog-detail-card__price_name
	font: $semi-bold 14px $open-sans
	color: $color-blue-bright
	text-transform: uppercase
	margin-top: 15px

.prog-detail-card__price_num
	font: $bold 24px $open-sans
	color: #000
	margin: 0

.prog-detail-link
	text-decoration: underline
	font: $light 14px $open-sans
	color: $color-blue-bright
	margin: 15px auto 0
	&:hover
		text-decoration: none

.ecocard-create__card
  display: block
  position: relative
  text-align: center
  margin: 0 auto
  max-width: 650px
  border: 1px solid #e7e7e7
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.07)
  border-radius: 3px
  background: #fff
  margin-bottom: 60px
  padding: 65px 0

.ecocard-create__card--branches
  border-top-left-radius: 0
  border-top-right-radius: 0
  margin-top: 50px

.eco-create-card__field
  position: relative
  margin: 0 auto 20px
  max-width: 300px
  &.eco-create-card__field--map
    max-width: none

.eco-create-card__item

.program-logo
  position: relative
  display: inline-block
  margin: 0 auto 10px
  max-width: 300px
  white-space: nowrap
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em


.delete-img__bttn
	position: absolute
	width: 27px
	height: 27px
	border-radius: 50%
	top: -13px
	right: -13px
	border: none
	background: black
	color: white
	cursor: pointer
	&:after, &:before
		content: ""
		position: absolute
		width: 2px
		height: 20px
		top: 4px
		left: 13px
		background-color: white
	&:after
		transform: rotate(45deg)
	&:before
		transform: rotate(-45deg)

.delete-img__bttn--small
	width: 20px
	height: 20px
	position: absolute
	top: -5px
	right: -5px
	&:after, &:before 
		content: ""
		position: absolute
		width: 2px
		height: 14px
		top: 3px
		left: 9px
		background-color: white
	&:after 
		transform: rotate(45deg)
	&:before 
		transform: rotate(-45deg)



.logo__img
    display: inline-block
    max-width: 100%
    max-height: 100%
    vertical-align: middle

.upload-logo__bttn
  display: inline-block
  font: $normal 14px $open-sans
  border-radius: 3px
  cursor: pointer
  white-space: nowrap
  text-decoration: none
  text-align: center
  transition: background 0.3s ease
  border: 1px solid #c8c7cc
  background: #ececec
  color: $color-grey-medium
  width: 100%
  line-height: 32px
  height: 34px
  &:hover
    background: darken(#ececec, 5%)

.soc-media__list
	margin: 0
	padding: 0
	list-style-type: none

.soc-media__item
	position: relative
	margin-bottom: 10px
	&:last-of-type
		margin-bottom: 0
	&:before
		content: ""
		position: absolute
		top: 50%
		left: -45px

.soc-media__item_fb:before
	width: 26px
	height: 27px
	background: url(/img/input-fb.svg)
	margin-top: -14px

.soc-media__item_in:before
	width: 26px
	height: 27px
	background: url(/img/input-in.svg)
	margin-top: -14px

.soc-media__item_tw:before
	width: 26px
	height: 26px
	background: url(/img/input-tw.svg)
	margin-top: -13px

.soc-media__item_vk:before
	width: 26px
	height: 26px
	background: url(/img/input-vk.svg)
	margin-top: -13px

.soc-media__item_yt:before
	width: 27px
	height: 26px
	background: url(/img/input-yt.svg)
	margin-top: -13px

.add-field
  float: right
  text-decoration: underline
  color: $color-blue-bright
  font: $light 14px $open-sans
  &:hover
    text-decoration: none


.branch-tabs
	font: $semi-bold 16px $open-sans
	color: #000
	user-select: none
	cursor: pointer

.branch-tab
	display: inline-flex
	justify-content: center
	align-items: center
	position: absolute
	width: 325px
	height: 29px
	line-height: 30px
	z-index: 1
	& .branch-tab__icon
		color: #9b9b9b

.branch-tab__icon
  margin-right: 10px

.branch-tab--online
	color: #7a797b
	border: 1px solid #e7e7e7
	border-bottom: none
	border-right: none
	border-top-left-radius: 6px
	background: #e7e7e7
	top: -28px
	left: 5px
	width: 322px
	height: 28px
	
.branch-tab--online.--active
	color: #000
	border: 1px solid #e7e7e7
	border-bottom: none
	border-top-left-radius: 6px
	border-top-right-radius: 6px
	background: #fff
	top: -30px
	left: -1px
	width: 325px
	height: 30px
	z-index: 2
	& .branch-tab__icon
		color: $color-blue-bright

.branch-tab--offline
	color: #7a797b
	border: 1px solid #e7e7e7
	border-bottom: none
	border-left: none
	border-top-right-radius: 6px
	background: #e7e7e7
	top: -28px
	right: 5px
	width: 322px
	height: 28px

.branch-tab--offline.--active
	color: #000
	border: 1px solid #e7e7e7
	border-bottom: none
	border-top-left-radius: 6px
	border-top-right-radius: 6px
	background: #fff
	top: -30px
	right: -1px
	width: 325px
	height: 30px
	z-index: 2
	& .branch-tab__icon
    color: $color-red

.upload-photo_list
	font-size: 0
	list-style-type: none
	text-align: left
	margin: 10px 0
	padding: 0

.upload-photo_item
	position: relative
	display: inline-block
	text-align: center
	margin: 0 10px 10px 0
	max-width: 145px
	width: 100%
	height: 75px
	white-space: nowrap
	&:nth-child(even)
		margin-right: 0
	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		margin-right: -0.25em

.upload-photo_img
	display: inline-block
	width: 100%
	height: 100%
	object-fit: cover
	border-radius: 5px
	vertical-align: middle

@media (max-width: 767px)
  .create-prog__item
    margin: 0
    &:first-of-type
      & .create-prog__btn
        border-radius: 3px 0 0 3px
        border-right: none
        border-left: 1px solid #4a4a4a
      &.is-active .create-prog__btn
        border-color: $color-blue-bright
    &:last-of-type
      & .create-prog__btn
        border-radius: 0 3px 3px 0
        border-left: none
        border-right: 1px solid #4a4a4a
      &.is-active .create-prog__btn
        border-color: $color-blue-bright


  .create-prog__btn
    border-left: none
    border-right: none
    border-radius: 0
    width: auto
    padding: 0 10px

  .ecocard-create__card
    border: none
    box-shadow: none
    background: none
    padding: 0
    &.ecocard-create__card--branches
      border: 1px solid #e7e7e7
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.07)
      background: #fff

  .branch-tab,
  .branch-tab--online,
  .branch-tab--online.--active,
  .branch-tab--offline,
  .branch-tab--offline.--active
    width: 50%

  .branch__offline,
  .branch__online
    padding: 15px

  .soc-media__list
    padding-left: 35px

  .soc-media__item:before
    left: -35px

  .prog-detail-card__block
    min-width: auto