.personal-ecocard-block
  position: relative
  display: block
  background: #ffffff
  border: 1px solid #e7e7e7
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
  border-radius: 3px
  margin-bottom: 40px
  overflow: hidden
  &.personal-ecocard-block--expired
    border-color: $color-red

.personal-ecocard-block__expired
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.82)
  border-radius: 3px
  z-index: 2
  & .bttn
    margin-bottom: 20px
  &:last-of-type
    margin-bottom: 0

.expired-ecocard__name
  font: $semi-bold 24px $open-sans
  color: #fff
  margin-bottom: 40px

.expired-ecocard__message
  font: $semi-bold 16px $open-sans
  color: #fff
  margin-bottom: 40px

.expired-ecocard__buttons


.personal-ecocard-block__header
  display: flex
  height: 50px
  justify-content: space-between
  align-items: center
  padding: 0 20px

.personal-ecocard-header__id,
.personal-ecocard-header__rate
  display: flex
  align-items: center

.header-id__circle
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 50%
  margin-right: 10px
  &.header-id__circle--green
    background: $color-green
  &.header-id__circle--grey
    background: #cecece
  &.header-id__circle--red
    background: $color-red

.header-id__name
  font: $semi-bold 16px $open-sans
  color: #9b9b9b
  letter-spacing: -0.4px
  margin-right: 5px

.header-id__id
  font: $normal 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px

.header-rate__type
  display: inline-block
  user-select: none
  line-height: 20px
  color: #979797
  padding: 0 5px
  border: 1px solid #979797
  border-radius: 3px
  &.header-rate__type--test
    border-radius: 3px 0 0 3px
    border-right: none

.header-rate__test
  display: inline-block
  line-height: 20px
  color: #fff
  background-color: $color-green
  padding: 0 5px
  border: 1px solid $color-green
  border-radius: 0 3px 3px 0

.header-rate__period
  font: $normal 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px
  margin-left: 10px

.header-rate__status
  color: #9b9b9b

.header-rate__pay
  font: $normal 16px $open-sans
  color: $color-red
  text-decoration: underline
  margin-left: 10px
  &:hover
    text-decoration: none

.personal-ecocard-block__body
  display: flex
  padding: 15px 20px 30px

.personal-ecocard-body__logo
  flex-basis: 170px
  flex-shrink: 0
  margin-right: 20px

.personal-ecocard-logo__img
  display: block
  max-width: 100%
  height: auto

.ecocard-info__title
  display: flex
  align-items: flex-start
  margin-top: -10px
  margin-bottom: 10px
  margin-right: 10px

.personal-ecocard-title
  font: $semi-bold 24px $open-sans
  color: $color-black
  cursor: pointer
  max-width: 360px
  overflow: hidden
  text-overflow: ellipsis

.ecocard-info__rating
  margin-top: 5px

.ecocard-info__branches
  display: flex
  margin-bottom: 25px

.info-branches__offline,
.info-branches__online,
.info-branches__total,
.info-branches__subscribers
  display: flex
  align-items: center
  margin-right: 20px

.info-branches__icon
  margin-right: 10px

.info-branches__offline
  color: $color-red

.info-branches__online
  color: $color-blue-bright

.info-branches__link
  font: $light 16px $open-sans
  color: #4a4a4a
  letter-spacing: -0.4px
  text-decoration: underline
  &:hover
    text-decoration: none

.info-branches__total,
.info-branches__subscribers
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px

.ecocard-info__tags
  margin-bottom: 15px

.info-tags__list
  list-style-type: none
  padding: 0
  margin: 0

.info-tags__item
  display: inline-block
  font: $light 14px $open-sans
  color: #4a4a4a
  background-color: #e7e7e7
  border-radius: 10px
  padding: 1px 10px 3px 10px
  margin-right: 5px
  margin-bottom: 5px
  line-height: 19px
  max-width: 200px
  text-overflow: ellipsis
  overflow: hidden

.ecocard-info__description
  font: $light 16px $open-sans
  color: #4a4a4a
  margin-bottom: 30px

.ecocard-info__buttons .bttn
  margin-right: 20px
  &:last-of-type
    margin-right: 0