.promo
  position: relative
  margin-top: 55px
  min-height: calc(100vh - 95px)
  height: calc(100% - 95px)
  
.promo__block
  background-image: linear-gradient( #f6f6f6 0, #ffffff 300px)

.promo-block__inner
  max-width: 900px
  margin: 0 auto
  text-align: center
  padding: 60px 0 0

.promo__logo
  margin-bottom: 60px

.promo__title
  font: $semi-bold 36px $open-sans
  color: #000
  margin-bottom: 10px

.promo__paragraph
  font: $normal 24px $open-sans
  color: #000
  margin-bottom: 60px

.promo__text
  display: block
  font: $normal 64px $open-sans
  background: linear-gradient(90deg, #0293F7, #1FDFC7)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  margin: 0 auto 60px
  &.promo__text--ecocard
    background: linear-gradient(90deg, #00B961 0%, #36F800 87%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &.promo__text--anonymity
    background: linear-gradient(180deg, #FBDA61 0%, #F76B1C 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.promo__media
  margin: 0 -15px 40px

.promo__picture
  display: block
  margin: 0 auto
  max-width: 100%
  height: auto

.promo__steps
  display: flex
  align-items: baseline
  margin-bottom: 40px

.promo-step
  flex-basis: 33%
  margin: 0 15px

.promo-step__img
  display: block
  max-width: 100%
  height: auto
  margin-bottom: 25px

.promo-step__title
  font: $semi-bold 24px $open-sans
  color: #000
  text-align: left
  margin-bottom: 25px


.promo-step__paragraph
  font: $normal 18px $open-sans
  color: #4a4a4a
  text-align: left

.promo__links
  font-size: 0
  margin-bottom: 60px
  & .bttn
    margin-right: 40px
  & .bttn:last-of-type
    margin-right: 0

.promo__copy
  font: $normal 10px/15px $open-sans
  color: $color-grey-dark
  opacity: 0.8
  margin: 20px auto

.promo__info
  display: flex
  justify-content: space-around
  margin-bottom: 40px

.promo-info__title,
.promo-info__main
  flex-basis: 50%
  text-align: left

.promo-info__title
  margin-right: 40px
  font: $bold 24px $open-sans
  color: #000

.promo-info__main
  font: $normal 18px $open-sans
  color: #000

@media (max-width: 1023px)
  .promo__block
    padding: 0 15px

  .promo__steps
    flex-direction: column

  .promo-step
    margin-bottom: 30px

  .promo-step__img
    margin-bottom: 5px

  .promo-step__title
    margin-bottom: 10px

  .promo-step__paragraph
    font-size: 16px
  

@media (max-width: 767px)
  .promo-block__inner
    padding-top: 40px

  .promo__logo
    margin-bottom: 25px

  .promo__title
    margin-bottom: 35px

  .promo__paragraph
    font-size: 20px

  .promo__text
    font-size: 38px

  .promo__info
    flex-direction: column

  .promo-info__title
    margin-right: 0
    margin-bottom: 20px
  
  .promo__links
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    & .bttn:first-of-type
      margin-right: 0
      margin-bottom: 20px