.profile
  position: relative
  padding-top: 100px
  padding-bottom: 15px
  background-image: linear-gradient(#d1ecff 0%, #d9f9ff 58%, #ffffff 84%)

.profile__inner
  max-width: 940px
  margin: 0 auto
  text-align: center

.profile__header
  margin-bottom: 45px

.profile__copy
  font: $normal 10px/15px $open-sans
  color: $color-grey-dark
  opacity: 0.8

@media (max-width: 1023px)
  .profile
    padding-bottom: 40px
    padding-top: 0

  .profile__inner
    padding: 0 20px

  .profile__header
    margin-bottom: 0

  .profile__copy
    margin-top: 20px