.tech
  max-width: 1024px
  margin: 55px auto
  padding: 20px
  text-align: left
  & .bttn + .bttn
    margin-left: 20px

.tech__title
  font: $semi-bold 24px $open-sans
  color: $color-grey-dark
  text-align: center
  margin: 50px 0

.tech-form__item
  display: block
  width: 300px
  margin-bottom: 20px

.tech__item
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: row
  position: relative
  margin: 20px
  & svg
    flex-shrink: 0

.tech-item__name
  margin-left: 10px
  font: $normal 14px $open-sans
  color: $color-black

.tech-item__code
  font-size: 14px
  margin-left: 10px

.white-svg
  padding: 10px
  background: #0076ff
  border-radius: 5px

.icons-group
  display: inline-flex
  flex-direction: column
  border-radius: 3px
  border: 1px solid $color-grey-light
  margin-left: 20px

.icons-group__name
  font: $normal 14px $open-sans
  color: $color-grey-medium
  margin-left: 20px
  margin-bottom: 10px
  margin-top: 40px