<template>
  <div :class="[{ 'advertizer-page--board' : advertizerTab === 'advertizer-board', 'advertizer-page--eco': advertizerTab === 'advertizer-ecocard'},'advertizer-page']">
    <h1 class="advertizer__title">Рекламодателям</h1>
    <div class="advertizer-switcher">
      <div @click="activeEcocard" :class="[{ 'switcher__item--active' : advertizerTab === 'advertizer-ecocard'},'switcher__item switcher__item--eco']">APMecocard</div>
      <div @click="activeBoard" :class="[{ 'switcher__item--active' : advertizerTab === 'advertizer-board'},'switcher__item switcher__item--board']">APMboard</div>
    </div>
    <transition mode="out-in" name="fade"><component :is="advertizerTab"></component></transition>
  </div>
</template>

<script>
  import AdvertizerEcocard from '../app/AdvertizerEcocard.vue';
  import AdvertizerBoard from '../app/AdvertizerBoard.vue';

  export default {
    name: 'AdvertizerPage',
    components: {
      'advertizer-ecocard': AdvertizerEcocard,
      'advertizer-board': AdvertizerBoard
    },
    created() {},
    data() {
      return {
        advertizerTab: 'advertizer-ecocard',
      }
    },
    methods: {
      activeEcocard() {
        this.advertizerTab = 'advertizer-ecocard'
      },
      activeBoard() {
        this.advertizerTab = 'advertizer-board'
      },
    },
    computed: {

    }
  }
</script>