<template>
  <div class="board">
    <div class="board__inner" :class="{'board__inner--welcome': this.first}">
      <div class="board__main" id="advMainBody">
        <div :class="[{'advert-block--banner-hover': hoverBanner},'advert-block']" v-for="(banners,index) in bannerBlocks" :key="index">
          <div @click="banner.additional ? showAdditional(banner.additional) : false" @mouseenter="banner.additional ? hoverBanner = true : hoverBanner = false"
            @mouseleave="hoverBanner = false" v-for="(banner, index) in banners" :key="index" class="advert" :class="{'--premium': banner.premium, '--base': !banner.premium, 'advert--action': banner.additional }">
            <img :src="banner.img" class="advert__img" alt="">
            <a v-if="banner.additional.type == 'link'" :href="banner.additional.data" target="_blank" class="advert__link"></a>
            <div v-if="banner.additional.type == 'card' && banner.additional.show" v-html="banner.additional.data" class="advert__card"></div>
            <span v-if="banner.eco" class="advert__ecocard"><img src="/img/eco-icon.svg" alt=""></span>
          </div>
        </div>
        <div v-if="loadingBlock" class="placeholder__block"></div>
      </div>
      <div class="board__panel">
        <span class="bill bill--current">{{ this.bill.current | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator:
          ' ', decimalSeparator: ',' }) }}</span>
        <button :disabled="loadingAdv" @click="loadAdv" class="apmbutton" :class="{ '--disable': this.button === 'disable', '--rotate': this.loadingAdv}">
          <span class="apmbutton__circle"></span>
          <icon-board-button-arrow class="apmbutton__arrow"></icon-board-button-arrow>
        </button>
        <span class="bill bill--plus">{{ this.bill.plus | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator:
          ' ', decimalSeparator: ',' }) }}</span>
      </div>
    </div>
    <div v-if="this.first" class="welcome__overlay">
      <div class="welcome__inner">
        <div class="welcome__logo">
          <icon-base v-if="!this.$root.mobile" width="153" height="29" viewBox="0 0 153 29">
            <icon-board-logo></icon-board-logo>
          </icon-base>
          <icon-base v-else width="122" height="23" viewBox="0 0 153 29">
            <icon-board-logo></icon-board-logo>
          </icon-base>
        </div>
        <h1 class="welcome__title">Просмотр рекламы</h1>
        <p class="welcome__paragraph">Это Персональная Рекламная Доска, на которую поступает полезная и интересная для вас реклама скидок и специальных
          предложений. Если к вам обратиться бизнес, в дисконтной программе которого вы не участвуете, вы получите
          <a href="#" class="welcome__link">90%</a> средств, которые он заплатил за рекламу.</p>
        <button @click="closeWelcom" class="bttn welcome__bttn">Продолжить</button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  var VueScrollTo = require('vue-scrollto');
  export default {
    name: 'BoardPage',
    data() {
      return {
        loadingBlock: false,
        loadingAdv: false,
        first: null,
        button: '',
        bannerBlocks: [],
        bill: {},
        hoverBanner: false
      }
    },
    created() {
      axios.get('/api/site/board/isfirst')
        .then(response => {
          this.first = response.data.first
        })
      axios.get('/api/site/board/button')
        .then(response => {
          this.button = response.data.status
        })
      axios.get('/api/site/profile/user')
        .then(response => {
          this.bill = response.data.balance
        })
    },
    components: {

    },
    beforeDestroy() {
      document.body.classList.remove('block-scroll')
    },
    methods: {
      closeWelcom() {
        this.first = false;
      },
      loadAdv() {
        if (this.button == 'disable') {
          return
        }
        this.loadingBlock = true
        this.loadingAdv = true
        axios.get('/api/site/board/ad')
          .then(response => {
            this.loadingBlock = false
            this.bannerBlocks.push(response.data.banners)
            this.bill = response.data.bill
            this.button = response.data.button
            var self = this
            setTimeout(function () {
              self.loadingAdv = false
            }, 2000);
          })
      },
      showAdditional(additional) {
        switch (additional.type) {
          case 'flyer':
            this.$modal.show({
              template: `
          <div class="simple-modal__inner">
            <span @click="$emit('close')" class="modal__close modal__close--simple"></span>
            <img class="simple-modal__img" :src="img" alt="">
          </div>
          `,
              props: ['img']
            }, {
              img: additional.data
            }, {
              height: '100%',
              width: '100%',
              scrollable: true,
              name: 'simple-modal',
              classes: 'simple-modal'
            }, {
              'before-close': (event) => {
                console.log('this will be called before the modal closes');
              }
            })
            break;
          case 'card':
            additional.show = ! additional.show
            break;
          default:
            break;
        }

      }
    },
    watch: {
      loadingBlock: function (val) {
        if (!val) {
          VueScrollTo.scrollTo('.placeholder__block', 500, {
            container: '#advMainBody'
          })
        }
      },
      first: function () {
        if (this.first) {
          document.body.classList.add('block-scroll')
        } else {
          document.body.classList.remove('block-scroll')
        }
      }
    }
  }
</script>