<template>
  <div class="ecocard">
    <div class="ecocard__inner" :class="{'ecocard__inner--welcome': this.first}">
      <ecocard-nav></ecocard-nav>
      <router-view></router-view>
      <ecocard-cards-list v-if="this.$route.name==='ecocard'"></ecocard-cards-list>
    </div>
    <div v-if="this.first" class="welcome__overlay welcome__overlay--ecocard">
      <div class="welcome__inner">
        <div class="welcome__logo">
          <icon-base v-if="!this.$root.mobile" width="189" height="31" viewBox="0 0 189 31">
            <icon-ecocard-logo></icon-ecocard-logo>
          </icon-base>
          <icon-base v-else width="140" height="23" viewBox="0 0 189 31">
            <icon-ecocard-logo></icon-ecocard-logo>
          </icon-base>
        </div>
        <h1 class="welcome__title">Дисконтные программы</h1>
        <p class="welcome__paragraph">Это цифровая система дисконтных программ. Подписывайтесь на любимые сервисы, магазины и рестораны и получайте специальные
          предложения и скидки при покупке или получении услуг.</p>
        <button @click="closeWelcome" class="bttn welcome__bttn">Продолжить</button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import EcocardNav from '../app/EcocardNav.vue';
  import EcocardCardsList from '../app/EcocardCardsList.vue';


  export default {
    name: 'EcocardPage',
    data() {
      return {
        first: ''
      }
    },
    beforeCreate() {
      axios.get('/api/site/ecocard/isfirst')
        .then(response => {
          this.first = response.data.first
        })
    },
    beforeDestroy() {
      document.body.classList.remove('block-scroll')      
    },
    watch: {
      first : function () {
        if(this.first) {
          document.body.classList.add('block-scroll')
        } else {
          document.body.classList.remove('block-scroll')
        }
      }
    },
    components: {
      'ecocard-nav': EcocardNav,
      'ecocard-cards-list': EcocardCardsList
    },
    methods: {
      closeWelcome() {
        this.first = false;
      },
    },
  }
</script>