<template>
  <div class="info">
    <div class="side-menu">
      <div class="side-menu__inner">
        <ul class="side-menu__list">
          <li class="side-menu__item"><span class="side-menu__section-name">Информация</span></li>
          <li class="side-menu__item"><router-link to="/info/about" class="side-menu__link">О нас</router-link></li>
          <li class="side-menu__item"><router-link to="/info/manifesto" class="side-menu__link">Манифест</router-link></li>
          <li class="side-menu__item"><router-link to="/info/brand" class="side-menu__link">Бренд</router-link></li>
          <li class="side-menu__item"><router-link to="/info/faq" class="side-menu__link">FAQ</router-link></li>
          <li class="side-menu__item"><router-link to="/info/offer" class="side-menu__link">Оферта</router-link></li>
          <li class="side-menu__item"><router-link to="/info/terms" class="side-menu__link">Пользовательское соглашение</router-link></li>
          <li class="side-menu__item"><router-link to="/info/confidentiality" class="side-menu__link">Конфиденциальность</router-link></li>
          <li class="side-menu__item"><router-link to="/info/help" class="side-menu__link">Помощь</router-link></li>
        </ul>
        <div class="divider"></div>
        <ul class="side-menu__list">
          <li class="side-menu__item"><router-link to="/info/apmboard" class="side-menu__link">Что такое APMboard</router-link></li>
          <li class="side-menu__item"><router-link to="/info/apmecocard" class="side-menu__link">Что такое APMecocard</router-link></li>
          <li class="side-menu__item"><router-link to="/info/apmchat" class="side-menu__link">Что такое APMchat</router-link></li>
          <li class="side-menu__item"><router-link to="/info/advertizer" class="side-menu__link">Рекламодателям</router-link></li>
        </ul>
      </div>
    </div>
    <div class="info-content">
      <div class="info-content__inner">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'InfoPage',
    created() {
      
    },
    data() {
      return {

      }
    },
    components: {
    }
  }
</script>