<template>
  <div class="landing" :style="bgc">
    <div class="landing__inner">
      <h1 class="landing-title">Forget plastic discount cards, print ads <br> and spam. <b>Only what you really need.</b></h1>
      <div class="landing__links landing__links--mobile">
        <router-link to="/login" class="bttn bttn--with-icon">
            <icon-base width="22" height="22" class="bttn__icon">
              <icon-profile></icon-profile>
            </icon-base>Войти
        </router-link>
        <router-link to="/registration-choose" class="bttn bttn--register">
          Регистрация
        </router-link>
      </div>
      <landing-products-list v-on:changeMainBg="changeBg"></landing-products-list>
      <div class="landing__links landing__links--desktop">
        <router-link to="/registration-choose" class="bttn bttn--register">
          Регистрация
        </router-link>
      </div>
      <nav class="landing__bottom-nav">
        <a href="#" class="bottom-nav__link">Рекламодателям</a>
        <a href="#" class="bottom-nav__link">Что такое APMboard?</a>
        <a href="#" class="bottom-nav__link">Что такое APMecocard?</a>
      </nav>
      <div class="landing__apps">
        <a href="#" class="app__link">
          <icon-apple-badge></icon-apple-badge>
        </a>
        <a href="#" class="app__link">
          <icon-google-badge></icon-google-badge>
        </a>
      </div>
    </div>
  </div>
</template>

<script>

import LandingProductsListVue from '../app/LandingProductsList.vue';

export default {
  name: 'LandingPage',
  data () {
    return {
      bgc: {
        backgroundColor:  '#cbffef'
      }
    }
  },
  components: {
    'landing-products-list': LandingProductsListVue
  },
  methods: {
    changeBg(value) {
      this.bgc.backgroundColor = value
    }
  }
}
</script>
