<template>
  <div class="auth">
    <div class="auth__inner">
      <h1 class="auth-title">Вход</h1>
      <div class="auth-block">
        <form action="">
          <div class="auth-item">
            <input type="text" name="email" placeholder="email" class="input input--login">
          </div>
          <div class="auth-item">
            <input type="password" name="password" placeholder="Пароль" class="input input--login">
          </div>
          <div class="auth-item">
            <button type="button" class="bttn bttn--fullwidth bttn--green">Войти</button>
          </div>
          <div class="auth-item">
            <a href="#" class="auth-link">Забыли пароль?</a>
          </div>
        </form>
      </div>
      <div class="auth-block">
        <div class="auth-item">
          <button class="bttn bttn--with-icon bttn--fullwidth bttn--facebook"><icon-base iconColor="#fff" width="22" height="22" viewBox="0 0 216 216" class="bttn__icon">
              <icon-facebook-logo></icon-facebook-logo>
            </icon-base>Continue with Facebook</button>
        </div>
        <div class="auth-item">
          <button class="bttn bttn--with-icon bttn--fullwidth bttn--google"><icon-base width="22" height="22" viewBox="0 0 48 48" class="bttn__icon">
              <icon-google-logo></icon-google-logo>
            </icon-base>Continue with Google</button>
        </div>
        <div class="auth-item">
          <p class="auth__paragraph">Don't have an account? <router-link to="/registration-choose" class="auth-link">Sign up</router-link></p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'LoginPage',
    data() {
      return {

      }
    }
  }

</script>
