<template>
  <div class="not-found">
    <h1 class="not-found__title">Page not found</h1>
    <p class="not-found__paragraph">Back to <a href="/" class="link">main page</a></p>
  </div>
</template>

<script>

export default {
  name: 'NotFoundPage',
  data () {
    return {
      
    }
  },
  components: {

  }
}
</script>