<template>
  <div class="personal">
    <div class="side-menu side-menu--personal">
      <div class="side-menu__inner">
        <ul class="side-menu__list">
          <li class="side-menu__item"><span class="side-menu__section-name">Личный кабинет</span></li>
          <li class="side-menu__item"><router-link to="/personal/properties" class="side-menu__link">Личные данные</router-link></li>
          <li class="side-menu__item"><router-link to="/personal/referral" class="side-menu__link">Партнерская программа</router-link></li>
          <li class="side-menu__item"><router-link to="/personal/bill" class="side-menu__link">Обзор счета</router-link></li>
          <li class="side-menu__item"><router-link to="/personal/interests" class="side-menu__link">Интересы</router-link></li>
          <li class="side-menu__item"><router-link to="/personal/banner/archive" class="side-menu__link">Архив рекламы</router-link></li>
          <li class="side-menu__item"><router-link to="/personal/settings" class="side-menu__link">Настройки</router-link></li>
        </ul>
        <div class="divider"></div>
        <ul class="side-menu__list">
          <li class="side-menu__item"><span class="side-menu__section-name">Реклама</span></li>
          <li class="side-menu__item"><router-link to="/personal/company/register" class="side-menu__link">Регистрация компании</router-link></li>
          <li class="side-menu__item"><router-link exact to="/personal/ecocard" class="side-menu__link">Дисконтные программы</router-link></li>
          <li class="side-menu__item"><router-link exact to="/personal/banner" class="side-menu__link">Рекламные объявления</router-link></li>
        </ul>
        <div class="divider"></div>
        <ul class="side-menu__list">
          <li class="side-menu__item"><span class="side-menu__section-name">Админка</span></li>
          <li class="side-menu__item"><router-link to="/admin/users" class="side-menu__link">Пользователи</router-link></li>
          <li class="side-menu__item"><router-link to="/admin/moderation" class="side-menu__link">Модерация</router-link></li>
        </ul>
      </div>
    </div>
    <div class="personal-content">
      <div class="personal-content__inner" :class="{'personal-content__inner--centered': this.centeredInnerContent}">
        <router-view v-on:centered="centeredInner"></router-view>
      </div>
    </div>
  </div>
</template>

<script>


  export default {
    name: 'PersonalPage',
    created() {
    },
    data() {
      return {
        centeredInnerContent: false
      }
    },
    components: {
    },
    methods: {
      centeredInner(value) {
        this.centeredInnerContent = value
      }
    }
  }
</script>