<template>
  <div class="profile">
    <div class="profile__inner">
      <div class="profile__header">
        <profile-user :initialUser="user"></profile-user>
        <profile-user-mobile-qr v-if="this.$root.mobile" :initialUser="user"></profile-user-mobile-qr>
      </div>
      
      <div class="profile__body">
        <profile-navigation :initialUser="user"></profile-navigation>
        <profile-user-mobile v-if="this.$root.mobile" :initialUser="user"></profile-user-mobile>
      </div>

      <div class="profile__footer">
        <profile-stat v-if="user" :stat="user.stat" :companies="user.companies"></profile-stat>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</template>

<script>

import ProfileUser from '../app/ProfileUser.vue';
import ProfileUserMobile from '../app/ProfileUserMobile.vue';
import ProfileUserMobileQr from '../app/ProfileUserMobileQr.vue';
import ProfileNavigation from '../app/ProfileNavigation.vue';
import ProfileStat from '../app/ProfileStat.vue';
import axios from 'axios';

export default {
  name: 'Profile',
  data () {
    return {
      user: null
    }
  },
  beforeCreate()
  {
    axios.get('/api/site/profile/user')
    .then(response => {
      this.user = response.data
    })
    NProgress.start()
    
  },
  created() {
    this.$nextTick(function () {
      NProgress.done()
    })
  },
  components: {
    'profile-user': ProfileUser,
    'profile-user-mobile': ProfileUserMobile,
    'profile-user-mobile-qr': ProfileUserMobileQr,
    'profile-navigation': ProfileNavigation,
    'profile-stat': ProfileStat
  }
}
</script>