<template>
  <div class="promo">
    <div class="promo__block">
      <div class="promo-block__inner">
        <div class="promo__logo"><icon-landing-board :width="this.$root.mobile ? 150 : 250" :height="this.$root.mobile ? 100 : 150"></icon-landing-board></div>
        <h1 class="promo__title">Персональная Рекламная Доска</h1>
        <p class="promo__paragraph">APMboard — это Персональная Рекламная Доска, на которую поступает полезная и интересная для вас реклама. На ней вы увидите рекламу по дисконтным программам APMecocard, на которые вы подписаны. Если рекламодатель решит обратиться к вам платно, за просмотр рекламы вы получите 90% средств, заплаченных им за рекламу.</p>
        <span class="promo__text">Полезная реклама</span>
        <div class="promo__media">
          <img src="img/promo-board.png" alt="" class="promo__picture">
        </div>
        <div class="promo__info">
          <div class="promo-info__title">
            APMboard – это цифровой аналог вашего почтового ящика.</div>
          <div class="promo-info__main">
            Продавцы присылают на вашу персональную рекламную доску рекламу своих товаров и услуг, акции, скидки и выгодные предложения, которые интересны и доступны именно Вам и именно в Вашем регионе. Это новый канал общения: анонимный специализированный почтовый ящик для актуальной и полезной Вам рекламы.
          </div>
        </div>
        
      </div>
    </div>
    <div class="promo__block">
      <div class="promo-block__inner">
      <div class="promo__links">
          <router-link to="/registration-choose" class="bttn bttn--register">Регистрация</router-link>
          <router-link to="/advertizer" class="bttn bttn--adv">Рекламодателям</router-link>
        </div>
        <nav class="landing__bottom-nav">
          <a href="#" class="bottom-nav__link">Рекламодателям</a>
          <a href="#" class="bottom-nav__link">Что такое APMboard?</a>
          <a href="#" class="bottom-nav__link">Что такое APMecocard?</a>
        </nav>
        <p class="promo__copy">Copyright © {{ new Date().getFullYear() }} APM Agentuur. All rights reserved</p>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'PromoApmboard',
  data () {
    return {

    }
  },
  components: {

  },
  methods: {

  }
}
</script>
