<template>
  <div class="promo">
    <div class="promo__block">
      <div class="promo-block__inner">
        <div class="promo__logo"><icon-landing-ecocard :width="this.$root.mobile ? 150 : 250" :height="this.$root.mobile ? 100 : 150"></icon-landing-ecocard></div>
        <h1 class="promo__title">Система дисконтных программ</h1>
        <p class="promo__paragraph">APMecocard – это цифровая замена дисконтных пластиковых карт. Вместо пачки дисконтных карт вам нужен лишь смартфон. В пару кликов подпишитесь на любимые магазины и рестораны, и получайте специальные предложения и скидки.</p>
        <span class="promo__text promo__text--ecocard">Участвовать просто!</span>
        <div class="promo__steps">
          <div class="promo-step">
            <img src="img/promo-register.png" alt="" class="promo-step__img">
            <h3 class="promo-step__title">Зарегистрируйтесь</h3>
            <p class="promo-step__paragraph">Чтобы стать участником дисконтной программы, зарегистрируйтесь и получите свою Персональную Рекламную Доску с уникальным номером абсолютно бесплатно!</p>
          </div>
          <div class="promo-step">
            <img src="img/promo-subscribe.png" alt="" class="promo-step__img">
            <h3 class="promo-step__title">Подпишитесь</h3>
            <p class="promo-step__paragraph">Зайдите в раздел APMecocard, выберите те программы, которые вас интересуют, и подпишитесь на них. На вашу APMboard будет поступать реклама лично для вас с выгодными и интересными предложениями от тех компаний, на программу которых вы подписались.</p>
          </div>
          <div class="promo-step">
            <img src="img/promo-discounts.png" alt="" class="promo-step__img">
            <h3 class="promo-step__title">Получайте скидки</h3>
            <p class="promo-step__paragraph">Чтобы получить скидку, в торговом или услуговом месте сообщите об участии в их дисконтной программе и покажите персональный QR-код или ID- номер. В интернете верифицируйтесь на странице заведения через встроенный модуль APMecocard.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="promo__block">
      <div class="promo-block__inner">
        <span class="promo__text promo__text--anonymity">Анонимность</span>
        <div class="promo__media">
          <img src="img/promo-anonymity.png" alt="" class="promo__picture">
        </div>
        <div class="promo__info">
          <div class="promo-info__title">
            Основная задача APMecocard — доброжелательная коммуникация бизнеса и его клиентов.</div>
          <div class="promo-info__main">
            Мы сделали наш сервис максимально простым, при этом сохранив анонимность наших клиентов. В нашей системе рекламодатели могут видеть лишь количество клиентских Рекламных Досок и добровольно указанные параметры их владельцев: без имени, фамилии, телефона и электронной почты. Клиент остается анонимным, и к нему поступает только та реклама, на которую он подписан, и лишь по тем параметрам, которые он указал сам.
          </div>
        </div>
      </div>
    </div>
    <div class="promo__block">
      <div class="promo-block__inner">
        <span class="promo__text promo__text--ecocard">Экологичность</span>
        <div class="promo__media">
          <img src="img/promo-eco.png" alt="" class="promo__picture">
        </div>
        <div class="promo__info">
          <div class="promo-info__title">
            Мы выступаем за экологичные и уравновешенные решения не только в отношениях, но и во внешней среде.</div>
          <div class="promo-info__main">
            APMecocard поможет исключить из отношений клиентов и бизнес-компаний ненужный, загрязняющий окружающую среду пластик, а также бесконечное количество печатной рекламной продукции, ради которой уничтожаются деревья.
          </div>
        </div>
      </div>
    </div>
    <div class="promo__block">
      <div class="promo-block__inner">
      <div class="promo__links">
          <router-link to="/registration-choose" class="bttn bttn--register">Регистрация</router-link>
          <router-link to="/advertizer" class="bttn bttn--adv">Рекламодателям</router-link>
        </div>
        <nav class="landing__bottom-nav">
          <a href="#" class="bottom-nav__link">Рекламодателям</a>
          <a href="#" class="bottom-nav__link">Что такое APMboard?</a>
          <a href="#" class="bottom-nav__link">Что такое APMecocard?</a>
        </nav>
        <p class="promo__copy">Copyright © {{ new Date().getFullYear() }} APM Agentuur. All rights reserved</p>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'PromoApmecocard',
  data () {
    return {

    }
  },
  components: {

  },
  methods: {

  }
}
</script>
