<template>
  <div class="auth">
    <div class="auth__inner">
      <h1 class="auth-title">Регистрация</h1>
      <div class="auth-block auth-block--small">
        <div class="auth-item">
          <button class="bttn bttn--with-icon bttn--fullwidth bttn--facebook">
            <icon-base iconColor="#fff" width="22" height="22" viewBox="0 0 216 216" class="bttn__icon">
              <icon-facebook-logo></icon-facebook-logo>
            </icon-base>Continue with Facebook</button>
        </div>
        <div class="auth-item">
          <button class="bttn bttn--with-icon bttn--fullwidth bttn--google">
            <icon-base width="22" height="22" viewBox="0 0 48 48" class="bttn__icon">
              <icon-google-logo></icon-google-logo>
            </icon-base>Continue with Google</button>
        </div>
      </div>
      <div class="auth__divider">or</div>
      <div class="auth-block auth-block--small">
        <div class="auth-item">
          <router-link to="/register" class="bttn bttn--with-icon bttn--fullwidth bttn--reg-email">
          <img width="32" height="25" src="img/login-email.png" alt="" class="bttn__icon">Continue with Email</router-link>
        </div>
        <div class="auth-item">
          <router-link to="/register" href="" class="bttn bttn--with-icon bttn--fullwidth bttn--reg-phone">
          <img width="28" height="27" src="img/login-phone.png" alt="" class="bttn__icon">Continue with Phone</router-link>
        </div>
      </div>
      <div class="auth-block auth-block--small">
        <div class="auth-item">
          <p class="auth__paragraph">Зарегистрировавшись, вы соглашаетесь с нашими <a href="" class="auth-link">Условиями предоставления услуг.</a></p>
        </div>
        <div class="auth-item">
          <p class="auth__paragraph">Already have an account?
            <router-link to="/login" class="auth-link">Sign in</router-link>
          </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'RegistrationChoosePage',
    data() {
      return {

      }
    }
  }

</script>
