<template>
  <div class="auth">
    <component v-bind:registrationStep="registrationStep" v-on:changeRegStep="changeRegStep" :is="registrationStep"></component>
  </div>
</template>

<script>
  import RegisterForm from '../app/RegisterForm.vue';
  import RegisterComplete from '../app/RegisterComplete.vue';
  import RegisterPhone from '../app/RegisterPhone.vue';
  import RegisterWelcome from '../app/RegisterWelcome.vue';
  export default {
    name: 'RegisterPage',
    data() {
      return {
        registrationStep: 'register-form'
      }
    },
    components: {
      'register-form': RegisterForm,
      'register-complete': RegisterComplete,
      'register-phone': RegisterPhone,
      'register-welcome': RegisterWelcome
    },
    methods: {
      changeRegStep(value) {
        this.registrationStep = value
      }
    }
  }

</script>
