<template>
  <li class="eco-relations-faq__list-item">
      <div @click="toggle" :class="[{'__active': isShow},'eco-relations-faq__title']">
        <h3>{{ item.title }}</h3>
      </div>
      <div v-show="isShow" class="eco-relations-faq__content">
        <div v-for="(subitem, index) in item.subitems" :key="index" class="eco-relations-faq-item">
          <div class="eco-relations-faq-item__title">
            <h4>{{ subitem.title }}</h4>
          </div>
          <div class="eco-relations-faq-item__text">
            <p>{{ subitem.desc }}</p>
          </div>
        </div>
      </div>
    </li>
</template>

<script>
export default {
  name: 'AdvertizerEcocardFaqItem',
  props: ['item'],
  data() {
    return {
      isShow: false
    }
  },
  methods: {
    toggle() {
      this.isShow = !this.isShow
    }
  },
}
</script>