<template>
  <div>
    <div class="splash">
      <div class="splash__inner">
        <h2 class="advertizer__subtitle">Адресная реклама</h2>
        <div class="splash-content">
          <p><b>APMboard</b> — это Персональная Рекламная Доска пользователя, на которую вы можете разместить свою
            рекламу, рассказать о своем товаре или услуге лично её владельцу.</p>
        </div>
        <div class="splash-screen"></div>
      </div>
    </div>
    <div class="apm-terms">
      <div class="apm-terms__inner">
        <h2 class="advertizer__subtitle">Идеальные условия</h2>
        <div class="apm-terms-content">
          <p>Для продвижения вашего бизнеса мы создали уникальное место и условия, где вы можете напрямую обратиться к
            своему потребителю и гарантированно быть услышанными.</p>
        </div>
        <ul class="apm-terms-list">
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-1" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Выгодная цена — от € 0,01</h3>
              <p>Вы платите напрямую целевой аудитории за ознакомление с вашей рекламой. Поэтому цена за клик для
                рекламодателя одна из самых низких (€ 0,01 за баннер и до € 0,03 за клик). Верификация пользователей в
                международной электронной платежной
                системе Paysera гарантирует полное отсутствие фейковых аккаунтов.</p>
            </div>
          </li>
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-2" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Click-through rate — 65-75%</h3>
              <p>Самый высокий CTR в сравнении с сервисами, которыми вы пользуетесь сейчас. Показатели многократно
                превосходят Google (~2%) и Facebook (0,02-0,03%).</p>
            </div>
          </li>
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-3" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Гибкое управление расходами</h3>
              <p>Гибкое управление рекламными расходами. Можно остановить кампанию, забрать неизрасходованные деньги и
                вывести их из системы на банковский счет в любой момент.</p>
            </div>
          </li>
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-4" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Лояльность к рекламодателю</h3>
              <p>Высокий уровень внимания на APMboard связан в первую очередь с тем, что на ней нет никакого
                информационного шума. Это значит, что при просмотре рекламы пользователь встречается один на один с
                вашей рекламой.</p>
            </div>
          </li>
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-5" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Справедливые отношения</h3>
              <p>Ни один пользователь APMboard не испытывает раздражения или других негативных эмоций при просмотре
                рекламы. Реклама, показанная на APMboard, не только полезна и интересна, но и выгодна: пользователь
                получит 90% средств, которые вы потратили
                на размещение рекламы.</p>
            </div>
          </li>
          <li class="apm-terms-list__list-item">
            <div class="apm-terms-list__item">
              <div class="apm-terms-list-figure __type-6" v-in-viewport.once='-300'>
                <div class="apm-terms-list-figure__pas"></div>
                <div class="apm-terms-list-figure__act"></div>
              </div>
              <h3 class="apm-terms-list__title">Целевая аудитория</h3>
              <p>Ваша реклама на APMboard со 100%-ной эффективностью достигнет именно вашей целевой аудитории. Никакого
                распыления и незапланированных просмотров: вы сами устанавливаете критерии показа, и пользователи,
                которым ваша реклама не интересна,
                просто не увидят её.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="apm-adv-capabilities">
      <div class="apm-adv-capabilities__inner capabalities_desk">
        <h2 class="advertizer__subtitle">Рекламные возможности и тарифы</h2>
        <div class="apm-adv-capabilities-content">
          <p>На APMboard легко выбрать доступный вариант рекламы с разными возможностями. Рекламные баннеры по дискотным программам APMecocard размещаются <span class="apm-adv-capabilities-content__green">БЕСПЛАТНО!</span></p>
        </div>
        <div class="apm-adv-types">
          <div class="apm-adv-types__item">
            <div class="apm-adv-types-list">
              <div class="adv-types-list__header">
                <div class="apm-adv-types-table__name">Премиальный</div>
                <div class="apm-adv-types-table__price">560x560px — <span class="apm-adv-types-table__red">0,05 €</span></div>
                <div class="apm-adv-types-table__example">
                  <a @click.prevent="showExamplePremium" href="#" class="example__btn swipebox2">Пример</a>
                  <span class="board-example board-example--premium" v-viewer="{movable: false}">
                    <img src="img/adv/banner-premium.png">
                  </span>
                </div>
              </div>
              
              <div class="adv-types-list__item">
                <h3>Переход на листовку</h3>
                <p>При клике в новом окне откроется загруженное рекламодателем изображение. В листовке можно более
                  подробно рассказать о своем предложении.</p>
              </div>
              <div class="adv-types-list__item">
                <h3>Переход по ссылке</h3>
                <p>При клике будет выполнен переход на внешний ресурс. Ресурс должен соответствовать информации
                  баннера.</p>
              </div>
              <div class="adv-types-list__item">
                <h3>Просмотр видеоролика</h3>
                <p>При клике откроется видеоролик продолжительностью не более 15 секунд.</p>
              </div>
            </div>
          </div>
          <div class="apm-adv-types__item">
            <div class="apm-adv-types-list">
              <div class="adv-types-list__header">
                <div class="apm-adv-types-table__name">Стандартный</div>
                <div class="apm-adv-types-table__price">560x560px — <span class="apm-adv-types-table__red">0,05 €</span></div>
                <div class="apm-adv-types-table__example"><a @click.prevent="showExampleStandart" href="#" class="example__btn">Пример</a>
                <span class="board-example board-example--standart" v-viewer="{movable: false}">
                    <img src="img/adv/banner-standart.png">
                  </span></div>
              </div>
              <div class="adv-types-list__item">
                <h3>Переход на листовку</h3>
                <p>При клике в новом окне откроется загруженное рекламодателем изображение. В листовке можно более
                  подробно рассказать о своем предложении.</p>
              </div>
              <div class="adv-types-list__item">
                <h3>Переход по ссылке</h3>
                <p>При клике будет выполнен переход на внешний ресурс. Ресурс должен соответствовать информации
                  баннера.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="apm-simple">
      <div class="apm-simple__inner">
        <h2 class="advertizer__subtitle">Все очень просто! </h2>
        <div class="apm-simple-content">
          <p>Вы рекламодатель... Вы супермен, который производит продукт, создает рабочие места, платит налоги и
            заботится о развитии своего региона.</p>
        </div>
        <div class="apm-simple-list">
          <ul class="apm-simple-list__list">
            <li class="apm-simple-list__list-item">Вы платите деньги лично потребителю за просмотр вашей рекламы</li>
            <li class="apm-simple-list__list-item">Из стоимости вашего продукта исключаются расходы на его продвижение</li>
            <li class="apm-simple-list__list-item">Деньги возвращаются к вам с заинтересованными клиентами</li>
            <li class="apm-simple-list__list-item">Деньги остаются в регионе и влияют на развитие всего бизнеса</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="apm-users">
      <div class="apm-users__inner">
        <h2 class="advertizer__subtitle">Количество зарегистрированных пользователей</h2>
        <div class="apm-users-content">
          <p>Пользователи всего мира согласны уделить вам внимание. Количество регистраций в нашей системе
            увеличивается с каждым днем.</p>
        </div>
        <div class="apm-users-list" id="first_table">
          <div class="apm-users-list__list-item">
            <ul class="apm-users-table">
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>24230</strong> </div>
                <div class="apm-users-table__name">Lithuania</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>248</strong> </div>
                <div class="apm-users-table__name">Belarus</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>201</strong> </div>
                <div class="apm-users-table__name">Brazil</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>163</strong> </div>
                <div class="apm-users-table__name">Colombia</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>57</strong> </div>
                <div class="apm-users-table__name">France</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>50</strong> </div>
                <div class="apm-users-table__name">Kazakhstan</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>41</strong> </div>
                <div class="apm-users-table__name">Italy</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>30</strong> </div>
                <div class="apm-users-table__name">Estonia</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>21</strong> </div>
                <div class="apm-users-table__name">Czech Republic</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>19</strong> </div>
                <div class="apm-users-table__name">Moldova</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>17</strong> </div>
                <div class="apm-users-table__name">Canada</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>16</strong> </div>
                <div class="apm-users-table__name">Australia</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>15</strong> </div>
                <div class="apm-users-table__name">Vietnam</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>12</strong> </div>
                <div class="apm-users-table__name">Bangladesh</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Guinea</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Denmark</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>8</strong> </div>
                <div class="apm-users-table__name">Algeria</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong></strong> </div>
                <div class="apm-users-table__name"></div>
              </li>
            </ul>
          </div>
          <div class="apm-users-list__list-item">
            <ul class="apm-users-table">
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>11299</strong> </div>
                <div class="apm-users-table__name">Ukraine</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>212</strong> </div>
                <div class="apm-users-table__name">USA</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>200</strong> </div>
                <div class="apm-users-table__name">Mozambique</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>97</strong> </div>
                <div class="apm-users-table__name">Poland</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>53</strong> </div>
                <div class="apm-users-table__name">Anguilla</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>43</strong> </div>
                <div class="apm-users-table__name">India</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>33</strong> </div>
                <div class="apm-users-table__name">Turkey</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>30</strong> </div>
                <div class="apm-users-table__name">Norway</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>21</strong> </div>
                <div class="apm-users-table__name">Azerbaijan</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>19</strong> </div>
                <div class="apm-users-table__name">Sweden</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>17</strong> </div>
                <div class="apm-users-table__name">Austria</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>16</strong> </div>
                <div class="apm-users-table__name">Albania</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>14</strong> </div>
                <div class="apm-users-table__name">Netherlands</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>11</strong> </div>
                <div class="apm-users-table__name">Indonesia</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Georgia</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Egypt</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>8</strong> </div>
                <div class="apm-users-table__name">Israel</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong></strong> </div>
                <div class="apm-users-table__name"></div>
              </li>
            </ul>
          </div>
          <div class="apm-users-list__list-item">
            <ul class="apm-users-table">
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>919</strong> </div>
                <div class="apm-users-table__name">Russia</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>203</strong> </div>
                <div class="apm-users-table__name">United Kingdom</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>173</strong> </div>
                <div class="apm-users-table__name">Germany</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>59</strong> </div>
                <div class="apm-users-table__name">Spain</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>52</strong> </div>
                <div class="apm-users-table__name">Mexico</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>41</strong> </div>
                <div class="apm-users-table__name">Ireland</div>
              </li>
              <li class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>32</strong> </div>
                <div class="apm-users-table__name">Argentina</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>25</strong> </div>
                <div class="apm-users-table__name">Latvia</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>19</strong> </div>
                <div class="apm-users-table__name">Angola</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>18</strong> </div>
                <div class="apm-users-table__name">Ecuador</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>16</strong> </div>
                <div class="apm-users-table__name">Switzerland</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>15</strong> </div>
                <div class="apm-users-table__name">Portugal</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>13</strong> </div>
                <div class="apm-users-table__name">Morocco</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>10</strong> </div>
                <div class="apm-users-table__name">Costa Rica</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Venezuela</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>9</strong> </div>
                <div class="apm-users-table__name">Uzbekistan</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong>8</strong> </div>
                <div class="apm-users-table__name">Peru</div>
              </li>
              <li v-if="countriesTableShow" class="apm-users-table__list-item">
                <div class="apm-users-table__value"> <strong></strong> </div>
                <div class="apm-users-table__name"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="apm-users-list" id="second_table">
          <div id="second_table">
            <div class="apm-users-list__list-item">
              <ul class="apm-users-table">
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>24230</strong> </div>
                  <div class="apm-users-table__name">Lithuania</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>11299</strong> </div>
                  <div class="apm-users-table__name">Ukraine</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>919</strong> </div>
                  <div class="apm-users-table__name">Russia</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>248</strong> </div>
                  <div class="apm-users-table__name">Belarus</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>212</strong> </div>
                  <div class="apm-users-table__name">USA</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>203</strong> </div>
                  <div class="apm-users-table__name">United Kingdom</div>
                </li>
                <li class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>201</strong> </div>
                  <div class="apm-users-table__name">Brazil</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>200</strong> </div>
                  <div class="apm-users-table__name">Mozambique</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>173</strong> </div>
                  <div class="apm-users-table__name">Germany</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>163</strong> </div>
                  <div class="apm-users-table__name">Colombia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>97</strong> </div>
                  <div class="apm-users-table__name">Poland</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>59</strong> </div>
                  <div class="apm-users-table__name">Spain</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>57</strong> </div>
                  <div class="apm-users-table__name">France</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>53</strong> </div>
                  <div class="apm-users-table__name">Anguilla</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>52</strong> </div>
                  <div class="apm-users-table__name">Mexico</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>50</strong> </div>
                  <div class="apm-users-table__name">Kazakhstan</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>43</strong> </div>
                  <div class="apm-users-table__name">India</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>41</strong> </div>
                  <div class="apm-users-table__name">Ireland</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>41</strong> </div>
                  <div class="apm-users-table__name">Italy</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>33</strong> </div>
                  <div class="apm-users-table__name">Turkey</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>32</strong> </div>
                  <div class="apm-users-table__name">Argentina</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>30</strong> </div>
                  <div class="apm-users-table__name">Estonia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>30</strong> </div>
                  <div class="apm-users-table__name">Norway</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>25</strong> </div>
                  <div class="apm-users-table__name">Latvia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>21</strong> </div>
                  <div class="apm-users-table__name">Czech Republic</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>21</strong> </div>
                  <div class="apm-users-table__name">Azerbaijan</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>19</strong> </div>
                  <div class="apm-users-table__name">Angola</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>19</strong> </div>
                  <div class="apm-users-table__name">Moldova</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>19</strong> </div>
                  <div class="apm-users-table__name">Sweden</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>18</strong> </div>
                  <div class="apm-users-table__name">Ecuador</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>17</strong> </div>
                  <div class="apm-users-table__name">Canada</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>17</strong> </div>
                  <div class="apm-users-table__name">Austria</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>16</strong> </div>
                  <div class="apm-users-table__name">Switzerland</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>16</strong> </div>
                  <div class="apm-users-table__name">Australia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>16</strong> </div>
                  <div class="apm-users-table__name">Albania</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>15</strong> </div>
                  <div class="apm-users-table__name">Portugal</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>15</strong> </div>
                  <div class="apm-users-table__name">Vietnam</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>14</strong> </div>
                  <div class="apm-users-table__name">Netherlands</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>13</strong> </div>
                  <div class="apm-users-table__name">Morocco</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>12</strong> </div>
                  <div class="apm-users-table__name">Bangladesh</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>11</strong> </div>
                  <div class="apm-users-table__name">Indonesia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>10</strong> </div>
                  <div class="apm-users-table__name">Costa Rica</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Guinea</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Georgia</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Venezuela</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Denmark</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Egypt</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>9</strong> </div>
                  <div class="apm-users-table__name">Uzbekistan</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>8</strong> </div>
                  <div class="apm-users-table__name">Algeria</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>8</strong> </div>
                  <div class="apm-users-table__name">Israel</div>
                </li>
                <li v-if="countriesTableShow" class="apm-users-table__list-item">
                  <div class="apm-users-table__value"> <strong>8</strong> </div>
                  <div class="apm-users-table__name">Peru</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="apm-users-all">
          <a @click.prevent="toggeCountries" href="#" :class="[{'show': countriesTableShow}]">Свернуть</a>
          <a @click.prevent="toggeCountries" href="#" :class="[{'show': !countriesTableShow}]">Все страны</a>
        </div>
      </div>
    </div>
    <div class="apm-letsgo apm-letsgo__board">
      <div class="apm-letsgo__inner">
        <h2 class="advertizer__subtitle">Разместите свою рекламу и&nbsp;исключите неэффективных посредников</h2>
        <p>Зарегистрируйтесь как частное лицо и далее, в личном кабинете, зарегистрируйте вашу компанию и выстраивайте справедливые отношения с вашим потребителем.</p> <a href="/enter.php" class="apm-letsgo__btn">Дать рекламу</a>
      </div>
    </div>
    <div class="footer__board">
      <div class="footer-board__inner">
        <div class="footer-board__socials"> <a href="https://www.facebook.com/pages/APM-Agentuur-RU/259572540897899" class="footer-board-socials__ico __type-fb" target="_blank"></a> <a href="http://vk.com/apmagentuur" class="footer-board-socials__ico __type-vk" target="_blank"></a> <a href="https://twitter.com/apmagentuurru" class="footer-board-socials__ico __type-tw" target="_blank"></a> <a href="https://www.youtube.com/channel/UCJdL0Kgo43XWBUVRmQRF9-w" class="footer-board-socials__ico __type-yt" target="_blank"></a> </div>
        <p>© 2017 APM Agentuur OU. Private limited company.</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AdvertizerBoard',
    component: {},
    created() {},
    data() {
      return {
        countriesTableShow: false
      }
    },
    components: {},
    methods: {
      toggeCountries() {
        this.countriesTableShow = !this.countriesTableShow
      },
      showExamplePremium() {
        const viewer = this.$el.querySelector('.board-example--premium').$viewer
        viewer.show()
      },
      showExampleStandart() {
        const viewer = this.$el.querySelector('.board-example--standart').$viewer
        viewer.show()
      }
    },
    computed: {

    }
  }
</script>