<template>
  <div>
    <div class="splash">
      <div class="splash__inner">
        <h2 class="advertizer__subtitle">Дисконтные программы</h2>
        <div class="splash-content">
          <p>
            <b>APMecocard</b> — это система для создания дисконтных программ с возможностью обращения к своей аудитории
            в любое
            время.
          </p>
        </div>
        <div class="splash-screen splash-screen--eco"></div>
      </div>
    </div>
    <div class="eco-relations">
      <div class="eco-relations__inner">
        <h2 class="advertizer__subtitle">Современные отношения</h2>
        <div class="eco-relations-content">
          <p>Цифровой инструмент, максимально упрощающий отношения между бизнесом и клиентом. Отказ от пластиковых карт, бумажных анкет и листовок. То, что нужно бизнесу сегодня.</p>
        </div>
        <ecocard-faq></ecocard-faq>
        <div class="eco-relations-splash">
          <div class="eco-relations-splash__hand _active"></div>
          <div class="eco-relations-splash__phone"></div>
        </div>
      </div>
    </div>
    <div class="eco-rates">
      <div class="eco-rates__inner">
        <h2 class="advertizer__subtitle">Тарифные планы</h2>
        <div class="eco-rates-content">
          <p>При создании своей первой дисконтной программы вы можете воспользоваться пробным периодом подписавшись на
            тарифный план <strong>Eco S</strong>.</p>
        </div>
        <div class="eco-table-container">
          <table class="eco-table">
            <tbody>
              <tr>
                <td></td>
                <td>
                  <h3>Eco S</h3>
                </td>
                <td>
                  <h3>Eco M</h3>
                </td>
                <td>
                  <h3>Eco L</h3>
                </td>
              </tr>
              <tr>
                <td>Кол-во филиалов</td>
                <td class="eco-table__black-text">2</td>
                <td class="eco-table__black-text">10</td>
                <td class="eco-table__black-text">Неограничено</td>
              </tr>
              <tr class="eco-table__no-border">
                <td>Кол-во сотрудников</td>
                <td class="eco-table__black-text">2</td>
                <td class="eco-table__black-text">11</td>
                <td class="eco-table__black-text">Неограничено</td>
              </tr>
              <tr class="eco-table__no-border">
                <td colspan="4" class="eco-table__divider">Стандартные услуги</td>
              </tr>
              <tr>
                <td>Баннер на APMboard/mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Листовка к баннеру на APMBoard / APMBoard Mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Ссылка к баннеру на APMBoard / APMBoard Mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Личный кабинет с мониторингом рекламы</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Архив реклам</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Отчеты от рекламных компаниях</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность платного обращения к участникам других программ лояльность</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность изменения программы лояльности</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность добавления администраторов</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность удаления/восстановления программы лояльности</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Готовые дизайн-шаблоны для оформления оффлайн/онлайн бизнесов</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr class="eco-table__no-border">
                <td colspan="4" class="eco-table__divider eco-table__divider_free-period">Бесплатный тестовый период <b>180
                    дней</b> </td>
              </tr>
              <tr>
                <td class="eco-table__period">В месяц</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
              </tr>
              <tr>
                <td class="eco-table__period">За год</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="eco-table-container eco-table-container__big" style="display: none;">
          <table class="eco-table eco-table__coming-soon">
            <tbody>
              <tr>
                <td></td>
                <td>
                  <h3>Eco S</h3> <a href="#" class="eco-table__btn">Попробуйте бесплатно</a>
                </td>
                <td>
                  <h3>Eco M</h3>
                </td>
                <td>
                  <h3>Eco L</h3>
                </td>
                <td class="eco-table__nobtn eco-table__inddev" data-indev="В разработке">
                  <h3>Eco PRO</h3>
                </td>
              </tr>
              <tr>
                <td>Кол-во филиалов</td>
                <td class="eco-table__black-text">2</td>
                <td class="eco-table__black-text">10</td>
                <td class="eco-table__black-text">Неограничено</td>
                <td class="eco-table__black-text">Неограничено</td>
              </tr>
              <tr class="eco-table__no-border">
                <td>Кол-во сотрудников</td>
                <td class="eco-table__black-text">2</td>
                <td class="eco-table__black-text">11</td>
                <td class="eco-table__black-text">Неограничено</td>
                <td class="eco-table__black-text">Неограничено</td>
              </tr>
              <tr class="eco-table__no-border">
                <td colspan="5" class="eco-table__divider">Стандартные услуги</td>
              </tr>
              <tr>
                <td>Баннер на APMboard/mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Листовка к баннеру на APMBoard / APMBoard Mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Ссылка к баннеру на APMBoard / APMBoard Mobile</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Личный кабинет с мониторингом рекламы</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Архив реклам</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Отчеты от рекламных компаниях</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность платного обращения к участникам других программ лояльность</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность изменения программы лояльности</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность добавления администраторов</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Возможность удаления/восстановления программы лояльности</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td>Готовые дизайн-шаблоны для оформления оффлайн/онлайн бизнесов</td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
                <td> <span class="eco-table__dot">■</span> </td>
              </tr>
              <tr>
                <td class="eco-table__period">В месяц</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__txt-price">€ 9,90</td>
              </tr>
              <tr>
                <td class="eco-table__period">За год</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__text-price">€ 9,90</td>
                <td class="eco-table__txt-price eco-table__txt-price_red">€ 9,90</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="eco-rates-mob">
          <div class="rate-mob">
            <h3>Eco S</h3>
            <p class="rate-mob__branches">Кол-во филиалов: <strong>2</strong> </p>
            <p class="rate-mob__empl">Кол-во сотрудников: <strong>2</strong> </p>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">В месяц</p>
              <p class="rate-mob__price_text">€ 9,90</p>
            </div>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">За год</p>
              <p class="rate-mob__price_text">€ 59,90</p>
            </div>
            <a href="" class="eco-table__btn">Бесплатный тестовый период 180 дней</a>
            <div class="rate-mob__details">
              <a @click="toggleS" class="rate-mob__details_title">
                <template v-if="mobileCards.ecoS.isShow">{{ mobileCards.closeText }}</template>
                <template v-else>{{ mobileCards.openText }}</template>
              </a>
              <div v-if="mobileCards.ecoS.isShow" class="rate-mob__details_content">
                <ul class="rate-mob__details_list">
                  <li class="rate-mob__details_item">Бесплатный баннер на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная листовка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная ссылка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Личный кабинет с мониторингом рекламы</li>
                  <li class="rate-mob__details_item">Архив реклам</li>
                  <li class="rate-mob__details_item">Отчеты о рекламных компаниях</li>
                  <li class="rate-mob__details_item">Возможность платного обращения к участникам других программ
                    лояльности</li>
                  <li class="rate-mob__details_item">Готовые дизайн-шаблоны для оффлайн/онлайн бизнесов</li>
                  <li class="rate-mob__details_item">Возможность изменения программы лояльности</li>
                  <li class="rate-mob__details_item">Возможность добавления администраторов</li>
                  <li class="rate-mob__details_item">Возможность удаления/восстановления программы лояльности</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="rate-mob">
            <h3>Eco M</h3>
            <p class="rate-mob__branches">Кол-во филиалов: <strong>10</strong> </p>
            <p class="rate-mob__empl">Кол-во сотрудников: <strong>11</strong> </p>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">В месяц</p>
              <p class="rate-mob__price_text">€ 9,90</p>
            </div>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">За год</p>
              <p class="rate-mob__price_text">€ 59,90</p>
            </div> <a href="" class="eco-table__btn">Бесплатный тестовый период 180 дней</a>
            <div class="rate-mob__details">
              <a @click="toggleM" class="rate-mob__details_title">
                <template v-if="mobileCards.ecoM.isShow">{{ mobileCards.closeText }}</template>
                <template v-else>{{ mobileCards.openText }}</template>
              </a>
              <div v-if="mobileCards.ecoM.isShow" class="rate-mob__details_content">
                <ul class="rate-mob__details_list">
                  <li class="rate-mob__details_item">Бесплатный баннер на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная листовка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная ссылка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Личный кабинет с мониторингом рекламы</li>
                  <li class="rate-mob__details_item">Архив реклам</li>
                  <li class="rate-mob__details_item">Отчеты о рекламных компаниях</li>
                  <li class="rate-mob__details_item">Возможность платного обращения к участникам других программ
                    лояльности</li>
                  <li class="rate-mob__details_item">Готовые дизайн-шаблоны для оффлайн/онлайн бизнесов</li>
                  <li class="rate-mob__details_item">Возможность изменения программы лояльности</li>
                  <li class="rate-mob__details_item">Возможность добавления администраторов</li>
                  <li class="rate-mob__details_item">Возможность удаления/восстановления программы лояльности</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="rate-mob">
            <h3>Eco L</h3>
            <p class="rate-mob__branches">Кол-во филиалов: <strong>Неограничено</strong> </p>
            <p class="rate-mob__empl">Кол-во сотрудников: <strong>Неограничено</strong> </p>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">В месяц</p>
              <p class="rate-mob__price_text">€ 9,90</p>
            </div>
            <div class="rate-mob__price">
              <p class="rate-mob__price_period">За год</p>
              <p class="rate-mob__price_text">€ 59,90</p>
            </div>
            <a href="" class="eco-table__btn">Бесплатный тестовый период 180 дней</a>
            <div class="rate-mob__details">
              <a @click="toggleL" class="rate-mob__details_title">
                <template v-if="mobileCards.ecoL.isShow">{{ mobileCards.closeText }}</template>
                <template v-else>{{ mobileCards.openText }}</template>
              </a>
              <div v-if="mobileCards.ecoL.isShow" class="rate-mob__details_content">
                <ul class="rate-mob__details_list">
                  <li class="rate-mob__details_item">Бесплатный баннер на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная листовка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Бесплатная ссылка к баннеру на APMBoard / APMBoard Mobile</li>
                  <li class="rate-mob__details_item">Личный кабинет с мониторингом рекламы</li>
                  <li class="rate-mob__details_item">Архив реклам</li>
                  <li class="rate-mob__details_item">Отчеты о рекламных компаниях</li>
                  <li class="rate-mob__details_item">Возможность платного обращения к участникам других программ
                    лояльности</li>
                  <li class="rate-mob__details_item">Готовые дизайн-шаблоны для оффлайн/онлайн бизнесов</li>
                  <li class="rate-mob__details_item">Возможность изменения программы лояльности</li>
                  <li class="rate-mob__details_item">Возможность добавления администраторов</li>
                  <li class="rate-mob__details_item">Возможность удаления/восстановления программы лояльности</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eco-prom-materials">
      <div class="eco-prom-materials__inner">
        <h2 class="advertizer__subtitle">Рекламные материалы</h2>
        <div class="eco-prom-materials__content">
          <p>Для визуальной коммуникации с вашим потребителем мы разработали готовые макеты шаблонов листовок, наклеек,
            салфеток-плейсмет, тейбл-тентов и информационных планшетов – это обеспечит легкий старт вашей программы.</p>
        </div>
        <swiper class="eco-prom__slider" :options="swiperOption">
          <swiper-slide v-for="(slide, index) in slides" :key="index">
            <img class="eco-prom-slider__img" :src="slide.img">
            <div class="eco-prom-slider__text">
              <h4>{{ slide.title }}</h4>
              <p>{{ slide.desc }}</p>
            </div>
          </swiper-slide>
          <div class="swiper-pagination eco-prom-slider__pagination" slot="pagination"></div>
        </swiper>
      </div>
    </div>
    <div class="apm-letsgo apm-letsgo__eco">
      <div class="apm-letsgo__inner">
        <h2 class="advertizer__subtitle">Создайте свою дисконтную программу и увеличивайте количество постоянных клиентов</h2>
        <p>Зарегистрируйтесь как частное лицо и далее, в личном кабинете, зарегистрируйте вашу компанию. Выстраивайте
          более тесные отношения с вашими клиентами.</p> <a href="#adv-man" class="apm-letsgo__btn" id="adv-manual">Создать
          программу</a>
      </div>
    </div>
    <div class="footer__eco">
      <div class="footer-eco__inner">
        <div class="footer-eco__socials">
          <a href="https://www.facebook.com/pages/APM-Agentuur-RU/259572540897899" class="footer-eco-socials__ico __type-fb" target="_blank"></a>
          <a href="http://vk.com/apmagentuur" class="footer-eco-socials__ico __type-vk" target="_blank"></a>
          <a href="https://twitter.com/apmagentuurru" class="footer-eco-socials__ico __type-tw" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCJdL0Kgo43XWBUVRmQRF9-w" class="footer-eco-socials__ico __type-yt" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCJdL0Kgo43XWBUVRmQRF9-w" class="footer-eco-socials__ico __type-tb" target="_blank"></a>
          <a href="" class="footer-eco-socials__ico __type-in" target="_blank"></a> <a href="" class="footer-eco-socials__ico __type-md" target="_blank"></a>
        </div>
        <p>© 2017 APM Agentuur OU. Private limited company.</p>
      </div>
    </div>
  </div>
</template>

<script>
  import AdvertizerEcocardFaq from './AdvertizerEcocardFaq.vue';
  import 'swiper/dist/css/swiper.css'
  import {
    swiper,
    swiperSlide
  } from 'vue-awesome-swiper'
  export default {
    name: 'AdvertizerEcocard',
    created() {},
    data() {
      return {
        mobileCards: {
          openText: 'Подробности плана',
          closeText: 'Свернуть',
          ecoS: {
            isShow: false
          },
          ecoM: {
            isShow: false
          },
          ecoL: {
            isShow: false
          },
        },
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },
        },
        slides: [{
            img: '/img/adv/eco-slide-1.svg',
            title: 'Тейбл-тент',
            desc: 'Формат A5, для установки на столах, кассах, ресепшенах...'
          },
          {
            img: '/img/adv/eco-slide-2.svg',
            title: 'Бланк',
            desc: 'Шаблоны бланков дисконтной программы разных форматов с информацией для подключения пользователей'
          },
          {
            img: '/img/adv/eco-slide-3.svg',
            title: 'Наклейки',
            desc: 'Варианты наклеек для обозначения дисконтной программы APMecocard'
          },
        ]
      }
    },
    components: {
      'ecocard-faq': AdvertizerEcocardFaq,
      swiper,
      swiperSlide
    },
    methods: {
      toggleS() {
        this.mobileCards.ecoS.isShow = !this.mobileCards.ecoS.isShow
      },
      toggleM() {
        this.mobileCards.ecoM.isShow = !this.mobileCards.ecoM.isShow
      },
      toggleL() {
        this.mobileCards.ecoL.isShow = !this.mobileCards.ecoL.isShow
      },
    },
    computed: {

    }
  }
</script>