<template>
  <ul class="eco-relations-faq">
    <ecocard-faq-item v-for="(item, index) in items" :item="item" :key="index"></ecocard-faq-item>
  </ul>
</template>

<script>
  import AdvertizerEcocardFaqItem from './AdvertizerEcocardFaqItem.vue';
  export default {
    name: 'AdvertizerEcocardFaq',
    components: {
      'ecocard-faq-item': AdvertizerEcocardFaqItem
    },
    created() {},
    data() {
      return {
        items: [
          {
            title: 'Широкий маркетинговый инструментарий',
            subitems: [
              {
                title: 'Эффективный способ ретаргетинга',
                desc: 'Возврат приобретённых клиентов и повторение сделок, а также – простое информирование покупателя об услугах и предложениях.'
              },
              {
                title: 'Мобильность',
                desc: 'Прямая связь с клиентами через их персональные рекламные доски APMboard с возможностью делать интерактивные предложения.'
              },
              {
                title: 'Простота',
                desc: 'Рекламодателю легко просчитать эффективность каждой акции.'
              },
              {
                title: 'Анонимный способ общения',
                desc: 'Клиенты заполняют анонимную для бизнеса анкету. На её основе бизнес выбирает свою целевую аудиторию в любой точке мира.'
              },
              {
                title: 'Постоянные клиенты',
                desc: '20-25% клиентов могут формировать до 70% продаж. APMecocard даёт возможность делать специальные предложения клиентам по степени их значимости.'
              },
            ]
          },
          {
            title: 'Доступно каждому',
            subitems: [
              {
                title: 'Экономия',
                desc: 'Стоимость выбранного тарифного плана фиксированная. Дальнейшее многократное обращение к любому количеству клиентов бесплатно.'
              },
              {
                title: 'Гибкие тарифные планы',
                desc: 'Тарифные планы разработаны для бизнесов разных масштаба и специфики. Удобный переход между тарифными планами в зависимости от потребностей: количество филиалов, количество администраторов, управление данными, интенсивность рекламных кампаний и другие возможности.'
              },
              {
                title: 'Простота управления',
                desc: 'Не требуется специальных навыков. Можно создать и запустить дисконтную программу в течении рабочего дня.'
              },
              {
                title: 'Филиалы',
                desc: 'Если компания состоит из нескольких филиалов, предусмотрена возможность подачи рекламы от разных филиалов разным аудиториям.'
              },
            ]
          },
          {
            title: 'Прямая и открытая коммуникация',
            subitems: [
              {
                title: 'Обратная связь с клиентами',
                desc: 'Клиенты имеют возможность голосования. Это дает руководству бизнеса понимание уровня сервиса.'
              },
              {
                title: 'Персонализация каждого взаимодействия',
                desc: 'Лучший из существующих на рынке способ получения знаний о предпочтениях и параметрах каждого клиента. Удовлетворить клиента стало проще.'
              },
              {
                title: 'Свобода выбора',
                desc: 'Секрет лояльности в том, что клиенты сами решают, в каких предложениях они заинтересованы. Способ взаимодействия исключает давление.'
              },
              {
                title: 'Два канала рекламы',
                desc: 'Клиенты взаимодействуют с адресованными им предложениями через смартфоны и компьютеры – это гарантирует гибкость рекламы и широкий охват аудитории.'
              },
            ]
          },
          {
            title: 'Социальная ответственность',
            subitems: [
              {
                title: 'Уважение приватности',
                desc: 'Клиенты сохраняют анонимность своих данных, знакомятся с вашими предложениями в удобное для них время. Мы убрали фактор раздражения, который существовал из-за неактуальности предложений, назойливости оповещений, всевозможной слежки за личными параметрами.'
              },
              {
                title: 'Снижение потребности в пластике',
                desc: 'В среднем каждый житель планеты использует 27 пластиковых карт лояльности. Поливинилхлорид (ПВХ), из которого чаще всего изготавливают карты, относят к вредным для окружающей среды веществам. С появлением цифровой программы APMecocard потребность в пластике уменьшается'
              },
              {
                title: 'Сохранение деревьев',
                desc: 'Рекламная продукция приходит клиентам в электронном виде. Исчезает необходимость печати на бумаге.'
              },
            ]
          },
          {
            title: 'С чего начать',
            subitems: [
              {
                title: 'Оформить отношения',
                desc: 'Придумайте интересное предложение. Создайте собственную дисконтную программу и остановите утечку клиентов. Накапливайте количество пользователей. Проводите акции, конкурсы и распродажи.'
              },
              {
                title: 'Нулевая цена входа',
                desc: 'Возможность опробовать стартовый функционал бесплатно на протяжении 180 дней.'
              }
            ]
          },
        ]
      }
    },
    methods: {},
    computed: {

    }
  }
</script>