<template>
  <ul class="socials">
    <li v-for="(social, index) in socials" :key="index" class="socials__item">
      <a :href="social.link" class="socials__link">
        <icon-base :width="social.iconWidth" :height="social.iconHeight" :viewBox="social.iconViewbox">
          <component :is="social.icon"></component>
        </icon-base>
      </a>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'ApmSocials',
    data() {
      return {
        socials: [{
            name: '',
            link: '#',
            icon: 'icon-medium',
            iconWidth: 28,
            iconHeight: 25,
            iconViewbox: '0 0 22 19',
          },
          {
            name: '',
            link: '#',
            icon: 'icon-facebook',
            iconWidth: 15,
            iconHeight: 25,
            iconViewbox: '0 0 9.3 19.8',
          },
          {
            name: '',
            link: '#',
            icon: 'icon-instagram',
            iconWidth: 25,
            iconHeight: 25,
            iconViewbox: '0 0 20 20',
          },
          {
            name: '',
            link: '#',
            icon: 'icon-youtube',
            iconWidth: 22,
            iconHeight: 25,
            iconViewbox: '0 0 16.2 19.4',
          },
          {
            name: '',
            link: '#',
            icon: 'icon-vk',
            iconWidth: 35,
            iconHeight: 25,
            iconViewbox: '0 0 24.6 14.5',
          },
          {
            name: '',
            link: '#',
            icon: 'icon-twitter',
            iconWidth: 29,
            iconHeight: 25,
            iconViewbox: '0 0 24.4 20.1',
          },
        ]
      }
    }
  }

</script>
