<template>
  <div class="banner-archive__list">
    <div class="banner-archive__item" v-for="(banners, index) in banners_date">
      <div class="banner-archive__header">
        <span class="banner-archive__date">{{ index }}</span><span @click="banners[0].expand = !banners[0].expand" class="banner-archive__views">Просмотренных баннеров: {{banners.length}}</span>
      </div>
      <div v-show="banners[0].expand" class="banner-archive__banners" v-for="(banner, index) in banners" :style="'max-width:'+banner.banner.real_width+'px'">
        <a :href="banner.banner.link" data-toggle="modal" class="banner-archive__link" target="_blank" v-if="banner.banner.type == 'L'">
          <img class="banner-archive__image" :src="banner.banner.img" alt="">
        </a>
        <a :href="'#preview-bn'+banner.banner.id" data-toggle="modal" class="banner-archive__link" v-else-if="banner.banner.type == 'W'">
          <img class="banner-archive__image" :src="banner.banner.img" alt="">
        </a>
        <a :href="banner.banner.link" data-toggle="modal" class="banner-archive__link" v-else-if="banner.banner.type == 'G'" target="_blank">
          <img class="banner-archive__image" :src="banner.banner.img" alt="">
        </a>
        <img class="banner-archive__image" :src="banner.banner.img" alt="" v-else>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'PersonalBannerArchive',
    components: {},
    created() {
      axios.get('/api/site/bn.json')
        .then(response => {
          this.banners_date = response.data
        })
        .catch(error => {
          console.log(error.response)
        });
    },
    data() {
      return {
        banners_date: []
      }
    },
    methods: {

    },
    mounted() {}
  }
</script>