<template>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" @click.prevent="changePage(1)" :disabled="pagination.current_page <= 1">&laquo;</a>
    <a class="pagination-previous" @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1">&lsaquo;</a>
    <ul class="pagination-list">
      <li v-for="(page,index) in pages" :key="index" class="pagination-list__item">
        <a class="pagination-link" :class="isCurrentPage(page) ? 'is-current' : ''" @click.prevent="changePage(page)">{{ page }}</a>
      </li>
    </ul>
    <a class="pagination-next" @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page">&rsaquo;</a>
    <a class="pagination-next" @click.prevent="changePage(pagination.last_page)" :disabled="pagination.current_page >= pagination.last_page">&raquo;</a>
  </nav>
</template>

<style>
    .pagination {
        margin-top: 40px;
    }
</style>

<script>
  export default {
    name: 'Pagination',
    data() {
      return {
        offset: 5,
        pagination: {
          current_page: 1,
          first_page_url: "http://en.newadp.me/api/site/manage/banner/list?page=1",
          from: 1,
          last_page: 8,
          last_page_url: "http://en.newadp.me/api/site/manage/banner/list?page=8",
          next_page_url: "http://en.newadp.me/api/site/manage/banner/list?page=2",
          path: "http://en.newadp.me/api/site/manage/banner/list",
          per_page: 10,
          prev_page_url: null,
          to: 10,
          total: 7
        }
      }  
    },
    methods: {
      isCurrentPage(page) {
        return this.pagination.current_page === page;
      },
      changePage(page) {
        if (page > this.pagination.last_page) {
          page = this.pagination.last_page;
        }
        this.pagination.current_page = page;
        this.$emit('paginate');
      }
    },
    computed: {
      pages() {
        let pages = [];
        let from = this.pagination.current_page - Math.floor(this.offset / 2);
        if (from < 1) {
          from = 1;
        }
        let to = from + this.offset - 1;
        if (to > this.pagination.last_page) {
          to = this.pagination.last_page;
        }
        while (from <= to) {
          pages.push(from);
          from++;
        }
        return pages;
      }
    }
  }
</script>