<template>
  <div class="faq__question">
    <a href="" @click.prevent="isShown = !isShown" class="question__title">
      <slot name="title">
      </slot>
    </a>
    <div v-show="isShown" class="faq__answer">
      <slot name="answer">
      </slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseFaqQuestion',
    data() {
      return {
        isShown: false
      }
    },
  }
</script>