<template>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item" v-for="(route, index) in $route.matched" :key="index">
      <router-link class="breadcrumbs__link" :to="{name: route.name}">
        {{ route.meta.breadcrumb }}
      </router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'BaseBreadcrumbs',
    data() {
      return {
      }
    }
  }
</script>