<template>
  <div class="select-category" v-click-outside="closeMessengerPopover">
    <div v-if="showTags" class="banner-tags__block">
      <ul class="banner-tags__list">
        <li v-for="(item, index) in select.selected" :key="index.id" class="category-tag">
          <span>{{ item.name }}
          </span>
          <button @click="deleteTag(item.id, index)" class="banner-tag__delete">×</button>
        </li>
      </ul>
    </div>
    <div :class="[{'multiple-checkbox--selected': select.show},'multiple-checkbox multiple-checkbox--popover']">
      <div @click.stop="togglePopover(select)" class="multiple-checkbox__title"> {{ select.name }}
      </div>
      <div class="multiple-category" v-if="select.show">
        <ul class="multiple-main" v-for="(mainCategory,index) in select.mainCategories" :key="index.id">
          <span class="multiple-main__name">{{ mainCategory.name }}</span>
          <li @click="selectItem(item)" :class="[{'select-category__item--selected': isSelected(item)},'multiple-main__item']" v-for="(item,index) in mainCategory.items"
            :key="index.id"> {{ item.name }}
          </li>
          <ul class="multiple-sub" v-for="(subCategory,index) in mainCategory.subCategories" :key="index.id">
            <span @click="subCategory.show = !subCategory.show" :class="[{'multiple-sub__name--open': subCategory.show},'multiple-sub__name']">
            {{ subCategory.name }}
            </span>
            <li @click="selectItem(item)" v-show="subCategory.show" :class="[{'select-category__item--selected': isSelected(item)},'multiple-sub__item']"
              v-for="(item,index) in subCategory.items" :key="index.id"> {{ item.name }}
            </li>
            <ul v-show="subCategory.show" class="multiple-sub-sub" v-for="(subSubCategory,index) in subCategory.subSubCategories" :key="index.id">
              <span @click="subSubCategory.show = !subSubCategory.show" :class="[{'multiple-sub-sub__name--open': subSubCategory.show},'multiple-sub-sub__name']">
              {{ subSubCategory.name }}
              </span>
              <li @click="selectItem(item)" v-show="subSubCategory.show" :class="[{'select-category__item--selected': isSelected(item)},'multiple-sub-sub__item']"
                v-for="(item,index) in subSubCategory.items" :key="index.id"> {{ item.name }}
              </li>
            </ul>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'BaseSelectCategory',
    props: ['select'],
    data() {
      return {

      }
    },
    methods: {
      togglePopover(e) {
        e.show = !e.show
      },
      closeMessengerPopover(e) {
        this.select.show = false
      },
      selectItem(item) {
        if (this.select.selected.find(selitem => selitem.id === item.id)) {
          this.select.selected = this.select.selected.filter(function (filter) {
            return filter.name !== item.name
          })
        } else {
          this.select.selected.push(item)
        }
      },
      deleteTag(id, index) {
        this.select.selected.splice(index, 1)
      },
      isSelected(item) {
        if (this.select.selected.find(selitem => selitem.id === item.id)) {
          return true
        } else {
          return false
        }
      }
    },
    computed: {
      showTags() {
        if (this.select.selected.length > 0) {
          return true
        } else {
          return false
        }
      },
    }
  }
</script>