<template>
  <div class="ecocard-catalog">
    <template v-if="!this.$route.params.section">
      <div class="ecocard-catalog__promo">
        <ul class="promo__list">
          <template v-for="(item, index) in promoSections">
            <router-link tag="li" :key="index" :to="item.link" class="promo__item" :style="{ backgroundColor: item.bgColor}">
              <span class="promo__name">{{ item.name }}</span>
              <img :src="item.bgImg" alt="" class="promo__img">
            </router-link>
          </template>
        </ul>
      </div>
      <div class="ecocard-catalog__sections">
        <ul class="sections__list">
          <li class="sections__item" v-for="(item, index) in catalog" :key="index">
            <router-link :to="item.link" class="sections__link">
              <span class="section__name">{{ item.name }}</span>
              <span class="section__programs">{{ item.programs }} программ</span>
            </router-link>
          </li>
        </ul>
      </div>
    </template>
    <template v-if="filteredCatalog">
      <h1 class="ecocard__title">{{ filteredCatalog.name }}</h1>
      <div class="ecocard-catalog__sections">
        <ul class="sections__list">
          <li class="sections__item" v-for="(item, index) in filteredCatalog.items" :key="index">
            <router-link :to="item.link" class="sections__link">
              <span class="section__name">{{ item.name }}</span>
              <span class="section__programs">{{ item.programs }} программ</span>
            </router-link>
          </li>
        </ul>
      </div>
    </template>
  </div>
</template>

<script>

  import axios from 'axios';

  export default {
    name: 'EcocardCatalog',
    data() {
      return {
        promoSections: [],
        catalog: [],
      }
    },
    beforeMount() {
      axios.get('/api/site/ecocard/catalog')
        .then(response => {
          this.catalog = response.data
        })
      axios.get('/api/site/ecocard/promo')
        .then(response => {
          this.promoSections = response.data
        })
    },
    computed: {
      filteredCatalog() {
        return this.catalog.filter(item => {
         return item.link.indexOf(this.$route.params.section) > -1
      }).pop()
      },
    }
  }
</script>