<template>
  <div :class="[{'ecocard-nav--scrolled': scrolled},'ecocard-nav']" v-on:scroll="handleScroll">
    <ul class="ecocard-nav__list">
      <li v-for="(item, index) in items" :key="index" class="ecocard-nav__item">
        <router-link :to="item.link" class="ecocard-nav__link" :exact="item.link==='/ecocard/'">
          <span class="ecocard-nav__icon">
            <icon-base width="35" height="35" viewBox="0 0 35 35">
              <component :is="item.icon"></component>
            </icon-base>
          </span>
          <span class="ecocard-nav__name">{{ item.name }}</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'EcocardNav',
    data() {
      return {
        scrolled: false,
        scrollStart: 50,
        lastPosition: 0,
        items: [{
            name: 'Мои карты',
            link: '/ecocard/',
            icon: 'icon-catalog'
          },
          {
            name: 'Каталог',
            link: '/ecocard/catalog',
            icon: 'icon-cards'
          },
          {
            name: 'Поиск',
            link: '/ecocard/search',
            icon: 'icon-search'
          }
        ]
      }
    },
    methods: {
      handleScroll() {
        if (this.lastPosition < window.scrollY && this.scrollStart < window.scrollY) {
          this.scrolled = true;
          // move up!
        }

        if (this.lastPosition > window.scrollY) {
          this.scrolled = false;
          // move down
        }

        this.lastPosition = window.scrollY;
        // this.scrolled = window.scrollY > 250;
      }
    },
    created() {
      window.addEventListener("scroll", this.handleScroll);
    },
    destroyed() {
      window.removeEventListener("scroll", this.handleScroll);
    }
  }
</script>