<template>
  <div class="ecocard-detail">
    <div class="detail-ecocard detail-ecocard--branch">
      <div class="detail-ecocard__header">
        <span v-if="branch.type == 'online'" class="ecocard-header__type">
          <span class="header-type__name">Филиал</span>
          <div class="branch-type branch-type--online">
            <span class="branch-type__icon">
              <icon-base viewBox="0 0 11 16" width="11" height="16">
                <icon-map-marker></icon-map-marker>
              </icon-base>
            </span>
            <span class="branch-type__name">Online</span>
          </div>
        </span>
        <span v-if="branch.type == 'offline'" class="ecocard-header__type">
          <span class="header-type__name">Филиал</span>
          <div class="branch-type branch-type--offline">
            <span class="branch-type__icon">
              <icon-base viewBox="0 0 17 17" width="17" height="17">
                <icon-globe></icon-globe>
              </icon-base>
            </span>
            <span class="branch-type__name">Offline</span>
          </div>
        </span>
        <div v-if="!this.$root.mobile" class="ecocard-header__buttons">
          <a href="" @click.prevent="modalShare(branch)" class="bttn bttn--transparent-blue bttn--small">Поделиться</a>
          <a v-if="!branch.isAdded" @click.prevent="modalAddBranch(branch)" href="#add" class="bttn bttn--blue bttn--small">Добавить филиал</a>
          <a v-else @click.prevent="modalDeleteBranch(branch)" href="#delete" class="bttn bttn--transparent-red bttn--small">Удалить филиал</a>
        </div>
      </div>
      <div class="detail-ecocard__body">
        <h1 v-if="this.$root.mobile" class="body-block__title">{{ branch.name }}</h1>
        <div v-if="this.$root.mobile" class="body-block__description">
          <div v-if="rating" class="body-block__rating"><star-rating
              :rating="rating.all.value"
              active-color="#f5a623"
              :star-size="14"
              :increment="0.01"
              :inline="true"
              :padding="5"
              text-class="rating__value"
              read-only 
              ></star-rating>
              <a v-if="!rating.user.value" href="" @click.prevent="modalRateBranch(branch)" class="rate__link">Выставить оценку</a>
          </div>
        </div>
        <div class="ecocard-body__block ecocard-body__block--gallery">
          <swiper :options="swiperOption">
            <swiper-slide v-viewer  v-for="(slide, index) in branch.gallery" :key="index">
              <img class="swiper__img" :src="slide.src" :alt="slide.name">
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </swiper>
        </div>
        <div v-if="this.$root.mobile" class="ecocard-body__buttons">
          <a v-if="!branch.isAdded" @click.prevent="modalAddBranch(branch)" href="#add" class="bttn bttn--blue bttn--fullwidth">Добавить филиал</a>
          <a v-else @click.prevent="modalDeleteBranch(branch)" href="#delete" class="bttn bttn--transparent-red bttn--fullwidth">Удалить филиал</a>
          <a @click.prevent="modalShare(branch)" href="" class="bttn bttn--transparent-blue bttn--fullwidth">Поделиться</a>
        </div>
        <div v-if="!this.$root.mobile" class="ecocard-body__block">
          <div class="body-block__name">Название:</div>
          <div class="body-block__description">
            <h1 class="body-block__title">{{ branch.name }}</h1>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Описание:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{ branch.description }}</p>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Программа филиала:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{ branch.service }}</p>
          </div>
        </div>
        <div v-if="!this.$root.mobile" class="ecocard-body__block">
          <div class="body-block__name">Оценка:</div>
          <div v-if="rating" class="body-block__description">
            <star-rating v-tooltip.bottom="{content: rating.all.value, offset: '10', classes: 'apm-tooltip'}"
              :rating="rating.all.value"
              :star-size="14"
              :increment="0.01"
              :inline="true"
              :padding="5"
              :show-rating="false"
              active-color="#f5a623"              
              text-class="rating__value"
              read-only 
              ></star-rating>
              <a v-if="!rating.user.value" href="" @click.prevent="modalRateBranch(branch)" class="rate__link">Выставить оценку</a>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Время работы:</div>
          <div class="body-block__description">
            <div class="body-block__working">
              <div class="working-hours__days">
                <div v-for="(workingHour, index) in branch.workingHours" :key="index" class="working-hours__day">{{ workingHour.day }}</div>
              </div>
              <div class="working-hours__times">
                <div v-for="(workingHour, index) in branch.workingHours" :key="index" class="working-hours__time">{{ workingHour.time }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Телефоны:</div>
          <div class="body-block__description">
            <div v-for="(phone,index) in branch.phones" :key="index" class="body-block__phones">
              <div class="phones__number">
                <a v-if="$root.mobile" :href="'tel:'+phone.number" class="phones__link">{{phone.number}}</a>
                <p v-else class="body-block__text">{{phone.number}}</p>
              </div>
              <div class="phones__messengers">
                <ul class="phone-messengers__list">
                  <li v-for="(messenger,index) in phone.messengers" :key="index" class="phone-messengers__item">
                    <a :href="messenger.link" :title="messenger.name" class="phone-messengers__link">
                      <img :src="messenger.img" alt="" class="phone-messengers__img">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Е-mail:</div>
          <div class="body-block__description">
            <a href="#" class="body-block__link">medved@mail.ru</a>
          </div>
        </div>
        <div :class="[{'ecocard-body__block--centered': !this.$root.mobile},'ecocard-body__block']">
          <div class="body-block__name">Соцсети:</div>
          <div class="body-block__description">
            <ul class="body-block__socials">
              <li v-for="(social, index) in branch.socials" :key="index" class="social__item">
                <a :href="social.link" :title="social.name" target="_blank" class="social__link">
                  <img :src="social.img" alt="" class="social__img">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Адрес:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{branch.address}}</p>
          </div>
        </div>
        <div v-if="branch.map" class="ecocard-body__block ecocard-body__block--map">
          <GmapMap v-if="branch.map.center" :center="branch.map.center" :zoom="branch.map.zoom">
            <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
            {{ branch.name }}
            </gmap-info-window>
            <GmapMarker :key="index" v-for="(m, index) in branch.map.markers" :position="m.position" :clickable="true" :draggable="true"
              @click="toggleInfoWindow(m,index)" />
          </GmapMap>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import 'swiper/dist/css/swiper.css'
  import {
    swiper,
    swiperSlide
  } from 'vue-awesome-swiper'

  export default {
    name: 'EcocardBranchDetail',
    components: {
      swiper,
      swiperSlide
    },
    props: {
      ecocardId: '',
      branchId: '',
    },
    data() {
      return {
        infoOptions: {
          pixelOffset: {
            width: 0,
            height: -35
          }
        },
        infoWindowPos: null,
        infoWinOpen: false,
        branch: [],
        swiperOption: {
          pagination: {
            el: '.swiper-pagination'
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        },
      }
    },
    // beforeMount() {
    //   axios.get('/api/site/ecocard/branch')
    //     .then(response => {
    //       this.branch = response.data
    //     })
    // },
    beforeRouteEnter (to, from, next) {
      NProgress.start()
      axios.get('/api/site/ecocard/branch')
        .then(response => {
          NProgress.done()
          next(vm => {(vm.branch = response.data) } )
          
        })
    },
    computed: {
      reviewsNumber() {
        if (this.branch.reviews) {
          return this.branch.reviews.length
        }
        return ''
      },
      rating() {
        if (this.branch.rating) {
        return this.branch.rating
        } return null
      }
    },
    methods: {
      toggleInfoWindow: function (marker, idx) {
        this.infoWindowPos = marker.position;
        this.infoContent = marker.infoText;
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx == idx) {
          this.infoWinOpen = !this.infoWinOpen;
        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true;
          this.currentMidx = idx;
        }
      },
      modalShare(branch) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
            <p class="modal__header">Поделиться</p>
            <social-sharing url="poganko.com" :title="title" :description="description"
              inline-template>
              <div class="modal__share-social">
                <network class="share-social__item" network="facebook">
                  <img src="/img/soc-fb.svg" alt="" class="share-social__img"> 
                </network>
                <network class="share-social__item" network="twitter">
                  <img src="/img/soc-tw.svg" alt="" class="share-social__img"> 
                </network>
                <network class="share-social__item" network="vk">
                  <img src="/img/soc-vk.svg" alt="" class="share-social__img"> 
                </network>
              </div>
            </social-sharing>
            <input class="input input--modal-share" ref="href" :value="href" readonly>
            <button class="bttn bttn--blue" @click="copyLink">Копировать ссылку</button>
            <span class="modal__close" @click="$emit('close')"></span>
          </div>
          `,
          methods: {
            copyLink() {
              this.$refs.href.select()
              document.execCommand('copy')
              alert('Ссылка скопирована')
            }
          },
          computed: {
            href() {
              return window.location.href
            }
          },
          props: ['title', 'description', 'quote']
        }, {
          title: branch.name,
          description: branch.description,
          quote: branch.service,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
      modalAddBranch(branch) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Добавить филиал {{ branchName }} в список ваших программ?</p>
              <button class="bttn bttn--blue" @click="addBranch">Добавить</button>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            addBranch() {
              branch.isAdded = true
              this.$emit('close')
            }
          },
          props: ['branchName']
        }, {
          branchName: branch.name,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
      modalDeleteBranch(branch) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Удалить {{ branchName }} из списка ваших программ?</p>
              <button class="bttn bttn--red" @click="deleteBranch">Удалить</button>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            deleteBranch() {
              branch.isAdded = false
              this.$emit('close')
            }
          },
          props: ['branchName']
        }, {
          branchName: branch.name,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true
        })
      },
      modalRateBranch(branch) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Выставить оценку филиалу {{ branchName }}</p>
              <div class="modal__body">
                <star-rating
                @rating-selected ="setRating"
                active-color="#f5a623"
                :star-size="size"
                :inline="true"
                :show-rating="false"
                :padding="5"
                ></star-rating>
              </div>
              <button :disabled="!this.ratingTemp" class="bttn bttn--blue" @click="rateBranch">Оценить</button>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            rateBranch() {
              this.rating.user.value = this.ratingTemp
              this.$emit('close')
            },
            setRating(value) {
              this.ratingTemp = value
            }
          },
          computed: {
            size() {
              return this.$root.mobile ? 34 : 24
            }
          },
          data() {
            return {
              ratingTemp: null
            }
          },
          props: ['branchName', 'rating'],
        }, {
          branchName: branch.name,
          rating: branch.rating,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true
        })
      },
    }
  }
</script>