<template>
  <div class="ecocards-list">
    <div v-if="this.$route.name!='ecocard'" class="ecocards-list__header">
      <router-link class="ecocards-list__subtitle" tag="h2" :to="this.categoryLink">{{ this.category }}</router-link>
      <h1 class="ecocards-list__title">{{ this.sectionName }}</h1>
    </div>
    <div class="ecocards-list__controls">
      <div class="switch-appearance"></div>
      <div class="ecocards-filter">
        <span class="ecocards-filter__button" @click.prevent="showFilter">
          <icon-profile-navigation-settings></icon-profile-navigation-settings>
        </span>
      </div>
    </div>
    <div class="ecocards__list">
      <masonry :cols="{default: 3, 1024: 2, 767: 1}" :gutter="20">
        <router-link tag="div" :to="'/ecocard/'+item.id" class="ecocard__card" v-for="(item, index) in items" :key="index">
          <div class="card-header">
            <span class="card-header__name">ID:</span>
            <span class="card-header__id">{{ item.id }}</span>
          </div>
          <div class="card-img">
            <progressive-img :src="item.img" alt="" class="card__img" />
          </div>
          <div class="card-info">
            <h3 class="card__name">{{ item.name }}</h3>
            <div class="card-branches">
              <span v-if="item.offline" class="card-branch">
                <span class="card-branch__icon card-branch__icon--offline">
                  <icon-base viewBox="0 0 11 16" width="11" height="16">
                    <icon-map-marker></icon-map-marker>
                  </icon-base>
                </span>
                <span class="card-branch__name">Offline</span>
              </span>
              <span v-if="item.online" class="card-branch">
                <span class="card-branch__icon card-branch__icon--online">
                  <icon-base viewBox="0 0 17 17" width="17" height="17">
                    <icon-globe></icon-globe>
                  </icon-base>
                </span>
                <span class="card-branch__name">Online</span>
              </span>
            </div>
            <span class="card-status">
              <img v-tooltip.bottom="{content: item.flag.text, offset: '10', classes: 'apm-tooltip'}" :src="item.flag.icon" alt="" class="card-status__img">
            </span>
            <p class="card__description">{{ item.description }}</p>
            <div class="card-stats">
              <span class="card-stat">
                <span class="card-stats__icon">
                  <icon-base viewBox="0 0 30 30" width="25" height="25">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                <span class="card-stats__num">{{item.subscribers}}</span>
              </span>
              <span class="card-stat">
                <span class="card-stats__icon">
                  <icon-base viewBox="0 0 30 30" width="25" height="25">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                <span class="card-stats__num">{{item.branches}}</span>
              </span>
            </div>
            <button v-if="!item.isAdded" @click.prevent="modalAddEcocard(item)" class="bttn bttn--blue bttn--fullwidth">Добавить</button>
          </div>
        </router-link>
      </masonry>
    </div>
    <div v-if="filter.show" class="ecocard-filter">
      <div class="ecocard-filter__inner">
        <h2 class="ecocard-filter__title">Фильтр</h2>
        <div class="ecocard-filter__block">
          <label for="1-1" class="filter-checkbox">Offline
            <input id="1-1" type="checkbox">
            <span class="filter-checkmark"></span>
          </label>
          <label for="1-2" class="filter-checkbox">Online
            <input id="1-2" type="checkbox">
            <span class="filter-checkmark"></span>
          </label>
        </div>
        <div class="ecocard-filter__block">
          <div class="ecocard-filter__item">
            <select name="country" :class="[{'select--selected': filter.country}, 'select select--filter']" v-model="filter.country">
              <option class="option" value="" selected hidden>Страна</option>
              <option class="option" value="male">Беларусь</option>
              <option class="option" value="female">Литва</option>
            </select>
          </div>
          <div class="ecocard-filter__item">
            <select name="region" :class="[{'select--selected': filter.region}, 'select select--filter']" v-model="filter.region">
              <option class="option" value="" selected hidden>Область</option>
              <option class="option" value="male">Беларусь</option>
              <option class="option" value="female">Литва</option>
            </select>
          </div>
          <div class="ecocard-filter__item">
            <select name="city" :class="[{'select--selected': filter.city}, 'select select--filter']" v-model="filter.city">
              <option class="option" value="" selected hidden>Город</option>
              <option class="option" value="male">Беларусь</option>
              <option class="option" value="female">Литва</option>
            </select>
          </div>
        </div>
        <div class="ecocard-filter__block">
          <div class="ecocard-filter__item">
            <label for="2-1" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-1" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-2" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-2" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-3" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-3" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-4" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-4" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-5" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-5" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-6" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-6" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
          <div class="ecocard-filter__item">
            <label for="2-7" class="filter-cat-checkbox">
              <span class="filter-cat-checkbox__text">Автозапчасти и аксессуары</span>
              <input id="2-7" type="checkbox">
              <span class="filter-cat-checkmark"></span>
            </label>
          </div>
        </div>
        <div class="ecocard-filter__block">
          <div class="ecocard-filter__item">
            <a href="#" class="bttn bttn--blue">Применить</a>
          </div>
          <div class="ecocard-filter__item">
            <a href="#" class="bttn bttn--transparent-blue">Сбросить</a>
          </div>
        </div>
      <div @click.prevent="closeFilter" class="ecocard-filter__close"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'EcocardCardsList',
    props: {
      section: ''
    },
    data() {
      return {
        filter: {
          show: false,
          country: '',
          region: '',
          city: ''
        },
        items: [],
        category: '',
        categoryLink: '',
        sectionName: ''
      }
    },
    beforeMount() {
      axios.get('/api/site/ecocard/items')
        .then(response => {
          this.items = response.data.items
          this.category = response.data.category
          this.categoryLink = response.data.categoryLink
          this.sectionName = response.data.section
        })
    },
    beforeDestroy() {
      document.body.classList.remove('block-scroll')      
    },
    computed: {
      filteredItems() {
        if (this.section) {
          return this.items.filter(item => {
            return item.section.indexOf(this.section) > -1
          })
        } else {
          return this.items
        }
      },
    },
    methods: {
      modalAddEcocard(item) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Добавить программу {{ progName }} со всеми филиалами в список ваших программ?</p>
              <button class="bttn bttn--blue" @click="add">Добавить</button>
              <p class="modal__text">Добавить выборочно филиалы можно перейдя на страницу нужного филиала</p>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            add() {
              item.isAdded = true
              this.$emit('close')
            }
          },
          props: ['progName']
        }, {
          progName: item.name,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true
        })
      },
      sort() {
        this.section = 'rent'
      },
      add() {
        axios.get('/api/site/ecocard/items')
          .then(response => {
            this.items == this.items.push(response.data.name)
          })
      },
      showFilter() {
        document.body.classList.add('block-scroll')
        this.filter.show = true
      },
      closeFilter() {
        document.body.classList.remove('block-scroll')
        this.filter.show = false
      }
    }
  }
</script>