<template>
  <div class="ecocard-search">
    <h1 class="ecocard-search__title">Введите ID-номер или название программы</h1>
    <form action="">
      <div class="eco-search">
        <span class="eco-search__icon">
          <icon-base viewBox="0 0 35 35" width="25" height="25"><icon-search></icon-search></icon-base>
        </span>
        <input type="text" class="eco-search__input">
        <button class="eco-search__button">Найти</button>
      </div>
    </form>
  </div>
</template>

<script>

  import axios from 'axios';

  export default {
    name: 'EcocardSearch',
    data() {
      return {
        promoSections: '',
        catalog: [],
      }
    },
    computed: {

    }
  }
</script>