<template>
  <div class="ecocard-detail">
    <div class="detail-ecocard">
      <div class="detail-ecocard__header">
        <span class="ecocard-header__type">Программа</span>
        <div v-if="!this.$root.mobile" class="ecocard-header__buttons">
          <a href="" @click.prevent="modalShare(card)" class="bttn bttn--transparent-blue bttn--small">Поделиться</a>
          <a v-if="!card.isAdded" @click.prevent="modalAddEcocard(card)" href="#add" class="bttn bttn--blue bttn--small">Добавить программу</a>
          <a v-else @click.prevent="modalDeleteEcocard(card)" href="#delete" class="bttn bttn--transparent-red bttn--small">Удалить программу</a>
        </div>
      </div>
      <div class="detail-ecocard__body">
        <div class="ecocard-body__block ecocard-body__block--main">
          <div class="body-block__name">
            <progressive-img :src="card.logoSrc" alt="" class="body-block__logo" />
          </div>
          <div v-if="this.$root.mobile" class="ecocard-body__buttons">
            <a v-if="!card.isAdded" @click.prevent="modalAddEcocard(card)" href="#add" class="bttn bttn--blue bttn--fullwidth">Добавить программу</a>
            <a v-else @click.prevent="modalDeleteEcocard(card)" href="#delete" class="bttn bttn--transparent-red bttn--fullwidth">Удалить программу</a>
            <a href="" @click.prevent="modalShare(card)" class="bttn bttn--transparent-blue bttn--fullwidth">Поделиться</a>
          </div>
          <div class="body-block__description">
            <h1 class="body-block__title body-block__title--branch">{{ card.name }}</h1>
            <div class="body-block__rating" v-if="rating">
              <star-rating :rating="rating.all.value" :star-size="14" :increment="0.01" :inline="true" :padding="5" active-color="#f5a623"
                text-class="rating__value" read-only></star-rating>
              <a v-if="!rating.user.value" href="" @click.prevent="modalRateProgram(card)" class="rate__link">Выставить оценку</a>
            </div>
            <p class="body-block__text">{{ card.description }}</p>
            <div class="body-block__tags">
              <span :title="tag" v-for="(tag, index) in card.tags" :key="index" class="ecocard-tag">{{ tag }}</span>
            </div>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Услуги по программе:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{ card.service }}</p>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Подписчики:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{card.subscribers}}</p>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Филиалы:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{card.branchesTotal}}</p>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Юр. адрес:</div>
          <div class="body-block__description">
            <p class="body-block__text">{{card.address}}</p>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Телефоны:</div>
          <div class="body-block__description">
            <div v-for="(phone,index) in card.phones" :key="index" class="body-block__phones">
              <div class="phones__number">
                <a v-if="$root.mobile" :href="'tel:'+phone.number" class="phones__link">{{phone.number}}</a>
                <p v-else class="body-block__text">{{phone.number}}</p>
              </div>
              <div class="phones__messengers">
                <ul class="phone-messengers__list">
                  <li v-for="(messenger,index) in phone.messengers" :key="index" class="phone-messengers__item">
                    <a :href="messenger.link" :title="messenger.name" class="phone-messengers__link">
                      <img :src="messenger.img" alt="" class="phone-messengers__img">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Е-mail:</div>
          <div class="body-block__description">
            <a href="#" class="body-block__link">medved@mail.ru</a>
          </div>
        </div>
        <div class="ecocard-body__block">
          <div class="body-block__name">Сайт:</div>
          <div class="body-block__description">
            <a href="#" class="body-block__link">hozdvor.by</a>
          </div>
        </div>
        <div :class="[{'ecocard-body__block--centered': !this.$root.mobile},'ecocard-body__block']">
          <div class="body-block__name">Соцсети:</div>
          <div class="body-block__description">
            <ul class="body-block__socials">
              <li v-for="(social, index) in card.socials" :key="index" class="social__item">
                <a :href="social.link" :title="social.name" target="_blank" class="social__link">
                  <img :src="social.img" alt="" class="social__img">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div v-for="(branch, index) in card.branches" :key="index" class="detail-ecocard detail-ecocard--branch-preview">
      <div class="branch-preview">
        <div class="branch-preview__block">
          <span class="branch-preview__type">Филиал</span>
          <div v-if="branch.type === 'Online'" class="branch-type branch-type--online">
            <span class="branch-type__icon">
              <icon-base viewBox="0 0 11 16" width="11" height="16">
                <icon-map-marker></icon-map-marker>
              </icon-base>
            </span>
            <span class="branch-type__name">{{branch.type}}</span>
          </div>
          <div v-else class="branch-type branch-type--offline">
            <span class="branch-type__icon">
              <icon-base viewBox="0 0 17 17" width="17" height="17">
                <icon-globe></icon-globe>
              </icon-base>
            </span>
            <span class="branch-type__name">{{branch.type}}</span>
          </div>
        </div>
        <div class="branch-preview__block">
          <div class="branch-preview__info">
            <div class="branch-preview__linked">
              <router-link :to="'/ecocard/'+card.id+'/'+branch.id" class="branch-preview__name">{{branch.name}}</router-link>
              <span v-tooltip.bottom="{content: branch.rating, offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                <star-rating :rating="branch.rating" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                  text-class="rating__value" read-only></star-rating>
              </span>
              <a href="" class="rate__link">Rate</a>
            </div>
            <a href="#" class="branch-preview__link">{{branch.value}}</a>
          </div>
          <span class="branch-preview__status">
            <img v-tooltip.bottom="{content: branch.flag.text, offset: '10', classes: 'apm-tooltip'}" :src="branch.flag.icon" alt=""
              class="branch-status__img">
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'EcocardCardDetail',
    props: {
      id: ''
    },
    data() {
      return {
        card: [],
      }
    },
    components: {

    },
    // beforeMount() {
    //   axios.get('/api/site/ecocard/card')
    //     .then(response => {
    //       this.card = response.data
    //     })
    // },
    beforeRouteEnter(to, from, next) {
      NProgress.start()
      axios.get('/api/site/ecocard/card')
        .then(response => {
          NProgress.done()
          next(vm => {
            (vm.card = response.data)
          })

        })
    },
    computed: {
      rating() {
        if (this.card.rating) {
          return this.card.rating
        }
        return null
      }
    },
    methods: {
      modalShare(card) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
            <p class="modal__header">Поделиться</p>
            <social-sharing url="poganko.com" :title="title" :description="description"
              inline-template>
              <div class="modal__share-social">
                <network class="share-social__item" network="facebook">
                  <img src="/img/soc-fb.svg" alt="" class="share-social__img"> 
                </network>
                <network class="share-social__item" network="twitter">
                  <img src="/img/soc-tw.svg" alt="" class="share-social__img"> 
                </network>
                <network class="share-social__item" network="vk">
                  <img src="/img/soc-vk.svg" alt="" class="share-social__img"> 
                </network>
              </div>
            </social-sharing>
            <input class="input input--modal-share" ref="href" :value="href" readonly>
            <button class="bttn bttn--blue" @click="copyLink">Копировать ссылку</button>
            <span class="modal__close" @click="$emit('close')"></span>
          </div>
          `,
          methods: {
            copyLink() {
              this.$refs.href.select()
              document.execCommand('copy')
              alert('Ссылка скопирована')
            }
          },
          computed: {
            href() {
              return window.location.href
            }
          },
          props: ['title', 'description', 'quote']
        }, {
          title: card.name,
          description: card.description,
          quote: card.service,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
      modalAddEcocard(item) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Добавить программу {{ progName }} со всеми филиалами в список ваших программ?</p>
              <button class="bttn bttn--blue" @click="addProgram">Добавить</button>
              <p class="modal__text">Добавить выборочно филиалы можно перейдя на страницу нужного филиала</p>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            addProgram() {
              item.isAdded = true
              this.$emit('close')
            }
          },
          props: ['progName']
        }, {
          progName: item.name,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
      modalDeleteEcocard(item) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Удалить {{ progName }} со всеми филиалами из списка ваших программ?</p>
              <button class="bttn bttn--red" @click="deleteProgram">Удалить</button>
              <p class="modal__text">Удалить выборочно филиалы можно перейдя на страницу нужного филиала</p>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            deleteProgram() {
              item.isAdded = false
              this.$emit('close')
            }
          },
          props: ['progName']
        }, {
          progName: item.name,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true
        })
      },
      modalRateProgram(card) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
              <p class="modal__header">Выставить оценку программе {{ progName }}</p>
              <div class="modal__body">
                <star-rating
                @rating-selected ="setRating"
                active-color="#f5a623"
                :star-size="size"
                :inline="true"
                :show-rating="false"
                :padding="5"
                ></star-rating>
              </div>
              <button :disabled="!this.ratingTemp" class="bttn bttn--blue" @click="rateProgram">Оценить</button>
              <span class="modal__close" @click="$emit('close')"></span>
            </div>
          `,
          methods: {
            rateProgram() {
              this.rating.user.value = this.ratingTemp
              this.$emit('close')
            },
            setRating(value) {
              this.ratingTemp = value
            }
          },
          computed: {
            size() {
              return this.$root.mobile ? 34 : 24
            }
          },
          data() {
            return {
              ratingTemp: null
            }
          },
          props: ['progName', 'rating'],
        }, {
          progName: card.name,
          rating: card.rating
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true
        })
      },
    }
  }
</script>