<template>
  <footer class="footer">
   <p class="landing__copy">Copyright © {{ new Date().getFullYear() }} APM Agentuur. All rights reserved</p>
  </footer>
</template>

<script>
export default {
  name: 'FooterLanding'
};
</script>
