<template>
  <footer class="footer footer--profile">
    <p class="profile__copy">Copyright © {{ new Date().getFullYear() }} APM Agentuur. All rights reserved</p>
    <apm-socials class="socials--profile"></apm-socials>
  </footer>
</template>

<script>
  import ApmSocials from '../app/ApmSocials.vue';

  export default {
    name: 'FooterProfile',
    components: {
      'apm-socials': ApmSocials
    }
  };

</script>
