<template>
  <div v-if="user" class="header__info">
      <span class="info__balance">{{ user.balance.current | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
      <icon-header-personal class="info__icon"></icon-header-personal>
      <span class="info__name" :title="user.name">{{ user.name }}</span>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'HeaderPersonInfo',
    data() {
      return {
        user: null
      }
    },
    beforeCreate() {
      axios.get('/api/site/profile/user')
        .then(response => {
          this.user = response.data
        })

    }
  }

</script>
