<template>
  <nav class="header-nav">
    <template v-if="this.$root.globalAuth">
      <router-link @click.native.stop="closeMenu" v-for="(item, index) of items" :key="index" :to="{ path: item.link }" class="header-nav__link" >
        <span class="header-nav__icon" :class="{'header-nav__icon--pulse': item.iconPulse}">
          <icon-base :width="item.iconWidth" :height="item.iconHeight" :viewBox="item.iconViewbox" :icon-name="item.name">
            <component :is="item.icon" />
          </icon-base>
        </span>
      </router-link>
    </template>
  </nav>
</template>

<script>

  export default {
    name: 'HeaderNav',
    data() {
      return {
        items: [{
            name: 'profile',
            link: '/profile',
            icon: 'icon-profile-new',
            iconViewbox: '0 0 30 30',
            iconHeight: 30,
            iconWidth: 30,
          },
          {
            name: 'ecocard',
            link: '/ecocard',
            icon: 'icon-ecocard-new',
            iconViewbox: '0 0 30 30',
            iconHeight: 30,
            iconWidth: 30,
          },
          {
            name: 'board',
            link: '/board',
            iconPulse: true,
            icon: 'icon-board-new',
            iconViewbox: '0 0 30 30',
            iconHeight: 30,
            iconWidth: 30,
          },
          {
            name: 'personal',
            link: '/personal',
            icon: 'icon-settings',
            iconViewbox: '0 0 30 30',
            iconHeight: 30,
            iconWidth: 30,
          },
        ],
      }
    },
    methods: {
      closeMenu() {
        this.$root.mainMenuSeen = false;
      }
    }
  };

</script>
