<template>
  <header class="header">
    <router-link @click.native="closeMenu" :to="'/'" :class="[{ 'header__logo--auth': this.$root.globalAuth}, 'header__logo']">
      <icon-header-logo />
    </router-link>
    <router-link  v-if="!this.$root.globalAuth && !this.$root.mobile" :to="'/login'" class="header-nav__link header-nav__link--login">
      <span class="header-nav__icon">
        <icon-base width="30" height="30" viewBox="0 0 30 30">
          <icon-profile-new />
        </icon-base>
      </span>
      <span class="header-nav__text">Войти</span>
    </router-link>
    <nav-main-menu ></nav-main-menu>
    <header-nav></header-nav>
    <nav-language v-if="!this.$root.isApp"></nav-language>
    <nav-qr v-if="this.$root.isApp"></nav-qr>
    <!-- <div v-if="this.$root.globalAuth" class="header__info">
      <b-button variant="success">5.695 € Дмитрий</b-button>
    </div> -->
    <header-person-info v-if="this.$root.globalAuth && !this.$root.mobile"></header-person-info>
  </header>
</template>

<script>
  import HeaderNav from './HeaderNav.vue';
  import NavMainMenu from './NavMainMenu.vue';
  import NavLanguage from './NavLanguage.vue';
  import NavQr from './NavQr.vue';
  import HeaderPersonInfo from './HeaderPersonInfo.vue';

  export default {
    name: 'Header',
    data() {
      return {
      }
    },
    components: {
      'header-nav': HeaderNav,
      'nav-main-menu': NavMainMenu,
      'nav-language': NavLanguage,
      'nav-qr': NavQr,
      'header-person-info': HeaderPersonInfo,
    },
    methods: {
      closeMenu() {
        this.$root.mainMenuSeen = false
      }
    }
  };

</script>
