<template>
  <div>
    <h1 class="info-title">Оферта на оказание услуг «APM Agentuur» ООО</h1>
    <p class="info-paragraph">Эстонская Республика, город Таллин</p>
    <p class="info-paragraph">Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «APM Agentuur» ООО заключить Договор на оказание Услуг «APM Agentuur» ООО на изложенных ниже условиях.</p>
    <ol class="info-list">
      <li class="info-list__item">Предмет договора
        <p class="info-paragraph">1.1. Предметом Договора является возмездное оказание «APM Agentuur» ООО услуг по показу рекламного объявления (рекламы) Рекламодателя на Рекламных местах.</p>
      </li>
      <li class="info-list__item">Оределения и термины
        <p class="info-paragraph">2.1. В целях настоящего документа нижеприведенные термины используются в следующем значении:</p>
        <p class="info-paragraph">Оферта – настоящий документ «Оферта на оказание услуг «APM Agentuur» ООО», размещенный в сети Интернет по адресу www.adpays.me.</p>
        <p class="info-paragraph">Www.adpays.me или Сайт – информационный ресурс «APM Agentuur» ООО, размещенный в сети Интернет в домене www.adpays.me.</p>
        <p class="info-paragraph">Пользователь – зарегистрированный пользователь Сайта.</p>
        <p class="info-paragraph">Рекламное место – место, выделенное в дизайне веб-страницы для размещения (показа) рекламных объявлений.</p>
        <p class="info-paragraph">Рекламное объявление, реклама – рекламный баннер, содержащий рекламную информацию, Ссылку, Листовку, Визитку или Видеоролик, предоставленные Рекламодателем в рамках определенной Рекламной кампании для показа в соответствии с условиями Оферты, и соответствующий требованиям, обусловленным пп. 3.5., 3.6. Оферты.</p>
        <p class="info-paragraph">Ссылка – включенная в Рекламное объявление ссылка, перенаправляющая обратившихся к ней посредством клика Пользователей к информационному ресурсу (сайту) в сети Интернет, адрес (URL) которого указан Рекламодателем для данного Рекламного объявления (далее – «Ссылка на сайт»).</p>
        <p class="info-paragraph">Листовка – включенное в Рекламное объявление изображение, раскрывающееся в результате клика Пользователя.</p>
        <p class="info-paragraph">Визитка – включенный в Рекламное объявление текст, показывающийся в результате клика Пользователя.</p>
        <p class="info-paragraph">Видеоролик – включенное в Рекламное объявление видео, проигрывающееся в результате клика Пользователя.</p>
        <p class="info-paragraph">Рекламная кампания – совокупность заказанных Рекламодателем Рекламных объявлений, в отношении которых после заключения Договора осуществляется оказание Услуг в соответствии с определенными Рекламодателем условиями размещения. Каждая Рекламная кампания имеет свой уникальный номер, присваиваемый «APM Agentuur» ООО при ее создании Рекламодателем.</p>
        <p class="info-paragraph">Показ – размещение/отображение Рекламного объявления на Рекламных местах.</p>
        <p class="info-paragraph">Клик – действие Пользователя по просмотру содержащейся в Рекламном объявлении информации или переход по Ссылке.</p>
        <p class="info-paragraph">Акцепт Оферты – полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 7. Оферты. При Акцепте Оферты Договор считается заключенным.</p>
        <p class="info-paragraph">Договор – возмездный договор между Рекламодателем и «APM Agentuur» ООО на оказание услуг по показу рекламного объявления (рекламы) Рекламодателя на Рекламных местах.</p>
        <p class="info-paragraph">Рекламодатель – лицо, осуществившее Акцепт Оферты. Рекламодатель является заказчиком услуг «APM Agentuur» ООО по заключенному Договору и несет ответственность за все действия, совершенные им, а также его представителем через Клиентский веб-интерфейс.</p>
        <p class="info-paragraph"></p>
        <p class="info-paragraph">1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая просмотр и хранение размещенных на Сайте материалов, регистрацию и/или авторизацию на Сайте, размещение или отображение на Сайте фотоматериалов, текстов, изображений, сведений и/или иной информации создает договор на условиях настоящего Соглашения.</p>
        <p class="info-paragraph">1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса;<br>б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса;<br>в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.</p>
      </li>
    </ol>
  </div>
</template>

<script>
  export default {
    name: 'InfoOffer',
    created() {
    },
    data() {
      return {}
    },
    components: {

    }
  }
</script>