<template>
  <div>
    <h1 class="info-title">Помощь</h1>
    <div class="faq-category">
      <h2 class="faq-category__title">Об APM agentuur</h2>
      <base-faq-question>
        <template slot="title">Какие цели у проекта?</template>
        <template slot="answer">
          <p class="info-paragraph">Нам не подходят установившиеся в отношении рекламы правила и настроения. Мы считаем, что реклама важна и нужна людям для полноценной жизни.</p>
          <p class="info-paragraph">Мы понимаем, что нет никакого технического затруднения для того, чтобы распределить большую часть рекламных денег, расходующихся в сети Интернет на рекламу, <router-link to="/info/faq#anchor">непосредственно</router-link> пользователям сети.</p>
          <p class="info-paragraph">Наша бизнес-модель имеет многовековую историю и хорошо применима для этой цели. Мы направляем 90% от стоимости размещения людям за просмотр рекламных сообщений и при этом являемся одним из самых дешевых и эффективных способов доставки рекламы потребителю.</p>
          <p class="info-paragraph">Все стороны остаются довольны таким сотрудничеством. При этом пользователь APMboard сам решает, когда и сколько времени уделить ознакомлению с текущими предложениями.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">Что такое APMboard?</template>
        <template slot="answer">
          <p class="info-paragraph">Это Персональная Рекламная Доска, которую каждый пользователь получает, зарегистрировавшись на сайте, и на которую рекламодатели размещают свою рекламу, рассказывают о своем товаре или услуге лично её владельцу.</p>
          <p class="info-paragraph">APMboard — это анонимный специализированный почтовый ящик исключительно для рекламных предложений.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">В каких странах работает APM Agentuur?</template>
        <template slot="answer">
          <p class="info-paragraph">Для тестирования проекта мы выбрали Литву и Украину. Это стартовые регионы. На очереди Эстония и Латвия. На сайте зарегистрированы пользователи из более, чем 100 стран.</p>
        </template>
      </base-faq-question>
    </div>
    <div class="faq-category">
      <h2 class="faq-category__title">О регистрации</h2>
      <base-faq-question>
        <template slot="title">Не пришло письмо с подтверждением регистрации. Что делать?</template>
        <template slot="answer">
          <p class="info-paragraph">Иногда письмо приходит с задержкой 2-5 минут. Проверьте папки Спам и Промоакции.</p>
          <p class="info-paragraph">Если письма нет, напишите нам в раздел "Помощь" на сайте, указав почту, которую вы использовали при регистрации. Мы вышлем письмо повторно.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">Как зарегистрироваться несовершеннолетнему?</template>
        <template slot="answer">
          <p class="info-paragraph">При регистрации несовершеннолетнему пользователю необходимо указать номер APMboard опекуна (кого-то из родителей), чтобы они подтвердили регистрацию.</p>
          <p class="info-paragraph">На почту ответственного лица будет выслан секретный код. Вывод средств также будет происходить через аккаунт опекуна в платежной системе Paysera.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">Чем отличается регистрация на сайте APM Agentuur с телефона и с компьютера?</template>
        <template slot="answer">
          <p class="info-paragraph">На нашем сайте можно зарегистрироваться как с телефона, так и с компьютера. Вне зависимости от способа регистрации пользователь получает две версии APMboard: десктопную, которая доступна на компьютере, и мобильную, на которую можно зайти с телефона и планшета.</p>
          <p class="info-paragraph">При этом поток рекламы также разделен: рекламу большего формата можно посмотреть только с компьютера, рекламу мобильного формата – только с телефона или планшета.</p>
        </template>
      </base-faq-question>
    </div>
    <div class="faq-category">
      <h2 class="faq-category__title" id="anchor">О рекламе</h2>
      <base-faq-question>
        <template slot="title">После регистрации на сайте так и не пришла реклама на доску и кнопка загрузки рекламы неактивна.</template>
        <template slot="answer">
          <p class="info-paragraph">Вы будете получать рекламу, которая будет адресована вам точно так же, как и рекламные листовки, приходящие в ваш почтовый ящик. Круглая кнопка загрузки баннеров станет синей, при нажатии загрузятся баннеры.</p>
          <p class="info-paragraph">Если на вашей рекламной доске кнопка неактивна, это значит примерно то же, что почтовый ящик пуст — для вас пока еще нет новой рекламы. При наличии рекламы мы пришлём вам письмо по электронной почте.</p>
          <p class="info-paragraph">
            Также вы можете начать пользоваться нашим мессенджером APMchat и видеть в интерактивном режиме на какую сумму денег рекламные баннеры стоят в очередь к просмотру на вашей APMboard.
          </p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">Нельзя, чтобы страничка всегда была открыта и кнопка обновления рекламы сама включалась, когда появляется реклама? Сессия автоматически закрывается через какое-то время и нужно заново логиниться? Чтобы получать рекламу, я должен постоянно находиться на своей APMboard онлайн?</template>
        <template slot="answer">
          <p class="info-paragraph">
            Когда вы находитесь на своей Персональной рекламной доске какое-то время и бездействуете, сессия закрывается и нужно зайти вновь. Это происходит из соображений безопасности. 
          </p>
          <p class="info-paragraph">
            Чтобы получать рекламу, нет необходимости ее "ловить". Реклама приходит на вашу APMboard точно так же, как сообщения приходят на электронную почту. 
          </p>
          <p class="info-paragraph">
            Вы заходите на APMboard по собственной воле и без принуждения и ничего не должны. Когда у вас есть свободное время — вы заходите и просматриваете все, что накопилось. О новой рекламе приходит уведомление на адрес электронной почты, который вы указали при регистрации, или в виде интерактивной нотификации, если вы пользуетесь мессенджером APMchat. 
          </p>
          <p class="info-paragraph">
            Хотим обратить ваше внимание, что наша платформа не является способом заработка в обычном понимании.
          </p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">Почему объявления показываются редко или вообще нет рекламы?</template>
        <template slot="answer">
          <p class="info-paragraph">
            Реклама появляется редко, потому что мы стартап и только начинаем свой путь. Для рекламодателей важны количественные показатели, важен процент от общего количества жителей вашего региона. 
          </p>
          <p class="info-paragraph">
            Чем их больше зарегистрировано в нашей системе, тем больше рекламы для каждого. Поэтому рассказывайте об APM Agentuur своим друзьям, родственникам, знакомым и предлагайте зарегистрироваться. У нас есть партнерская программа, с которой вы сможете получать 100% денег от рекламодателей. 
          </p>
          <p class="info-paragraph">
            
          </p>
          <p class="info-paragraph">
            
          </p>
        </template>
      </base-faq-question>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'InfoFaq',
    created() {},
    data() {
      return {
      
      }
    },
    components: {
    }
  }
</script>