<template>
  <div>
    <h1 class="info-title">Манифест</h1>
    <p class="info-paragraph">При всей очевидной пользе реклама нас раздражает. Она отвлекает наше внимание, а деньги за ее размещение достаются кому-то
      другому.</p>
    <p class="info-paragraph"><b>Почему?<br>Давайте это изменим!<br>Пусть рекламодатель платит нам!</b></p>
    <p class="info-paragraph">Агентство APM AGENTUUR станет вашим личным агентом! Вы получите 90% от стоимости любого рекламного объявления на вашей персональной рекламной доске.</p>
    <div class="info-video">
      <iframe width="100%" src="https://www.youtube.com/embed/cR0e_0FO8vM" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InfoManifesto',
    created() {},
    data() {
      return {}
    },
    components: {

    }
  }
</script>