<template>
  <div>
    <h1 class="info-title">Политика конфиденциальности и защиты информации «APM Agentuur» ООО</h1>
    <p class="info-paragraph">Оставляя данные на сайте www.adpays.me (далее Сайт), принадлежащем «APM Agentuur» ООО (далее Администрация), Вы соглашаетесь с Политикой конфиденциальности и защиты информации.</p>
    <ol class="info-list">
      <li class="info-list__item" @click="toggle()">Защита данных
        <p class="info-paragraph" v-show="isShow">Администрация Сайта не может передать или раскрыть информацию, предоставленную Пользователем (далее Пользователь) при регистрации и использовании функций Сайта, третьим лицам, кроме случаев, описанных законодательством страны, на территории которой Пользователь ведет свою деятельность.</p>
      </li>
      <li class="info-list__item">Получение персональной информации
        <p class="info-paragraph" v-show="isShow">При регистрации на Сайте Пользователь обязан ввести персональную информацию. Для проверки предоставленных данных Администрация Сайта оставляет за собой право потребовать доказательства идентичности в онлайн или офлайн режимах.</p>
      </li>
      <li class="info-list__item">Использование персональной информации
        <p class="info-paragraph">Администрация использует личную информацию Пользователя для обслуживания и улучшения качества предоставляемых услуг. Часть персональной информации предоставляется рекламодателям. Часть персональной информации может быть предоставлена банку или платежной системе в случае, если предоставление этой информации обусловлено процедурой перевода средств платежной системой, услугами которой Пользователю предлагается воспользоваться. Администрация прилагает все усилия для сохранения конфиденциальности личных данных Пользователя. Личная информация может быть раскрыта в случаях, описанных законодательством, либо когда Администрация сочтет подобные действия необходимыми для соблюдения юридической процедуры, судебного распоряжения или легального процесса, необходимого для взаимодействия Пользователя с Администрацией. В других случаях ни при каких условиях информация, которую Пользователь передает Администрации, не будет раскрыта третьим лицам.</p>
      </li>
      <li class="info-list__item">Контроль персональной информации
        <p class="info-paragraph">Для контроля персональной информации на Сайте реализованы механизмы верификации личных данных. Ответственность за любые последствия предоставления недостоверных данных лежит на Пользователе. В случае, если некоторые данные изменились, Пользователь обязан исправить данные в системе самостоятельно либо связаться со службой поддержки для внесения корректировок.</p>
      </li>
      <li class="info-list__item">Безопасность
        <p class="info-paragraph">Администрация Сайта обеспечивает безопасность учетной записи Пользователя от несанкционированного доступа. Имя, фамилия, личный номер, номер телефона, адрес электронной почты и точное место жительства Пользователя являются строго конфиденциальной информацией.</p>
      </li>
      <li class="info-list__item">Уведомления об изменениях
        <p class="info-paragraph">Администрация оставляет за собой право вносить изменения в Политику конфиденциальности без дополнительных уведомлений. Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике конфиденциальности самостоятельно.</p>
      </li>
    </ol>
  </div>
</template>

<script>
  export default {
    name: 'InfoConfidentiality',
    created() {
    },
    data() {
      return {
        isShow: false
      }
    },
    components: {

    },
    methods: {
      toggle() {
        this.isShow = !this.isShow
      }
    }
  }
</script>