<template>
<div>
  <h1 class="info-title">О нас</h1>
  <p class="info-paragraph">APM AGENTUUR — это ваше персональное рекламное агентство. Агентство, созданное для установления справедливых отношений между вами и рекламой. Вы достойны большего, и пусть это осуществится.</p>
  <p class="info-paragraph">Мы хотим изменить правила и дать обычным людям почувствовать свою значимость. Дать возможность малому бизнесу в любом уголке Земли свободно находить своих клиентов.</p>
  <p class="info-paragraph"><b>Мы за другой Интернет, Интернет для пользователя!</b></p>
  <ul class="team-list">
    <li class="team__item">
      <img src="/img/team-1.png" alt="" class="team__avatar">
      <p class="team__name">Евгений Глебов</p>
      <p class="team__position">Генеральный директор</p>
    </li>
    <li class="team__item">
      <img src="/img/team-2.png" alt="" class="team__avatar">
      <p class="team__name">Александр Поганько</p>
      <p class="team__position">Технический директор</p>
    </li>
    <li class="team__item">
      <img src="/img/team-3.png" alt="" class="team__avatar">
      <p class="team__name">Дмитрий Азончик</p>
      <p class="team__position">Креативный директор</p>
    </li>
    <li class="team__item">
      <img src="/img/team-4.png" alt="" class="team__avatar">
      <p class="team__name">Анатолий Чернявчик</p>
      <p class="team__position">Системный администратор</p>
    </li>
    <li class="team__item">
      <img src="/img/team-5.png" alt="" class="team__avatar">
      <p class="team__name">Андрей Верцимага</p>
      <p class="team__position">Менеджер<br>UA</p>
    </li>
    <li class="team__item">
      <img src="/img/team-6.png" alt="" class="team__avatar">
      <p class="team__name">Денис Петрина</p>
      <p class="team__position">Менеджер<br>EN</p>
    </li>
    <li class="team__item">
      <img src="/img/team-7.png" alt="" class="team__avatar">
      <p class="team__name">Алёна Урбанович</p>
      <p class="team__position">Дизайнер</p>
    </li>
    <li class="team__item">
      <img src="/img/team-8.png" alt="" class="team__avatar">
      <p class="team__name">Станислав Поганько</p>
      <p class="team__position">Фронтенд-разработчик</p>
    </li>
  </ul>
</div>
</template>

<script>
  export default {
    name: 'InfoAbout',
    created() {
      
    },
    data() {
      return {
      }
    },
    components: {

    }
  }
</script>