<template>
  <div>
    <h1 class="info-title">Пользовательское соглашение</h1>
    <p class="info-paragraph">Настоящий документ «Пользовательское соглашение» представляет собой предложение «APM Agentuur» ООО (далее — «Администрация»)
      заключить договор на изложенных ниже условиях Соглашения.</p>
    <ol class="info-list">
      <li class="info-list__item">Общие положения Пользовательского соглашения
        <p class="info-paragraph">1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:<br>а) Платформа — программно-аппаратные средства,интегрированные с Сайтом Администрации;<br>б) Пользователь — дееспособное физическое или юридическое лицо, присоединившееся к настоящему Соглашению в собственном интересе;<br>в) Сайт Администрации/Сайт — Интернет-сайты, размещенные в домене www.adpays.me и его поддоменах;<br>г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы;<br>д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
        <p class="info-paragraph">1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая просмотр и хранение размещенных на Сайте материалов, регистрацию и/или авторизацию на Сайте, размещение или отображение на Сайте фотоматериалов, текстов, изображений, сведений и/или иной информации создает договор на условиях настоящего Соглашения.</p>
        <p class="info-paragraph">1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса;<br>б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса;<br>в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.</p>
      </li>
      <li class="info-list__item">Общие условия пользования Сервисом
        <p class="info-paragraph">1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:<br>а) Платформа — программно-аппаратные средства,интегрированные с Сайтом Администрации;<br>б) Пользователь — дееспособное физическое или юридическое лицо, присоединившееся к настоящему Соглашению в собственном интересе;<br>в) Сайт Администрации/Сайт — Интернет-сайты, размещенные в домене www.adpays.me и его поддоменах;<br>г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы;<br>д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
        <p class="info-paragraph">1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая просмотр и хранение размещенных на Сайте материалов, регистрацию и/или авторизацию на Сайте, размещение или отображение на Сайте фотоматериалов, текстов, изображений, сведений и/или иной информации создает договор на условиях настоящего Соглашения.</p>
        <p class="info-paragraph">1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса;<br>б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса;<br>в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.</p>
      </li>
    </ol>
  </div>
</template>

<script>
  export default {
    name: 'InfoTerms',
    created() {
    },
    data() {
      return {}
    },
    components: {

    }
  }
</script>