<template>
  <div>
    <h1 class="info-title">Бренд</h1>
    <p class="info-paragraph">Символ APM лежит в основе создания идентификации. В нем заложено название проекта «аdvertising pays me», сокращенно — apm. Символ создан для использования как в качестве самостоятельного элемента, так и в составе логотипа компании.</p>
    <div class="brand-images">
      <img src="/img/test-brand-image-1.png" alt="" class="brand-image">
      <img src="/img/test-brand-image-2.png" alt="" class="brand-image">
      <img src="/img/test-brand-image-3.png" alt="" class="brand-image">
      <a href="#" class="link">Скачать логотип APM AGENTUUR</a>
    </div>
    <h2 class="brand-title">Свободное пространство</h2>
    <p class="info-paragraph">При использовании знака с другими логотипами и графическими элементами необходимо предусмотреть свободное пространство, площадь которого в два раза превышает площадь вокруг логотипа APM.</p>
    <h2 class="brand-title">Название</h2>
    <p class="info-paragraph">Название проекта — Advertising pays me<br>Название используется в презентационных и рекламных материалах компании. Название пишется только на английском. Название никогда не переводится на другие языки.</p>
    <h2 class="brand-title">Слоган</h2>
    <p class="info-paragraph">Наш слоган:  APM Agentuur — Реклама будущего<br>Слоган используется в презентационных и рекламных материалах компании. Слова могут быть набраны строчными или прописными буквами любой гарнитуры. Жестких правил использования и расположения его в оформлении нет. Слоган переводится на все языки.</p>
    <h2 class="brand-title">Использование</h2>
    <p class="info-paragraph">Символика APM Agentuur включает в себя знак либо знак с названием или слоганом. Запрещается изменять или модифицировать символику либо использовать её способом, который вводит окружающих в заблуждение.</p>
    <p class="info-paragraph">Для представления APM Agentuur следует использовать официальное и неизменённое изображение знака APM Agentuur с названием или слоганом.</p>
    <p class="info-paragraph">Для получения дополнительной информации об использовании названий и товарных знаков APM Agentuur напишите письмо в службу поддержки.</p>
    <h2 class="brand-title">Запрещается</h2>
    <p class="info-paragraph">Поворачивать или изменять знак<br>Анимировать знак<br>Изменять цвет знака<br>Изменять текст названия или слогана<br>Применять изображение поверх знака или скрывать какую-либо ее часть</p>
  </div>
</template>

<script>
  export default {
    name: 'InfoBrand',
    created() {
    },
    data() {
      return {}
    },
    components: {

    }
  }
</script>