<template>
  <div>
    <h1 class="info-title">Руководство пользователя</h1>
    <div class="faq-category">
      <h2 class="faq-category__title">Регистрация</h2>
      <base-faq-question>
        <template slot="title">Рекламный Идентификатор</template>
        <template slot="answer">
          <p class="info-paragraph">При регистрации пользователю присваивается РЕКЛАМНЫЙ ИДЕНТИФИКАТОР. Он даёт возможность совершать действия, связанные с APM Agentuur, на принадлежащих APM Agentuur сайтах. Также это необходимо для более качественного обслуживания частных лиц и компаний.</p>
          <p class="info-paragraph">Регистрируясь как "Частное лицо", вы получаете ПЕРСОНАЛЬНЫЙ РЕКЛАМНЫЙ ИДЕНТИФИКАТОР.</p>
          <p class="info-paragraph">Регистрируясь как "Компания", вы получаете ГЛОБАЛЬНЫЙ РЕКЛАМНЫЙ ИДЕНТИФИКАТОР.</p>
        </template>
      </base-faq-question>
    </div>
    <div class="faq-category">
      <h2 class="faq-category__title">Профайл и Меню</h2>
      <base-faq-question>
        <template slot="title">Персональная рекламная доска</template>
        <template slot="answer">
          <p class="info-paragraph">Персональная рекламная доска – это главный раздел сайта, на котором пользователь просматривает рекламу в виде рекламных баннеров. Рекламные баннеры – это рекламная информация от других пользователей. Если пользователю хотят показать рекламу, он может ее посмотреть, загрузив баннеры на свою доску.</p>
          <p class="info-paragraph">За просмотр каждого рекламного баннера пользователь получает деньги на свой счет. Каждый раз, когда пользователь взаимодействует с кликабельным баннером, он зарабатывает дополнительно.</p>
          <p class="info-paragraph">Персональная рекламная доска состоит из трех основных блоков: Консоль пользователя, Баннерная площадка и Меню.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">В каких странах работает APM Agentuur?</template>
        <template slot="answer">
          <p class="info-paragraph">Для тестирования проекта мы выбрали Литву и Украину. Это стартовые регионы. На очереди Эстония и Латвия. На сайте
            зарегистрированы пользователи из более, чем 100 стран.</p>
        </template>
      </base-faq-question>
    </div>
    <div class="faq-category">
      <h2 class="faq-category__title">Профайл и Меню</h2>
      <base-faq-question>
        <template slot="title">Персональная рекламная доска</template>
        <template slot="answer">
          <p class="info-paragraph">Персональная рекламная доска – это главный раздел сайта, на котором пользователь просматривает рекламу в виде рекламных баннеров. Рекламные баннеры – это рекламная информация от других пользователей. Если пользователю хотят показать рекламу, он может ее посмотреть, загрузив баннеры на свою доску.</p>
          <p class="info-paragraph">За просмотр каждого рекламного баннера пользователь получает деньги на свой счет. Каждый раз, когда пользователь взаимодействует с кликабельным баннером, он зарабатывает дополнительно.</p>
          <p class="info-paragraph">Персональная рекламная доска состоит из трех основных блоков: Консоль пользователя, Баннерная площадка и Меню.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">В каких странах работает APM Agentuur?</template>
        <template slot="answer">
          <p class="info-paragraph">Для тестирования проекта мы выбрали Литву и Украину. Это стартовые регионы. На очереди Эстония и Латвия. На сайте
            зарегистрированы пользователи из более, чем 100 стран.</p>
        </template>
      </base-faq-question>
    </div>
    <div class="faq-category">
      <h2 class="faq-category__title">Профайл и Меню</h2>
      <base-faq-question>
        <template slot="title">Персональная рекламная доска</template>
        <template slot="answer">
          <p class="info-paragraph">Персональная рекламная доска – это главный раздел сайта, на котором пользователь просматривает рекламу в виде рекламных баннеров. Рекламные баннеры – это рекламная информация от других пользователей. Если пользователю хотят показать рекламу, он может ее посмотреть, загрузив баннеры на свою доску.</p>
          <p class="info-paragraph">За просмотр каждого рекламного баннера пользователь получает деньги на свой счет. Каждый раз, когда пользователь взаимодействует с кликабельным баннером, он зарабатывает дополнительно.</p>
          <p class="info-paragraph">Персональная рекламная доска состоит из трех основных блоков: Консоль пользователя, Баннерная площадка и Меню.</p>
        </template>
      </base-faq-question>
      <base-faq-question>
        <template slot="title">В каких странах работает APM Agentuur?</template>
        <template slot="answer">
          <p class="info-paragraph">Для тестирования проекта мы выбрали Литву и Украину. Это стартовые регионы. На очереди Эстония и Латвия. На сайте
            зарегистрированы пользователи из более, чем 100 стран.</p>
        </template>
      </base-faq-question>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'InfoHelp',
    created() {},
    data() {
      return {

      }
    },
    components: {
    }
  }
</script>