<template>
  <ul class="landing__products-list">
    <li v-for="(product, index) in products" :key="index" class="landing__product" @mouseenter="changeBackground(product)">
      <router-link v-waypoint="{ active: true, callback: onWaypoint }" :to="product.link" class="landing-product__card" :class="product.cardClass">
        <span class="landing-product__icon">
          <component :is="product.icon" />
        </span>
      </router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'LandingProductsList',
    data() {
      return {
        active: false,
        products: [{
            name: 'APMecocard',
            link: '/ecocard',
            icon: 'icon-landing-ecocard',
            backgroundColor: '#cbffef',
            cardClass: 'landing-product__icon--ecocard'
          },
          {
            name: 'APMboard',
            link: '/board',
            icon: 'icon-landing-board',
            backgroundColor: '#d1ecff',
            cardClass: 'landing-product__icon--board',
          },
          // {
          //   name: 'APMchat',
          //   link: '/chat',
          //   icon: 'icon-landing-chat',
          //   backgroundColor: '#FFDCDC',
          //   cardClass: 'landing-product__icon--chat',
          // }
        ]
      }
    },
    methods: {
      changeBackground(product) {
        this.$emit('changeMainBg', product.backgroundColor)
      },
      onWaypoint({
        going,
        direction,
        el
      }) {
        console.log(el)
        console.log(going)
        // going: in, out
        // direction: top, right, bottom, left

      }
    },
  }
</script>