<template>
  <ul class="main-menu__controls">
    <li v-for="(control, index) in controls" :key="index" class="main-menu__control">
      <router-link @click.native="closeMenu" :to="control.link" class="control__link">
        <span class="control__icon">
          <icon-base :width="control.iconWidth" :height="control.iconHeight" :viewBox="control.iconViewbox">
            <component :is="control.icon"></component>
          </icon-base>
        </span>
        <span class="control__name">{{control.name}}</span>
      </router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'MainMenuControl',
    data() {
      return {
        controls: [{
            name: 'Профиль',
            link: '/profile',
            icon: 'icon-profile',
            iconWidth: 26,
            iconHeight: 26,
            iconViewbox: '0 0 20 20',
          },
          {
            notRouter: true,
            name: 'Выйти',
            link: '/logout',
            icon: 'icon-logout',
            iconWidth: 25,
            iconHeight: 23,
            iconViewbox: '0 0 25 23',
          }
        ]
      }
    },
    methods: {
      closeMenu () {
        this.$root.mainMenuSeen = false;
      }
    }
  }

</script>
