<template>
  <div id="root">
    <header-component></header-component>
    <footer-landing v-if="this.$route.name === 'landing'"></footer-landing>
      <router-view/>
    <transition name="main-menu">
      <main-menu v-if='this.$root.mainMenuSeen'></main-menu>
    </transition>
    <footer-landing v-if="this.$route.name === 'landing'"></footer-landing>
    <footer-profile v-if="this.$route.name === 'profile'"></footer-profile>
  </div>
</template>

<script>
import Header from './Header.vue';
import MainMenu from './MainMenu.vue';
import FooterLanding from './FooterLanding.vue';
import FooterProfile from './FooterProfile.vue';

export default {
  name: 'Main',
  components: {
    'header-component': Header,
    'main-menu': MainMenu,
    'footer-landing': FooterLanding,
    'footer-profile': FooterProfile
  },
};
</script>
