<template>
  <ul class="main-menu__products">
    <li v-for="(product, index) in products" :key="index" class="main-menu__product">
      <router-link  @click.native="closeMenu" :to="product.link" class="product__link">
        <span class="product__icon">
          <icon-base :width="product.iconWidth" :height="product.iconHeight" :viewBox="product.iconViewbox">
            <component :is="product.icon" />
          </icon-base>
        </span>
        <span class="product__name">{{product.name}}</span>
      </router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'MainMenuProducts',
    data() {
      return {
        products: [
          {
            name: 'APMecocard',
            link: '/ecocard',
            icon: 'icon-product-ecocard',
            iconWidth: 21,
            iconHeight: 30,
            iconViewbox: '0 0 42 60',
          },
          {
            name: 'APMboard',
            link: '/board',
            icon: 'icon-product-board',
            iconWidth: 30,
            iconHeight: 30,
            iconViewbox: '0 0 60 60',
          },
          // {
          //   name: 'APMchat',
          //   link: '/chat',
          //   icon: 'icon-product-chat',
          //   iconWidth: 34,
          //   iconHeight: 30,
          //   iconViewbox: '0 0 68 60',
          // }
        ]
      }
    },
    methods: {
      closeMenu () {
        this.$root.mainMenuSeen = false;
      }
    }
  }

</script>
