<template>
  <div v-click-outside="toggleMainMenu" class="main-menu-outer" :class="{ 'submenu-open': submenuOpened}">
    <div class="main-menu">
      <div class="main-menu__header">
        <main-menu-products></main-menu-products>
        <main-menu-control v-if="this.$root.globalAuth"></main-menu-control>
        <div v-if="!this.$root.globalAuth" class="main-menu__auth-desktop">
          <router-link to="/login" class="bttn bttn--with-icon">
            <icon-base width="22" height="22" class="bttn__icon">
              <icon-profile></icon-profile>
            </icon-base>Войти</router-link>
        </div>
      </div>
      <div class="main-menu__divider"></div>
      <div class="main-menu__body">
        <site-map v-bind:submenu='submenuOpened' v-on:toggleCategory="toggleCategoryOpened"></site-map>
      </div>
      <div class="main-menu__divider"></div>
      <div class="main-menu__footer">
        <div class="apps__list apps__list--placeholder" data-placeholder="coming soon">
          <a href="#" class="app__link">
            <icon-apple-badge></icon-apple-badge>
          </a>
          <a href="#" class="app__link">
            <icon-google-badge></icon-google-badge>
          </a>
        </div>
        <apm-socials></apm-socials>
      </div>
    </div>
  </div>
</template>

<script>
  import SiteMap from './SiteMap.vue';
  import MainMenuProducts from './MainMenuProducts.vue';
  import MainMenuControl from './MainMenuControl.vue';
  import ApmSocials from './ApmSocials.vue';

  export default {
    name: "MainMenu",
    data() {
      return {
        submenuOpened: false
      }
    },
    beforeCreate: function () {
      document.body.classList.add("main-menu--show");
    },
    beforeDestroy: function () {
      document.body.classList.remove("main-menu--show");
    },
    methods: {
      toggleCategoryOpened(value) {
        this.submenuOpened = value
      },
      toggleMainMenu: function () {
        if (this.$root.mobile){
        this.submenuOpened = false
        var self = this
        setTimeout(function () {
          self.$root.mainMenuSeen = !self.$root.mainMenuSeen;
        }, 0);
        }
        else
        {
          return
        }
      },
    },
    components: {
      'site-map': SiteMap,
      'main-menu-products': MainMenuProducts,
      'main-menu-control': MainMenuControl,
      'apm-socials': ApmSocials,
    },
  };

</script>
