<template>
  <v-popover placement="bottom-start" class="header-nav__wrapper">
    <a class="header-nav__link header-nav__link--language">
      <span class="header-nav__icon">
        <icon-base width="30" height="30" viewBox="0 0 30 30">
          <icon-language-new />
        </icon-base>
      </span>
      <span v-if="!this.$root.globalAuth" class="header-nav__text">{{this.active}}</span>
    </a>
    <template slot="popover">
      <ul class="nav-language__list">
        <li v-for="language in languages" :key="language.id" class="nav-language__item">
          <a href="#" @click="selectLang(language)" v-close-popover :class="{ active: language.isActive }" class="nav-language__link">{{language.name}}</a>
        </li>
      </ul>
    </template>
  </v-popover>
</template>

<script>
  export default {
    name: 'NavLanguage',
    data() {
      return {
        active: 'Russian',
        languages: [{
            name: 'English',
            link: '#',
            isActive: false
          },
          {
            name: 'Deutsch',
            link: '#',
            isActive: false
          },
          {
            name: 'French',
            link: '#',
            isActive: false
          },
          {
            name: 'Italian',
            link: '#',
            isActive: false
          },
          {
            name: 'Russian',
            link: '#',
            isActive: true
          }
        ]
      }
    },
    methods: {
      selectLang(language) {
        this.languages.forEach(language => {
          this.$set(language, 'isActive', false)
        })
        this.$set(language, 'isActive', true)
        this.active = language.name
      }
    }
  };

</script>
