<template>
    <a class="header-nav__link header-nav__link--menu" @click.stop="toggleMainMenu" :class="{ active: isActive }" >
      <span class="header-nav__icon">
        <icon-base width="30" height="30" viewBox="0 0 30 30">
          <icon-menu-new />
        </icon-base>
      </span>
    <span v-if="!this.$root.globalAuth" class="header-nav__text">Menu</span>
    </a>
</template>
<script>

  
  export default {
    name: 'NavMainMenu',
    data () {
      return {
        isActive: ''
      }
    },
    methods: {
      toggleMainMenu: function() {
        this.isActive = !this.isActive;
        this.$root.mainMenuSeen = !this.$root.mainMenuSeen;
      },
    },
    watch: {
      '$root.mainMenuSeen' : function () {
        this.isActive = this.$root.mainMenuSeen;
      }
    },
  };
</script>