<template>
    <router-link to="/qr" class="header-nav__link header-nav__link--qr">
      <span class="header-nav__icon">
        <icon-base width="25" height="25" viewBox="0 0 30 30">
          <icon-qr />
        </icon-base>
      </span>
    </router-link>
</template>

<script>
  export default {
    name: 'NavQr',
    data() {
      return {
        
      }
    },
    methods: {
      
    }
  };

</script>
