<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Оплата</h1>
    <div class="banner-options banner-options--payment">
      <div class="banner-options__group">
        <div class="banner-options__item">
          <input type="radio" v-model="paymentType" id="1-1" name="payment-type" value="apm">
          <label for="1-1" class="banner-options__label banner-options__label--payment">
            <span class="banner-label__check"></span>
            <img class="banner-label__logo banner-label__logo--apm" src="/img/apm-logo.png" alt="">
            <p class="banner-label__description">Оплата через ваш внутренний счет APM</p>
            <p class="banner-label__price">{{ 300.234234 | currency('€', 4, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator:
              ' ', decimalSeparator: ',' }) }}</p>
          </label>
        </div>
        <div class="banner-options__item">
          <input type="radio" v-model="paymentType" id="1-2" name="payment-type" value="paysera">
          <label for="1-2" class="banner-options__label banner-options__label--payment">
            <span class="banner-label__check"></span>
            <img class="banner-label__logo banner-label__logo--paysera" src="/img/paysera-logo.png" alt="">
            <p class="banner-label__description">Оплата через платежную систему Paysera</p>
            <p class="banner-label__price">{{ 324.435435 | currency('€', 4, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator:
              ' ', decimalSeparator: ',' }) }}</p>
          </label>
        </div>
      </div>
    </div>
    <div class="banner-checkbox__block">
      <input type="checkbox" id="inputCheck1" name="check1" class="checkbox">
      <label for="inputCheck1" class="label label--checkbox">Я ознакомился с <a href="#" class="auth-link">офертой</a> и готов оплатить эту сумму
      </label>
    </div>
    <p class="add-banner__warning">Вся реклама проходит модерацию. Нарушение правил ведет к удалению. Зачисленные средства будут возвращены.</p>
    <router-link to="step6" class="bttn bttn--green bttn--banner">Оплатить</router-link>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaBannerAddStep5',
    components: {

    },
    created() {

    },
    data() {
      return {
        paymentType: ''
      }
    },
    methods: {

    },
    computed: {

    },
  }
</script>