<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Реклама для десктопа</h1>
    <div class="banner-options banner-options--upload">
      <div class="banner-options__group">
        <div class="banner-options__item">
          <input type="radio" v-model="form.bannerType" id="1-1" name="banner-type" value="banner-stand">
          <label for="1-1" class="banner-options__label banner-options__label--banner">
            <span class="banner-label__check"></span>
            <h2 class="banner-label__title">Стандартный баннер</h2>
            <span class="banner-label__icon">
              <span class="banner-stand__icon">
                <icon-banner-stand></icon-banner-stand>
              </span>
            </span>
            <p class="banner-label__size">X×Y px</p>
          </label>
        </div>
        <div class="banner-options__item">
          <input type="radio" v-model="form.bannerType" id="1-2" name="banner-type" value="banner-prem">
          <label for="1-2" class="banner-options__label banner-options__label--banner">
            <span class="banner-label__check"></span>
            <h2 class="banner-label__title">Премиальный баннер</h2>
            <span class="banner-label__icon">
              <span class="banner-prem__icon">
                <icon-banner-prem></icon-banner-prem>
              </span>
            </span>
            <p class="banner-label__size">X×X px</p>
          </label>
        </div>
      </div>
    </div>
    <div v-if="form.bannerType" class="banner-upload">
      <div class="banner-upload__img">
        <label class="banner-upload__label" for="banner">
          <img v-if="form.bannerType === 'banner-stand'" :src="banner.length ? banner[0].url : '/img/banner-stand-placeholder.svg'" alt="" :class="[{'banner-img__stand--uploaded': banner.length},'banner-img__stand']">
          <img v-else :src="banner.length ? banner[0].url : '/img/banner-prem-placeholder.svg'" alt="" :class="[{'banner-img__prem--uploaded': banner.length},'banner-img__prem']">
          <button v-if="banner.length" @click.prevent="$refs.upload1.clear" class="delete-img__bttn"></button>
        </label>
      </div>
      <file-upload extensions="gif,jpg,jpeg,png,webp" accept="image/png,image/gif,image/jpeg,image/webp" name="banner" class="upload-banner__bttn"
        post-action="/upload/post" v-model="banner" @input-filter="inputFilter" @input-file="inputFile" ref="upload1">
        Загрузить файл
      </file-upload>
    </div>
    <div class="banner-card banner-card--functions">
      <h2 class="banner-card__title">Функции баннера при клике</h2>
      <ul class="banner-functions">
        <li class="banner-functions__item">
          <div @click="toggleFunc(bannerFunc.card)" class="banner-function__head">
            <span :class="[{'banner-func__check--checked': bannerFunc.card.isOpen},'banner-func__check']"></span>
            <span class="banner-func__name">{{ bannerFunc.card.name }}</span>
            <span :class="[{'banner-func__price--checked': bannerFunc.card.isOpen},'banner-func__price']">{{ bannerFunc.card.price }}</span>
          </div>
          <div v-show="bannerFunc.card.isOpen" class="banner-function__body">
            <p class="banner-func__text">{{ bannerFunc.card.text }}</p>
            <textarea class="input input--centered--textarea input--banner" cols="30" rows="3"></textarea>
          </div>
        </li>
        <li class="banner-functions__item">
          <div @click="toggleFunc(bannerFunc.flyer)" class="banner-function__head">
            <span :class="[{'banner-func__check--checked': bannerFunc.flyer.isOpen},'banner-func__check']"></span>
            <span class="banner-func__name">{{ bannerFunc.flyer.name }}</span>
            <span :class="[{'banner-func__price--checked': bannerFunc.flyer.isOpen},'banner-func__price']">{{ bannerFunc.flyer.price }}</span>
          </div>
          <div v-show="bannerFunc.flyer.isOpen" class="banner-function__body">
            <p class="banner-func__text">{{ bannerFunc.flyer.text }}</p>
            <file-upload extensions="gif,jpg,jpeg,png,webp" accept="image/png,image/gif,image/jpeg,image/webp" name="banner" class="upload-banner__bttn"
              post-action="/upload/post" v-model="flyer" @input-filter="inputFilter" @input-file="inputFile" ref="upload2">
              Загрузить файл
            </file-upload>
            <template v-if="flyer.length">
              <p>{{ flyer[0].name }}</p>
              <p>{{ flyer[0].size | prettyBytes }}</p>
            </template>
          </div>
        </li>
        <li class="banner-functions__item">
          <div @click="toggleFunc(bannerFunc.link)" class="banner-function__head">
            <span :class="[{'banner-func__check--checked': bannerFunc.link.isOpen},'banner-func__check']"></span>
            <span class="banner-func__name">{{ bannerFunc.link.name }}</span>
            <span :class="[{'banner-func__price--checked': bannerFunc.link.isOpen},'banner-func__price']">{{ bannerFunc.link.price }}</span>
          </div>
          <div v-show="bannerFunc.link.isOpen" class="banner-function__body">
            <p class="banner-func__text">{{ bannerFunc.link.text }}</p>
            <input type="text" class="input">
          </div>
        </li>
      </ul>
    </div>
    <div class="banner-card">
      <h2 class="banner-card__title">Параметры показа</h2>
      <div class="banner-card__item banner-card__item--params">
        <label for="props-users" class="label">Желаемое количество пользователей:</label>
        <input id="props-users" type="number" class="input input--centered">
      </div>
      <div class="banner-card__item banner-card__item--params">
        <label for="props-views" class="label">Количество показов одному пользователю:</label>
        <input id="props-views" type="number" class="input input--centered">
      </div>
      <div class="banner-card__item banner-card__item--params">
        <label for="company" class="label">Период размещения объявления</label>
        <div class="set-period__block">
          <date-picker v-model="dateFrom" width=130 :input-class="[{'select--selected': dateFrom},'select']" lang="ru" :first-day-of-week=1
            placeholder="с" :not-before="new Date()">
          </date-picker>
          ‒
          <date-picker v-model="dateTo" width=130 :input-class="[{'select--selected': dateTo},'select']" lang="ru" :first-day-of-week=1
            placeholder="по" :not-before="new Date()">
          </date-picker>
        </div>
      </div>
    </div>
    <router-link to="step5" class="bttn bttn--banner bttn--blue">Далее</router-link>
  </div>
</template>

<script>
  import axios from 'axios';
  import MaskedInput from 'vue-masked-input'
  import DatePicker from 'vue2-datepicker'

  export default {
    name: 'PersonaBannerAddStep4',
    components: {
      MaskedInput,
      DatePicker
    },
    created() {
      axios.get('/api/site/data/geo/countries')
        .then(response => {
          this.countries = response.data
        })
        .catch(error => {
          console.log(error.response)
        });
    },
    data() {
      return {
        banner: [],
        dateFrom: '',
        dateTo: '',
        selectedDateFrom: new Date(),
        selectedDateTo: null,
        formats: {
          title: 'YYYY MMMM',
          input: ['to', 'YYYY-MM-DD', 'YYYY/MM/DD']
        },
        flyer: [],
        bannerFunc: {
          card: {
            isOpen: true,
            name: 'Визитка',
            price: 'Free',
            text: 'При клике откроется второе поле с заполненной рекламодателем краткой информацией.'
          },
          flyer: {
            isOpen: false,
            name: 'Листовка',
            price: '+0,01',
            text: 'Изображение в формате png или jpg. Оптимальная ширина - 996px. Если загружаемое изображение не соответствует указанным размерам, при показе оно масштабируется до ширины в 996px.'
          },
          link: {
            isOpen: false,
            name: 'Ссылка',
            price: '+0,02',
            text: 'Страница перехода должна соответствовать тематике баннера'
          }
        },
        countries: [],
        regions: [],
        form: {
          age: {
            show: false,
            name: 'Возраст',
            checked: [],
            items: ['18-25', '25-50', '50-90']
          },
          music: {
            show: false,
            name: 'Музыка',
            checked: [{
                name: 'rock',
                type: 'plus'
              },
              {
                name: 'pop',
                type: 'minus'
              },
              {
                name: 'jazz',
                type: 'plus'
              }
            ],
            items: ['rock', 'pop', 'jazz']
          },
          bannerType: '',
          country: '',
          region: '',
          city: ''
        },
      }
    },
    methods: {
      toggleFunc(e) {
        if (e.isOpen) {
          for (let prop in this.bannerFunc) {
            this.bannerFunc[prop].isOpen = false
          }
        } else {
          for (let prop in this.bannerFunc) {
            this.bannerFunc[prop].isOpen = false
          }
          e.isOpen = !e.isOpen
        }
        // e.isOpen = !e.isOpen
      },
      includeItem(e) {
        console.log(this)
      },
      excludeItem(e) {
        console.log(e)
      },
      togglePopover(e) {
        e.show = !e.show
      },
      closeMessengerPopover(e) {
        for (let item in this.form) {
          this.form[item].show = false
        }
      },
      changeCountry() {
        this.regions = this.form.country.regions
        this.form.region = ''
        this.form.city = ''
      },
      changeRegion() {
        this.form.city = ''
      },
      inputFile(newFile, oldFile, prevent) {
        this.$refs.upload1.active = true
        this.$refs.upload2.active = true
      },
      inputFilter(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
            this.alert('Your choice is not a picture')
            return prevent()
          }
        }
        if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
          newFile.url = ''
          let URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            newFile.url = URL.createObjectURL(newFile.file)
          }
        }
      },
    },
    computed: {

    },
  }
</script>