<template>
  <div :class="[{'banners-list__item--active': isOpen}, 'banners-list__item']">
    <div class="banner-item__header" @click="open">
      <div class="banners-list__name">
        <h2 class="banner-item__title">{{ bannerDetails.name }}</h2>
        <div class="banner-item__indicator"></div>
      </div>
      <div class="banners-list__period">
        <div class="banner-item__date">
          <div class="banner-date__from">{{ bannerDetails.dateFrom }}</div>
          <div class="banner-date__to">{{ bannerDetails.dateTo }}</div>
        </div>
      </div>
      <div class="banners-list__balance">
        <span class="banner-item__amount">{{ bannerDetails.balance | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
      </div>
      <div class="banners-list__status">
        <span :class="[{'banner-status--active': bannerDetails.statusId == 0, 'banner-status--deactivated': bannerDetails.statusId == 1,},'banner-status']">{{ bannerDetails.status }}</span>
      </div>
    </div>
    <div v-show="isOpen" class="banner-item__body">
      <div class="banner-body__info">
        <div class="banner-info__left">
          <div class="banner-info__logo">
            <img :src="bannerDetails.logo" alt="" class="banner-logo">
          </div>
          <ul class="banner-info__actions">
            <li class="banner-info__action">
              <a href="#" class="banner-info__link">Get an account</a>
            </li>
            <li class="banner-info__action">
              <a href="#" class="banner-info__link">Open in PDF</a>
            </li>
          </ul>
          <a href="#" class="bttn bttn--blue bttn--small bttn--banner">Withdraw founds</a>
        </div>
        <div class="banner-info__right">
          <div class="banner-info__line" v-for="(stat,index) in bannerDetails.stats" :key="index">
            <span class="banner-info__name">{{ stat.title }}</span>
            <span class="banner-info__value">{{ stat.value }}</span>
          </div>
        </div>
      </div>
      <div class="banner-body__properties">
        <p class="banner-properties__title">Properties</p>
        <div class="banner-properties__table">
          <div class="properties-table__line" v-for="(property, index) in bannerDetails.properties" :key="index">
            <div class="properties-table__title">{{ property.title }}</div>
            <div class="properties-table__value">
              <div class="properties-value__plus">
                <span class="properties-plus__icon"></span>
                Manager, Pensioner, Student, Freelancer, Manager, Pensioner, Student, Freelancer, Manager, Pensioner, Student, Freelancer
              </div>
              <div class="properties-value__minus">
              <span class="properties-minus__icon"></span>
              Manager, Pensioner, Student, Freelancer</div>
            </div>
          </div>
          <div class="properties-table__line">
            <div class="properties-table__title">Age:</div>
            <div class="properties-table__value">
              <div class="properties-value__plus">
                <span class="properties-plus__icon"></span>
                qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto qui voluptatem architecto 
              </div>
              <div class="properties-value__minus">
              <span class="properties-minus__icon"></span>
              Manager, Pensioner, Student, Freelancer</div>
            </div>
          </div>
          <div class="properties-table__line">
            <div class="properties-table__title">Age:</div>
            <div class="properties-table__value">
              <div class="properties-value__plus">
                <span class="properties-plus__icon"></span>
                I have my own business, Top-manager, Specialist</div>
              <div class="properties-value__minus">
              <span class="properties-minus__icon"></span>
              Manager, Pensioner, Student, Freelancer</div>
            </div>
          </div>
          <div class="properties-table__line">
            <div class="properties-table__title">Job:</div>
            <div class="properties-table__value">
              <div class="properties-value__minus">
              <span class="properties-minus__icon"></span>
              Manager</div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="banner-info__link">A complete report</a>
    </div>
    <span class="banner-list__delete"></span>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalBannerListTableItem',
    props: ['bannerDetails', 'isOpen'],
    created() {

    },
    computed: {

    },
    data() {
      return {

      }
    },
    methods: {
      open() {
        this.$emit('toggle-banner', this.bannerDetails)
      }
    }
  }
</script>