<template>
  <div>
    <h1 class="info-title">Личные данные</h1>
    <p class="info-paragraph">Если вы заполните свои параметры, вам будет приходить реклама подходящих именно вам товаров и услуг. В системе APM Agentuur все пользователи остаются анонимными.</p>
    <form action="" class="personal-form">
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="firstName" class="label">Имя</label>
          <!-- <span @click="editName()" class="edit-input link">Изменить</span> -->
          <input @change="toggleChangeName" :disabled="this.changeNameDisabled" v-model="form.name" type="text" id="firstName" name="fname" class="input">
        </div>
        <div class="personal-form__item">
          <label for="lastName" class="label">Фамилия</label>
          <!-- <span @click="editSname()" class="edit-input link">Изменить</span> -->
          <input @change="toggleChangeName" :disabled="this.changeNameDisabled" type="text" id="lastName" name="lname" class="input" v-model="form.sname">
        </div>
      </div>
      <div v-if="showChange" class="personal-form__section personal-form__section--buttons">
        <p class="info-paragraph info-paragraph--warning">Внимание!</p>
        <p class="info-paragraph">Вы не сможете изменить свое имя в течении следующих 60 дней!</p>
        <a @click.prevent="acceptChangeName" href="" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--red']">Изменить</a>
        <a @click.prevent="cancelChangeName" href="" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--grey']">Отменить</a>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="selectCountry" class="label">Страна</label>
          <select name="countrySel" id="selectCountry" :class="[{'select--selected': form.country}, 'select']" @change="changeCountry"
            v-model="form.country">
            <option class="option" value="" hidden>Страна</option>
            <option v-for="(country, index) in countries" :key="index" class="option" :value="country">{{ country.name }}</option>
          </select>
          <input type="hidden" name="country" :value="form.country.name">
        </div>
        <div v-if="form.country" class="personal-form__item">
          <label for="selectRegion" class="label">Регион</label>
          <select name="regionSel" id="selectRegion" :class="[{'select--selected': form.region}, 'select']" @change="changeRegion"
            v-model="form.region">
            <option class="option" value="" hidden>Область</option>
            <option v-for="(region, index) in regions" :key="index" class="option" :value="region">{{ region.name }}</option>
          </select>
          <input type="hidden" name="region" :value="form.region.name">
        </div>
        <div v-if="form.region" class="personal-form__item">
          <label for="selectCity" id="selectCity" class="label">Город</label>
          <select name="citySel" :class="[{'select--selected': form.city}, 'select']" v-model="form.city">
            <option class="option" value="" hidden>Город</option>
            <option v-for="(city, index) in form.region.cities" :key="index" class="option" :value="city">{{ city.name }}</option>
          </select>
          <input type="hidden" name="city" :value="form.city.name">
        </div>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="height" class="label">Рост, см</label>
          <input type="number" id="height" name="height" class="input" v-model="form.height">
        </div>
        <div class="personal-form__item">
          <label for="weight" class="label">Вес, кг</label>
          <input type="number" id="weight" name="weight" class="input" v-model="form.weight">
        </div>
        <div class="personal-form__item">
          <label for="selectFeet" class="label">Длина стопы (см)</label>
          <select name="feetLength" id="selectFeet" :class="[{'select--selected': form.feetLength}, 'select']" v-model="form.feetLength">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectWaist" class="label">Обхват (см)</label>
          <select name="waistLength" id="selectWaist" :class="[{'select--selected': form.waistLength}, 'select']" v-model="form.waistLength">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectInstep" class="label">Подъем</label>
          <select name="instep" id="selectInstep" :class="[{'select--selected': form.instep}, 'select']" v-model="form.instep">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectEyeColor" class="label">Цвет глаз</label>
          <select name="eyeColor" id="selectEyeColor" :class="[{'select--selected': form.eyeColor}, 'select']" v-model="form.eyeColor">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectHairColor" class="label">Цвет волос</label>
          <select name="hairColor" id="selectHairColor" :class="[{'select--selected': form.hairColor}, 'select']" v-model="form.hairColor">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectBloodType" class="label">Группа крови</label>
          <select name="bloodType" id="selectBloodType" :class="[{'select--selected': form.bloodType}, 'select']" v-model="form.bloodType">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectTemperament" class="label">Темперамент</label>
          <select name="temperament" id="selectTemperament" :class="[{'select--selected': form.temperament}, 'select']" v-model="form.temperament">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectPersonType" class="label">Тип личности</label>
          <select name="personType" id="selectPersonType" :class="[{'select--selected': form.personType}, 'select']" v-model="form.personType">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectBiorhythm" class="label">Биоритм</label>
          <select name="biorhythm" id="selectBiorhythm" :class="[{'select--selected': form.biorhythm}, 'select']" v-model="form.biorhythm">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectBadHabits" class="label">Вредные привычки</label>
          <select name="badHabits" id="selectBadHabits" :class="[{'select--selected': form.badHabits}, 'select']" v-model="form.badHabits">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectPreferredVacation" class="label">Отпуск проводите</label>
          <select name="preferredVacation" id="selectPreferredVacation" :class="[{'select--selected': form.preferredVacation}, 'select']"
            v-model="form.preferredVacation">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="selectMartialStatus" class="label">Семейное положение</label>
          <select name="martialStatus" id="selectMartialStatus" :class="[{'select--selected': form.martialStatus}, 'select']" v-model="form.martialStatus">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="inputInfants" class="label">Количество несовершеннолетних детей</label>
          <input type="number" id="inputInfants" name="infants" class="input" v-model="form.infants">
        </div>
        <div class="personal-form__item">
          <label for="inputAdultKids" class="label">Количество совершеннолетних детей</label>
          <input type="number" id="inputAdultKids" name="adultKids" class="input" v-model="form.adultKids">
        </div>
      </div>
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="selectEducation" class="label">Образование</label>
          <select name="education" id="selectEducation" :class="[{'select--selected': form.education}, 'select']" v-model="form.education">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectJob" class="label">Профессия</label>
          <select name="job" id="selectJob" :class="[{'select--selected': form.job}, 'select']" v-model="form.job">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectJobArea" class="label">Профессиональная область</label>
          <select name="jobArea" id="selectJobArean" :class="[{'select--selected': form.jobArea}, 'select']" v-model="form.jobArea">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectPosition" class="label">Занимаемая должность</label>
          <select name="position" id="selectPosition" :class="[{'select--selected': form.position}, 'select']" v-model="form.position">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectAnnualIncome" class="label">Годовой доход</label>
          <select name="annualIncome" id="selectAnnualIncome" :class="[{'select--selected': form.annualIncome}, 'select']" v-model="form.annualIncome">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section">
        <div class="personal-form__item">
          <label for="selectPhoneOS" class="label">Операционная система телефона</label>
          <select name="phoneOS" id="selectPhoneOS" :class="[{'select--selected': form.phoneOS}, 'select']" v-model="form.phoneOS">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div class="personal-form__item">
          <label for="selectTabletOS" class="label">Операционная система планшета</label>
          <select name="tabletOS" id="selectTabletOS" :class="[{'select--selected': form.tabletOS}, 'select']" v-model="form.tabletOS">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section">
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox1" type="checkbox" id="inputCheck1" name="check1" class="checkbox">
          <label for="inputCheck1" class="label label--checkbox">Наличие загородного жилья</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox2" type="checkbox" id="inputCheck2" name="check2" class="checkbox">
          <label for="inputCheck2" class="label label--checkbox">Наличие городского жилья</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox3" type="checkbox" id="inputCheck3" name="check3" class="checkbox">
          <label for="inputCheck" class="label label--checkbox">Наличие автомобиля</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox4" type="checkbox" id="inputCheck4" name="check4" class="checkbox">
          <label for="inputCheck4" class="label label--checkbox">Наличие мотоцикла</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox5" type="checkbox" id="inputCheck5" name="check5" class="checkbox">
          <label for="inputCheck5" class="label label--checkbox">Наличие водного судна</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox6" type="checkbox" id="inputCheck6" name="check6" class="checkbox">
          <label for="inputCheck6" class="label label--checkbox">Наличие домашнего животного</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input v-model="form.checkbox7" type="checkbox" id="inputCheck7" name="check7" class="checkbox">
          <label for="inputCheck7" class="label label--checkbox">Наличие летательного аппарата</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck8" v-model="form.checkbox8">
          <label for="inputCheck8" class="label label--checkbox">Посещаете кинотеатры</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck9" v-model="form.checkbox9">
          <label for="inputCheck9" class="label label--checkbox">Посещаете театры</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck10" v-model="form.checkbox10">
          <label for="inputCheck10" class="label label--checkbox">Посещаете концерты</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck11" v-model="form.checkbox11">
          <label for="inputCheck11" class="label label--checkbox">Посещаете спортивные соревнования</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck12" v-model="form.checkbox12">
          <label for="inputCheck12" class="label label--checkbox">Посещаете рестораны</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck13" v-model="form.checkbox13">
          <label for="inputCheck13" class="label label--checkbox">Любите шоппинг</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" class="checkbox" id="inputCheck14" v-model="form.checkbox14">
          <label for="inputCheck14" class="label label--checkbox">Любите путешествовать</label>
        </div>
      </div>
      <div class="divider"></div>
      <div class="personal-form__section personal-form__section--buttons">
        <a href="#" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--blue']">Сохранить</a>
      </div>
  </form>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaProperties',
    created() {
      axios.get('/api/site/data/geo/countries')
        .then(response => {
          this.countries = response.data
        })
      this.form.oldName = this.form.name
      this.form.oldSname = this.form.sname
    },
    data() {
      return {
        form: {
          name: 'Станислав',
          oldName: '',
          sname: 'Поганько',
          oldSname: '',
          country: '',
          region: '',
          city: '',
          height: '',
          feetLength: '',
          waistLength: '',
          instep: '',
          eyeColor: '',
          hairColor: '',
          bloodType: '',
          temperament: '',
          personType: '',
          biorhythm: '',
          badHabits: '',
          preferredVacation: '',
          martialStatus: '',
          infants: '',
          adultKids: '',
          education: '',
          job: '',
          jobArea: '',
          position: '',
          annualIncome: '',
          phoneOS: '',
          tabletOS: '',
          checkbox1: '',
          checkbox2: '',
          checkbox3: '',
          checkbox4: '',
          checkbox5: '',
          checkbox6: '',
          checkbox7: '',
          checkbox8: '',
          checkbox9: '',
          checkbox10: '',
          checkbox11: '',
          checkbox12: '',
          checkbox13: '',
          checkbox14: '',
        },
        countries: [],
        regions: [],
        showChange: false,
        changeNameDisabled: null
      }
    },
    methods: {
      changeCountry() {
        this.regions = this.form.country.regions
        this.form.region = ''
        this.form.city = ''
      },
      changeRegion() {
        this.form.city = ''
      },
      toggleChangeName() {
        this.showChange = true
      },
      acceptChangeName() {
        this.showChange = false
        this.form.oldName = this.form.name
        this.form.oldSname = this.form.sname
        this.changeNameDisabled = true
      },
      cancelChangeName() {
        this.showChange = false
        this.form.name = this.form.oldName
        this.form.sname = this.form.oldSname
      }
    },
  }
</script>