<template>
  <div>
    <h1 class="info-title">Партнерская программа</h1>
    <div class="personal-section">
      <div class="personal-info__block">
        <div class="personal-info__item">
          <img src="/img/ref-status-icon.svg" alt="" class="info-item__img">
          <span class="info-item__title">Ваш статус</span>
          <span class="info-item__value">91%</span>
        </div>
        <div class="personal-info__item">
          <img src="/img/ref-users-icon.svg" alt="" class="info-item__img">
          <span class="info-item__title">Пользователи</span>
          <span class="info-item__value">13</span>
        </div>
        <div class="personal-info__item">
          <img src="/img/ref-programs-icon.svg" alt="" class="info-item__img">
          <span class="info-item__title">Программы</span>
          <span class="info-item__value">2</span>
        </div>
      </div>
    </div>
    <div class="personal-section">
      <p class="info-paragraph info-paragraph--black">
        <b>Ваши клиенты должны регистрироваться через эту ссылку:</b>
      </p>
      <input class="input input--ref" ref="referral" :value="referralLink" readonly>
      <a @click.prevent="copyReferral" href="#" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--light-grey']">Скопировать</a>
    </div>
    <div class="personal-section">
      <p class="info-paragraph info-paragraph--black">
        <b>Пользователи, которые придут по вашей ссылке, должны пройти 3 этапа:</b>
      </p>
      <p class="info-paragraph">1. Пройти регистрацию (
        <span class="person-status person-status--register"></span> )
        <br>2. Активировать свой аккаунт (
        <span class="person-status person-status--activated"></span> )
        <br>3. Привязать свой счет к платежной система Paysera (
        <span class="person-status person-status--paysera"></span> )</p>
    </div>
    <div class="divider"></div>
    <div class="personal-section">
      <h2 class="personal-subtitle">Программа «100 за 100»</h2>
      <p class="info-paragraph">Примите участие в нашей партнерской программе и вы сможете всегда получать все 100% средств от рекламодателей за просмотр
        рекламы, и мы будем работать на вас бесплатно. Каждый пользователь получает 90% средств за просмотр. Чтобы набрать
        оставшиеся 10%, необходимо привести
        <span class="color-red">100 пользователей</span>, при этом за каждые 10 пользователей вам будет прибавляться + 1%.</p>
      <div class="table-container">
        <table class="table__personal">
          <colgroup>
            <col width="50%">
            <col width="25%">
            <col width="20%">
            <col width="5%">
          </colgroup>
          <thead>
            <tr>
              <th>
                <span>Пользователь / ID</span>
              </th>
              <th>
                <span>Дата</span>
              </th>
              <th>
                <span>Статус</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="table__text">Jurijus Stepanovas</p>
                <p class="table__text table__text--secondary">ID: 12435698</p>
              </td>
              <td>
                <p class="table__text">02-10-2017</p>
                <p class="table__text table__text--secondary">07:41:00</p>
              </td>
              <td>
                <p class="table__text">Активен</p>
              </td>
              <td>
                <span class="person-status person-status--activated"></span>
              </td>
            </tr>
            <tr>
              <td>
                <p class="table__text">Jurijus Stepanovas</p>
                <p class="table__text table__text--secondary">ID: 12435698</p>
              </td>
              <td>
                <p class="table__text">02-10-2017</p>
                <p class="table__text table__text--secondary">07:41:00</p>
              </td>
              <td>
                <p class="table__text">Активен</p>
              </td>
              <td>
                <span class="person-status person-status--activated"></span>
              </td>
            </tr>
            <tr>
              <td>
                <p class="table__text">Jurijus Stepanovas</p>
                <p class="table__text table__text--secondary">ID: 12435698</p>
              </td>
              <td>
                <p class="table__text">02-10-2017</p>
                <p class="table__text table__text--secondary">07:41:00</p>
              </td>
              <td>
                <p class="table__text">Активен</p>
                <p class="table__text">Paysera</p>
              </td>
              <td>
                <p>
                  <span class="person-status person-status--activated"></span>
                </p>
                <p>
                  <span class="person-status person-status--paysera"></span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="personal-section">
      <h2 class="personal-subtitle">Программа «APMEcocard + 10%»</h2>
      <p class="info-paragraph">Примите участие в нашей партнерской программе и вы сможете всегда получать все 100% средств от рекламодателей за просмотр
        рекламы, и мы будем работать на вас бесплатно. Каждый пользователь получает 90% средств за просмотр. Чтобы набрать
        оставшиеся 10%, необходимо привести
        <span class="color-red">100 пользователей</span>, при этом за каждые 10 пользователей вам будет прибавляться + 1%.</p>
      <div class="table-container">
        <table class="table__personal">
          <colgroup>
            <col width="40%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
            <tr>
              <th>
                <span>Программа / Создатель</span>
              </th>
              <th>
                <span>Оплата тарифа</span>
              </th>
              <th>
                <span>Ваш %</span>
              </th>
              <th>
                <span>Общая сумма:</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="table__text">Хоздвор</p>
                <p class="table__text table__text--secondary">Евгений Глебов</p>
              </td>
              <td>
                <p class="table__text">Не оплачено</p>
                <p class="table__text table__text--secondary">Eco M:
                  <span class="table__badge">Test</span>
                </p>
              </td>
              <td>
                <p class="table__text">0,00 €</p>
                <p class="table__text table__text--secondary">2 ноября 2017</p>
              </td>
              <td>
                <p class="table__text">23.009 €</p>
                <p class="table__text table__text--secondary">
                  <a href="#" class="table__link">Подробнее</a>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="table__text">LabasItalia</p>
                <p class="table__text table__text--secondary">Евгений Глебов</p>
              </td>
              <td>
                <p class="table__text">59.9 €</p>
                <p class="table__text table__text--secondary">Eco S: за год</p>
              </td>
              <td>
                <p class="table__text">
                  <span class="color-green">+ 5,99 €</span>
                </p>
                <p class="table__text table__text--secondary">2 ноября 2017</p>
              </td>
              <td>
                <p class="table__text">14.5 €</p>
                <p class="table__text table__text--secondary">
                  <a href="#" class="table__link">Все транзакции</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="personal-section">
        <h2 class="personal-subtitle">Программа «APMEcocard + 10%»</h2>
        <p class="info-paragraph">Примите участие в нашей партнерской программе и вы сможете всегда получать все 100% средств от рекламодателей за
          просмотр рекламы, и мы будем работать на вас бесплатно. Каждый пользователь получает 90% средств за просмотр. Чтобы
          набрать оставшиеся 10%, необходимо привести
          <span class="color-red">100 пользователей</span>, при этом за каждые 10 пользователей вам будет прибавляться + 1%.</p>
        <div class="table-container">
          <div class="table__empty">
            <p class="empty-table__text">Пользователи не добавлены</p>
          </div>
          <table class="table__personal">
            <colgroup>
              <col width="40%">
              <col width="20%">
              <col width="20%">
              <col width="20%">
            </colgroup>
            <thead>
              <tr>
                <th>
                  <span>Программа / Создатель</span>
                </th>
                <th>
                  <span>Оплата тарифа</span>
                </th>
                <th>
                  <span>Ваш %</span>
                </th>
                <th>
                  <span>Общая сумма:</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaReferral',
    created() {

    },
    data() {
      return {
        referralLink: 'https://www.adpays.me/referer/5/'
      }
    },
    methods: {
      copyReferral() {
        this.$refs.referral.select()
        document.execCommand('copy')
        alert('Ссылка скопирована')
      }
    }
  }
</script>