<template>
  <div>
    <h1 class="info-title">Настройки</h1>
    <div class="personal-section">
      <h2 class="personal-subtitle">Аватар</h2>
      <p class="info-paragraph">Загрузите фотографию и укажите область для создания аватарки. Вы можете загрузить изображение в формате JPG или PNG</p>
      <div class="avatar-upload" v-show="!edit">
        <div class="text-center p-2">
          <file-upload data-placeholder="Загрузить фото" extensions="gif,jpg,jpeg,png,webp" accept="image/png,image/gif,image/jpeg,image/webp"
            name="avatar" class="avatar-upload__label" post-action="/upload/post" :drop="!edit" v-model="files" @input-filter="inputFilter"
            @input-file="inputFile" ref="upload">
            <img :src="files.length ? files[0].url : '/img/avatar-placeholder.svg'" class="avatar-upload__img" />
          </file-upload>
        </div>
      </div>
      <a href="#" class="bttn" @click.prevent="$refs.upload.clear">Удалить</a>
      <!-- <div class="avatar-edit" v-show="files.length && edit">
        <div class="avatar-edit-image" v-if="files.length">
          <img ref="editImage" :src="files[0].url" />
        </div>
        <div class="text-center p-4">
          <button type="button" class="btn btn-secondary" @click.prevent="$refs.upload.clear">Cancel</button>
          <button type="submit" class="btn btn-primary" @click.prevent="editSave">Save</button>
        </div>
      </div> -->
    </div>
    <div class="divider"></div>
    <div class="personal-section">
      <h2 class="personal-subtitle">Уведомления</h2>
      <p class="info-paragraph">Выберите какую рассылку писем вы хотите получать по электронной почте.</p>
      <form action="">
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck1" name="check1" class="checkbox">
          <label for="inputCheck1" class="label label--checkbox">Новая реклама</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck2" name="check2" class="checkbox">
          <label for="inputCheck2" class="label label--checkbox">Проведение конкурсов</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck3" name="check3" class="checkbox">
          <label for="inputCheck3" class="label label--checkbox">Вывод средств</label>
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck4" name="check4" class="checkbox">
          <label for="inputCheck4" class="label label--checkbox">Программа лояльности</label>
        </div>
        <a href="" class="bttn bttn--blue">Сохранить</a>
      </form>
    </div>
    <div class="divider"></div>
    <div class="personal-section">
      <h2 class="personal-subtitle">Блокировка аккаунта</h2>
      <p class="info-paragraph">При блокировке Ваш профиль скрывается из общего списка пользователей для подачи рекламы. Вы сохраняете всю вашу личную
        информацию, персональный ID и ID ваших компаний, средства на вешем счету и счетах компаний, контакты и переписка
        с друзьями. Вы не можете зайти в ваш аккаунт, получать и давать рекламу и общаться в чате. Для разблокировки аккаунта
        Вам необходимо обратиться с просьбой в службу поддержки.</p>
      <form action="">
        <div class="personal-form__item">
          <input type="password" placeholder="Пароль" id="inputPassword" name="password" class="input input--settings">
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck5" name="check5" class="checkbox">
          <label for="inputCheck5" class="label label--checkbox">Я хочу заблокировать свой аккаунт</label>
        </div>
        <a href="" class="bttn bttn--blue">Заблокировать</a>
      </form>
    </div>
    <div class="divider"></div>
    <div class="personal-section">
      <h2 class="personal-subtitle">Удаление аккаунта</h2>
      <p class="info-paragraph">При блокировке Ваш профиль скрывается из общего списка пользователей для подачи рекламы. Вы сохраняете всю вашу личную
        информацию, персональный ID и ID ваших компаний, средства на вешем счету и счетах компаний, контакты и переписка
        с друзьями. Вы не можете зайти в ваш аккаунт, получать и давать рекламу и общаться в чате. Для разблокировки аккаунта
        Вам необходимо обратиться с просьбой в службу поддержки.</p>
      <form action="">
        <div class="personal-form__item">
          <input type="password" placeholder="Пароль" id="inputPassword" name="password" class="input input--settings">
        </div>
        <div class="personal-form__item personal-form__item--checkbox">
          <input type="checkbox" id="inputCheck6" name="check6" class="checkbox">
          <label for="inputCheck6" class="label label--checkbox">Я больше не хочу пользоваться услугами APM AGENTUUR</label>
        </div>
        <a href="" class="bttn bttn--red">Удалить</a>
      </form>
    </div>
    <modal height="100%" :width="modalCropperWidth" :scrollable="true" :adaptive="true" name="edit-avatar" @opened="showCropper" class="apm-modal-overlay">
      <div class="modal">
        <p class="modal__text modal__text--cropper">Выберите область для создания аватарки.</p>
        <div class="avatar-edit" v-show="files.length && edit">
          <div class="avatar-edit-image" v-if="files.length && edit">
            <img class="avatar-edit__img" ref="editImage" :src="files[0].url" />
          </div>
        </div>
        <button type="submit" class="bttn bttn--blue" @click.prevent="editSave">Сохранить</button>
        <span class="modal__close" @click.prevent="editCancel"></span>
      </div>
    </modal>
  </div>
</template>

<script>
  import axios from 'axios';
  import Cropper from 'cropperjs';

  export default {
    name: 'PersonaSettings',
    created() {

    },
    data() {
      return {
        payseraAcc: true,
        withdrawCount: '',
        files: [],
        edit: false,
        cropper: false,
      }
    },
    computed: {
      modalCropperWidth: function(){
        if(this.$root.mobile) {
        return '100%'
        } else {
          return '700'
        }
      }
    },
    watch: {
      edit(value) {
        if (value) {
          this.$nextTick(function () {
            if (!this.$refs.editImage) {
              return
            }

            let cropper = new Cropper(this.$refs.editImage, {
              aspectRatio: 1 / 1,
              viewMode: 0,
            })

            this.cropper = cropper

          })
        } else {
          if (this.cropper) {
            this.cropper.destroy()
            this.cropper = false
          }
        }
      }
    },
    methods: {
      resetBill() {
        this.withdrawCount = ''
      },
      editSave() {
        this.$modal.hide('edit-avatar')
        this.edit = false
        let oldFile = this.files[0]
        let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
        let arr = new Uint8Array(binStr.length)
        for (let i = 0; i < binStr.length; i++) {
          arr[i] = binStr.charCodeAt(i)
        }
        let file = new File([arr], oldFile.name, {
          type: oldFile.type
        })
        this.$refs.upload.update(oldFile.id, {
          file,
          type: file.type,
          size: file.size,
          active: true,
        })
      },
      editCancel() {
        this.$refs.upload.clear
        this.edit = false
        this.$modal.hide('edit-avatar')
      },
      alert(message) {
        alert(message)
      },
      inputFile(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          this.$modal.show('edit-avatar')
          this.$nextTick(function () {
            this.edit = true
          })

        }
        if (!newFile && oldFile) {
          this.edit = false
        }
      },
      inputFilter(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
            this.alert('Your choice is not a picture')
            return prevent()
          }
        }
        if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
          newFile.url = ''
          let URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            newFile.url = URL.createObjectURL(newFile.file)
          }
        }
      },
      showCropper(event) {
        if (this.edit) {
          this.$nextTick(function () {
            if (!this.$refs.editImage) {
              return
            }

            let cropper = new Cropper(this.$refs.editImage, {
              aspectRatio: 1 / 1,
              viewMode: 1,
              responsive: true
            })

            this.cropper = cropper

          })
        } else {
          if (this.cropper) {
            this.cropper.destroy()
            this.cropper = false
          }
        }
      }
    }
  }
</script>