<template>
<div v-show="isActive"><slot></slot></div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalEcocardCreateTab',
    props: {
        name: { required: true },
        selected: { default: false }
    },
    created() {
       this.isActive = this.selected
    },
    data() {
      return {
        isActive: false
      }
    }
  }
</script>