<template>
  <div>
    <h1 class="info-title">Дисконтные программы</h1>
    <div class="personal-nav">
      <div class="personal-nav__left">
        <ul class="nav-filter">
          <li class="nav-filter__item">
            <a href="" class="nav-filter__link nav-filter__link--active">Активные</a>
          </li>
          <li class="nav-filter__item">
            <a href="" class="nav-filter__link">Архив</a>
          </li>
          <li class="nav-filter__item">
            <a href="#" class="nav-filter__link">Все</a>
          </li>
        </ul>
      </div>
      <div class="personal-nav__right">
        <router-link to="/personal/banner/add" class="bttn bttn--green bttn--small">Дать рекламу</router-link>
      </div>
    </div>
    <div class="personal-banners-list">
      <div class="banners-list__header">
        <div class="banners-list__name">
          <span class="banners-header__text">Название / №</span>
        </div>
        <div class="banners-list__period">
          <span class="banners-header__text">Дата</span>
        </div>
        <div class="banners-list__balance">
          <span class="banners-header__text">Остаток</span>
        </div>
        <div class="banners-list__status">
          <span class="banners-header__text">Статус</span>
        </div>
      </div>
      <div class="banners-list__items">
        <banner-item v-for="(banner,index) in banners" :key="index" :bannerDetails="banner" :isOpen="banner.isOpen" v-on:toggle-banner="toggleBanner"></banner-item>
      </div>
    </div>
    <base-pagination></base-pagination>
  </div>
</template>

<script>
  import axios from 'axios';
  import PersonalBannerListTableItem from './PersonalBannerListTableItem.vue';
  import BasePagination from './BasePagination.vue';


  export default {
    name: 'PersonalBannerList',
    components: {
      'banner-item': PersonalBannerListTableItem,
      'base-pagination': BasePagination
    },
    created() {

    },
    data() {
      return {
        banners: [
          {
            isOpen: false,
            name: 'Хоздвор - Спецпредложение',
            dateFrom: '2018-02-07',
            dateTo: '2018-03-30',
            balance: '30.40',
            status: 'Активна',
            statusId: 0,
            logo: '/img/test-banner-stand.png',
            stats: [
              {
                title: 'frictionless evolve architectures',
                value: '9092'
              },
              {
                title: 'value-added synergize relationships',
                value: '94866'
              },
              {
                title: 'intuitive recontextualize e-services',
                value: '28934'
              },
              {
                title: 'proactive target web services',
                value: '44467'
              },
              {
                title: 'front-end benchmark eyeballs',
                value: '50079'
              },
              {
                title: 'cross-media innovate ROI',
                value: '35159'
              },
            ],
            properties: [
              {
                title: 'Age:',
                items: [
                  {
                    type: 'plus',
                    value: '35-45'
                  },
                  {
                    type: 'plus',
                    value: '18-25'
                  },
                  {
                    type: 'plus',
                    value: '300-1000'
                  },
                  {
                    type: 'minus',
                    value: '0-6'
                  },
                ]
              }
            ]
          },
          {
            isOpen: false,
            name: 'Хоздвор - Стиклево',
            dateFrom: '2018-02-07',
            dateTo: '2018-03-30',
            balance: '30.40',
            status: 'Не активна sdfsdf we r',
            statusId: 1,
            logo: '/img/test-banner-prem.png',
            stats: [
              {
                title: 'B2B implement networks',
                value: '29377'
              },
              {
                title: 'user-centric streamline relationships',
                value: '68457'
              },
              {
                title: 'innovative evolve partnerships',
                value: '16902'
              },
              {
                title: 'dynamic deploy relationships',
                value: '76706'
              },
              {
                title: 'seamless optimize applications',
                value: '15432'
              },
              {
                title: 'customized revolutionize e-tailers',
                value: '31074'
              },
            ]
          },
          {
            isOpen: false,
            name: 'Хоздвор - Медведь',
            dateFrom: '2018-02-07',
            dateTo: '2018-03-30',
            balance: '30.40',
            status: 'Активна',
            statusId: 0,
            logo: '/img/test-banner-stand.png',
            stats: [
              {
                title: 'sticky visualize mindshare',
                value: '34383'
              },
              {
                title: 'strategic monetize functionalities',
                value: '95463'
              },
              {
                title: 'bricks-and-clicks visualize channels',
                value: '36603'
              },
              {
                title: 'strategic extend ROI',
                value: '63091'
              },
              {
                title: 'cross-media monetize relationships',
                value: '76325'
              },
              {
                title: 'world-class disintermediate models',
                value: '28346'
              },
            ]
          },
        ]
      }
    },
    methods: {
      toggleBanner(e)  {
        if (e.isOpen) {
          this.banners.forEach(banner => {
            banner.isOpen = false
          })
        } else {
          this.banners.forEach(banner => {
            banner.isOpen = false
          })
          e.isOpen = !e.isOpen
        }
        // e.isOpen = !e.isOpen
      },
    }
  }
</script>