<template>
  <div>
    <h1 class="info-title">Подписка</h1>
    <div class="personal-section">
      <div class="ecocard-subscribe__block">
        <p class="subscribe-block__paragraph">У вас закончилась бесплатный тестовый период. Чтобы ваша программа лояльности продолжала работать необходимо купить подписку.</p>
        <div class="subscribe-block__inner">
          <h2 class="subcribe-inner__title">Начальный</h2>
          <p class="subscribe-inner__paragraph">Добавление до 5 филиалов и 10 сотрудников</p>
          <div class="subscribe-inner__buttons">
            <div class="subscribe-buttons__item">
              <p class="subscribe-buttons__price">{{ 10 | currency('€', 0, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</p>
              <p class="subscribe-buttons__term">в месяц</p>
              <a href="#" class="bttn bttn--blue bttn--small">Подписаться</a>
            </div>
            <div class="subscribe-buttons__item">
              <p class="subscribe-buttons__price">{{ 50 | currency('€', 0, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</p>
              <p class="subscribe-buttons__term">за год</p>
              <a href="#" class="bttn bttn--blue bttn--small">Подписаться</a>
            </div>
          </div>
        </div>
        <div class="subscribe-block__inner">
          <h2 class="subcribe-inner__title">Начальный</h2>
          <p class="subscribe-inner__paragraph">Добавление до 5 филиалов и 10 сотрудников</p>
          <div class="subscribe-inner__buttons">
            <div class="subscribe-buttons__item">
              <p class="subscribe-buttons__price">{{ 10 | currency('€', 0, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</p>
              <p class="subscribe-buttons__term">в месяц</p>
              <a href="#" class="bttn bttn--blue bttn--small">Подписаться</a>
            </div>
            <div class="subscribe-buttons__item">
              <p class="subscribe-buttons__price">{{ 50 | currency('€', 0, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</p>
              <p class="subscribe-buttons__term">за год</p>
              <a href="#" class="bttn bttn--blue bttn--small">Подписаться</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="personal-section">
      <a href="#" class="bttn bttn--light-grey">Отменить</a>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'PersonalEcocardSubscribe',
    components: {

    },
    created() {

    },
    beforeCreate() {
      this.$emit('centered', true)
    },
    updated() {
      this.$emit('centered', true)
    },
    beforeDestroy() {
      this.$emit('centered', false)
    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {
      
    },
  }
</script>