<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Размещение рекламы</h1>
    <form>
      <div class="banner-options">
        <div class="banner-options__group">
          <div class="banner-options__item">
            <input type="radio" id="1-1" name="adv-type" value="adv-pers">
            <label for="1-1" class="banner-options__label">
              <span class="banner-label__check"></span>
              <h2 class="banner-label__title">Реклама частным лицам</h2>
              <span class="banner-label__icon">
                <icon-base viewBox="0 0 60 60" width="60" height="60">
                  <icon-banner-private></icon-banner-private>
                </icon-base>
              </span>
              <p class="banner-label__description">Реклама частным лицам для просмотра на десктопе или на мобильном устройстве</p>
            </label>
          </div>
          <div class="banner-options__item">
            <input type="radio" id="1-2" name="adv-type" value="adv-corp">
            <label for="1-2" class="banner-options__label">
              <span class="banner-label__check"></span>
              <h2 class="banner-label__title">Реклама компаниям</h2>
              <span class="banner-label__icon">
                <icon-base viewBox="0 0 60 60" width="60" height="60">
                  <icon-banner-corp></icon-banner-corp>
                </icon-base>
              </span>
              <p class="banner-label__description">Реклама юридическим лицам для просмотра только на десктопе</p>
            </label>
          </div>
        </div>
        <div class="banner-options__group">
          <div class="banner-options__item">
            <input type="radio" id="2-1" name="adv-for" value="adv-adult">
            <label for="2-1" class="banner-options__label">
              <span class="banner-label__check"></span>
              <h2 class="banner-label__title">Взрослым</h2>
              <span class="banner-label__icon">
                <icon-base viewBox="0 0 66 60" width="66" height="60">
                  <icon-banner-adult></icon-banner-adult>
                </icon-base>
              </span>
              <p class="banner-label__description">Вся реклама проходит модерацию. За нарушение правил она будет отклонена.</p>
            </label>
          </div>
          <div class="banner-options__item">
            <input type="radio" id="2-2" name="adv-for" value="adv-kid">
            <label for="2-2" class="banner-options__label">
              <span class="banner-label__check"></span>
              <h2 class="banner-label__title">Детям</h2>
              <span class="banner-label__icon">
                <icon-base viewBox="0 0 43 60" width="43" height="60">
                  <icon-banner-kids></icon-banner-kids>
                </icon-base>
              </span>
              <p class="banner-label__description">Давая рекламу детям, помните об ответственности! За нарушение правил реклама будет отклонена.</p>
            </label>
          </div>
        </div>
      </div>
    </form>
    <router-link to="step3" class="bttn bttn--banner bttn--blue">Далее</router-link>
  </div>
</template>

<script>
  export default {
    name: 'PersonaBannerAddStep2',
    components: {

    },
    created() {

    },
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>