<template>
  <div>
    <h1 class="info-title">Регистрация компании</h1>
    <form action="" class="company-register__form" name="reg-company">
      <div class="company-form__item">
        <label for="company-name" class="label">Название компании</label>
        <input type="text" id="company-name" name="compname" class="input" >
      </div>
      <div class="company-form__item">
        <label for="company-email" class="label">Email компании</label>
        <input type="text" id="company-email" name="compemail" class="input" >
      </div>
      <div class="company-form__item">
        <select name="compfield" id="company-field" :class="[{'select--selected': form.gender}, 'select']" v-model="form.gender">
          <option class="option" value="" selected hidden>Область деятельности</option>
          <option class="option" value="male">Мужской</option>
          <option class="option" value="female">Женский</option>
        </select>
      </div>
      <div class="company-form__item">
        <select name="country" id="company-country" :class="[{'select--selected': form.country}, 'select']" v-model="form.country">
          <option class="option" value="" selected hidden>Страна</option>
          <option class="option" value="male">Мужской</option>
          <option class="option" value="female">Женский</option>
        </select>
      </div>
      <div class="company-form__item">
        <label for="street" class="label">Улица, дом</label>
        <textarea class="input input--centered--textarea input--banner" cols="30" rows="2"></textarea>
      </div>
      <div class="company-form__item">
        <label for="company-contact" class="label">Контактное лицо</label>
        <input type="text" id="company-contact" name="contact" class="input" >
      </div>
      <div class="company-form__item company-form__item--button">
        <button :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--blue']" form="reg-company" type="submit">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</template>

<script>

  export default {
    name: 'PersonalCompanyRegister',
    created() {

    },
    beforeCreate() {
      this.$emit('centered', true)
    },
    updated() {
      this.$emit('centered', true)
    },
    beforeDestroy() {
      this.$emit('centered', false)
    },
    data() {
      return {
        form: {
          gender: '',
          country: ''
        }
      }
    },
    methods: {

    },
  }
</script>