<template>
  <div class="banner-progress">
    <span style="position:absolute;left:0;cursor:pointer;" @click="incr">toggle</span>
    <template v-if="step == 0">
      <div class="banner-progress__item">
        <span class="progress-item__icon">
          <icon-base viewBox="0 0 30 30" width="35" height="35">
            <icon-ecocard-subscribers></icon-ecocard-subscribers>
          </icon-base>
        </span>
        <span class="progress-item__text">5</span>
      </div>
      <div class="banner-progress__item">
        <span class="progress-item__icon">
          <icon-base viewBox="0 0 30 30" width="35" height="35">
            <icon-banner-price></icon-banner-price>
          </icon-base>
        </span>
        <span class="progress-item__text">{{ 60234.345435 | currency('€', 4, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
      </div>
    </template>
    <template v-if="step == 2">
      <div class="banner-progress__item">
        <span class="progress-item__icon">
          <icon-base viewBox="0 0 30 30" width="35" height="35">
            <icon-ecocard-subscribers></icon-ecocard-subscribers>
          </icon-base>
        </span>
        <span class="progress-item__text">5</span>
      </div>
      <div class="banner-progress__item">
        <span class="progress-item__icon">
          <icon-base viewBox="0 0 30 30" width="35" height="35">
            <icon-banner-price></icon-banner-price>
          </icon-base>
        </span>
        <span class="progress-item__text">{{ 60234.345435 | currency('€', 4, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
      </div>
    </template>

  </div>
</template>

<script>

  export default {
    name: 'PersonaBannerAddProgress',
    components: {
      
    },
    created() {

    },
    data() {
      return {
        step: 0
      }
    },
    methods: {
     incr() {
       if (this.step < 2)
       this.step++
       else
       this.step = 0
     }
    }
  }
</script>