<template>
  <div>
    <h1 class="info-title">Создать программу</h1>
    <div class="personal-section">
      <p class="info-paragraph">Выберите тарифный план для своей дисконтной программы. Программа будет работать в тестовом режиме
        <span class="color-green">180 дней бесплатно</span>
      </p>
    </div>
    <div class="personal-section">
      <tabs tab-class="create-prog__tabs" content-class="prog-detail-card__block">
        <tab name="Eco-S" :selected="true">
          <div class="prog-detail-card">
            <div class="prog-detail-card__detail">
              <span>Кількість філій:</span>
              <b>∞</b>
            </div>
            <div class="prog-detail-card__detail prog-detail-card__detail_last">
              <span>Кількість співробітників:</span>
              <b>∞</b>
            </div>
            <div class="prog-detail-card__price">
              <div class="prog-detail-card__price_l">
                <p class="prog-detail-card__price_name">На місяць</p>
                <p class="prog-detail-card__price_num">€ 19,90</p>
              </div>
              <div class="prog-detail-card__price_r">
                <p class="prog-detail-card__price_name">На рік</p>
                <p class="prog-detail-card__price_num">€ 119,90</p>
              </div>
            </div>
          </div>
          <a href="#" class="prog-detail-link">Подробнее</a>
        </tab>
        <tab name="Eco-M">
          <div class="prog-detail-card">
            <div class="prog-detail-card__detail">
              <span>Filialų skaičius:</span>
              <b>2</b>
            </div>
            <div class="prog-detail-card__detail prog-detail-card__detail_last">
              <span>Darbuotojų skaičius:</span>
              <b>3</b>
            </div>
            <div class="prog-detail-card__price">
              <div class="prog-detail-card__price_l">
                <p class="prog-detail-card__price_name">Per mėnesį</p>
                <p class="prog-detail-card__price_num">€ 9,90</p>
              </div>
              <div class="prog-detail-card__price_r">
                <p class="prog-detail-card__price_name">Per metus</p>
                <p class="prog-detail-card__price_num">€ 59,90</p>
              </div>
            </div>
          </div>
          <a href="#" class="prog-detail-link">Подробнее</a>
        </tab>
        <tab name="Eco-L">
          <div class="prog-detail-card">
            <div class="prog-detail-card__detail">
              <span>Number of branches:</span>
              <b>∞</b>
            </div>
            <div class="prog-detail-card__detail prog-detail-card__detail_last">
              <span>Number of employees:</span>
              <b>∞</b>
            </div>
            <div class="prog-detail-card__price">
              <div class="prog-detail-card__price_l">
                <p class="prog-detail-card__price_name">Per month</p>
                <p class="prog-detail-card__price_num">€ 99,90</p>
              </div>
              <div class="prog-detail-card__price_r">
                <p class="prog-detail-card__price_name">Per year</p>
                <p class="prog-detail-card__price_num">€ 599,90</p>
              </div>
            </div>
          </div>
          <a href="#" class="prog-detail-link">Подробнее</a>
        </tab>
      </tabs>
    </div>
    <div class="personal-section">
      <div class="ecocard-create__card">
        <div class="eco-create-card__field">
          <label for="company" class="label">Компания</label>
          <select name="companySel" id="company" class="select select--white">
            <option class="option" value="id1">Рога и копыта</option>
            <option class="option" value="id2">Копыта и Рога</option>
            <option class="option" value="id3">Абырвалг</option>
          </select>
        </div>
        <div class="eco-create-card__field">
          <label class="label">Визуализация программы</label>
          <div class="program-logo">
            <button v-if="logo.length" @click.prevent="$refs.upload1.remove(logo[0])" class="delete-img__bttn"></button>
            <label for="logo">
              <img :src="logo.length ? logo[0].url : '/img/logo-template.svg'" class="logo__img" />
            </label>
          </div>
          <div class="upload-logo">
            <file-upload extensions="gif,jpg,jpeg,png,webp" accept="image/png,image/gif,image/jpeg,image/webp" name="logo" class="upload-logo__bttn"
              post-action="/upload/post" v-model="logo" @input-filter="inputFilter" @input-file="inputFile" ref="upload1">
              Загрузить...
            </file-upload>
          </div>
          <div class="avatar-edit" v-show="logo.length && editLogo">
            <div class="avatar-edit-image" v-if="logo.length">
              <img ref="editImage" :src="logo[0].url" />
            </div>
            <div class="text-center p-4">
              <button type="button" class="btn btn-secondary" @click.prevent="$refs.upload1.remove(logo[0])">Cancel</button>
              <button type="submit" class="btn btn-primary" @click.prevent="editSave">Save</button>
            </div>
          </div>
        </div>
        <div class="eco-create-card__field --error">
          <label class="label">Название программы
            <a href="#" class="add-field">Добавить</a>
          </label>
          <input class="input" type="text" placeholder="Coca-Cola"> </div>
        <div class="eco-create-card__field">
          <label class="label">Описание компании</label>
          <textarea class="input input--textarea" rows="4" placeholder="Описание"></textarea>
        </div>
        <div class="eco-create-card__field">
          <label for="selectPhone" class="label">Телефон
            <a href="#" class="add-field">Добавить</a>
          </label>
          <div :class="[{ 'phone-input--tags': form.phones[0].checked.length},'phone-input']">
            <select v-model="phoneMask" id="selectPhone" name="phonecode" :class="[{'select--selected': !phoneMask.countryPlaceholder}, 'select select--code']">
              <option v-if="phoneMask.countryPlaceholder != null" hidden :value="phoneMask">Страна</option>
              <option v-for="(phonecode, index) in sortedCodes" :key="index" class="option" :value="phonecode">{{phonecode.name_en}}</option>
            </select>
            <masked-input v-model="form.phone" type="tel" class="input input--phone" :mask="phoneMask.altMask" :placeholder="phoneMask.code"
              :value="form.phone" />
          </div>
          <div v-if="form.phones[0].checked.length" class="messenger-tags__block">
            <ul class="messenger-tags__list">
              <li v-for="(item, index) in form.phones[0].checked" :key="index" class="messenger-tag">
                <img class="messenger-tag__icon" :src="item.img" alt="">
                <span>{{ item.name }}</span>
              </li>
            </ul>
          </div>
          <div :class="[{'multiple-checkbox--selected': form.phones[0].show},'multiple-checkbox multiple-checkbox--popover']">
            <div @click.prevent="form.phones[0].show = !form.phones[0].show" class="multiple-checkbox__title">
              {{form.phones[0].name}}
            </div>
            <ul v-click-outside="closeMessengerPopover" class="multiple-checkbox__list cust-select-list" v-if="form.phones[0].show">
              <li v-for="(messenger, index) in messengers" :key="index" class="cust-select-list__item">
                <label :for="messenger.value" class="checkbox-messenger">
                  <img :src="messenger.img" alt="" class="checkbox-messenger__icon">
                  <span class="checkbox-messenger__text">{{ messenger.name }}</span>
                  <input v-model="form.phones[0].checked" :id="messenger.value" type="checkbox" class="" :name="messenger.name" :value="messenger">
                  <span class="checkbox-messenger__square"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="eco-create-card__field">
          <label class="label">Категории</label>
          <base-select-category v-if="categories" :select="categories"></base-select-category>
        </div>
        <div class="eco-create-card__field">
          <label for="soc1" class="label">Социальные медиа</label>
          <ul class="soc-media__list">
            <li class="soc-media__item soc-media__item_fb">
              <input id="soc1" class="input" type="text" placeholder="Полный адрес веб-сайта"> </li>
            <li class="soc-media__item soc-media__item_in">
              <input class="input" type="text" placeholder="Юзернейм"> </li>
            <li class="soc-media__item soc-media__item_tw">
              <input class="input" type="text" placeholder="Юзернейм">
            </li>
            <li class="soc-media__item soc-media__item_vk">
              <input class="input" type="text" placeholder="Полный адрес веб-сайта"> </li>
            <li class="soc-media__item soc-media__item_yt">
              <input class="input" type="text" placeholder="Полный адрес веб-сайта"> </li>
          </ul>
        </div>
      </div>
    </div>
    <h2 class="personal-subtitle">Добавить филиал</h2>
    <div class="personal-section">
      <div class="ecocard-create__card ecocard-create__card--branches">
        <div class="branch-tabs">
          <div :class="[{'--active': toggleOfflineBranch}, 'branch-tab branch-tab--offline']" @click.prevent="showOfflineBranch">
            <icon-base class="branch-tab__icon" viewBox="0 0 11 16" width="11" height="16">
              <icon-map-marker></icon-map-marker>
            </icon-base>
            Offline</div>
          <div :class="[{'--active': toggleOnlineBranch}, 'branch-tab branch-tab--online']" @click.prevent="showOnlineBranch">
            <icon-base class="branch-tab__icon" viewBox="0 0 17 17" width="17" height="17">
              <icon-globe></icon-globe>
            </icon-base>Online</div>
        </div>
        <div v-show="toggleOfflineBranch" class="branch__offline">
          <div class="eco-create-card__field --error">
            <label class="label">Название филиала</label>
            <input class="input" type="text" placeholder="Coca-Cola"> </div>
          <div class="eco-create-card__field">
            <label class="label">Описание филиала</label>
            <textarea class="input input--textarea" rows="4" placeholder="Описание"></textarea>
          </div>
          <div class="eco-create-card__field">
            <label for="company" class="label">Компания</label>
            <select name="companySel" id="company" class="select">
              <option class="option" value="id1">Рога и копыта</option>
              <option class="option" value="id2">Копыта и Рога</option>
              <option class="option" value="id3">Абырвалг</option>
            </select>
          </div>
          <div class="eco-create-card__field">
            <label class="label">Адрес</label>
            <GmapAutocomplete class="input" @place_changed="addMarkerInput">
            </GmapAutocomplete>
          </div>
          <div class="eco-create-card__field eco-create-card__field--map">
            <GmapMap class="eco-create-card__map" :center="map.center" :zoom="map.zoom" @click="addMarkerClick">
              <GmapMarker v-if="map.marker" :position="map.marker" :clickable="true" :draggable="false" />
            </GmapMap>
          </div>

        </div>
        <div v-show="toggleOnlineBranch" class="branch__online">
          <div class="eco-create-card__field --error">
            <label class="label">Название филиала</label>
            <input class="input" type="text" placeholder="Coca-Cola"> </div>
          <div class="eco-create-card__field">
            <label class="label">Описание филиала</label>
            <textarea class="input input--textarea" rows="4" placeholder="Описание"></textarea>
          </div>
          <div class="eco-create-card__field">
            <label for="company" class="label">Компания</label>
            <select name="companySel" id="company" class="select">
              <option class="option" value="id1">Рога и копыта</option>
              <option class="option" value="id2">Копыта и Рога</option>
              <option class="option" value="id3">Абырвалг</option>
              <span class="select-arrow">sad</span>
            </select>
          </div>
          <div class="eco-create-card__field">
            <label class="label">Визуализация программы</label>
            <ul class="upload-photo_list">
              <li class="upload-photo_item" v-for="(item, index) in galleryOnline" :key="index">
                <button class="delete-img__bttn delete-img__bttn--small" @click.prevent="$refs.upload2.remove(item)"></button>
                <img :src="item.url" class="upload-photo_img" alt="">
              </li>
            </ul>
            <file-upload extensions="gif,jpg,jpeg,png,webp" accept="image/png,image/gif,image/jpeg,image/webp" name="galleryOnline" class="upload-logo__bttn"
              post-action="/upload/post" v-model="galleryOnline" :multiple="true" @input-filter="inputFilter" @input-file="inputFile"
              ref="upload2">
              Загрузить...
            </file-upload>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="bttn bttn--blue">Создать</a>
  </div>
</template>

<script>
  import PersonalEcocardCreateTabs from './PersonalEcocardCreateTabs.vue';
  import PersonalEcocardCreateTab from './PersonalEcocardCreateTab.vue';
  import BaseSelectCategory from './BaseSelectCategory.vue';
  import axios from 'axios';
  import MaskedInput from 'vue-masked-input'


  export default {
    name: 'PersonalEcocardCreate',
    components: {
      'tabs': PersonalEcocardCreateTabs,
      'tab': PersonalEcocardCreateTab,
      'base-select-category': BaseSelectCategory,
      MaskedInput
    },
    created() {
      axios.get('/api/site/data/phone-codes.json')
        .then(response => {
          this.phonecodes = response.data
        })
      axios.get('/api/site/data/categories')
        .then(response => {
          this.categories = response.data
        })
    },
    beforeCreate() {
      this.$emit('centered', true)
    },
    updated() {
      this.$emit('centered', true)
    },
    beforeDestroy() {
      this.$emit('centered', false)
    },
    data() {
      return {
        categories: '',
        map: {
          "center": {
            "lat": 0,
            "lng": 0
          },
          "zoom": 1,
          "marker": ""
        },
        ecocardType: '',
        logo: [],
        editLogo: false,
        galleryOnline: [],
        galleryOffline: [],
        toggleOnlineBranch: true,
        toggleOfflineBranch: false,
        messengers: [{
            "name": "Facebook messenger",
            "value": "fbmessenger",
            "img": "/img/messenger-facebook-messenger.svg",
          },
          {
            "name": "Telegram",
            "value": "telegram",
            "img": "/img/messenger-telegram.svg",
          },
          {
            "name": "Viber",
            "value": "viber",
            "img": "/img/messenger-viber.svg",
          },
          {
            "name": "Skype",
            "value": "skype",
            "img": "/img/messenger-skype.svg",
          },
          {
            "name": "Whatsapp",
            "value": "whatsapp",
            "img": "/img/messenger-whatsapp.svg",
          }
        ],
        phoneMask: {
          code: 'выберите страну',
          altMask: '#',
          countryPlaceholder: '...'
        },
        phonecodes: [],
        form: {
          phones: [{
            show: false,
            name: 'Мессенджеры',
            checked: []
          }]
        }

      }
    },
    methods: {
      addMarkerInput(e) {
        this.map.marker = e.geometry.location
      },
      addMarkerClick(e) {
        this.map.marker = e.latLng
      },
      closeMessengerPopover() {
        this.form.phones[0].show = false
      },
      showOnlineBranch() {
        this.toggleOfflineBranch = false
        this.toggleOnlineBranch = true
      },
      showOfflineBranch() {
        this.toggleOnlineBranch = false
        this.toggleOfflineBranch = true
      },
      inputFile(newFile, oldFile, prevent) {
        this.$refs.upload1.active = true
        this.$refs.upload2.active = true
        this.editLogo = true
        if (!newFile && oldFile) {
          this.editLogo = false
        }
      },
      inputFilter(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
            alert('Your choice is not a picture')
            return prevent()
          }
        }
        if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
          newFile.url = ''
          let URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            newFile.url = URL.createObjectURL(newFile.file)
          }
        }
      }
    },
    
  watch: {
    edit(value) {
      if (value) {
        this.$nextTick(function () {
          if (!this.$refs.upload1.editImage) {
            return
          }
          let cropper = new Cropper(this.$refs.editImage, {
            aspectRatio: 1 / 1,
            viewMode: 1,
          })
          this.cropper = cropper
        })
      } else {
        if (this.cropper) {
          this.cropper.destroy()
          this.cropper = false
        }
      }
    }
  },

    computed: {
      sortedCodes: function () {
        function compare(a, b) {
          if (a.name_en < b.name_en)
            return -1;
          if (a.name_en > b.name_en)
            return 1;
          return 0;
        }
        return this.phonecodes.sort(compare);
      }
    },
  }
</script>