<template>
  <div>
    <h1 class="info-title">Программа «Хоздвор»</h1>
    <div class="personal-nav">
      <div class="personal-nav__left">
        <a href="" class="personal-nav__link">
          <span class="personal-nav-link__icon">
            <icon-base viewBox="0 0 35 35" width="35" height="35">
              <icon-catalog></icon-catalog>
            </icon-base>
          </span>
          <router-link to="/personal/ecocard" class="personal-nav-link__text">Программы</router-link>
        </a>
      </div>
      <div class="personal-nav__right">
        <a href="#" class="bttn bttn--transparent-blue bttn--small">Редактировать</a>
        <a href="#" class="bttn bttn--transparent-red bttn--small">Удалить</a>
      </div>
    </div>
    <div class="personal-eco-detail">
      <div class="personal-eco-detail__header">
        <div class="p-eco-detail-header__left">
          <span class="eco-header__label">Компания:</span>
          <h2 class="eco-header__title">Очень длинное название строительного магазина Хоздвор</h2>
          <div class="eco-header__buttons">
            <router-link v-if="!this.$root.mobile" to="/personal/banner/add" class="bttn bttn--green bttn--small">Дать рекламу</router-link>
            <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
          </div>
        </div>
        <div v-if="!this.$root.mobile" class="p-eco-detail-header__logo">
          <img src="https://source.unsplash.com/random" alt="" class="eco-header-logo__img">
        </div>
      </div>
      <div v-if="!this.$root.mobile" class="personal-eco-detail__info">
        <div class="eco-detail-info__line">
          <span class="info-line__icon">
            <icon-base viewBox="0 0 30 30" width="30" height="30">
              <icon-ecocard-subscribers></icon-ecocard-subscribers>
            </icon-base>
          </span>
          <span class="info-line__name">Подписчики:</span>
          <span class="info-line__qnt">1356456</span>
          <span class="info-line__action">
            <a href="" class="info-line__link">Посмотреть</a>
          </span>
        </div>
        <div class="eco-detail-info__line">
          <span class="info-line__icon">
            <icon-base viewBox="0 0 30 30" width="30" height="30">
              <icon-ecocard-branches></icon-ecocard-branches>
            </icon-base>
          </span>
          <span class="info-line__name">Филиалы:</span>
          <span class="info-line__qnt info-line__qnt--link">3</span>
          <span class="info-line__action">
            <a href="" class="info-line__link">Добавить</a>
          </span>
        </div>
        <div class="eco-detail-info__line">
          <span class="info-line__icon">
            <icon-base viewBox="0 0 30 30" width="30" height="30">
              <icon-ecocard-employees></icon-ecocard-employees>
            </icon-base>
          </span>
          <span class="info-line__name">Сотрудники:</span>
          <span class="info-line__qnt info-line__qnt--link">5</span>
          <span class="info-line__action">
            <a href="" class="info-line__link">Добавить</a>
          </span>
        </div>
        <div class="eco-detail-info__line">
          <span class="info-line__icon">
            <icon-base viewBox="0 0 30 30" width="30" height="30">
              <icon-ecocard-banners></icon-ecocard-banners>
            </icon-base>
          </span>
          <span class="info-line__name">Баннеры:</span>
          <span class="info-line__qnt">25</span>
          <span class="info-line__action">
            <a href="" class="info-line__link">Посмотреть</a>
          </span>
        </div>
      </div>
    </div>
    <h3 class="p-eco-branches__title">Филиалы</h3>
    <div class="p-eco-branch__preview">
      <span class="p-eco-branch__icon p-eco-branch__icon--online">
        <icon-base viewBox="0 0 17 17" width="17" height="17">
          <icon-globe></icon-globe>
        </icon-base>
      </span>
      <h2 class="p-eco-branch__name">Хоздвор - Минск. ул. восточная</h2>
      <span class="p-eco-branch__button">
        <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
      </span>
      <span v-if="!this.$root.mobile" class="p-eco-branch__edit">
        <icon-base viewBox="0 0 23 30" width="18" height="25">
          <icon-paper></icon-paper>
        </icon-base>
      </span>
    </div>
    <div class="p-eco-branch__preview">
      <span class="p-eco-branch__icon p-eco-branch__icon--offline">
        <icon-base viewBox="0 0 11 16" width="11" height="16">
          <icon-map-marker></icon-map-marker>
        </icon-base>
      </span>
      <h2 class="p-eco-branch__name">Хоздвор - Минск. ул. восточная</h2>
      <span class="p-eco-branch__button">
        <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
      </span>
      <span v-if="!this.$root.mobile" class="p-eco-branch__edit">
        <icon-base viewBox="0 0 23 30" width="18" height="25">
          <icon-paper></icon-paper>
        </icon-base>
      </span>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalEcocardDetail',
    created() {

    },
    data() {
      return {
        payseraAcc: true,
        withdrawCount: ''
      }
    },
    methods: {
      resetBill() {
        this.withdrawCount = ''
      }
    }
  }
</script>