<template>
  <div>
    <banner-add-progress> </banner-add-progress>
    <router-view></router-view>
  </div>
</template>

<script>
  import PersonalBannerAddProgress from '../app/PersonalBannerAddProgress.vue'

  export default {
    name: 'PersonaBannerAdd',
    components: {
      'banner-add-progress': PersonalBannerAddProgress
    },
    created() {

    },
    beforeCreate() {
      this.$emit('centered', true)
    },
    updated() {
      this.$emit('centered', true)
    },
    beforeDestroy() {
      this.$emit('centered', false)
    },
    data() {
      return {

      }
    },
    methods: {

    }
  }
</script>