<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Выбор аудитории</h1>
    <div class="banner-card">
      <h2 class="banner-card__title">Заполненные параметры потребителя</h2>
      <div class="banner-card__item">
        <select name="countrySel" id="selectCountry" :class="[{'select--selected': form.country}, 'select']" @change="changeCountry"
            v-model="form.country">
            <option class="option" value="" hidden>Страна</option>
            <option v-for="(country, index) in countries" :key="index" class="option" :value="country">{{ country.name }}</option>
          </select>
          <input type="hidden" name="country" :value="form.country.name">
      </div>
      <div v-if="form.country" class="banner-card__item">
       <select name="regionSel" :class="[{'select--selected': form.region}, 'select']" @change="changeRegion" v-model="form.region">
            <option class="option" value="" hidden>Область</option>
            <option v-for="(region, index) in regions" :key="index" class="option" :value="region">{{ region.name }}</option>
          </select>
          <input type="hidden" name="region" :value="form.region.name">
      </div>
      <div v-if="form.region" class="banner-card__item">
        <select name="citySel" :class="[{'select--selected': form.city}, 'select']" v-model="form.city">
            <option class="option" value="" hidden>Город</option>
            <option v-for="(city, index) in form.region.cities" :key="index" class="option" :value="city">{{ city.name }}</option>
          </select>
          <input type="hidden" name="city" :value="form.city.name">
      </div>
      <div class="banner-card__item">
        <div v-if="form.music.checked.length" class="banner-tags__block">
          <ul class="banner-tags__list">
            <li v-for="(item, index) in form.music.checked" :key="index" :class="[{'banner-tag--plus': item.type == 'plus','banner-tag--minus': item.type == 'minus'},'banner-tag']">
              <span>{{ item.name }}</span>
              <button class="banner-tag__delete">×</button>
            </li>
          </ul>
        </div>
        <div :class="[{'multiple-checkbox--selected': form.music.show},'multiple-checkbox multiple-checkbox--popover']">
          <div @click.stop="togglePopover(form.music)" class="multiple-checkbox__title">
            {{form.music.name}}
          </div>
          <ul v-click-outside="closeMessengerPopover" class="multiple-checkbox__list cust-select-list" v-if="form.music.show">
            <li v-for="(item, index) in form.music.items" :key="index" class="cust-select-list__item cust-select-list__item--banner">
                <span class="checkbox-banner__text">{{ item }}</span>
                <span class="checkbox-banner__buttons">
                  <span class="banner-button__plus"></span><span class="banner-button__minus"></span>
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner-card">
      <h2 class="banner-card__title">Интересы</h2>
      <div class="banner-card__item">
        <div v-if="form.age.checked.length" class="messenger-tags__block">
          <ul class="messenger-tags__list">
            <li v-for="(item, index) in form.age.checked" :key="index" class="messenger-tag">
              <img class="messenger-tag__icon" :src="item.img" alt="">
              <span>{{ item.name }}</span>
            </li>
          </ul>
        </div>
        <div :class="[{'multiple-checkbox--selected': form.age.show},'multiple-checkbox multiple-checkbox--popover']">
          <div @click.stop="togglePopover(form.age)" class="multiple-checkbox__title">
            {{form.age.name}}
          </div>
          <ul v-click-outside="closeMessengerPopover" class="multiple-checkbox__list cust-select-list" v-if="form.age.show">
            <li v-for="(item, index) in form.age.items" :key="index" class="cust-select-list__item cust-select-list__item--banner">
                <span class="checkbox-banner__text">{{ item }}</span>
                <span class="checkbox-banner__buttons">
                  <span class="banner-button__plus" @click="includeItem(item)"></span>
                  <span class="banner-button__minus" @click="excludeItem(this)"></span>
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <router-link to="step4" class="bttn bttn--banner bttn--blue">Далее</router-link>
  </div>
</template>

<script>
  import axios from 'axios';
  import MaskedInput from 'vue-masked-input'

  export default {
    name: 'PersonaBannerAddStep3',
    components: {
      MaskedInput
    },
    created() {
      axios.get('/api/site/data/geo/countries')
        .then(response => {
          this.countries = response.data
        })
        .catch(error => {
          console.log(error.response)
        });
    },
    data() {
      return {
        countries: [],
        regions: [],
        form: {
          age: {
            show: false,
            name: 'Возраст',
            checked: [],
            items: ['18-25', '25-50', '50-90']
          },
          music: {
            show: false,
            name: 'Музыка',
            checked: [
              {
                name: 'rock',
                type: 'plus'
              },
              {
                name: 'pop',
                type: 'minus'
              },
              {
                name: 'jazz',
                type: 'plus'
              }
            ],
            items: ['rock', 'pop', 'jazz']
          },
          country: '',
          region: '',
          city: ''
        },
      }
    },
    methods: {
      includeItem(e) {
        // console.log(this)
      },
      excludeItem(e) {
        // console.log(e)
      },
      togglePopover(e) {
        e.show = !e.show
      },
      closeMessengerPopover(e) {
        for (let item in this.form) {
          this.form[item].show = false
        }
      },
      changeCountry() {
        this.regions = this.form.country.regions
        this.form.region = ''
        this.form.city = ''
      },
      changeRegion() {
        this.form.city = ''
      },
    },
    computed: {
      
    }
  }
</script>