<template>
  <div>
    <div :class="tabClass">
      <ul>
        <li v-for="(tab, index) in tabs" :key="index" :class="[{ 'is-active': tab.isActive }, 'create-prog__item']">
          <button class="create-prog__btn" @click="selectTab(tab)">{{ tab.name }}</button>
        </li>
      </ul>
    </div>
    <div :class="contentClass">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalEcocardCreateTabs',
    props: ['tabClass', 'contentClass']
    ,
    created() {
      this.tabs = this.$children
    },
    data() {
      return {
        tabs: []
      }
    },
    methods: {
      selectTab(selectedTab) {
        this.tabs.forEach(tab => {
          tab.isActive = (tab.name == selectedTab.name)
        });
      }
    }
  }
</script>