<template>
  <div :class="[{'banners-list__item--active': isOpen}, 'banners-list__item']" @click="open">
    <div class="banner-item__header">
      <div class="banners-list__name">
        <h2 class="banner-item__title">Хоздвор - Спецпредложение</h2>
        <div class="banner-item__indicator"></div>
      </div>
      <div class="banners-list__period">
        <div class="banner-item__date">
          <div class="banner-date__from">02-10-2017</div>
          <div class="banner-date__to">15-12-2017</div>
        </div>
      </div>
      <div class="banners-list__balance">
        <span class="banner-item__amount">0,00 €</span>
      </div>
      <div class="banners-list__status">
        <span class="banner-status banner-status--active">Активна</span>
      </div>
    </div>
    <div class="banner-item__body"></div>
    <span class="banner-list__delete"></span>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalBannerListTable',
    created() {

    },
    data() {
      return {
        isOpen: false
      }
    },
    methods: {
      open() {
        this.isOpen = !this.isOpen
      }
    }
  }
</script>