<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Your advertisement will be reviewed soon</h1>
    <div class="add-banner__complete">
      <img src="/img/banner-review.svg" alt="" class="banner-complete__img">
      <a href="#" class="bttn bttn--blue">Place more adds</a>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaBannerAddStepFinal',
    components: {

    },
    created() {

    },
    data() {
      return {
        
      }
    },
    methods: {

    },
    computed: {

    },
  }
</script>