<template>
  <div>
    <h1 class="info-title">Обзор счета</h1>
    <div class="personal-section">
      <div class="personal-info__block personal-info__block--bill">
        <div class="personal-info__item">
          <span class="info-item__title">Доступно:</span>
          <span class="info-item__value">{{ 5.397 | currency('€', 3, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
        </div>
        <div class="personal-info__item">
          <span class="info-item__title">Выведено</span>
          <span class="info-item__value">{{ 0 | currency('€', 1, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</span>
        </div>
      </div>
    </div>
    <div class="personal-section">
      <p class="info-paragraph info-paragraph--warning">Внимание!</p>
      <p class="info-paragraph">Для вывода средств со счета APM необходимо привязать свой идентифицированный счет в платежной системе Paysera</p>
    </div>
    <div class="divider"></div>
    <div class="personal-section">
      <h2 class="personal-subtitle personal-subtitle--paysera">Программа «100 за 100»</h2>
      <template v-if="!payseraAcc">
        <p class="info-paragraph"><b>Paysera</b> - международная инновационная платежная система, основные ценности которой выступают скорость, выгода и надежность.
        </p>
        <p class="info-paragraph"><b>Преимущества счета PAYSERA:</b><br>1. Перевод денег в платежные системы, а также вывод на карты.<img src="/img/mcvs_acc_hrz.svg" alt="" width="121" class="personal__block-img"></p>
        <p class="info-paragraph">2. Получение личной карточки Paysera Visa и возможность расплачиваться ею в любом месте и в любое время.<img src="/img/payser-card.png" alt="" width="100" class="personal__block-img"></p>
      </template>
    </div>
    <div v-if="!payseraAcc" class="personal-section">
      <a href="#" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--blue']">Открыть счет</a>
    </div>
    <div v-if="payseraAcc" class="personal-section">
      <div class="personal-section__item">
        <input v-model="withdrawCount" type="number" placeholder="Введите сумму" class="input input--bill">
        <button @click.prevent="resetBill" class="reset">&#10006;</button>
      </div>
      <div class="personal-section__item"><a href="#" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--blue']">Вывести</a></div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaBill',
    created() {

    },
    data() {
      return {
        payseraAcc: true,
        withdrawCount: ''
      }
    },
    methods: {
      resetBill () {
        this.withdrawCount = ''
      }      
    }
  }
</script>