<template>
  <div>
    <h1 class="info-title">Дисконтные программы</h1>
    <div v-if="!this.$root.mobile" class="personal-nav">
      <div class="personal-nav__left">
        <ul class="nav-filter">
          <li class="nav-filter__item">
            <a href="" class="nav-filter__link nav-filter__link--active">Активные</a>
          </li>
          <li class="nav-filter__item">
            <a href="" class="nav-filter__link">Удаленные</a>
          </li>
          <li class="nav-filter__item">
            <a href="#" class="nav-filter__link">Все</a>
          </li>
        </ul>
      </div>
      <div class="personal-nav__right">
        <router-link to="ecocard/create" class="bttn bttn--blue bttn--small">Создать программу</router-link>
      </div>
    </div>
    <div class="personal-ecocard-list">
      <div class="personal-ecocard-block">
        <div class="personal-ecocard-block__header">
          <div class="personal-ecocard-header__id">
            <span class="header-id__circle header-id__circle--green"></span>
            <span class="header-id__name">ID:</span>
            <span class="header-id__id">324324324</span>
          </div>
          <div v-if="!this.$root.mobile" class="personal-ecocard-header__rate">
            <span class="header-rate__type">Eco S</span>
            <span class="header-rate__period">до 13.06.2022</span>
          </div>
        </div>
        <div class="personal-ecocard-block__body">
          <div v-if="!this.$root.mobile" class="personal-ecocard-body__logo">
            <img src="https://source.unsplash.com/random" alt="" class="personal-ecocard-logo__img">
          </div>
          <div class="personal-ecocard-body__info">
            <div class="ecocard-info__title">
              <router-link tag="h2" to="ecocard/1" class="personal-ecocard-title">Labas Italia</router-link>
              <span class="ecocard-info__rating">
                <span v-tooltip.bottom="{content: '4.33', offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                  <star-rating :rating="4.33" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                    text-class="rating__value" read-only></star-rating>
                </span>
              </span>
            </div>
            <div v-if="!this.$root.mobile" class="ecocard-info__branches">
              <span class="info-branches__offline">
                <icon-base class="info-branches__icon" viewBox="0 0 11 16" width="11" height="16">
                  <icon-map-marker></icon-map-marker>
                </icon-base>
                <a href="#" class="info-branches__link">Offline</a>
              </span>
              <span class="info-branches__online">
                <icon-base class="info-branches__icon" viewBox="0 0 17 17" width="17" height="17">
                  <icon-globe></icon-globe>
                </icon-base>
                <a href="#" class="info-branches__link">Online</a>
              </span>
              <span class="info-branches__total">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                2
              </span>
              <span class="info-branches__subscribers">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                43543
              </span>
            </div>
            <div v-if="!this.$root.mobile" class="ecocard-info__tags">
              <ul class="info-tags__list">
                <li class="info-tags__item">Торговля в интернете</li>
                <li class="info-tags__item">Розничная торговля</li>
                <li class="info-tags__item">Обувь</li>
                <li class="info-tags__item">Хозтовары</li>
              </ul>
            </div>
            <p v-if="!this.$root.mobile" class="ecocard-info__description">
              Магазин стройматериалов. Элктрротовары. Хозтовары. Сантехника. Строительные смеси. Дерево. Краска. Обои
            </p>
            <div class="ecocard-info__buttons">
              <a href="#" @click.prevent="checkID" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
              <a v-if="!this.$root.mobile" href="#" class="bttn bttn--green bttn--small">Дать рекламу</a>
            </div>
          </div>
        </div>
      </div>
      <div class="personal-ecocard-block">
        <div class="personal-ecocard-block__header">
          <div class="personal-ecocard-header__id">
            <span class="header-id__circle header-id__circle--green"></span>
            <span class="header-id__name">ID:</span>
            <span class="header-id__id">324324324</span>
          </div>
          <div class="personal-ecocard-header__rate">
            <span class="header-rate__type header-rate__type--test">Eco S</span>
            <span class="header-rate__test">Test</span>
            <span class="header-rate__period">100 дней</span>
          </div>
        </div>
        <div class="personal-ecocard-block__body">
          <div class="personal-ecocard-body__logo">
            <img src="https://source.unsplash.com/random" alt="" class="personal-ecocard-logo__img">
          </div>
          <div class="personal-ecocard-body__info">
            <div class="ecocard-info__title">
              <router-link tag="h2" to="ecocard/1" class="personal-ecocard-title">Labas Italia</router-link>
              <span class="ecocard-info__rating">
                <span v-tooltip.bottom="{content: '4.33', offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                  <star-rating :rating="4.33" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                    text-class="rating__value" read-only></star-rating>
                </span>
              </span>
            </div>
            <div class="ecocard-info__branches">
              <span class="info-branches__offline">
                <icon-base class="info-branches__icon" viewBox="0 0 11 16" width="11" height="16">
                  <icon-map-marker></icon-map-marker>
                </icon-base>
                <a href="#" class="info-branches__link">Offline</a>
              </span>
              <span class="info-branches__online">
                <icon-base class="info-branches__icon" viewBox="0 0 17 17" width="17" height="17">
                  <icon-globe></icon-globe>
                </icon-base>
                <a href="#" class="info-branches__link">Online</a>
              </span>
              <span class="info-branches__total">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                2
              </span>
              <span class="info-branches__subscribers">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                43543
              </span>
            </div>
            <div class="ecocard-info__tags">
              <ul class="info-tags__list">
                <li class="info-tags__item">Торговля в интернете</li>
                <li class="info-tags__item">Розничная торговля</li>
                <li class="info-tags__item">Обувь</li>
                <li class="info-tags__item">Хозтовары</li>
              </ul>
            </div>
            <p class="ecocard-info__description">
              Магазин стройматериалов. Элктрротовары. Хозтовары. Сантехника. Строительные смеси. Дерево. Краска. Обои
            </p>
            <div class="ecocard-info__buttons">
              <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
              <a href="#" class="bttn bttn--green bttn--small">Дать рекламу</a>
            </div>
          </div>
        </div>
      </div>
      <div class="personal-ecocard-block">
        <div class="personal-ecocard-block__header">
          <div class="personal-ecocard-header__id">
            <span class="header-id__circle header-id__circle--grey"></span>
            <span class="header-id__name">ID:</span>
            <span class="header-id__id">324324324</span>
          </div>
          <div class="personal-ecocard-header__rate">
            <span class="header-rate__status">На модерации</span>
          </div>
        </div>
        <div class="personal-ecocard-block__body">
          <div class="personal-ecocard-body__logo">
            <img src="https://source.unsplash.com/random" alt="" class="personal-ecocard-logo__img">
          </div>
          <div class="personal-ecocard-body__info">
            <div class="ecocard-info__title">
              <router-link tag="h2" to="ecocard/1" class="personal-ecocard-title">Labas Italia</router-link>
              <span class="ecocard-info__rating">
                <span v-tooltip.bottom="{content: '4.33', offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                  <star-rating :rating="4.33" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                    text-class="rating__value" read-only></star-rating>
                </span>
              </span>
            </div>
            <div class="ecocard-info__branches">
              <span class="info-branches__offline">
                <icon-base class="info-branches__icon" viewBox="0 0 11 16" width="11" height="16">
                  <icon-map-marker></icon-map-marker>
                </icon-base>
                <a href="#" class="info-branches__link">Offline</a>
              </span>
              <span class="info-branches__online">
                <icon-base class="info-branches__icon" viewBox="0 0 17 17" width="17" height="17">
                  <icon-globe></icon-globe>
                </icon-base>
                <a href="#" class="info-branches__link">Online</a>
              </span>
              <span class="info-branches__total">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                2
              </span>
              <span class="info-branches__subscribers">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                43543
              </span>
            </div>
            <div class="ecocard-info__tags">
              <ul class="info-tags__list">
                <li class="info-tags__item">Торговля в интернете</li>
                <li class="info-tags__item">Розничная торговля</li>
                <li class="info-tags__item">Обувь</li>
                <li class="info-tags__item">Хозтовары</li>
              </ul>
            </div>
            <p class="ecocard-info__description">
              Магазин стройматериалов. Элктрротовары. Хозтовары. Сантехника. Строительные смеси. Дерево. Краска. Обои
            </p>
            <div class="ecocard-info__buttons">
              <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
              <a href="#" class="bttn bttn--green bttn--small">Дать рекламу</a>
            </div>
          </div>
        </div>
      </div>
      <div class="personal-ecocard-block personal-ecocard-block--expired">
        <div class="personal-ecocard-block__header">
          <div class="personal-ecocard-header__id">
            <span class="header-id__circle header-id__circle--red"></span>
            <span class="header-id__name">ID:</span>
            <span class="header-id__id">324324324</span>
          </div>
          <div class="personal-ecocard-header__rate">
            <span class="header-rate__type">Eco L</span>
            <span class="header-rate__period">до 13.06.2022</span>
            <router-link to="/personal/ecocard/subscribe" class="header-rate__pay">Продлить</router-link>
          </div>
        </div>
        <div class="personal-ecocard-block__body">
          <div class="personal-ecocard-body__logo">
            <img src="https://source.unsplash.com/random" alt="" class="personal-ecocard-logo__img">
          </div>
          <div class="personal-ecocard-body__info">
            <div class="ecocard-info__title">
              <router-link tag="h2" to="ecocard/1" class="personal-ecocard-title">Labas Italia</router-link>
              <span class="ecocard-info__rating">
                <span v-tooltip.bottom="{content: '4.33', offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                  <star-rating :rating="4.33" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                    text-class="rating__value" read-only></star-rating>
                </span>
              </span>
            </div>
            <div class="ecocard-info__branches">
              <span class="info-branches__offline">
                <icon-base class="info-branches__icon" viewBox="0 0 11 16" width="11" height="16">
                  <icon-map-marker></icon-map-marker>
                </icon-base>
                <a href="#" class="info-branches__link">Offline</a>
              </span>
              <span class="info-branches__online">
                <icon-base class="info-branches__icon" viewBox="0 0 17 17" width="17" height="17">
                  <icon-globe></icon-globe>
                </icon-base>
                <a href="#" class="info-branches__link">Online</a>
              </span>
              <span class="info-branches__total">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                2
              </span>
              <span class="info-branches__subscribers">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                43543
              </span>
            </div>
            <div class="ecocard-info__tags">
              <ul class="info-tags__list">
                <li class="info-tags__item">Торговля в интернете</li>
                <li class="info-tags__item">Розничная торговля</li>
                <li class="info-tags__item">Обувь</li>
                <li class="info-tags__item">Хозтовары</li>
              </ul>
            </div>
            <p class="ecocard-info__description">
              Магазин стройматериалов. Элктрротовары. Хозтовары. Сантехника. Строительные смеси. Дерево. Краска. Обои
            </p>
            <div class="ecocard-info__buttons">
              <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
              <a href="#" class="bttn bttn--green bttn--small">Дать рекламу</a>
            </div>
          </div>
        </div>
      </div>
      <div class="personal-ecocard-block">
        <div class="personal-ecocard-block__expired">
          <h2 class="expired-ecocard__name">Черновик</h2>
          <p class="expired-ecocard__message">Программа не прошла модерацию</p>
          <a href="#" class="bttn bttn--blue bttn--small">Изменить</a>
          <a href="#" class="bttn bttn--red bttn--small">Удалить</a>
        </div>
        <div class="personal-ecocard-block__header">
          <div class="personal-ecocard-header__id">
            <span class="header-id__circle header-id__circle--green"></span>
            <span class="header-id__name">ID:</span>
            <span class="header-id__id">324324324</span>
          </div>
          <div v-if="!this.$root.mobile" class="personal-ecocard-header__rate">
            <span class="header-rate__type">Eco S</span>
            <span class="header-rate__period">до 13.06.2022</span>
          </div>
        </div>
        <div class="personal-ecocard-block__body">
          <div v-if="!this.$root.mobile" class="personal-ecocard-body__logo">
            <img src="https://source.unsplash.com/random" alt="" class="personal-ecocard-logo__img">
          </div>
          <div class="personal-ecocard-body__info">
            <div class="ecocard-info__title">
              <router-link tag="h2" to="ecocard/1" class="personal-ecocard-title">Labas Italia</router-link>
              <span class="ecocard-info__rating">
                <span v-tooltip.bottom="{content: '4.33', offset: '10', classes: 'apm-tooltip'}" class="branch-preview__rating">
                  <star-rating :rating="4.33" :star-size="14" :increment="0.01" :inline="true" :show-rating="false" :padding="5" active-color="#f5a623"
                    text-class="rating__value" read-only></star-rating>
                </span>
              </span>
            </div>
            <div v-if="!this.$root.mobile" class="ecocard-info__branches">
              <span class="info-branches__offline">
                <icon-base class="info-branches__icon" viewBox="0 0 11 16" width="11" height="16">
                  <icon-map-marker></icon-map-marker>
                </icon-base>
                <a href="#" class="info-branches__link">Offline</a>
              </span>
              <span class="info-branches__online">
                <icon-base class="info-branches__icon" viewBox="0 0 17 17" width="17" height="17">
                  <icon-globe></icon-globe>
                </icon-base>
                <a href="#" class="info-branches__link">Online</a>
              </span>
              <span class="info-branches__total">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-branches></icon-ecocard-branches>
                  </icon-base>
                </span>
                2
              </span>
              <span class="info-branches__subscribers">
                <span class="info-branches__icon">
                  <icon-base viewBox="0 0 30 30" width="30" height="30">
                    <icon-ecocard-subscribers></icon-ecocard-subscribers>
                  </icon-base>
                </span>
                43543
              </span>
            </div>
            <div v-if="!this.$root.mobile" class="ecocard-info__tags">
              <ul class="info-tags__list">
                <li class="info-tags__item">Торговля в интернете</li>
                <li class="info-tags__item">Розничная торговля</li>
                <li class="info-tags__item">Обувь</li>
                <li class="info-tags__item">Хозтовары</li>
              </ul>
            </div>
            <p v-if="!this.$root.mobile" class="ecocard-info__description">
              Магазин стройматериалов. Элктрротовары. Хозтовары. Сантехника. Строительные смеси. Дерево. Краска. Обои
            </p>
            <div class="ecocard-info__buttons">
              <a href="#" class="bttn bttn--transparent-blue bttn--small">Проверить ID</a>
              <a href="#" class="bttn bttn--green bttn--small">Дать рекламу</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonalEcocardList',
    created() {

    },
    data() {
      return {
        company: {
          id: 123
        }
      }
    },
    methods: {
      checkID() {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
            <p class="modal__header">Проверить ID участника</p>
            <input v-model="person.id" class="input input--modal-share" placeholder="Введите ID">
            <template v-if="person.id">
              <div v-if="checkStatus == true" class="check-id check-id--true">
                <span class="check-id__icon check-id__icon--true"></span>
                <p>Айди найден. Является участником вашей программы лояльности.</p>
              </div>
              <div v-if="checkStatus == false" class="check-id check-id--false">
                <span class="check-id__icon check-id__icon--false"></span>
                <p>Айди не найден</p>
              </div>
            </template>
            <button :disabled="!person.id" @click.prevent="check" class="bttn bttn--blue">Проверить</button>
            <span class="modal__close" @click="$emit('close')"></span>
          </div>
          `,
          data() {
            return {
              person: {
                id: ''
              },
              checkStatus: null
            }
          },
          methods: {
            check() {
              if (this.person.id == this.companyID) {
                this.checkStatus = true
              } else {
                this.checkStatus = false
              }
            }
          },
          computed: {

          },
          watch: {
            'person.id': function () {
              if (this.person.id == '') {
                this.checkStatus = null
              }
            },
          },
          props: ['companyID']
        }, {
          companyID: this.company.id,
        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
    }
  }
</script>