<template>
  <div class="add-banner">
    <h1 class="add-banner__title">Создать рекламную кампанию</h1>
    <p class="add-banner__paragraph">Расскажите о продукте или услуге людям, для которых вы работаете — в своем городе, в соседнем регионе или на другом континенте</p>
    <input type="text" class="input input--add-banner" placeholder="Название рекламной кампании">
    <router-link to="step2" class="bttn bttn--banner bttn--blue">Далее</router-link>
    <div class="add-banner__canva">
      <h2 class="canva__title">Баннер и листовка</h2>
      <p class="canva__paragraph">Если вам нужно создать баннер или листовку, мы рекомендуем <a href="#" class="link">CANVA</a>. Это онлайновый конструктор для создания баннеров, визиток, иллюстраций и постеров.</p>
      <p class="canva__paragraph">Воспользуйтесь готовыми макетами:</p>
      <div class="canva__bttns">
        <a href="#" class="bttn bttn--transparent-blue bttn--canva"><span class="canva-btn__text" title="Стандартный баннер (287х90px)">Стандартный баннер (287х90px)</span></a>
        <a href="#" class="bttn bttn--transparent-blue bttn--canva"><span class="canva-btn__text" title="Премиальный баннер (996х90)">Премиальный баннер (996х90)</span></a>
        <a href="#" class="bttn bttn--transparent-blue bttn--canva"><span class="canva-btn__text" title="Листовка (ширина 996px)">Листовка (ширина 996px)</span></a>
      </div>
      <icon-canva-logo></icon-canva-logo>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'PersonaBannerAddStep1',
    components: {
      
    },
    created() {

    },
    data() {
      return {

      }
    },
    methods: {
     
    }
  }
</script>