<template>
  <div>
    <h1 class="info-title">Интересы</h1>
    <p class="info-paragraph">Меняйте свои интересы в любое время и смотрите только интересующую вас рекламу. Если вы не получаете рекламу по какому-либо
      пункту, значит для вашего региона пока никто не размещает рекламу по выбранной теме.</p>
    <p class="info-paragraph info-paragraph--warning">Внимание!</p>
    <p class="info-paragraph">Одновременно можно выбрать не более
      <b>40 пунктов</b>.</p>
      {{ this.checked.length }}
    <form action="" class="interests-form">
      <div class="interests-form__section">
        <div v-for="(interest, index) in interests" :key="index" class="interests-form__item">
          <div :class="[{'multiple-checkbox--selected': interest.show},'multiple-checkbox']">
            <div @click.prevent="interest.show = !interest.show" class="multiple-checkbox__title">
              {{interest.name}}
            </div>
            <ul class="multiple-checkbox__list" v-show="interest.show">
              <li v-for="(item, index) in interest.items" :key="index" class="multiple-checkbox__item">
                <label :for="item.value" class="label label--checkbox">{{ item.name }}</label>
                <input v-model="checked" type="checkbox" :id="item.value" :name="item.name" :value="item.name" class="checkbox">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="interests-form__section">
        <div class="interests-form__item">
          <button class="bttn bttn--blue">Сохранить</button>
        </div>
      </div>
      <div class="interests-form__section"></div>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'PersonaInterests',
    created() {

    },
    data() {
      return {
        checked: [],
        interests: [{
            name: 'Хобби',
            value: 'hobby',
            show: false,
            items: [{
                name: 'Hunting',
                value: 'value001'
              },
              {
                name: 'Fishing',
                value: 'value002'
              },
              {
                name: 'Collecting',
                value: 'value003'
              },
              {
                name: 'Traveling',
                value: 'value004'
              },
              {
                name: 'Reading',
                value: 'value005'
              },
              {
                name: 'Cooking',
                value: 'value006'
              },
              {
                name: 'Gardening',
                value: 'value007'
              },
              {
                name: 'Yoga',
                value: 'value008'
              },
              {
                name: 'Movies',
                value: 'value009'
              },
              {
                name: 'Drawing, sculpture',
                value: 'value010'
              },
              {
                name: 'Photography',
                value: 'value011'
              },
              {
                name: 'Theatres and museums',
                value: 'value012'
              },
              {
                name: 'Darts',
                value: 'value013'
              },
              {
                name: 'Paintball',
                value: 'value014'
              },
              {
                name: 'Model construction',
                value: 'value015'
              },
              {
                name: 'Archeology',
                value: 'value016'
              },
              {
                name: 'Handiwork',
                value: 'value017'
              },
              {
                name: 'Puzzles',
                value: 'value018'
              },
              {
                name: 'Aquariumistics',
                value: 'value019'
              },
              {
                name: 'Device modelling',
                value: 'value020'
              },
              {
                name: 'Singing',
                value: 'value021'
              },
              {
                name: 'Music',
                value: 'value022'
              },
              {
                name: 'Band/team fan',
                value: 'value023'
              },
              {
                name: 'Climbing',
                value: 'value024'
              },
              {
                name: 'Extreme sports',
                value: 'value025'
              }
            ]
          },
          {
            name: 'Спорт',
            value: 'sport',
            show: false,
            items: [{
                name: 'Footbal',
                value: 'value026'
              },
              {
                name: 'Hockey',
                value: 'value027'
              },
              {
                name: 'Swimming',
                value: 'value028'
              },
              {
                name: 'Basketball',
                value: 'value029'
              },
              {
                name: 'Volleyball',
                value: 'value030'
              },
              {
                name: 'Tennis',
                value: 'value031'
              },
              {
                name: 'Ping-Pong',
                value: 'value032'
              },
              {
                name: 'Jogging',
                value: 'value033'
              },
              {
                name: 'Badminton',
                value: 'value034'
              },
              {
                name: 'Shooting sports',
                value: 'value035'
              },
              {
                name: 'Golf',
                value: 'value036'
              },
              {
                name: 'Cycling',
                value: 'value037'
              },
              {
                name: 'Climbing',
                value: 'value038'
              },
              {
                name: 'Carate',
                value: 'value039'
              },
              {
                name: 'Wrestling',
                value: 'value040'
              },
              {
                name: 'Gymnastics',
                value: 'value041'
              },
              {
                name: 'Fitness',
                value: 'value042'
              },
              {
                name: 'Bodybuilding',
                value: 'value043'
              },
              {
                name: 'Cybersport',
                value: 'value044'
              },
              {
                name: 'Poker',
                value: 'value045'
              },
              {
                name: 'Snowboard',
                value: 'value046'
              },
              {
                name: 'Weightlifting',
                value: 'value047'
              },
              {
                name: 'Equestrian sports',
                value: 'value048'
              },
              {
                name: 'Parachute jumping',
                value: 'value049'
              },
              {
                name: 'Auto/moto sports',
                value: 'value050'
              },
              {
                name: 'Cue sports',
                value: 'value051'
              },
              {
                name: 'Bowling',
                value: 'value052'
              },
              {
                name: 'Skiing',
                value: 'value053'
              },
              {
                name: 'Yachting',
                value: 'value054'
              },
              {
                name: 'Fishing',
                value: 'value055'
              },
              {
                name: 'Chess',
                value: 'value056'
              },
              {
                name: 'Checkers',
                value: 'value057'
              },
              {
                name: 'Dancing',
                value: 'value058'
              }
            ]
          }
        ],
      }
    },
    methods: {

    }
  }
</script>