<template>
  <div>
    <h1 class="info-title">Сотрудники</h1>
    <div class="personal-nav personal-nav--employees">
      <div class="personal-nav__left">
        <a href="" class="personal-nav__link">
          <span class="personal-nav-link__icon">
            <icon-arrow-left></icon-arrow-left>
          </span>
          <router-link to="/personal/ecocard" class="personal-nav-link__text">Назад</router-link>
        </a>
      </div>
      <div class="personal-nav__right">
        <a href="" class="personal-nav__link">
          <span class="personal-nav-link__icon">
            <icon-base viewBox="0 0 35 35" width="35" height="35">
              <icon-search></icon-search>
            </icon-base>
          </span>
        </a>
        <a href="" class="personal-nav__link">
          <span class="personal-nav-link__icon">
            <icon-employee-add></icon-employee-add>
          </span>
        </a>
        <a href="#" @click.prevent="selectForDelete = !selectForDelete" class="personal-nav__link">
          <span :class="[{'personal-nav-link__icon--active': selectForDelete},'personal-nav-link__icon personal-nav-link__icon--delete']">
            <icon-base viewBox="0 0 35 35" width="35" height="35">
              <icon-delete></icon-delete>
            </icon-base>
          </span>
        </a>
      </div>
    </div>
    <div class="personal-section">
      <div class="empl-table_wrapper">
        <table class="empl-table">
          <colgroup>
            <col>
            <col>
            <col width="260px">
            <col width="280px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th class="blank-cell"></th>
              <th>ID</th>
              <th>Имя / e-mail</th>
              <th>Филиалы</th>
              <th class="blank-cell"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="blank-cell"></td>
              <td class="empl-table_id">
                <label v-show="selectForDelete" class="red-selectbox empl-table_check-del">
                  <input type="checkbox" class="">
                  <span class="red-selectbox_checkbox"></span>
                </label> 235236 </td>
              <td>
                <div class="empl-table_name">Дмитрий Азончик</div>
                <div class="empl-table_e-mail">dima.azon@gmail.com</div>
                <div class="empl-table_rights">
                  <select class="select select--employees">
                    <option class="option" hidden default>Звание</option>
                    <option class="option" value="admin">Администратор</option>
                    <option class="option" value="manager">Менеджер</option>
                    <option class="option" value="lawyer">Юрист</option>
                    <option class="option" value="director">Директор</option>
                  </select>
                </div>
              </td>
              <td class="empl-table_branches">
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Стиклево</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--online">
                    <icon-base viewBox="0 0 17 17" width="17" height="17">
                      <icon-globe></icon-globe>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, voluptatem?</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
              </td>
              <td class="blank-cell"></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <td class="empl-table_id">
                <label v-show="selectForDelete" class="red-selectbox empl-table_check-del">
                  <input type="checkbox" class="">
                  <span class="red-selectbox_checkbox"></span>
                </label> 2334565236 </td>
              <td>
                <div class="empl-table_name">Дмитрий Азончик</div>
                <div class="empl-table_e-mail">dima.azon@gmail.com</div>
                <div class="empl-table_rights">
                  <select class="select select--employees">
                    <option class="option" hidden default>Звание</option>
                    <option class="option" value="admin">Администратор</option>
                    <option class="option" value="manager">Менеджер</option>
                    <option class="option" value="lawyer">Юрист</option>
                    <option class="option" value="director">Директор</option>
                  </select>
                </div>
              </td>
              <td class="empl-table_branches">
                <a href="#" @click.prevent="setBranch" class="assign-branches">Назначить филиал</a>
              </td>
              <td class="blank-cell"></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <td class="empl-table_id">
                <label v-show="selectForDelete" class="red-selectbox empl-table_check-del">
                  <input type="checkbox" class="">
                  <span class="red-selectbox_checkbox"></span>
                </label>235236 </td>
              <td>
                <div class="empl-table_name">Дмитрий Азончик</div>
                <div class="empl-table_e-mail">dima.azon@gmail.com</div>
                <div class="empl-table_rights">
                  <select class="select select--employees">
                    <option class="option" hidden default>Звание</option>
                    <option class="option" value="admin">Администратор</option>
                    <option class="option" value="manager">Менеджер</option>
                    <option class="option" value="lawyer">Юрист</option>
                    <option class="option" value="director">Директор</option>
                  </select>
                </div>
              </td>
              <td class="empl-table_branches">
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Стиклево</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--online">
                    <icon-base viewBox="0 0 17 17" width="17" height="17">
                      <icon-globe></icon-globe>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <label class="checkbox-select-single-branch">
                  <span class="checkbox-select-single-branch_icon checkbox-select-single-branch_icon--offline">
                    <icon-base viewBox="0 0 11 16" width="11" height="16">
                      <icon-map-marker></icon-map-marker>
                    </icon-base>
                  </span>
                  <span class="checkbox-select-single-branch_text">Хоздвор Жуков-Луг</span>
                  <input type="checkbox" class="" checked="">
                  <span class="checkbox-select-single-branch_square"></span>
                </label>
                <span class="show-all-branches">Показать все филиалы</span>
              </td>
              <td class="blank-cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="personal-section">
      <a href="#" class="bttn bttn--light-grey bttn--small">Отменить</a>
      <a href="#" class="bttn bttn--blue bttn--small">Сохранить</a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PersonalEcocardEmployees',
    components: {

    },
    created() {

    },
    beforeCreate() {
      this.$emit('centered', true)
    },
    updated() {
      this.$emit('centered', true)
    },
    beforeDestroy() {
      this.$emit('centered', false)
    },
    data() {
      return {
        selectForDelete: false
      }
    },
    methods: {
      setBranch(branch) {
        // item.isAdded = !item.isAdded
        this.$modal.show({
          template: `
            <div class="modal">
            <p class="modal__header">Назначить филиалы</p>
            <input class="input input--modal-share" placeholder="Найти">
            <button class="bttn bttn--blue">Сохранить</button>
            <span class="modal__close" @click="$emit('close')"></span>
          </div>
          `,
          methods: {

          },
          computed: {

          },
          props: ''
        }, {

        }, {
          classes: 'apm-modal-overlay',
          height: 'auto',
          width: '520',
          scrollable: true,
          adaptive: true,
        })
      },
    },
    computed: {

    },
  }
</script>