<template>
  <nav class="profile__nav">
    <router-link v-for="(item, index) in items" :key="index" :to="item.link" class="profile__nav-item">
      <span class="nav-item__icon">
        <component :is="item.icon" />
      </span>
      <span v-if="item.text" class="nav-item__text">{{ item.text }}</span>
      <span v-if="item.notification" class="nav-item__notification"><span class="notification__text" v-tooltip.bottom="{content: item.notifiactionText, offset: '10', classes: 'apm-tooltip'}">{{ item.notificationNum }}</span></span>
    </router-link>
  </nav>
</template>

<script>
import axios from 'axios';

  export default {
    name: 'ProfileNavigation',
    data() {
      return {
        items: []
      }
    },
    created () {
      axios.get('/api/site/profile/items')
      .then(response => {
        this.items = response.data
      })
    }
  }

</script>
