<template>
  <div class="profile__stat">
    <div class="stat__personal">
      <table class="table__stat">
        <thead>
          <tr>
            <th>Персональные данные</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Реферальный статус:</td>
            <td><router-link class="stat__link" to="faq#referal">{{ stat.referalStatus }}</router-link> из 100%</td>
          </tr>
          <tr>
            <td>Дискотные программы:</td>
            <td><router-link class="stat__link" to="">{{ stat.ecocardsJoined }}</router-link> из {{  stat.ecocardsTotal }}</td>
          </tr>
          <tr>
            <td>Интересы:</td>
            <td><router-link class="stat__link" to="">{{ stat.interests }}</router-link> из {{ stat.interestsTotal }}</td>
          </tr>
          <tr>
            <td>Пользователей в вашем регионе:</td>
            <td><router-link class="stat__link" to="">{{ stat.usersInRegion }}</router-link></td>
          </tr>
          <tr>
            <td>Выплачено в вашем регионе:</td>
            <td>{{ stat.paidInRegion | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider divider--mobile"></div>
    <div class="stat__companies">
      <table class="table__stat">
        <thead>
          <tr>
            <th>Зарегистрированые компании</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(company, index) in companies" :key="index">
            <td>{{ company.name }}</td>
            <td>ID: {{ company.id }}</td>
          </tr>
          <tr>
            <td><a href="#" class="stat__link">Добавить компанию</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'ProfileStat',
    props: ['stat','companies'],
    data() {
      return {
        
      }
    },
    created () {
     
    }
    
  }

</script>
