<template>
  <div v-if="initialUser" class="profile__user">
    <div class="user__avatar">
      <img v-if="initialUser.avatar" :src="initialUser.avatar" alt="" class="avatar__img">
      <icon-profile-avatar v-else></icon-profile-avatar>
    </div>
    <div class="user__info">
      <div class="user__name">{{ initialUser.name }}</div>
      <div class="user__region">Ваш регион:
        <a :href="'countries/#'+initialUser.region" class="region__link">{{initialUser.region}}</a>
      </div>
      <span class="user__id">Personal id 👤 {{initialUser.id}}</span>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'ProfileUserMobile',
    props: ['initialUser'],
    data() {
      return {

      }
    },
    beforeCreate() {

    },
  }

</script>
