<template>
  <div v-if="initialUser" class="profile__user">
    <div class="user__summary">
      <span class="user__battery">🔋</span>
      <span class="balance__num">
          {{ initialUser.balance.current | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}
        </span>
    </div>
    <div class="user__qr">
      <img :src="initialUser.qr" alt="" class="qr__img">
    </div>
  </div>
</template>

<script>

  export default {
    name: 'ProfileUserMobileQr',
    props: ['initialUser'],
    data() {
      return {
        
      }
    }
  }

</script>
