<template>
  <div v-if="initialUser && !this.$root.mobile" class="profile__user">
    <div class="user__avatar">
      <img v-if="initialUser.avatar" :src="initialUser.avatar" alt="" class="avatar__img">
      <icon-profile-avatar v-else></icon-profile-avatar>
    </div>
    <div class="user__info">
      <div class="user__name">{{ initialUser.name }}</div>
      <div class="user__region">Ваш регион:
        <a :href="'countries/#'+initialUser.region" class="region__link">{{initialUser.region}}</a>
      </div>
      <span class="user__id">Personal id 👤 {{initialUser.id}}</span>
    </div>
    <div v-if="!this.$root.mobile" class="user__qr">
      <img :src="initialUser.qr" alt="" class="qr__img">
    </div>
    <div class="user__balance">
      <div class="balance__info">
        <span class="balance__text">На балансе</span>
        <span class="balance__num">
          {{ initialUser.balance.current | currency('€', 2, { symbolOnLeft: false, spaceBetweenAmountAndSymbol: true, thousandsSeparator: ' ', decimalSeparator: ',' }) }}
        </span>
      </div>
      <a href="№" class="bttn bttn--green bttn--fullwidth">Дать рекламу</a>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'ProfileUser',
    props: ['initialUser'],
    data() {
      return {
       
      }
    },
    beforeCreate() {
      
    },
  }

</script>
