<template>
    <div class="auth__inner">
      <h1 class="auth-title">Регистрация</h1>
      <h2 class="auth-title auth-title--name">Дмитрий Азончик</h2>
      <p class="auth__paragraph">На указанный вами e-mail было отправлено письмо. Для завершения регистрации перейдите по ссылке, указанной в письме.</p>
      <div class="auth__tip">
        Если письмо не пришло, проверьте папку спам!
      </div>

    </div>
</template>

<script>
  export default {
    name: 'RegisterComplete',
    data() {
      return {

      }
    }
  }

</script>
