<template>
    <div class="auth__inner">
      <h1 class="auth-title">Регистрация</h1>
      <h2 class="auth-title auth-title--name">Дмитрий Азончик</h2>
      <p class="auth__paragraph">На указанный вами номер телефона был отправлен код подтверждения. Для завершения регистрации введите код:</p>
      <div class="reg-block reg-block--small">
        <div class="reg-item">
          <input type="text" id="phoneCode" name="code" class="input input--confirm-code" placeholder="Код">
        </div>
        <div class="reg-item">
          <p class="auth__paragraph">
            <a href="" class="auth-link">Не получили код?</a>
          </p>
        </div>
        <div class="reg-item">
          <button class="bttn bttn--blue">Подтвердить</button>
        </div>
      </div>

    </div>
</template>

<script>
  export default {
    name: 'RegisterPhone',
    data() {
      return {

      }
    }
  }

</script>
