<template>
  <div class="auth__inner">
    <h1 class="auth-title">Добро пожаловать</h1>
    <h2 class="auth-title auth-title--name">Дмитрий Азончик</h2>
    <p class="auth__paragraph">Ваш ПЕРСОНАЛЬНЫЙ РЕКЛАМНЫЙ ИДЕНТИФИКАТОР (ID):</p>
    <div class="user-id__block">
      <div class="user-id clearfix">
        <span class="user-id__label">ID</span>
        <span class="user-id__number">4320445</span>
      </div>
    </div>
    <div class="action__block">
      <img src="img/action-eco.svg" alt="">
      <p class="action__text">Скидочные и бонусные карты теперь всегда под рукой - в вашем телефоне!</p>
      <img src="img/action-logo.svg" alt="">
      <p class="action__text">Зайдите в раздел APMecocard и подпишитесь на любимые заведения, магазины и рестораны в своем городе. Получайте от них
        выгодные предложения, бонусы и скидки.</p>
      <a href="#" :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--transparent-blue']">Подписаться</a>
    </div>
    <div class="reg-block reg-block--button">
      <router-link to="/" class="bttn bttn--green">Начать</router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'RegisterWelcome',
    data() {
      return {

      }
    }
  }

</script>
