<template>
  <div class="auth__inner">
    <h1 class="auth-title">Регистрация</h1>
    <div class="auth__tip auth__tip--fixed">
      <span class="tip__title">Обратите внимание!</span>
      <p class="tip__text">В нашей системе один человек может создать лишь один аккаунт. Мы просим вас отнестись к этому с пониманием, так как
        в дальнейшем для получения денег вам придётся пройти идентификацию в платежной системе Paysera.</p>
    </div>
    <form @submit.prevent="submitForm" id="registrationForm">
      <div class="reg-block">
        <div :class="[{ '--error': validateErrors.has('fname') },'reg-item']">
          <label for="firstName" class="label">Имя</label>
          <input v-validate="'required'" type="text" id="firstName" name="fname" class="input" v-model="form.name">
        </div>
        <div class="reg-item">
          <label for="lastName" class="label">Фамилия</label>
          <input type="text" id="lastName" name="lname" class="input" v-model="form.sname">
        </div>
        <div class="reg-item">
          <label for="selectPhone" class="label">Телефон</label>
          <div class="phone-input">
            <select v-model="phoneMask" id="selectPhone" name="phonecode" :class="[{'select--selected': !phoneMask.countryPlaceholder}, 'select select--code']">
              <option v-if="phoneMask.countryPlaceholder != null" hidden :value="phoneMask">Страна</option>
              <option v-for="(phonecode, index) in sortedCodes" :key="index" class="option" :value="phonecode">{{phonecode.name_en}}</option>
            </select>
            <masked-input v-model="form.phone" type="tel" class="input input--phone" :mask="phoneMask.altMask" :placeholder="phoneMask.code"
              :value="form.phone" />
          </div>
        </div>
        <div class="reg-item">
          <label for="inputEmail" class="label">Email</label>
          <input type="email" id="inputEmail" name="email" class="input" v-model="form.email">
        </div>
        <div :class="[{'--error': !passCheck}, 'reg-item']">
          <label for="inputPassword" class="label">Пароль</label>
          <input type="password" id="inputPassword" name="password" class="input" v-model.lazy="form.password" @change="checkPass">
        </div>
        <div :class="[{'--error': !passCheck}, 'reg-item']">
          <label for="inputRepeatPassword" class="label">Потверждение пароля</label>
          <input type="password" id="inputRepeatPassword" name="rpassword" class="input" v-model.lazy="form.passwordRepeat" @change="checkPass">
        </div>
        <div class="reg-item">
          <label for="selectGender" class="label">Пол</label>
          <select name="gender" id="selectGender" :class="[{'select--selected': form.gender}, 'select']" v-model="form.gender">
            <option class="option" value="" selected hidden>...</option>
            <option class="option" value="male">Мужской</option>
            <option class="option" value="female">Женский</option>
          </select>
        </div>
        <div :class="[{ '--error': validateErrors.has('birthday') },'reg-item']">
          <label for="inputBirthday" class="label">Дата рождения</label>
          <masked-input v-validate="{ regex: /(0[1-9]|[12]\d|3[01])[\/](0[1-9]|1[0-2])[\/](19|20)\d{2}/ }" v-model.lazy="form.birthday"
            id="inputBirthday" name="birthday" type="tel" class="input" mask="11/11/1111" placeholder="дд/мм/гггг" />
          <span>{{ validateErrors.first('birthday') }}</span>
        </div>
      </div>

      <div class="reg-block">
        <div class="reg-item">
          <label for="selectCountry" class="label">Укажите место проживания</label>
          <select name="countrySel" id="selectCountry" :class="[{'select--selected': form.country}, 'select']" @change="changeCountry"
            v-model="form.country">
            <option class="option" value="" hidden>Страна</option>
            <option v-for="(country, index) in countries" :key="index" class="option" :value="country">{{ country.name }}</option>
          </select>
          <input type="hidden" name="country" :value="form.country.name">
        </div>
        <div v-if="form.country" class="reg-item">
          <select name="regionSel" :class="[{'select--selected': form.region}, 'select']" @change="changeRegion" v-model="form.region">
            <option class="option" value="" hidden>Область</option>
            <option v-for="(region, index) in regions" :key="index" class="option" :value="region">{{ region.name }}</option>
          </select>
          <input type="hidden" name="region" :value="form.region.name">
        </div>
        <div v-if="form.region" class="reg-item">
          <select name="citySel" :class="[{'select--selected': form.city}, 'select']" v-model="form.city">
            <option class="option" value="" hidden>Город</option>
            <option v-for="(city, index) in form.region.cities" :key="index" class="option" :value="city">{{ city.name }}</option>
          </select>
          <input type="hidden" name="city" :value="form.city.name">
        </div>
      </div>
      <div class="reg-block">
        <div class="reg-item reg-item--checkbox">
          <input v-model="form.checkbox1" type="checkbox" id="inputCheck1" name="check1" class="checkbox">
          <label for="inputCheck1" class="label label--checkbox">Я согласен с условиями
            <a href="#" class="auth-link">предосталвения услуг</a>
          </label>
        </div>
        <div class="reg-item reg-item--checkbox">
          <input v-model="form.checkbox2" type="checkbox" id="inputCheck2" name="check2" class="checkbox">
          <label for="inputCheck2" class="label label--checkbox">Я принимаю условия
            <a href="#" class="auth-link">предосталвения услуг</a>
          </label>
        </div>
        <div class="reg-item reg-item--checkbox">
          <input v-model="form.checkbox3" type="checkbox" id="inputCheck3" name="check3" class="checkbox">
          <label for="inputCheck3" class="label label--checkbox">Я ознакомился с
            <a href="#" class="auth-link">условиями предосталвения услуг</a>
          </label>
        </div>
      </div>
      <div class="reg-block reg-block--button">
        <div class="reg-item">
          <button :class="[{'bttn--fullwidth': this.$root.mobile},'bttn bttn--blue']" form="registrationForm" type="submit">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import MaskedInput from 'vue-masked-input'
  var VueScrollTo = require('vue-scrollto');

  export default {
    name: 'RegisterForm',
    created() {
      this.$validator.localize('ru');
      axios.get('/api/site/data/phone-codes.json')
        .then(response => {
          this.phonecodes = response.data
        })

      axios.get('/api/site/data/geo/countries')
        .then(response => {
          this.countries = response.data
        })
        .catch(error => {
          console.log(error.response)
        });
    },
    props: ['registrationStep'],
    data() {
      return {
        regStep: this.registrationStep,
        passCheck: true,
        form: {
          name: '',
          sname: '',
          phone: '',
          email: '',
          gender: '',
          birthday: '',
          country: '',
          region: '',
          city: '',
          checkbox: '',
          checkbox2: '',
          checkbox3: ''
        },
        countries: [],
        regions: [],
        phoneMask: {
          code: 'выберите страну',
          altMask: '#',
          countryPlaceholder: '...'
        },
        phonecodes: [],
      }
    },
    watch: {
      // 'form.password': function() {
      //   if (this.form.passwordRepeat)
      //   this.passCheck = (this.form.password === this.form.passwordRepeat)
      //   else 
      //   this.passCheck = true
      // },
      // 'form.passwordRepeat': function() {
      //   if (this.form.password && this.form.passwordRepeat)
      //   this.passCheck = (this.form.password === this.form.passwordRepeat)
      //   else 
      //   this.passCheck = true
      // }
    },
    methods: {
      changeCountry() {
        this.regions = this.form.country.regions
        this.form.region = ''
        this.form.city = ''
      },
      changeRegion() {
        this.form.city = ''
      },
      checkPass() {
        if (this.form.password && this.form.passwordRepeat)
          return this.passCheck = (this.form.password === this.form.passwordRepeat)
        else
          this.passCheck = true
      },
      submitForm() {
        this.$validator.validate().then(result => {
          if (!result) {
            VueScrollTo.scrollTo('.--error', 100, {offset: -60})
          }
        });
        this.$emit('changeRegStep', this.regStep)
        // this.$router.push({
        //   path: '/board'
        // })
      }
    },
    computed: {
      sortedCodes: function () {
        function compare(a, b) {
          if (a.name_en < b.name_en)
            return -1;
          if (a.name_en > b.name_en)
            return 1;
          return 0;
        }
        return this.phonecodes.sort(compare);
      }
    },
    components: {
      MaskedInput
    }
  }
</script>