<template>
  <ul class="main-menu__items">
    <li v-for="(category, index) in filterCategoryByActive" :key="index" class="main-menu__item" :class="{ 'show-submenu': category.isOpen }">
      <a href="#" class="main-menu__category" @click="toggleSideMenu(category)">
        <span v-if="$root.mobile" class="main-menu__icon">
          <icon-base :width="category.iconWidth" :height="category.iconHeight" :viewBox="category.iconViewbox">
            <component :is="category.icon" />
          </icon-base>
        </span>
        <span class="main-menu__name">{{category.name}}</span>
      </a>
      <transition name="submenu">
        <ul v-if="!$root.mobile || category.isOpen" class="main-menu__submenu">
          <a href="#" class="submenu__back--mobile" @click="toggleSideMenu(category)">{{category.name}}</a>
          <li v-for="(item, index) in category.items" :key="index" class="main-menu__submenu-item">
            <router-link @click.native="closeMenu()" :to="item.link" class="main-menu__submenu-link">{{item.name}}</router-link>
          </li>
        </ul>
      </transition>
    </li>
    <li v-if="!this.$root.globalAuth && !this.$root.mobile" class="main-menu__item main-menu__item--auth">
      <div class="main-menu__auth-desktop">
        <router-link @click.native="closeMenu()" to="/registration-choose" class="bttn bttn--register">
          Регистрация
        </router-link>
      </div>
    </li>
    <template v-if="!this.$root.globalAuth && this.$root.mobile">
      <div class="main-menu__divider"></div>
      <li class="main-menu__item main-menu__item--mob-auth">
        <a v-if="!this.$root.globalAuth" href="#" class="bttn bttn--with-icon">
          <icon-base width="22" height="22" class="bttn__icon">
            <icon-profile></icon-profile>
          </icon-base>Войти</a>
        <router-link @click.native="closeMenu()" to="/registration-choose" class="bttn bttn--register">
          Регистрация
        </router-link>
      </li>
    </template>
  </ul>
</template>
<script>
  export default {
    name: 'SiteMap',
    props: ['submenu'],
    data() {
      return {
        categories: [{
            name: 'Пользователям',
            icon: 'icon-paper',
            iconWidth: '18',
            iconHeight: '25',
            iconViewbox: '0 0 23 30',
            isOpen: this.submenu,
            active: true,
            items: [{
                name: 'Что такое  APMboard?',
                link: '/info/apmboard'
              },
              {
                name: 'Что такое APMecocard?',
                link: '/info/apmecocard'
              },
              {
                name: 'Что такое APMchat?',
                link: '/info/apmchat'
              },
              {
                name: 'Рекламодателям',
                link: '/info/advertizer'
              },
              {
                name: 'Программы APMecocard',
                link: '/info/ecocard-programs'
              },
              {
                name: 'Конкурс «Выйграй автомобиль «СУЗУКИ ВИТАРА»',
                link: '/info/contest'
              }
            ]
          },
          {
            name: 'Информация',
            icon: 'icon-info',
            iconWidth: '12',
            iconHeight: '25',
            iconViewbox: '0 0 17 30',
            isOpen: '',
            active: true,
            items: [{
                name: 'О нас',
                link: '/info/about'
              },
              {
                name: 'Манифест',
                link: '/info/manifesto'
              },
              {
                name: 'Бренд',
                link: '/info/brand'
              },
              {
                name: 'FAQ',
                link: '/info/faq'
              },
              {
                name: 'Оферта',
                link: '/info/offer'
              },
              {
                name: 'Пользовательское',
                link: '/info/terms'
              },
              {
                name: 'Конфиденциальность',
                link: '/info/confidentiality'
              },
              {
                name: 'Помощь',
                link: '/info/help'
              }
            ]
          },
          {
            name: 'Личный кабинет',
            icon: 'icon-settings',
            iconWidth: '25',
            iconHeight: '25',
            iconViewbox: '0 0 30 30',
            isOpen: '',
            active: this.$root.globalAuth,
            items: [{
                name: 'Личные данные',
                link: '/personal/properties'
              },
              {
                name: 'Партнерская программа',
                link: '/personal/referral'
              },
              {
                name: 'Обзор счета',
                link: '/personal/bill'
              },
              {
                name: 'Интересы',
                link: '/personal/interests'
              },
              {
                name: 'Архив рекламы',
                link: '/personal/archive'
              },
              {
                name: 'Настройки',
                link: '/personal/settings'
              },
              {
                name: 'Дисконтные программы',
                link: '/personal/ecocard'
              },
              {
                name: 'Рекламные объявления',
                link: '/personal/banner'
              },
              {
                name: 'Регистрация компании',
                link: '/company/register'
              }
            ]
          }
        ]
      }
    },
    computed: {
      filterCategoryByActive() {
        return this.categories.filter(category => {
          return category.active;
        })
      }
    },
    watch: {
      '$root.globalAuth': function () {
        this.categories[2].active = this.$root.globalAuth
      },
      // submenu: function () {
      //   this.categories.forEach(el =>{
      //     this.$set(el, 'isOpen', this.submenu)
      //   })
      // }
    },
    methods: {
      toggleSideMenu(category) {
        category.isOpen = !category.isOpen;
        this.$emit('toggleCategory', category.isOpen);
      },
      closeMenu() {
        this.$root.mainMenuSeen = false;
      }
    }
  }
</script>