<template>
  <div class="top-menu">
    <ul class="top-menu__list">
      <li class="top-menu__item">
        <router-link to="/personal/properties" class="top-menu__link">Личные данные</router-link>
      </li>
      <li class="top-menu__item">
        <router-link to="/personal/referral" class="top-menu__link">Партнерская программа</router-link>
      </li>
      <li class="top-menu__item">
        <router-link to="/personal/bill" class="top-menu__link">Обзор счета</router-link>
      </li>
      <li class="top-menu__item">
        <router-link to="/personal/interests" class="top-menu__link">Интересы</router-link>
      </li>
      <li class="top-menu__item">
        <router-link to="/personal/banner/archive" class="top-menu__link">Архив рекламы</router-link>
      </li>
      <li class="top-menu__item">
        <router-link to="/personal/settings" class="top-menu__link">Настройки</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'TopMenu',
    data() {
      return {

      }
    },
    components: {}
  }
</script>