.banner-progress
  display: flex
  position: fixed
  align-items: center
  justify-content: center
  background: #fff
  top: 55px
  left: 25%
  right: 0
  height: 40px
  box-shadow: 0px 1px 0px 0px #e7e7e7
  z-index: 1

.banner-progress__item
  display: flex
  align-items: center
  & + .banner-progress__item
    margin-left: 30px

.progress-item__icon
  margin-right: 5px

.progress-item__text
  font: $semi-bold 18px $open-sans
  color: $color-grey-dark

@media (max-width: 1023px)
  .banner-progress
    left: 0