.board__panel
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 140px
  background: rgba(255,255,255,0.73)
  backdrop-filter: blur(10px)

.bill
  font: $semi-bold 28px $open-sans
  color: #000
  flex-basis: 30%
  text-align: right
  &.bill--current
    text-decoration: underline
  &.bill--plus
    text-align: left

.apmbutton
  width: 110px
  height: 110px
  margin: 0 40px
  padding: 3px
  display: flex
  justify-content: center
  align-items: center
  position: relative
  background: white
  border-radius: 50%
  cursor: pointer
  &.--disable
    cursor: default

.apmbutton__circle
  display: block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: radial-gradient(farthest-side at 50% 51%, #2eafe6 50%, #23a4e0 65%, #0687d0 92%, #0477ba 97%, #004c7a 100%)
  width: 104px
  height: 104px
  border-radius: 100%
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.3)

.apmbutton__arrow
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  & g path
    fill: url(#arrow-color)

.--disable
  & .apmbutton__circle
    background: #fff
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.21)
  & .apmbutton__arrow g path
    fill: #efefef

.--rotate 
  & .apmbutton__arrow
    animation: btn-rotate 2s infinite linear
    & g path
      fill: #cecece

.apmbutton.--rotate
  cursor: default
  & .apmbutton__circle
    background-image: radial-gradient(farthest-side at 50% 51%, #b0b0b0 50%, #a6a6a6 65%, #848383 92%, #7c7c7c 96%, #5b5b5b 100%)
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.21)

.--glow .apmbutton__circle
  animation: btn-glow 2s infinite linear

@media (max-width: 1023px)
  .board__panel
    height: 80px

  .bill
    flex-basis: auto
    display: flex
    justify-content: center
    align-items: center
    font-size: 20px
    width: 50%
    height: 100%
    &.bill--current
      float: left
      text-decoration: none
      text-align: center
      padding-right: 33px
    &.bill--plus
      float: right
      text-decoration: none
      text-align: center
      padding-left: 33px

  .apmbutton
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 66px
    height: 66px
    margin: 0

  .apmbutton__circle
    width: 60px
    height: 60px

  .apmbutton__arrow
    width: 50%
    height: 50%

  .--disable .apmbutton__circle
    background: #fff
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.21)

  .--rotate .apmbutton__arrow
      animation: btn-rotate 2s infinite linear

  .apmbutton.--rotate
    cursor: default
    & .apmbutton__circle
      background-image: radial-gradient(farthest-side at 50% 51%, #b0b0b0 50%, #a6a6a6 65%, #848383 92%, #7c7c7c 96%, #5b5b5b 100%)
      box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.21)

  .--glow .apmbutton__circle
    animation: btn-glow 2s infinite linear