.board__main
  position: fixed
  display: flex
  align-items: center
  justify-content: unset
  flex-direction: column
  overflow-y: auto
  -ms-overflow-style: none
  top: 55px
  left: 0
  right: 0
  bottom: 0
  width: 100%
  &::-webkit-scrollbar
    display: none

.advert-block
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  flex-shrink: 0
  width: 898px
  height: 448px
  &:first-of-type
    margin-top: calc(50vh - 322px)
  &:last-of-type
    margin-bottom: calc(50vh - 224px)
  &:before
    position: fixed
    z-index: index($zindex, banner-hover-background)
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    visibility: hidden
    opacity: 0
    transition: opacity .2s 0s linear, visibility .2s 0s linear
  &.advert-block--banner-hover
    &:before
      visibility: visible
      opacity: 1

.placeholder__block
  display: flex
  flex-shrink: 0
  content: ''
  height: 448px
  width: 898px
  margin-bottom: calc(50vh - 224px)

.advert
  display: block
  position: relative
  cursor: pointer
  width: 425px
  height: 200px
  margin: 12px
  &.--premium
    height: 425px
  &:before
    position: absolute
    z-index: 999
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.8)
    transition: opacity .2s 0s linear
    opacity: 0
  &:hover
    z-index: index($zindex, banner-hover)
    &:before
      display: none

.advert__img
  max-width: 100%
  max-height: 100%

.advert__link
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.advert__card
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #fff
  font: $normal 20px $open-sans

.advert__ecocard
  display: none
  position: absolute
  top: 10px
  right: 10px

.advert:hover .advert__ecocard
  display: block

@media (max-width: 1023px)
  .board__main
    position: fixed
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    overflow-y: auto
    top: 55px
    left: 0
    right: 0
    bottom: 0
    width: 100%

  .advert-block
    flex-direction: column
    width: 100%
    height: unset
    min-height: 100%
    padding: 0 30px
    justify-content: space-around
    text-align: center
    &:first-of-type,
    &:last-of-type
      margin: 0
    &:last-of-type
      padding-bottom: 80px
  
  .placeholder__block
    min-height: 100%
    width: 100%
    margin: 0

  .advert
    margin: 0
    width: initial
    height: fit-content
    max-width: 425px
    max-height: calc((100vh - 135px) / 2)
    &.--premium
      height: initial