.breadcrumbs
  padding: 0
  margin: 0
  list-style-type: none
  &:before
    content: '\01F3E0'

.breadcrumbs__item
  display: inline-block

.breadcrumbs__link
  position: relative
  margin-left: 3px
  font: $semi-bold 12px $open-sans
  color: $color-black
  text-decoration: none
  letter-spacing: -0.16px
  &:before
    content: '\2022'
    font-size: 10px
    margin-right: 3px
    color: $color-black
    // position: absolute
  &.router-link-active
    color: $color-grey-light
    pointer-events: none