.bttn
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: 260px
  font-family: $open-sans
  font-weight: $semi-bold
  font-size: 18px
  background: #fff
  color: $color-grey-dark
  text-decoration: none
  white-space: nowrap
  user-select: none
  border-radius: 3px
  padding: 0 12px
  line-height: 45px
  height: 45px
  transition: all .3s ease-in-out
  &:hover
    text-decoration: none
    color: $color-blue
  &:disabled
    opacity: 0.2
    cursor: default

.bttn--fullwidth
  min-width: initial
  min-width: auto
  width: 100%

.bttn--small
  line-height: 30px
  height: 30px
  font-size: 15px
  letter-spacing: -0.36px
  min-width: 200px

.bttn__icon
  margin-right: 10px

.bttn--with-icon
  font-weight: $normal
  font-size: 16px

.bttn--register
  position: relative
  z-index: 1
  overflow: hidden
  color: #fff
  background-image: linear-gradient(to right, #0293f7 0%, #1fdfc7 100%)
  background-position: 50% center
  background-size: 200% auto
  box-shadow: none
  &:hover
    color: #fff
    box-shadow: 0 2px 17px 0 rgba(0,187,255,0.52)
    background-position: left center
  &:active
    box-shadow: none
    background-position: 50% center

.bttn--adv
  position: relative
  z-index: 1
  overflow: hidden
  color: #fff
  background-image: linear-gradient(to right, #f76b1c 0%, #fbda61 100%)
  background-position: 50% center
  background-size: 200% auto
  box-shadow: none
  &:hover
    color: #fff
    box-shadow: 0 2px 17px 0 rgba(248,174,50,0.66)
    background-position: left center
  &:active
    box-shadow: none
    background-position: right center

.bttn--green
  background: $color-green
  color: #fff
  &:hover
    background: darken($color-green, 10%)
    color: #fff

.bttn--red
  background: $color-red
  color: #fff
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.34)
  &:hover
    background: darken($color-red, 10%)
    color: #fff

.bttn--grey
  background: #c8c7cc
  color: #fff
  &:hover
    background: darken(#c8c7cc, 10%)
    color: #fff
    
.bttn--light-grey
  background: #e7e7e7
  color: $color-grey-dark
  &:hover
    background: darken(#e7e7e7, 10%)
    color: $color-grey-dark

.bttn--blue
  background: $color-blue-bright
  color: #fff
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.34)
  
  &:hover
    background: darken($color-blue-bright, 10%)
    color: #fff
  &:disabled:hover
    background: $color-blue-bright
    color: #fff
    
.bttn--transparent-blue
  background: transparent
  border: 1px solid $color-blue-bright
  color: $color-blue-bright
  &:hover
    background: #ecf6ff
    border-color: $color-blue-bright
    color: $color-blue-bright

.bttn--transparent-red
  background: transparent
  border: 1px solid $color-red
  color: $color-red
  &:hover
    background: #ffeef1
    border-color: $color-red
    color: $color-red

.bttn--facebook
  background: #4267B2
  color: #fff
  &:hover
    background: #4267B2
    color: #fff

.bttn--google
  background: #fff
  color: #000
  border: 1px solid #979797
  &:hover
    background: #fff
    color: #000

.bttn--reg-email
  background: $color-blue
  color: #fff
  &:hover
    background: darken($color-blue, 10%)
    color: #fff

.bttn--reg-phone
  background: #7a797b
  color: #fff
  &:hover
    background: darken(#7a797b, 10%)
    color: #fff

.reset
  color: $color-red
  background: none
  text-transform: uppercase
  font-weight: $normal
  font-size: 20px