.divider
  width: 100%
  height: 5px
  border: 1px solid #e7e7e7
  border-radius: 3px

.divider--mobile
  display: none

.auth__divider
  position: relative
  display: block
  font: $normal 14px $open-sans
  color: #4a4a4a
  text-align: center
  max-width: 320px
  margin: 60px auto
  height: 20px
  line-height: 20px
  &:before,
  &:after
    content: ""
    position: absolute
    display: inline-block
    line-height: 20px
    height: 20px
    width: 40%
    height: 1px
    top: 10px
    background: #cecece
  &:before
    left: 0
  &:after
    right: 0

.side-menu .divider
  flex-shrink: 0
  margin-left: 10px
  max-width: 200px

@media (max-width: 1023px)
  .divider--mobile
    display: block