.ecocard-detail
  margin: 40px auto
  max-width: 650px

.detail-ecocard
  width: 100%
  background: #fff
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.18)
  border-radius: 3px
  margin-bottom: 25px
  padding: 0 30px
  &.detail-ecocard--branch
    overflow: hidden
    padding-bottom: 0
    & .detail-ecocard__body
      padding-bottom: 0

.detail-ecocard__header
  display: flex
  align-items: center
  justify-content: space-between
  height: 70px

.ecocard-header__type,
.branch-preview__type
  display: flex
  align-items: center
  font: $semi-bold 16px $open-sans
  color: $color-grey-dark
  text-transform: uppercase

.ecocard-header__type
  & .branch-type
    margin-left: 15px

.ecocard-header__buttons
  flex-shrink: 0
  & .bttn + .bttn
    margin-left: 15px

.detail-ecocard__body
  padding-bottom: 20px

.ecocard-body__block
  position: relative
  display: flex
  align-items: flex-start
  padding: 10px 0
  border-top: 1px solid #e7e7e7
  &.ecocard-body__block--main
    padding: 30px 0
  &.ecocard-body__block--centered
    align-items: center
  &.ecocard-body__block--gallery
    display: block
    margin-left: -30px
    margin-right: -30px
    border-top: none
    padding-top: 0
    & + .ecocard-body__block
      border-top: 0
  &.ecocard-body__block--map
    display: block
    margin-left: -30px
    margin-right: -30px
    border-top: none
    padding: 0
  
.test-gallery-img
  display: block
  width: 100%
  max-height: 400px
  object-fit: cover

.body-block__name
  flex-basis: 130px
  margin-right: 30px
  font: $semi-bold 13px $open-sans
  color: $color-grey-light

.body-block__logo
  display: block
  max-width: 100%
  height: auto

.body-block__description
  flex-basis: 430px

.body-block__title
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px
  margin-top: -10px
  &.body-block__title
    margin-top: 0

.body-block__rating
  display: flex
  align-items: center
  margin: 15px 0 
  

.body-block__tags
  margin-top: 25px

.ecocard-tag
  display: inline-block
  max-width: 400px
  overflow: hidden
  text-overflow: ellipsis
  cursor: default
  height: 25px
  background: #d9eafd
  border-radius: 3px
  font: $normal 14px/25px $open-sans
  color: $color-grey-dark
  padding: 0 10px
  margin-right: 5px
  margin-bottom: 5px

.body-block__text
  font: $normal 16px $open-sans
  color: #000
  letter-spacing: -0.4px

.body-block__link
  font: $normal 16px $open-sans
  color: $color-blue-bright
  letter-spacing: -0.4px
  &:hover
    text-decoration: none

.body-block__phones
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 5px

.phones__link
  font: $normal 16px $open-sans
  color: #000
  letter-spacing: -0.4px
  text-decoration: none
  &:hover
    text-decoration: none

.phone-messengers__list
  display: flex
  list-style-type: none
  padding: 0
  margin: 0

.phone-messengers__item
  display: inline-block
  margin-right: 5px

.phone-messengers__link

.phone-messengers__img
  display: block
  width: 23px
  height: 23px

.body-block__socials
  display: flex
  list-style-type: none
  padding: 0
  margin: 0

.social__item
  display: inline-block
  margin-right: 5px

.social__link

.social__img
  display: block
  width: 30px
  height: 30px

.body-block__working
  display: flex

.working-hours__days

.working-hours__times
  margin-left: 20px

.branch-preview
  padding: 20px 0 20px

.branch-preview__block
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 10px

.branch-preview__info
  overflow: hidden

.branch-type
  display: flex
  align-items: center
  font: $normal 14px $open-sans
  text-transform: none
  letter-spacing: -0.35px
  &.branch-type--offline
    color: $color-red
  &.branch-type--online
    color: $color-blue-bright

.branch-type__icon
  display: flex

.branch-type__name
  margin-left: 5px

.branch-preview__linked
  display: flex
  flex-direction: column
  & .rate__link
    margin-left: 0

.branch-preview__name
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px
  text-decoration: underline
  overflow: hidden
  text-overflow: ellipsis
  &:hover
    text-decoration: none

.branch-preview__rating
  // margin-left: 10px

.branch-preview__link
  display: block
  font: $normal 16px $open-sans
  color: $color-blue-bright
  letter-spacing: -0.4px
  margin-top: 10px
  &:hover
    text-decoration: none

.branch-preview__status
  width: 40px
  align-self: flex-end
  flex-shrink: 0

.branch-status__img
  display: block
  width: 100%
  height: auto

// @media (max-width: 1023px)
//   .ecocards__list
//     max-width: 600px

@media (max-width: 1023px)
  .ecocard-detail
    margin: 0
    max-width: none

  .detail-ecocard.detail-ecocard--branch
    margin-bottom: 0
    & .ecocard-body__buttons + .ecocard-body__block
      border-top: 0

  .detail-ecocard__header
    height: 40px
  
  .detail-ecocard
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07)
    border-radius: 0
    margin-bottom: 20px
    padding: 0 20px

  .ecocard-header__type
    width: 100%
    justify-content: space-between

  .ecocard-body__block
    flex-direction: column
    &.ecocard-body__block--main
      display: block
      border-top: none
      padding: 0 0 20px
    &.ecocard-body__block--gallery
      margin-left: -20px
      margin-right: -20px
      padding-bottom: 0
      & + .ecocard-body__block
        border-top: 0
        padding-top: 0
    &.ecocard-body__block--map
      margin-left: -20px
      margin-right: -20px

  .test-gallery-img
    max-height: 240px

  .body-block__name
    margin-right: 0
    margin-bottom: 5px
    flex-basis: auto

  .body-block__description
    flex-basis: auto

  .ecocard-body__buttons
    margin: 25px 0 
    width: 100%
    & .bttn + .bttn
      margin-top: 20px

  .body-block__phones
    flex-direction: column
    align-items: flex-start
    margin-bottom: 10px

  .phones__number
    margin-bottom: 5px

  .body-block__socials
    flex-wrap: wrap

  .social__img
    width: 45px
    height: 45px

  .detail-ecocard--branch-preview
    width: auto
    margin-left: 10px
    margin-right: 10px
    border-radius: 3px