.ecocards-filter__button
  cursor: pointer

.ecocard-filter
  position: fixed
  top: 55px
  left: 0 
  right: 0
  bottom: 0
  background: #fff
  z-index: index($zindex, ecocard-filter)
  overflow: auto

.ecocard-filter__inner
  position: relative
  max-width: 1024px
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto

.ecocard-filter__title
  font: $semi-bold 28px $open-sans
  color: $color-black
  letter-spacing: -0.68px
  margin: 50px 0

.ecocard-filter__block
  width: 300px
  text-align: center
  margin-bottom: 40px

.ecocard-filter__item
  margin-bottom: 20px

.filter-checkbox
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  font: $normal 18px $open-sans
  color: $color-black
  letter-spacing: -0.45px  
  & + .filter-checkbox
    margin-left: 30px
  & input
    position: absolute
    opacity: 0
    cursor: pointer
  

.filter-checkmark
  display: inline-block
  position: relative
  margin-left: 10px
  width: 40px
  height: 24px
  background-color: #cecece
  border-radius: 39px
  transition: 0.3s ease
  &:before
    position: absolute
    content: ""
    height: 22px
    width: 22px
    left: 1px
    bottom: 1px
    border-radius: 39px
    background-color: white
    transition: 0.3s ease

input:checked + .filter-checkmark
  background-color: $color-blue-bright

input:checked + .filter-checkmark:before
  transform: translateX(16px)

.select--filter
  background-color: #fff
  font: $normal 16px $open-sans
  color: $color-grey-light
  border: 1px solid #c8c7cc
  border-radius: 3px
  letter-spacing: -0.39px
  line-height: 44px
  height: 46px

.filter-cat-checkbox
  display: flex
  align-items: center
  justify-content: space-between
  & input
    position: absolute
    opacity: 0
    cursor: pointer

.filter-cat-checkmark
  display: inline-block
  position: relative
  cursor: pointer
  width: 26px
  height: 26px
  background-color: #ededed
  border-radius: 50%
  transition: 0.3s ease

input:checked + .filter-cat-checkmark
  background-color: transparent

input:checked + .filter-cat-checkmark:before
  content: ''
  position: absolute
  top: 2px
  left: 8px
  width: 9px
  height: 17px
  border: solid $color-blue-bright
  border-width: 0 2px 2px 0
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg)

.ecocard-filter__close
  position: absolute
  cursor: pointer
  top: 20px
  right: 20px
  width: 22px
  height: 22px
  border-radius: 3px
  &:active
    background: $color-grey-light
  &:before,
  &:after
    content: ''
    position: absolute
    height: 1px
    width: 100%
    top: 50%
    left: 0
    background: $color-grey-dark
    transition: background 0.3s ease
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
  &:hover
    &:before,
    &:after
      background: $color-black