.ecocard-nav
  position: fixed
  top: 55px
  left: 0
  right: 0
  height: 85px
  background: rgba(192,245,218,0.96)
  z-index: index($zindex, ecocard-nav)
  will-change: transform
  transition: transform 200ms linear

.ecocard-nav--scrolled
  transform: translateY(-100%)

.ecocard-nav__list
  text-align: center

.ecocard-nav__item
  display: inline-block
  width: 155px

.ecocard-nav__link
  display: flex
  height: 85px
  flex-direction: column
  align-items: center
  justify-content: center
  text-decoration: none
  &.router-link-active
    background: rgba( 255, 255, 255, 0.4)

.ecocard-nav__icon
  color: #5b5c59

.ecocard-nav__name
  font: $normal 12px $open-sans
  color: $color-grey-dark

@media (max-width: 767px)
  .ecocard-nav__item
    width: calc(100% / 3)