.ecocard__card
  position: relative
  display: block
  flex: 1
  cursor: pointer
  width: 290px
  margin-bottom: 55px
  text-align: left
  padding: 0 15px 20px
  background: #fff
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.18)
  border-radius: 3px
  transition: box-shadow 0.3s ease-in-out
  text-decoration: none
  &:hover
    box-shadow: 2px 3px 20px 0 rgba(0,0,0,0.58)

.card-header
  display: flex
  height: 35px
  justify-content: flex-start
  align-items: center

.card-header__name
  font: $semi-bold 16px $open-sans
  color: $color-grey-medium
  margin-right: 5px

.card-header__id
  font: $semi-bold 16px $open-sans
  color: $color-black
  letter-spacing: -0.4px

.card-img
  margin-left: -15px
  margin-right: -15px

.card__img
  display: block
  width: 100%
  height: auto
  max-height: 400px
  object-fit: cover

.card-info
  position: relative
  margin-top: 10px

.card__name
  display: block
  padding-right: 50px
  font: $semi-bold 20px $open-sans
  color: $color-black
  margin-bottom: 15px

.card-branches
  display: flex
  margin-bottom: 15px
  align-items: center
  
.card-branch
  display: flex
  align-items: center

.card-branch + .card-branch
    margin-left: 15px

.card-branch__icon
  display: flex
  margin-right: 5px
  &.card-branch__icon--offline
    color: $color-red
  &.card-branch__icon--online
    color: $color-blue-bright

.card-branch__name
  font: $normal 14px $open-sans
  color: $color-grey-dark

.card-status
  position: absolute
  top: 0
  right: 0
  width: 40px

.card-status__img
  display: block
  width: 100%
  height: auto

.card__description
  font: $normal 14px $open-sans
  color: $color-grey-dark
  margin-bottom: 15px
  overflow: hidden
  text-overflow: ellipsis

.card-stats
  display: flex
  margin-bottom: 15px

.card-stat
  display: flex
  align-items: center

.card-stat + .card-stat
  margin-left: 25px

.card-stats__icon
  color: #5b5c59
  margin-right: 5px


.card-stats__num
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px