.ecocard-catalog
  max-width: 900px
  margin: 0 auto
  padding: 40px 0 40px
  text-align: center

.ecocard-catalog__promo

.promo__list
  display: flex

.promo__item
  display: block
  position: relative
  cursor: pointer
  flex-basis: 100%
  max-width: 300px
  height: 350px
  padding: 15px
  background-size: 50%
  background-repeat: no-repeat
  background-position: center bottom 40px
  &:after
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    opacity: 0
    background-color: rgba(0,0,0,.20)
    transition: opacity .3s ease
  &:before
    content: ''
    position: absolute
    top: 30px
    right: 30px
    border: solid #fff
    border-width: 2px 2px 0 0
    padding: 3px
    transform: rotate(45deg)
    z-index: index($zindex, catalog-promo-card)
  &:hover
    &:after
      opacity: 1

.promo__name
  display: block
  position: relative
  font: $semi-bold 24px $open-sans
  color: #fff
  text-align: left
  padding-right: 25px
  z-index: index($zindex, catalog-promo-card)

.promo__img
  position: absolute
  bottom: 0
  right: 50%
  transform: translateX(50%)
  width: 75%
  opacity: 0.6
  mix-blend-mode: overlay
  z-index: index($zindex, catalog-promo-img)  

.ecocard-catalog__sections
  margin-top: 30px

.sections__list
  display: flex
  justify-content: flex-start
  align-items: stretch
  flex-wrap: wrap
  margin-left: -8px
  margin-right: -8px

.sections__item
  width: calc(100% / 3)
  padding: 0 8px
  margin-bottom: 16px

.sections__link
  position: relative
  flex: 1
  display: block
  text-align: left
  height: 100%
  padding: 15px
  padding-bottom: 50px
  background: #fff
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.18)
  border-radius: 3px
  transition: box-shadow 0.3s ease-in-out
  text-decoration: none
  &:hover
    box-shadow: 2px 3px 20px 0 rgba(0,0,0,0.58)
  &:after
    content: ''
    position: absolute
    top: 28px
    right: 20px
    border: solid $color-grey-medium
    border-width: 2px 2px 0 0
    padding: 3px
    transform: rotate(45deg)

.section__name
  display: block
  font: $semi-bold 24px $open-sans
  color: #000
  padding-right: 15px

.section__programs
  position: absolute
  bottom: 15px
  left: 15px
  font: $normal 18px $open-sans
  color: $color-grey-light

@media (max-width: 1023px)
  .ecocard-catalog
    width: 100%
    padding: 0 0 40px
    max-width: 100%

  .ecocard-catalog__sections
    padding: 0 10px

  .promo__list
    flex-direction: column

  .promo__item
    max-width: initial
    width: 100%
    height: 130px
    &:before
      right: 15px
      
  .promo__name
    text-align: left

  .promo__img
    height: 130px
    width: auto
    right: 25px
    bottom: 50%
    transform: translateY(50%)

@media (max-width: 767px)
  .sections__item
    width: 100%