.ecocards-list__header
  text-align: center

.ecocards-list__controls
  margin: 20px auto
  text-align: center

.ecocards-list
  margin-top: 30px
  &.ecocards-list--filter
    overflow: hidden

.ecocards__list
  max-width: 910px
  margin: 40px auto
  text-align: left

@media (max-width: 1024px)
  .ecocards__list
    max-width: 600px

@media (max-width: 767px)
  .ecocards__list
    max-width: 290px

