.ecocard-search
  text-align: center

.eco-search
  position: relative
  display: inline-flex
  margin: 0 auto 50px 
  width: 600px

.eco-search__icon
  position: absolute
  left: 10px
  top: 50%
  transform: translateY(-50%)

.eco-search__input
  flex-basis: 80%
  height: 45px
  font: $semi-bold 24px $open-sans
  color: $color-black
  letter-spacing: -0.6px
  line-height: 45px
  border-radius: 3px 0 0 3px
  padding: 0 20px 0 45px
  
.eco-search__button
  flex-basis: 20%
  flex-shrink: 0
  white-space: nowrap
  height: 45px
  font: $semi-bold 18px $open-sans
  background: $color-blue-bright
  color: #fff
  letter-spacing: -0.28px
  line-height: 45px
  border-radius: 0 3px 3px 0
  padding: 0 20px
  transition: background 0.3s ease
  &:hover
    background: darken($color-blue-bright, 10%)

@media (max-width: 1023px)
  .eco-search
    display: block
    width: auto
    margin-bottom: 45px
    padding: 0 30px

  .eco-search__icon
    display: none

  .eco-search__input
    width: 100%
    height: 40px
    line-height: 40px
    margin-bottom: 25px
    padding: 0 10px
    font-size: 20px
    border-radius: 3px

  .eco-search__button
    width: 100%
    height: 50px
    line-height: 50px
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.34)
    border-radius: 3px
    