.faq-category
  margin-bottom: 60px

.faq__answer
  padding-left: 30px

.faq__link
  color: $color-blue-bright
  &:visited
    color: darken($color-blue-bright, 20%)
  &:hover
    text-decoration: none