.input
  display: block
  width: 100%
  height: 35px
  padding: 0 10px
  border: 1px solid #cecece
  border-radius: 3px
  font: $semi-bold 16px $open-sans
  line-height: 33px
  color: $color-black
  &:focus
    border-color: $color-blue
  &::placeholder,
  &:disabled
    font: $normal 16px $open-sans
    color: $color-grey-light
    line-height: 33px

.--error .input
  border-color: $color-red

.input--confirm-code::placeholder
  text-align: center

.input--login
  height: 40px
  line-height: 40px
  &::placeholder
    text-align: center

.input--bill
  display: inline-block
  max-width: 240px
  margin-right: 20px

.input--ref
  color: $color-blue-bright
  text-decoration: underline
  max-width: 420px
  margin: 20px 0  

.input--modal-share
  color: $color-black
  text-align: center
  text-decoration: underline
  max-width: 420px
  margin: 45px auto 
  &::selection
    background: #cbe6ff

.input--settings
  max-width: 300px

.input--textarea
  max-width: 300px
  height: auto
  padding: 10px
  line-height: 25px
  &::placeholder
    line-height: 25px

.phone-input
  display: flex
  justify-content: center
  align-items: center
  &.phone-input--tags
    & .input--phone
      border-bottom-right-radius: 0
    & .select--code
      border-bottom-left-radius: 0

.input--phone
  border-left-color: transparent 
  border-bottom-left-radius: 0
  border-top-left-radius: 0
  &:focus
    border-left: 1px solid
    border-color: $color-blue

.label
  display: block
  text-align: left
  font: $normal 14px $open-sans
  color: $color-grey-dark
  letter-spacing: -0.35px
  margin-bottom: 5px

select::-ms-expand
  display: none

.select
  position: relative
  display: block
  background-color: #ececec
  background-position: center right 10px
  background-repeat: no-repeat
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gIDxwYXRoIGZpbGw9IiNDN0M3Q0MiIGQ9Ik0zIDZsNC01IDQgNXpNMTEgOGwtNCA1LTQtNXoiLz48L3N2Zz4=)
  width: 100%
  height: 35px
  border: 1px solid #c8c7cc
  border-radius: 3px
  padding: 0 15px
  font: $semi-bold 14px $open-sans
  line-height: 33px
  letter-spacing: -0.35px
  color: $color-grey-light
  appearance: none
  &:focus
    border-color: $color-blue
  &.select--selected
    color: $color-black

.select--employees
  background-color: #fff
  height: 26px
  font: $normal 14px $open-sans
  line-height: 24px
  border: 1px solid #c8c7cc
  color: $color-grey-dark

.select--white
  background: #fff
  color: $color-black

.select--code
  flex-basis: 40%
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.option
  background: #fff
  font: $normal 14px $open-sans
  letter-spacing: -0.35px
  color: $color-black

.checkbox
  width: 16px
  height: 16px
  cursor: default
  margin-right: 15px

.label--checkbox
  line-height: 14px
  cursor: default
  user-select: none
  color: $color-black

.multiple-checkbox
  position: relative

.phone-input + .multiple-checkbox--popover
  margin-top: 10px

.multiple-checkbox--selected
  & .multiple-checkbox__title
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom: 0
  & .multiple-checkbox__list
    border-top-left-radius: 0
    border-top-right-radius: 0

.multiple-checkbox__title
  position: relative
  display: block
  cursor: default
  user-select: none
  background: #ececec
  width: 100%
  height: 35px
  border: 1px solid #c8c7cc
  border-radius: 3px
  padding: 0 25px 0 15px
  font: $semi-bold 14px $open-sans
  line-height: 35px
  letter-spacing: -0.35px
  color: $color-grey-light
  appearance: none
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  &:focus
    border-color: $color-blue
  &.select--selected
    color: $color-black
  &:after
    content: ''
    display: inline-block
    vertical-align: top
    position: absolute
    right: 10px
    top: 50%
    width: 14px
    height: 14px
    margin-top: -7px
    background-position: center center
    background-repeat: no-repeat
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gIDxnIGZpbGw9IiNDN0M3Q0MiPiAgICA8cGF0aCBkPSJNNyA5LjlsLTYtNiAuNC0uNUw3IDlsNS42LTUuNi40LjV6Ii8+ICAgIDxwYXRoIGQ9Ik03IDEwLjVMLjQgMy45bDEtMS4xTDcgOC4zbDUuNi01LjUgMSAxLjF6Ii8+ICA8L2c+PC9zdmc+)
    transition: transform 0.3s ease

.multiple-checkbox--selected .multiple-checkbox__title
  &:after
    transform: rotate(180deg)

.banner-tags__block + .multiple-checkbox--popover,
.messenger-tags__block + .multiple-checkbox--popover
  & .multiple-checkbox__title
    border-top-left-radius: 0
    border-top-right-radius: 0

.multiple-checkbox--popover .multiple-checkbox__title
  color: $color-grey-dark
  text-align: left

.multiple-checkbox__list
  background: #fff
  border: 1px solid #c8c7cc
  border-radius: 3px
  padding: 15px 0

.multiple-checkbox--popover
  & .multiple-checkbox__list
    position: absolute
    width: 100%
    z-index: 1
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25)
    max-height: 300px
    overflow: auto

.multiple-checkbox__item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 7px 15px
  & .checkbox
    margin: 0
    flex-shrink: 0

.edit-input
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  font-size: 14px

//messenger-select
.cust-select-list
	padding: 10px 0
	margin: 0
	list-style-type: none

.cust-select-list__item
	transition: background-color 0.2s linear
	padding: 2px 20px 2px 20px
	&:hover
		background-color: #f4f8ff

.checkbox-messenger
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	min-height: 30px

.checkbox-messenger input
	display: none

.checkbox-messenger__icon
  position: absolute

.checkbox-messenger__text
	font: $normal 14px/20px $open-sans
	color: #4a4a4a
	max-width: 200px
	margin-left: 40px

.checkbox-messenger__square
	position: relative
	cursor: pointer
	width: 16px
	height: 16px
	border: 1px solid #cecece
	border-radius: 3px
	background-color: #fff
	transition: .4s

input:checked+.checkbox-messenger__square:before
	content: ''
	position: absolute
	top: 1px
	left: 5px
	width: 5px
	height: 10px
	border: solid #4a90e2
	border-width: 0 2px 2px 0
	transform: rotate(45deg)

//messenger tags
.messenger-tags__block
	text-align: left
	background: #fff
	border-left: 1px solid #c8c7cc
	border-right: 1px solid #c8c7cc
	position: relative
	padding: 7px 0 7px 7px
	padding-bottom: 2px

.messenger-tags__list
	list-style-type: none
	padding: 0
	margin: 0

.messenger-tag
	display: inline-block
	position: relative
	font: $normal 14px/20px $open-sans
	color: #4a4a4a
	margin-bottom: 4px
	padding: 5px

.messenger-tag__icon
	display: inline-block
	width: 16px
	height: 16px
	margin-right: 5px
	vertical-align: middle

.messenger-tags__block + .cust-select-btn,
.tags__block + .cust-select-btn,
	border-top: none
	border-top-left-radius: 0
	border-top-right-radius: 0


//multicategory

.multiple-category
  position: absolute
  width: 100%
  z-index: 1
  border: 1px solid #c8c7cc
  border-top: none
  border-radius: 0 0 3px 3px
  max-height: 300px
  overflow: auto
  background: #fff
  user-select: none

.multiple-main__name
  display: block
  width: 100%
  color: #000
  background: #e7e7e7
  font: $semi-bold 14px/28px $open-sans
  text-align: center
  text-transform: uppercase
  cursor: default

.multiple-main__item,
.multiple-sub__item,
.multiple-sub-sub__item
  display: block
  position: relative
  width: 100%
  padding-left: 10px
  color: #4a4a4a
  background: #fff
  font: $normal 14px/26px $open-sans
  text-align: left
  cursor: pointer

.multiple-sub__item
  padding-left: 20px

.multiple-sub-sub__item
  padding-left: 35px

.multiple-sub__name,
.multiple-sub-sub__name
  display: block
  position: relative
  padding-left: 20px
  color: #4a4a4a
  background: #fff
  font: $semi-bold 16px/28px $open-sans
  text-align: left
  cursor: pointer
  &:before
    content: ""
    position: absolute
    width: 0
    height: 0
    border-style: solid
    border-width: 3px 0 3px 4px
    border-color: transparent transparent transparent #9b9b9b
    left: 9px
    top: 50%
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
  &.multiple-sub__name--open,
  &.multiple-sub-sub__name--open
    &:before
      border-width: 4px 3px 0 3px
      border-color: #9b9b9b transparent transparent transparent

.multiple-sub-sub__name
  &:before
    left: 22px

.multiple-sub-sub__name
  padding-left: 35px

.multiple-main__item,
.multiple-sub__name,
.multiple-sub__item,
.multiple-sub-sub__name,
.multiple-sub-sub__item
  transition: background 0.2s ease
  &:hover
    background: #f4f8ff

.select-category__item--selected
  cursor: default
  background: #d9eafd
  &:hover
    background: #d9eafd


.category-tag
  cursor: default
  position: relative
  font: $normal 14px/15px $open-sans
  background: #d9eafd
  display: inline-block
  border-radius: 3px
  margin-bottom: 4px
  margin-right: 5px
  padding: 5px 30px 5px 7px

@media (max-width: 1023px)
  .input--modal-share
    margin: 20px auto