.header-nav
  display: flex
  user-select: none
  align-items: center
  justify-content: center

.header-nav__wrapper
  display: flex

.header-nav__link
  position: relative
  flex-shrink: 0
  display: flex
  align-items: center
  cursor: pointer
  padding: 12px 15px 13px
  text-decoration: none
  &:hover,
    text-decoration: none
    .header-nav__icon,
    .header-nav__text
      color: $color-blue
      
  & .header-nav__icon
    color: #5b5b5b

  &.router-link-active,
  &.active
    & .header-nav__icon:after
      opacity: 1
      bottom: -8px

.header-nav__icon
  display: flex
  position: relative
  &:after
    content: ""
    position: absolute
    opacity: 0
    bottom: -5px
    left: 50%
    transform: translateX(-50%)
    width: 5px
    height: 5px
    border-radius: 50%
    background-color: #000
    transition: all .3s ease-in-out

.header-nav__icon--pulse:before
  content: ''
  display: block
  position: absolute
  right: 2px
  top: 2px
  width: 8px
  height: 8px
  border-radius: 50%
  background: #d0011b
  cursor: pointer
  box-shadow: 0 0 0 rgba(208, 1, 27, 0.4)
  animation: pulse 2s infinite

.header-nav__text
    font: $normal 14px $open-sans
    line-height: 25px
    color: $color-grey-dark

.header-nav__icon + .header-nav__text
  margin-left: 5px


@media (max-width: 1023px)
  .header-nav
    display: flex
    width: 100%
    align-items: center
    justify-content: center
  
  .header-nav__link:hover .header-nav__icon
    color: #5b5b5b

  .header-nav__text
    display: none
  
@media (max-width: 767px)
  .header-nav__link
    padding: 12px 10px 13px