.header__info
  display: flex
  padding-left: 40px
  align-items: center
  justify-content: flex-end
  font: $normal 16px $open-sans
  color: #000
  overflow: hidden

.info__balance
  flex-shrink: 0
  margin-right: 10px

.info__icon
  margin-right: 10px
  fill: #4a4a4a
  flex-shrink: 0

.info__name
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden