.landing__products-list
  display: flex
  justify-content: center
  align-items: center
  list-style-type: none
  margin-bottom: 70px

.landing__product
  margin-right: 70px
  &:last-of-type
    margin-right: 0

.landing-product__card
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: 240px
  height: 160px
  border: 2px solid #fff
  border-radius: 20px
  background: rgba(255,255,255,0.50)
  transform: scale(0.9999)
  transition: transform 0.4s ease-in-out, box-shadow 1s ease-in, background .4s ease-in-out
  &:hover
    transform: scale(1.05)
    box-shadow: 0 9px 46px 0 rgba(0,105,173,0.30)
    background: #fff
    & .landing-product__icon
      transform: scale(1.15)
  &.landing-product__icon--ecocard:hover
    box-shadow: 0 9px 46px 0 rgba(1,166,71,0.36)
  &.landing-product__icon--chat:hover
    box-shadow: 0 9px 46px 0 rgba(255,32,91,0.18)
.landing-product__icon
  display: flex
  transition: transform .4s ease-in-out

@media (max-width: 1023px)
  .landing__products-list
    flex-direction: column
    margin-bottom: 80px

  .landing__product
    margin-right: 0
    &:not(:last-of-type)
      margin-bottom: 40px

  