.main-menu--show
  overflow: hidden

.main-menu-outer
  position: fixed
  top: 55px
  left: 0
  right: 0
  bottom: 0
  background-color: #24282b
  overflow: auto
  z-index: index($zindex, main-menu)

.main-menu
  color: #fff
  max-width: 850px
  margin: 0 auto

.main-menu__divider
  content: ''
  width: 100%
  height: 5px
  background-color: #1e2022
  border-radius: 3px

.main-menu__header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 35px 0
  margin-left: -30px

.main-menu__products,
.main-menu__controls
  display: flex
  justify-content: flex-start
  align-items: center

.main-menu__product,
.main-menu__control
  margin-right: 15px
  &:last-of-type
    margin-right: 0

.product__link,
.control__link
  position: relative
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  border-radius: 6px
  padding: 20px 20px 20px 40px
  transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out
  &:hover
    text-decoration: none
    color: darken(#fff, 20%)
    .control__icon
      color: darken(#fff, 20%)
  &.router-link-active 
    background: #393d40
    &:before
      position: absolute
      left: 20px
      top: 50%
      transform: translateY(-50%)
      content: ''
      width: 5px
      height: 5px
      border-radius: 50%
      background: #fff

.product__icon,
.control__icon
  display: flex
  margin-right: 10px
  color: $color-blue
  transition: color .15s ease-in-out

.control__icon
  color: #fff

.product__name,
.control__name
  font: $normal 16px $open-sans

.main-menu__body
  padding: 35px 0

.main-menu__footer
  display: flex
  align-items: center
  justify-content: space-between
  padding: 35px 0

.apps__list
  display: flex
  position: relative

.apps__list--placeholder:after
  content: attr(data-placeholder)
  display: none
  justify-content: center
  align-items: center
  position: absolute
  background: rgba(74,74,74,0.94)
  top: 0
  right: 0
  bottom: 0
  left: 0
  border-radius: 6px
  color: #fff
  font: $bold 14px $open-sans
  letter-spacing: -0.22px
  text-transform: uppercase

.apps__list--placeholder:hover:after
  display: flex


.app__link
  display: block
  margin-right: 30px
  &:last-of-type
    margin-right: 0

  // Main menu animation
.main-menu-enter-active, .main-menu-leave-active
  transition: top 0.25s ease-out, opacity 0.25s ease-out

.main-menu-enter, .main-menu-leave-to
  top: 0
  opacity: 0

@media (max-width: 1023px)
  .main-menu-outer
    width: 320px
  & .submenu-open
     overflow: hidden

  .main-menu__divider
    height: 15px

  .main-menu__header
    display: block
    padding: 0
    margin: 0

  .main-menu__auth-desktop
    display: none

  .main-menu__products,
  .main-menu__controls
    flex-direction: column
  
  .main-menu__product,
  .main-menu__control
    width: 100%
    margin: 0

  .main-menu__product,
  .main-menu__control
    border-top: 1px solid #393939

  .main-menu__footer
    flex-direction: column

  .apps__list
    flex-direction: column
    margin-bottom: 60px 

  .app__link
    margin-right: 0
    &:first-of-type
      margin-bottom: 20px
    & svg
      width: 210px
      height: auto

  .product__link,
  .control__link
    display: flex
    justify-content: flex-start
    padding-left: 0
    border-radius: 0
    text-decoration: none
    &.router-link-active:before
      left: auto
      right: 20px

  .product__icon,
  .control__icon
    justify-content: center
    margin: 0
    width: 60px


  // Main menu animation
  .main-menu-enter-active, .main-menu-leave-active
    transition: left 0.25s ease-out, opacity 0.25s ease-out

  .main-menu-enter, .main-menu-leave-to
    left: -55px
    top: 55px
    opacity: 0