.v--modal-overlay
  background: rgba(0,0,0,0.70)

.v--modal-overlay[data-modal="simple-modal"]
  background: #000

.apm-modal-overlay
  padding: 0 10px

.modal
  position: relative
  background: #fff
  border-radius: 3px
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.18)
  width: 100%
  height: 100%
  text-align: center
  padding: 35px

.simple-modal
  text-align: center
  overflow: auto !important

.simple-modal__inner
  -webkit-overflow-scrolling: touch
  margin: 20px 70px

.modal__header
  font: $semi-bold 24px $open-sans
  color: $color-black
  letter-spacing: -0.5px
  margin: 20px 0 30px

.modal__body
  margin: 20px 0

.modal__text
  font: $normal 16px/29px $open-sans
  color: $color-grey-dark
  margin-top: 30px
  &.modal__text--cropper
    margin: 0 0 20px

.modal__close
  position: absolute
  cursor: pointer
  top: 10px
  right: 10px
  width: 30px
  height: 30px
  border-radius: 3px
  transition: background 0.3s ease
  &:active
    background: $color-grey-light
  &:before,
  &:after
    content: ''
    position: absolute
    height: 1px
    width: 100%
    top: 50%
    left: 0
    background: $color-grey-dark
    transition: background 0.3s ease
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
  &:hover
    &:before,
    &:after
      background: $color-black

.simple-modal__img
  max-width: 100%

.modal__close--simple
  top: 30px
  right: 30px
  width: 40px
  height: 40px
  &:active,
  &:hover
    background: #fff
  &:before,
  &:after
    background: #fff
  &:hover,
  &:active
    &:before,
    &:after
      background: $color-black
  
.check-id
  margin: 30px 0
  &.check-id--false
    color: $color-red

.check-id__icon
  display: inline-block
  position: relative
  margin-bottom: 20px
  width: 60px
  height: 60px
  border-radius: 50%
  border: 1px solid #cecece

.check-id__icon--false
  &:before,
  &:after
    content: ''
    position: absolute
    height: 3px
    width: 44px
    top: 28px
    left: 7px
    background: $color-red
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)

.check-id__icon--true
  &:before
    content: ''
    position: absolute
    top: 8px
    left: 21px
    width: 17px
    height: 34px
    border: solid $color-green
    border-width: 0 3px 3px 0
    transform: rotate(45deg)

@media (max-width: 1023px)
  .v--modal-overlay
    background: rgba(0,0,0,0.78)
    padding: 0

  .modal
    padding: 20px

  .modal__header
    font-size: 20px
    margin: 20px 0 20px

  .modal__text
    font: $normal 14px/1 $open-sans
    margin: 30px 0 20px

  .modal__close--simple
    top: 10px
    right: 10px

  .simple-modal__inner
    margin: 0px
    -webkit-overflow-scrolling: touch