.apm-notification
  border-radius: 0 0 6px 6px
  margin-bottom: 10px
  min-height: 40px
  display: flex
  position: relative
  align-items: flex-start
  justify-content: flex-start
  padding: 10px 40px 10px 120px
  &.apm-notification--error
    background: #e0364b
  &.apm-notification--success
    background: $color-green

  .notification-content
    & p
      font: $normal 16px $open-sans
      color: #fff
      letter-spacing: -0.4px
  
  .notification-close
    position: absolute
    cursor: pointer
    top: 10px
    right: 10px
    width: 20px
    height: 20px
    border-radius: 3px
    &:before,
    &:after
      content: ''
      position: absolute
      height: 1px
      width: 100%
      top: 50%
      left: 0
      background: $color-grey-dark
      transition: background 0.3s ease
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
    &:hover
      &:before,
      &:after
        background: $color-black

  .notification-icon
    display: flex
    position: absolute
    left: 90px
    top: 10px
  
  &.my-type

@media (max-width: 1023px)
  .apm-notification
    margin-left: 10px
    margin-right: 10px