.pagination
  margin: 40px auto
  user-select: none
  font-size: 0
  color: $color-grey-dark
  &.is-centered
    text-align: center

.pagination-previous,
.pagination-next
  display: inline-block
  cursor: pointer
  font: $normal 20px $open-sans
  padding: 0 8px 4px
  margin: 0 5px
  min-width: 34px
  &:hover:not([disabled])
    background: #cecece
    border-radius: 3px
  &[disabled]
    color: $color-grey-light
    cursor: default
    user-select: none

.pagination-list
  display: inline-block
  list-style-type: none
  padding: 0
  margin: 0 15px

.pagination-list__item
  display: inline-block

.pagination-link
  display: inline-block
  cursor: pointer
  font: $normal 16px $open-sans
  line-height: 22px
  border-radius: 3px
  padding: 4px 8px
  min-width: 34px
  &:hover
    background: #cecece
  &.is-current
    cursor: default
    user-select: none
    color: $color-blue-bright
    font-weight: $semi-bold
    background-color: #FFF
    border: 1px solid $color-grey-light