.vue-tooltip.lang-popover
  display: block
  padding: 10px 0
  border-radius: 3px
  background-color: #fff
  box-shadow: 0 20px 70px 0 rgba(0, 0, 0, .15)
  & .tooltip-arrow
    border-width: 0 6px 6px 6px
    border-bottom-color: #fff

.nav-language__list

.nav-language__item

.nav-language__link
  display: flex
  margin: 0px
  padding: 12px 20px
  align-items: center
  align-self: stretch
  color: #222
  font: $normal 15px $open-sans
  color: $color-black
  text-decoration: none
  &:hover
    background-color: #eef0f3
    color: $color-black
    text-decoration: none
  &.active
    background-color: #eef0f3



.tooltip
  display: block !important
  z-index: 10000
  .tooltip-inner
    padding: 10px 0
    border-radius: 3px
    background-color: #fff
    box-shadow: 0 20px 70px 0 rgba(0, 0, 0, .15)
  .tooltip-arrow
    width: 0
    height: 0
    border-style: solid
    position: absolute
    margin: 5px
    border-color: #fff
    z-index: 1
  &[x-placement^="top"]
    margin-bottom: 5px
    .tooltip-arrow
      border-width: 6px 6px 0 6px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      bottom: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="bottom"]
    margin-top: 5px
    .tooltip-arrow
      border-width: 0 6px 6px 6px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-top-color: transparent !important
      top: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="right"]
    margin-left: 5px
    .tooltip-arrow
      border-width: 6px 6px 6px 0
      border-left-color: transparent !important
      border-top-color: transparent !important
      border-bottom-color: transparent !important
      left: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0
  &[x-placement^="left"]
    margin-right: 5px
    .tooltip-arrow
      border-width: 6px 0 6px 6px
      border-top-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      right: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0

  &[aria-hidden='true']
    visibility: hidden
    opacity: 0
    transition: opacity .15s, visibility .15s
  &[aria-hidden='false']
    visibility: visible
    opacity: 1
    transition: opacity .15s

.open .header-nav__link .header-nav__icon:after
  opacity: 1
  bottom: -10px