.profile__nav
  display: flex
  justify-content: flex-start
  align-items: center
  list-style-type: none
  margin-bottom: 50px

.profile__nav-item
  display: flex
  position: relative
  padding: 20px 0
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 214px
  height: 144px
  border: 2px solid #fff
  border-radius: 20px
  background: rgba(255,255,255,0.50)
  margin-right: 40px
  text-decoration: none
  transition: background .4s ease-in-out
  &:last-of-type
    margin-right: 0
  &:hover
    background: #fff

.nav-item__icon
  display: flex

.nav-item__text
  max-width: 100px
  font: $normal 18px $open-sans
  color: $color-black
  
.nav-item__notification
  display: flex
  justify-content: center
  align-items: center
  font: $bold 18px $open-sans
  color: #fff
  position: absolute
  background: #d0011b
  border-radius: 50%
  width: 28px
  height: 28px
  top: -15px
  right: 30px
  box-shadow: 0 0 0 rgba(208, 1, 27, 0.4)
  animation: pulse-big 2s infinite

.notification__text
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  padding: 0 3px

@media (max-width: 1023px)
  .profile__nav
    flex-direction: column
    margin-bottom: 0

  .profile__nav-item
    margin-right: 0
    margin-bottom: 30px