.profile__stat
  display: flex
  position: relative
  justify-content: space-between
  align-items: flex-start
  list-style-type: none
  padding-bottom: 30px
  text-align: left    

.stat__personal
  flex: 0 0 45%
.stat__companies
  flex: 0 0 45%

// .stat__personal
//   padding-right: 8%

// .stat__companies
//   padding-left: 12%

.stat__link
  color: #0076ff
  text-decoration: underline
  &:hover
    color: #0076ff
    text-decoration: none

@media (max-width: 1023px)
  .profile__stat
    flex-direction: column

  .stat__personal,
  .stat__companies
    flex: 0 1 auto
    width: 100%

  .stat__personal
    margin-bottom: 40px

  .stat__companies
    margin-top: 40px