.profile__user
  display: flex
  justify-content: center
  align-items: center
  text-align: left

.user__summary
  display: none

.user__avatar
  flex: 0 0 18%

.user__info
  flex: 0 0 25%
  margin-right: 10%

.user__qr
  flex: 0 0 22%

.user__balance
  flex: 0 0 25%

.avatar__img
  display: block
  width: 140px
  height: 140px
  border-radius: 50%

.user__name
  font: $bold 20px $open-sans
  color: $color-black
  margin-bottom: 10px

.user__region
  font: $normal 16px $open-sans
  color: $color-black
  margin-bottom: 10px

.user__id
  display: inline-block
  width: 100%
  max-width: 240px
  font: $semi-bold 16px $open-sans
  text-align: center
  color: #000
  line-height: 40px
  border: 1px solid $color-grey-dark
  border-radius: 4px

.region__link
  color: #0076ff
  &:hover
    text-decoration: none

.qr__img
  display: block
  width: 140px
  height: 140px
  mix-blend-mode: multiply

.qr__text
  font: $normal 24px $open-sans
  color: $color-blue-bright
  text-decoration: none
  border-bottom: 2px dashed $color-blue-bright

.balance__info
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 85px
  background: #e7e7e7
  mix-blend-mode: multiply
  border-radius: 6px 
  margin-bottom: 10px

.balance__text
  font: $normal 14px $open-sans
  color: $color-grey-dark
  margin-bottom: 5px

.balance__num
  font: $bold 24px $open-sans
  color: $color-black

@media (max-width: 1023px)
  .profile__user
    flex-direction: column
    text-align: center

  .user__summary
    order: 0
    display: flex
    width: 100%
    height: 45px
    justify-content: space-between
    align-items: center

  .balance__num
    font-size: 20px
    font-weight: $semi-bold

  .user__avatar,
  .user__info,
  .user__qr,
  .user__balance
    flex: 0 1 auto
    align-self: center
    margin: 0 auto
    width: 100%

  .user__avatar
    order: 2
    margin-bottom: 10px

  .user__info
    order: 3  

  .avatar__img
    margin: auto
    width: 110px
    height: 110px

  .user__region
    margin-bottom: 30px

  .user__id
    margin-bottom: 30px

  .user__qr
    order: 1  
    margin-bottom: 40px

  .qr__img
    margin: auto
    width: auto
    height: auto
    max-width: 250px

  .user__balance
    display: none