.body-block__rating .vue-star-rating-rating-text.rating__value
  font: $semi-bold 20px $open-sans
  color: $color-black
  letter-spacing: -0.5px
  margin-top: 0

.body-block__rating .vue-star-rating-star
  vertical-align: baseline

.rate__link
  font: $normal 16px $open-sans
  color: $color-blue-bright
  margin-left: 10px
  vertical-align: middle
  text-decoration: underline
  &:hover
    text-decoration: none