.modal__share-social
  margin: 45px 0
  
.share-social__item
  display: inline-block
  cursor: pointer
  margin-right: 5px
  &:last-of-type
    margin-right: 0

.share-social__img
  display: block
  width: 53px
  height: 53px

@media (max-width: 1023px)
  .modal__share-social
    margin: 20px 0

  .share-social__img
    width: 40px
    height: 40px