.side-menu
  display: flex
  justify-content: flex-end
  flex-basis: 25%
  background-color: #fafafa
  border-right: 1px solid #cecece
  &.side-menu--personal
    background-color: #fff

.side-menu__inner
  position: fixed
  max-width: 250px
  max-height: calc(100vh - 55px)
  overflow: auto
  padding: 0 10px

.side-menu__list
  padding: 20px 0
  margin: 0
  list-style-type: none

.side-menu__item

.side-menu__link
  display: block
  position: relative
  font: $normal 14px $open-sans
  color: $color-grey-medium
  text-decoration: none
  width: 100%
  padding: 9px 25px
  border-radius: 3px
  &:hover
    background-color: #f0f0f0
  &.router-link-active
    color: $color-black
    font-weight: $semi-bold
    pointer-events: none
    &:before
      content: ''
      position: absolute
      width: 5px
      height: 5px
      border-radius: 50%
      background: $color-black
      left: 9px
      top: 50%
      transform: translateY(-50%)

.side-menu__section-name
  display: block
  font: $semi-bold 14px $open-sans
  color: $color-grey-dark
  text-transform: uppercase
  width: 100%
  padding: 9px 25px

.side-menu--personal
  & .side-menu__link:hover
    background-color: #f4f4f4

@media (max-width: 1023px)
  .side-menu
    display: none