.main-menu__items
  margin: 0 -30px
  display: flex
  flex-direction: row

.main-menu__item
  display: flex
  flex-direction: column
  flex-grow: 1
  flex-basis: 33%
  max-width: 320px
  &.main-menu__item--auth
    flex-basis: auto
    padding-right: 30px
    padding-left: 20px
    max-width: none
    text-align: right

.main-menu__category
  pointer-events: none
  font: $bold 14px $open-sans
  color: #fff
  text-transform: uppercase
  text-decoration: none
  padding: 5px 30px 10px

.main-menu__submenu
  list-style: none

.submenu__back--mobile
  display: none

.main-menu__submenu-item
  
.main-menu__submenu-link
  position: relative
  display: flex
  padding: 5px 30px
  font: $normal 14px $open-sans
  line-height: 20px
  color: $color-grey-light
  letter-spacing: -0.2px
  text-decoration: underline
  &:hover
    color: #dae9ff
    text-decoration: none
  &.router-link-active
    background-color: #393d40
    color: #fff
    text-decoration: none
    border-radius: 3px
    pointer-events: none
    &:before
      position: absolute
      left: 14px
      top: 50%
      transform: translateY(-50%)
      content: ''
      width: 5px
      height: 5px
      border-radius: 50%
      background: #fff


@media (max-width: 1023px)
  .main-menu__items
    flex-direction: column
    margin: 0

  .main-menu__item
    flex-basis: auto

  .main-menu__category
    display: flex
    position: relative
    align-items: center
    pointer-events: auto
    padding: 20px 30px 20px 0
    font: $normal 16px $open-sans
    color: $color-grey-light
    text-transform: uppercase
    text-decoration: none
    &:before
      content: ""
      position: absolute
      border: solid $color-grey-light
      border-width: 0 2px 2px 0
      display: inline-block
      padding: 3px
      right: 20px
      top: 50%
      transform: translateY(-50%) rotate(-45deg)
    &:focus
      background-color: #393d40

  .main-menu__icon
    display: flex
    justify-content: center
    width: 60px

  .main-menu__submenu
    display: block
    position: fixed
    overflow: auto
    top: 55px
    left: 0
    width: 320px
    height: calc(100% - 55px)
    min-height: calc(100% - 55px)
    z-index: index($zindex, main-menu-sub)
    background-color: #24282b
    
  .main-menu__body
    padding: 0

  .main-menu__submenu-item:first-of-type
    border-top: 15px solid #1e2022

  .main-menu__submenu-link
    display: block
    position: relative
    padding: 20px 20px 20px 25px
    font: $normal 16px $open-sans
    letter-spacing: .6px
    color: #fff
    text-decoration: none
    &.router-link-active
      background-color: #393d40
      &:after
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        content: ''
        width: 5px
        height: 5px
        border-radius: 50%
        background: #fff
      &:before
        display: none

  .submenu__back--mobile
    display: block
    position: relative
    padding: 20px 30px 20px 50px
    font: $normal 16px $open-sans
    letter-spacing: 1.7px
    color: $color-grey-light
    text-transform: uppercase
    text-decoration: none
    &:before
      content: ""
      position: absolute
      border: solid $color-grey-light
      border-width: 0 2px 2px 0
      display: inline-block
      padding: 3px
      left: 22px
      top: 50%
      transform: translateY(-50%) rotate(135deg)
    &:focus
      background-color: #393d40

  .main-menu__item--mob-auth
    display: block
    text-align: center
    padding: 45px 0
    & .bttn:first-of-type
      margin-bottom: 25px

  //Mobile submenu animation
  .submenu-enter-active, .submenu-leave-active
   transition: left .3s ease-out

  .submenu-enter, .submenu-leave-to
    left: -320px