.socials
  display: flex

.socials__item
  margin-right: 30px
  &:last-of-type
    margin-right: 0

.socials__link
  display: block
  color: $color-grey-light
  transition: color .2s ease-in-out
  &:hover
    color: lighten($color-grey-light, 20%)

.socials--profile
  & .socials__item
    margin-right: 20px

@media (max-width: 1023px)
  .socials
    width: 100%
    justify-content: space-around
    padding: 0 25px
    
  .socials__item
    margin: 0
    