.table__stat
  font: $normal 16px $open-sans
  & th
    text-align: left
    font-weight: $bold
    font-size: 18px
    padding-bottom: 10px
  & td
    padding: 5px 0
    &:nth-child(2)
      white-space: nowrap

.table-container
  position: relative

.table__empty
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(160,160,160,0.73)
  border-radius: 3px
  & + .table__personal td
    padding-top: 40px
    padding-bottom: 40px

.empty-table__text
  font: $semi-bold 18px $open-sans
  color: #fff

.table__personal
  border-collapse: separate
  font: $normal 14px $open-sans
  color: $color-grey-dark
  text-align: left
  & p
    line-height: 22px
    overflow: hidden
    text-overflow: ellipsis
    white-space: wrap
  & thead
    background-color: #d1d1d1
    & th:first-of-type
      border-top-left-radius: 3px
    & th:last-of-type
      border-top-right-radius: 3px
  & tbody
    background-color: #fff
    td:first-of-type
      border-left: 1px solid #e7e7e7
    td:last-of-type
      border-right: 1px solid #e7e7e7
    tr:last-of-type
      & td
        &:first-of-type
          border-bottom-left-radius: 5px
        &:last-of-type
          border-bottom-right-radius: 5px
  & td
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 15px 25px
    border-bottom: 1px solid #e7e7e7
  & th
    font-weight: $normal
    padding: 7px 25px

.table__text
  font: $semi-bold 16px/22px $open-sans
  color: $color-black
  &.table__text--secondary
    font: $normal 14px/22px $open-sans
    color: $color-grey-dark

.table__badge
  display: inline-block
  user-select: none
  height: 18px
  background-color: $color-red
  color: #fff
  text-transform: uppercase
  font: $semi-bold 11px/18px $open-sans
  letter-spacing: 2px
  margin-left: 5px
  padding: 0 5px
  border-radius: 3px

@media (max-width: 1023px)
  .table__personal
    display: block
    overflow: auto
  .table__stat
    font: $normal 14px $open-sans
    color: $color-grey-dark
    & th
      text-align: left
      font-weight: $bold
      font-size: 18px
      color: #000
      padding-bottom: 25px
    & td
      padding: 10px 0
    & td:nth-child(2)
      text-align: right

  .stat__personal .table__stat
    & td:nth-child(2)
      font: $semi-bold 16px $open-sans
      color: #000

  .stat__companies .table__stat
    & td:nth-child(1)
      font: $semi-bold 16px $open-sans
      color: #000
    