.team-list
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  max-width: 650px
  margin: 40px 0

.team__item
  flex-basis: calc(100% / 3)
  padding: 20px
  text-align: center

.team__avatar
  display: block
  width: 150px
  height: 150px
  margin: 0 auto 10px
  border-radius: 50%

.team__name
  font: $bold 14px $open-sans
  color: $color-grey-dark


.team__position
  font: $normal 14px $open-sans
  color: $color-grey-dark

@media (max-width: 1023px)
  .team-list
    margin: 40px auto
    justify-content: center