.top-menu
  display: none

@media (max-width: 1023px)
  .top-menu + div
    padding-top: 100px

  .top-menu
    display: flex
    position: fixed
    background: #fff
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
    align-items: center
    top: 55px
    height: 45px
    width: 100%
    z-index: index($zindex, top-nav)
    overflow-x: auto
    white-space: nowrap

  .top-menu__list
    list-style: none

  .top-menu__item
    display: inline-block

  .top-menu__link
    font: $normal 14px $open-sans
    color: $color-grey-medium
    padding: 0 10px
    text-decoration: none
    &.router-link-active
      color: $color-black

