.footer
  margin-bottom: 25px
  text-align: center

.footer--profile
  display: flex
  margin-left: auto
  margin-right: auto
  max-width: 940px
  justify-content: space-between

@media (max-width: 1023px)
  .footer--profile
    flex-direction: column-reverse