.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 55px
  display: flex
  align-items: center
  justify-content: center
  padding: 0 30px
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.32)
  background-color: #fff
  z-index: index($zindex, header)
  
.header__logo
  margin-right: auto
  flex-basis: 40%

.header__logo svg
  display: block

.header__info
  margin-left: auto
  flex-basis: 40%
  text-align: right

@media (max-width: 1023px)
  .header__logo
    position: absolute
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    overflow: hidden
    & svg
      margin-left: -38px
  
  .header__logo--auth
    display: none

  .header
    padding: 0 10px

  .header__info
    display: none

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)
  .header__info
    // margin-left: 5%

  .header__logo
    // margin-right: 5%