<template>
  <div id="app">
    <header-component></header-component>
    <top-menu v-if="this.$route.meta.topMenu"></top-menu>
    <router-view/>
    <transition name="main-menu">
      <main-menu v-if='this.$root.mainMenuSeen'></main-menu>
    </transition>
    <footer-landing v-if="this.$route.name === 'landing'"></footer-landing>
    <footer-profile v-if="this.$route.name === 'profile'"></footer-profile>
    <notifications :max=1 :width="notificationWidth" style="top:55px !important;" group="notification-error" position="top center">
      <template slot="body" scope="props">
        <div class="apm-notification apm-notification--error">
          <span class="notification-icon">
            <icon-notification-info></icon-notification-info>
          </span>
          <span class="notification-close" @click="props.close"></span>
          <div class="notification-content" v-html="props.item.text">
          </div>
        </div>
      </template>
    </notifications>
    <notifications :max=1 :width="notificationWidth" style="top:55px !important;" group="notification-success" position="top center">
      <template slot="body" scope="props">
        <div class="apm-notification apm-notification--success">
          <span class="notification-icon">
            <icon-notification-info></icon-notification-info>
          </span>
          <span class="notification-close" @click="props.close"></span>
          <div class="notification-content" v-html="props.item.text">
          </div>
        </div>
      </template>
    </notifications>
    <modals-container/>
  </div>
</template>

<script>
  import Header from './app/Header.vue';
  import MainMenu from './app/MainMenu.vue';
  import FooterLanding from './app/FooterLanding.vue';
  import FooterProfile from './app/FooterProfile.vue';
  import TopMenu from './app/TopMenu.vue';

  export default {
    name: 'Main',
    components: {
      'header-component': Header,
      'main-menu': MainMenu,
      'footer-landing': FooterLanding,
      'footer-profile': FooterProfile,
      'top-menu': TopMenu,
    },
    watch: {      
      '$root.errors': function () {
        if(this.$root.errors) {
        this.$notify({
          group: 'notification-success',
          clean: true
        })
        this.$notify({
          group: 'notification-error',
          text: this.$root.errors,
          type: 'error',
          duration: -1,
        });
        }
      },
      '$root.messages': function () {
        if(this.$root.messages) {
        this.$notify({
          group: 'notification-error',
          clean: true
        })
        this.$notify({
          group: 'notification-success',
          text: this.$root.messages,
          type: 'apm-success',
          duration: -1,
        });
        }
      }
    },
    computed: {
      notificationWidth() {
        if(this.$root.mobile) {
        return '100%'
        } else {
          return '600'
        }
      }
    }
  };
</script>