<template>
<path d="M20 14.2c0 1-.3 1.7-.4 2.4-.3.7-.5 1.2-1.2 1.7-.5.5-1 1-1.7 1.2-.7.3-1.3.4-2.4.4H5.9c-1 0-1.7-.3-2.4-.4-.7-.3-1.2-.5-1.7-1.2-.5-.5-1-1-1.2-1.7-.3-.7-.4-1.3-.4-2.4V5.8c0-1 .3-1.7.4-2.4.3-.7.5-1.2 1.2-1.7.5-.5 1-1 1.7-1.2C4.2.2 4.8.1 5.9.1h8.4c1 0 1.7.3 2.4.4.7.3 1.2.5 1.7 1.2.5.5 1 1 1.2 1.7.3.7.4 1.3.4 2.4v8.4zM17.8 4.1c-.2-.4-.4-.8-.8-1.2-.4-.4-.7-.5-1.2-.8-.3 0-.8-.2-1.7-.3h-8c-1 .2-1.5.3-1.8.4-.4.2-.8.4-1.2.7-.3.4-.5.8-.7 1.2-.2.4-.3 1-.4 1.8v8c0 1 .3 1.5.4 1.8.2.3.4.8.8 1.2.4.4.7.5 1.2.8.3 0 .8.2 1.7.3h8c1 0 1.5-.3 1.8-.4.4-.2.8-.4 1.2-.8.4-.4.5-.7.8-1.2.2-.4.3-1 .4-1.8v-8c-.2-.8-.3-1.3-.5-1.7zM10.1 15c-2.8 0-5-2.3-5-5s2.3-5 5-5c2.8 0 5 2.3 5 5 .1 2.8-2.2 5-5 5zm5.3-9.2c-.7 0-1.2-.5-1.2-1.2s.5-1.2 1.2-1.2 1.2.5 1.2 1.2-.5 1.2-1.2 1.2zm-5.3 7.5c1.8 0 3.3-1.5 3.3-3.3s-1.5-3.3-3.3-3.3S6.8 8.2 6.8 10s1.4 3.3 3.3 3.3z"/>
</template>