<template>
<path d="M7.298 11v7.6c0 .4-.3.4-.3.4h-.4c-2.1-.9-3.9-2.1-6-3-.3-.4-.6-.7-.6-1V.5c0-.6 0-.6.6-.3 2.1.9 4.2 2.1 6.3 3.3.3 0 .3.3.3.6V11h.1zm7.2 4.3c-2.1-.9-3.9-2.1-6-3 0 0-.3 0-.3-.3V5v-.3c1.5 3.7 4.2 7 6.3 10.6zm.3-.3c0-.3 0-.3 0 0-1.8-2.7-3.3-5.1-4.5-7.6v-.7c1.2-2.4 2.7-4.2 3.9-6.6h.6c2.4.9 4.2 2.4 6.6 3.3.3 0 .3.3.3.3-2.4 3.5-4.2 7.3-6.9 11.3 0-.3 0-.3 0 0zm7.2-9.7v13.3c0 .3-.3.3-.6.3h-.3c-2.1-.9-3.9-2.1-6-3 2.4-3.6 4.2-7.2 6.9-10.6 0-.3 0-.3 0 0z"/>
</template>