<template>
<path d="M22 5v.7c0 6.7-5.1 14.4-14.5 14.4-2.8 0-5.5-.7-7.5-2.7h1c2.5 0 4.5-.5 6.3-2-2.2 0-4.2-1.3-4.9-3.3h1c.3 0 1 .1 1.3-.3C2.3 11.4.6 9.3.6 6.9c.3.3 1 .7 2.2.7C1.5 6.6.3 5.1.3 3.5c0-1 .3-1.8.6-2.5 2.5 3.1 6.4 5.3 10.4 5.3v-1c0-2.8 2.6-5.3 5.4-5.3 1.3 0 2.9.7 3.9 1.8 1-.3 2.2-.7 3.2-1.3-.5 1-1.1 2-2.1 2.7 1 0 2-.3 2.7-.7-1 .7-1.8 1.8-2.4 2.5z"/>
</template>