<template>
<path d="M12.2 14.4h1.4s.4 0 .6-.3c.2-.2.2-.6.2-.6s0-2.1 1-2.3c1-.3 2.1 1.9 3.3 2.9 1 .6 1.6.4 1.6.4h3.3s1.7-.2 1-1.4c0-.2-.4-1-2.5-2.9s-1.7-1.6.6-4.9C24.3 3.2 25 2 24.6 1.5c-.2-.4-1.3-.3-1.3-.3h-3.8s-.3 0-.4.2c.2-.3.2-.2.2-.2s-.6 1.6-1.4 2.9c-1.7 2.9-2.3 3-2.5 2.9-.6-.4-.4-1.6-.4-2.5 0-2.7.4-4-.8-4.2-.4-.2-.6-.2-1.7-.2-1.3 0-2.5 0-3.2.3-.4.2-.8.6-.6.8.3 0 .8.2 1.1.6.3.3.3 1.6.3 1.6s.2 3.2-.4 3.6c-.4.3-1.3-.3-2.7-2.9-.8-1.4-1.3-2.9-1.3-2.9S5.5.9 5.4.9C5.1.6 4.8.6 4.8.6H1.2S.8.6.4.9c-.2.2 0 .6 0 .6s2.9 6.5 6 9.8c2.6 3.3 5.8 3.1 5.8 3.1z"/>
</template>